@import "../../vars.scss";

.addSignUp {
  padding-bottom: 40px;
  min-height: calc(100vh - 145px);
  background: linear-gradient(
      0deg,
      rgba(45, 103, 150, 0.85),
      rgba(45, 103, 150, 0.85)
    ),
    url("../../images/landing-gpml-2.jpeg");
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  :global {
    .loading {
      color: white;
    }
    .entity-getting-started-heading {
      div,
      a {
        color: $blue02;
      }
      div {
        margin: 10px;
        font-size: 18px;
      }
      a {
        font-weight: 600;
      }
    }

    .form-info-wrapper {
      margin-bottom: 40px;
      background-color: #046799;
      padding: 15px 0;

      .ui.container {
        color: #fff;
      }

      .form-title-wrapper {
        display: flex;
        align-items: center;
        height: 35px;

        .form-title {
          display: grid;
          margin-right: 35px;

          .subtitle {
            color: #22ba9a;
            text-transform: uppercase;
            font-size: 14px;
          }

          .title {
            font-size: 20px;
            font-weight: 500;
          }
        }

        .sign-up-title {
          font-size: 20px;
          font-weight: 400;
        }
      }

      .form-meta {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .highlight {
          font-weight: 500;
        }
        .submit-button {
          border-radius: 50px;
        }
      }

      .form-meta.submitted {
        float: right;

        .highlight {
          display: none;
        }
      }
    }

    .form-container {
      color: black;
      border-radius: 5px;

      .ant-tabs-nav {
        margin: 0;
      }
    }

    // Represent an entity style
    .represent-checkbox-wrapper {
      background: $blue06;
      border-radius: 15px 0px 0px 0px;
      margin: 5px 0px 5px 5px;
      padding: 10px;

      label.ant-checkbox-wrapper {
        color: #fff;
        line-height: 2rem;
      }
    }
    hr.step-line {
      border: 1px solid $blue06;
      opacity: 0.75;
      width: 90%;
    }
    span.ant-checkbox-inner {
      background-color: #edf2f7;
      border-color: #cbd0d4;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: $blue06;
    }

    .ant-menu::before {
      display: none;
    }

    .ant-menu-vertical {
      border-right: none;
    }

    li.ant-menu-item.ant-menu-item-only-child {
      background-color: #d3dbdf;
    }

    li.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
      background-color: #ffffff;
      border-color: #04679980;
      border-style: solid;
      border-width: 1px 0 1px 1px;
      border-radius: 5px 0 0 5px;
    }

    // Global Step
    .step-section {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 1rem;
            color: #fff;
            width: 90%;

            .ant-steps-item-subtitle {
              text-transform: none;
              color: #fff;
            }
          }
        }
      }
    }

    // Global Finish Step
    .step-section-finish {
      .ant-steps-item-container {
        .ant-steps-item-subtitle {
          text-transform: none;
          color: #fff;
          opacity: 0.5;
        }

        .ant-steps-item-icon {
          .ant-steps-icon {
            color: white;
          }
        }
      }
    }

    .ant-steps {
      padding: 10px 10px 10px 25px;
    }

    // Active Sub Step
    .ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-weight: bold;
            color: #29b696;
          }
        }

        .ant-steps-item-icon {
          border: none;
          .ant-steps-icon {
            color: #398fff;
          }
        }
      }
    }

    .ant-steps-item-process.ant-steps-item-active {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-weight: bold;
            color: #398fff;
          }
        }

        .ant-steps-item-icon {
          background-color: #fff;
          border-width: 2px;

          .ant-steps-icon {
            color: #398fff;
          }
        }
      }
    }

    // Finish step active
    .ant-steps.ant-steps-vertical.current-tabs {
      .ant-steps-item-finish {
        .ant-steps-item-container {
          .ant-steps-item-content {
            .ant-steps-item-title {
              font-weight: bold;
              opacity: 1;
            }
            .ant-steps-item-subtitle {
              opacity: 1;
            }
          }
        }
      }
    }
    // Finish step not active
    .ant-steps-item-finish {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            color: #fff;
            opacity: 0.5;
          }
        }
      }
    }

    .ant-steps-item-finish.ant-steps-item-active {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-weight: bold;
            color: #398fff;
          }
        }

        .ant-steps-item-icon {
          background-color: #fff;
          border-width: 2px;

          .ant-steps-icon {
            color: #398fff;
          }
        }
      }
    }

    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-tail::after {
      background-color: #398fff;
    }

    // Active steps
    .ant-steps-item.ant-steps-item-process.step-section {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            opacity: 1;

            .ant-steps-item-subtitle {
              text-transform: none;
              color: #fff;
            }
          }
        }
      }
    }

    // Waiting steps
    .ant-steps-item.ant-steps-item-wait.step-section {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            opacity: 0.5;

            .ant-steps-item-subtitle {
              opacity: 0.5;
            }
          }
        }

        .ant-steps-item-icon {
          opacity: 0.5;
        }
      }
    }

    .ant-steps-item-subtitle {
      display: block;
      font-size: 12px;
      margin-left: 0px;
    }

    .ant-menu-vertical > .ant-menu-item {
      padding-top: 12px;
      height: 100%;
      background-color: #ffffff;

      .ant-steps-item-container {
        .ant-steps-icon > .anticon {
          margin-right: 0;
        }

        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 16px;
          }

          .ant-steps-item-description {
            font-size: 12px;
          }
        }
      }
    }

    .ant-card {
      .ant-card-body {
        padding: 0;

        .tag-list {
          margin-top: 20px;

          h5 {
            font-size: 1em;
            color: #d3dee7;
            margin-bottom: 0px;
          }
          ul {
            list-style: none;
            margin: 0;
            overflow: hidden;
            padding: 0;
            li {
              background: #d3dee7;
              border-radius: 23px 5px 5px 23px;
              color: $blue06;
              display: inline-block;
              padding: 5px 20px 5px 30px;
              position: relative;
              margin: 0 10px 10px 0;
              text-decoration: none;
              cursor: pointer;

              &::before {
                background: #fff;
                border-radius: 10px;
                box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      border: none;
      border-radius: 6px;

      .ant-input,
      .ant-input-number-input,
      .ant-picker,
      .ant-select,
      .ant-select-selector,
      .ant-input-affix-wrapper {
        width: 100%;
        background-color: #edf2f6;
        width: 100%;
      }
      .ant-form-item-explain {
        min-height: 0 !important;
      }
      .photo-upload-border {
        background-color: #edf2f6;
      }

      .ant-select-selector {
        background-color: #edf2f6;
      }

      .ant-input-group-addon {
        background-color: #ccd2e3;
        border-color: #ccd2e3;
        color: #fff;
      }

      .ant-picker {
        width: 100%;

        input {
          text-align: center;
        }
      }

      .form-group {
        margin-bottom: 0 !important;
      }

      .ant-radio-group {
        display: grid;
      }

      .ant-checkbox-wrapper {
        display: flex;
        align-items: center;
      }

      // highlight
      .ant-row.ant-form-item.ant-form-item-has-success {
        .ant-input,
        .ant-input-number-input,
        .ant-picker,
        .ant-select-selector {
          border: 2px #22ba9a solid;
          border-radius: 2px;
        }

        .radio-highlight {
          span.ant-radio {
            border: 2px solid #22ba9a;
            border-radius: 50%;
          }
        }
      }

      .checkbox-highlight {
        span.ant-checkbox {
          border: 2px solid #22ba9a;
          border-radius: 2px;
        }
      }

      // required
      .ant-row.ant-form-item.ant-form-item-has-error {
        .radio-required {
          span.ant-radio {
            border: 1px solid red;
            border-radius: 50%;
          }
        }
      }

      .checkbox-required {
        span.ant-checkbox {
          border: 1px solid red;
          border-radius: 2px;
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-form-item-label {
        padding: 0;
        font-weight: 500;
        margin-top: 15px;

        > label {
          height: auto !important;
          margin-bottom: 7px;
        }
      }

      .group-border {
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 15px 15px;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }

      .ant-row.ant-row-top {
        margin-top: 10px;
      }

      .array-item {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 15px 15px 0;

        &:not(:first-child) {
          margin-top: 10px;
        }

        display: flex;

        & > div:first-child {
          flex: 1;
        }

        & > div:last-child {
          width: 200px;
          margin-left: 10px;
        }

        .ant-col {
          .ml-2 {
            margin-left: 10px;
          }
        }
      }

      .mb-4 {
        margin-bottom: 20px;
      }

      .array-btns {
        margin-bottom: 20px;
        margin-top: 10px;
      }

      .form-group.field.field-object.list-group-item {
        margin-top: 3rem;
      }
    }

    .button-row {
      margin-top: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      bottom: 0;

      button {
        margin: 1rem;
      }
    }

    .back-button,
    .next-button {
      &:hover {
        background: $green03;
        border-color: $green03;
        color: #fff;
      }
    }
    .back-button {
      color: $green02;
      border-color: $green02;
    }
    .next-button {
      background: $green02;
      border-color: $green02;
      color: #fff;
    }
    .custom-step-title {
      button {
        height: 24px;
      }
    }
  }
}
