@import "../../vars.scss";

html {
  position: relative;
  min-height: 100vh;
  display: block;
  position: relative;
}

body {
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-rendering: optimizeLegibility;
  * {
    box-sizing: border-box;
  }
}

h4 {
  margin-top: 0;
}

#mainNavigation {
  width: 100px;
  height: auto;
  background-color: $bg-dark-primary;
  @media (min-width: 3000px) {
    height: 100vh;
  }
}

#siteWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#appWrapper {
  display: block;
  width: calc(100% - 117px);
  flex: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 208px;
}

#appInnerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  align-items: stretch;
}

#bodyContent {
  flex: 1 0 80%;
  width: 100%;
}
ul.sidebar,
ul.sidebar-mobile {
  background-color: $bg-dark-primary;
  li.item-sidebar {
    width: 100%;
    height: 100px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    cursor: pointer;
    opacity: 0.5;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    .case-study-svg {
      fill: $bg-dark-primary;
    }
    a {
      color: #fff;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      color: #fff;
    }

    &:hover {
      background: $yellow-highlight;
      opacity: 1;
      .case-study-svg {
        fill: $yellow-highlight;
      }
    }

    &.active {
      background: rgba(5, 240, 129, 0.2);
      border-left: 2px solid #07e982;
      opacity: 1;
      .case-study-svg {
        fill: #017974;
      }
      &:hover {
        background: rgba(5, 240, 129, 0.2);
      }
    }

    .item-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 0.85rem;
      &.disabled {
        opacity: 0.5;
        cursor: no-drop;
      }
      svg {
        transform: scale(1.3);
        path {
          fill: #ffffff;
        }
        .b {
          fill: #ffffff;
        }
      }
    }
  }
}
.ui-header {
  padding: 16px 16px 0px 16px;
  background-color: $bg-dark-primary;
  border-bottom: 1px solid #fff;
}
.text-right {
  text-align: right;
}
.text-upper {
  text-transform: uppercase;
}
/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
  // ##Screen = B/w 481px to 767px
  .ui-header {
    .text-right {
      display: flex;
    }
  }
  #mainNavigation {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  // ##Screen = B/w 320px to 479px
  .ui-header {
    .text-right {
      display: flex;
    }
  }
  #mainNavigation {
    display: none;
  }
}
@media only screen and (max-width: 465px) {
  html {
    font-size: 13px;
  }
  .sidebar {
    .item-sidebar {
      font-size: 10px;
    }
  }
  .capacity-section {
    .card {
      .title {
        font-size: 14px;
      }
      .left {
        width: 40%;
        &.events {
          width: 100%;
        }
      }
      .right {
        width: 60%;
        &.events {
          width: 100%;
        }
      }
    }
  }
  .carousel-control {
    .carousel-next {
      width: 23px;
    }
    .carousel-prev {
      width: 23px;
    }
  }
  #mainNavigation {
    display: none;
  }
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .capacity-section {
    .card {
      .title {
        font-size: 14px;
      }
      .left {
        width: 40%;
        &.events {
          width: 100%;
        }
      }
      .right {
        width: 60%;
        &.events {
          width: 100%;
        }
      }
    }
  }
  #mainNavigation {
    display: none;
  }
}

@media only screen and (min-width: 765px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  ul.sidebar {
    li.item-sidebar {
      font-size: 12px;
    }
  }
  .capacity-section {
    .card {
      .title {
        font-size: 14px;
      }
      .left {
        width: 35%;
        &.events {
          width: 100%;
        }
      }
      .right {
        width: 65%;
        &.events {
          width: 100%;
        }
      }
    }
  }
  ul.sidebar-mobile {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width: 991px) {
  ul.sidebar-mobile {
    display: none;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #mainNavigation {
    width: 100px;
    .sidebar {
      .item-sidebar {
        height: auto !important;
        padding: 20px 0;
        p {
          margin-bottom: 0px;
          font-size: 1em !important;
        }
        .item-menu svg {
          width: 30px !important;
        }
        &.active {
          border-left: 6px solid #07e982;
        }
      }
    }
  }
  #appWrapper {
    width: calc(100% - 100px);
  }
}
