@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.button[aria-label='send message'] {
  border: 2px solid transparent;
}

.button[aria-label='send message'][disabled],
.input-area .textarea-div {
  border-color: transparent !important;
}

.button[aria-label='send message']:hover {
  box-sizing: border-box;
  border: 2px solid #020a5b !important;
}

.button[aria-label='send message']:hover svg {
  color: #020a5b !important;
}

.button.deleteMessageButton,
.button.replyMessageButton {
  margin-top: 1rem;
}

.button.deleteMessageButton:hover,
.button.replyMessageButton:hover {
  border: 1px solid #020a5b !important;
}

.button.is-success:not([aria-label='send message']),
.tag:not(body).is-info {
  background-color: #7468ff !important;
}

.button.likeReactionButton {
  border-radius: 16px;
  margin-right: 6px;
}

.button.deleteMessageButton:hover {
  background-color: #dc2626 !important;
  color: #fff !important;
  border-color: #dc2626 !important;
}

.tag.emojiReaction {
  border-radius: 16px;
  display: flex;
  gap: 4px;
  font-weight: 500;
}

.chat-message {
  margin-top: 0 !important;
}

.chat-message .columns {
  margin-top: .25rem;
}

.chat-message .columns:not(:last-child) {
  margin-bottom: .25rem;
}

a,
a.file-download-link {
  color: #020a5b;
  cursor: pointer;
  text-decoration: underline !important
}

a.file-download-link:hover,
a:hover {
  color: #7468ff;
}

.repliedToMessage {
  background-color: #cfe8ff !important;
  color: #111827 !important;
}

.repliedToMessageRow1 {
  color: #212121 !important;
}

.poweredBy a {
  color: transparent !important;
}

.profile-avatar {
  width: 32px !important;
  height: 32px !important;
}

.profilePicContainer {
  padding-right: .25rem !important;
}

.input-area .innerContainer {
  background: #F8F8F8;
  border-radius: 4px;
}

.input-area .textarea-div {
  background: #F8F8F8 !important;
}

.input-area .innerContainer textarea {
  background: #F8F8F8 !important;
}

.button.is-success[disabled] {
  background: #00C199 !important;
}

.button.is-success {
  background: #00C199 !important;
}

.button.is-success:hover {
  border-color: #00C199 !important;
}

.emojiButton {
  background: transparent !important;
}

.file-cta {
  background: transparent !important;
}

.chat-message:hover {
  background: transparent !important;
}

.repliedToMessage {
  background-color: #E7F3FF !important;
  padding: 10px;
}