.chartCard {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    border-radius: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}
