.details-view {
  min-height: calc(100vh - 710px);
  // @media only screen and (min-width: 1200px) {
  //   .ui.container {
  //     width: 727px;
  //     margin-left: auto !important;
  //     margin-right: auto !important;
  //   }
  // }
  .details-active {
    font-weight: bold;
  }
  .loading {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #036799;
    .anticon {
      font-size: 40px;
      margin-bottom: 8px;
    }
  }
  padding-bottom: 20px;
  .bc {
    background-color: #dbe9f1;
    color: #046799;
    line-height: 34px;
    // margin-bottom: 20px;
    span {
      margin-left: 8px;
      margin-right: 25px;
    }
  }
  // .content-project {
  //   background-color: #FFF9EA;
  //   border-bottom: 2px solid #FFD579;
  // }
  // .content-non-project {
  //   background-color: #F0F5F7;
  //   border-bottom: 2px solid #035B71;
  // }
  .content-project,
  .content-non-project {
    // box-shadow: 0px 3px 6px #00000029;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 90%;
        .type-tag {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 22px;
          // padding: 0 5px;
          // border-radius: 3px;
          color: #28457b;
          .project-topic,
          .non-project-topic {
            padding: 10px;
            // border-radius: 5px;
            border-radius: 0px 23px 23px 0px;
          }
          .project-topic {
            background-color: #ffd579;
          }
          .non-project-topic {
            background-color: #035b71;
            color: #fff;
          }
          .project {
            background-color: #ffd579;
            color: #28457b;
          }
          .event {
            background-color: #01abf1;
            color: #ffffff;
          }
          .stakeholder {
            background-color: #01abf1;
            color: #ffffff;
          }
          .technology {
            background-color: #035b71;
            color: #ffffff;
          }
          .policy {
            background-color: #b5c3da;
            color: #28457b;
          }
          .financing_resource {
            background-color: #21a07f;
            color: #ffffff;
          }
          .technical_resource {
            background-color: #28457b;
            color: #ffffff;
          }
          .action_plan {
            background-color: #126e9b;
            color: #ffffff;
          }
        }
      }
      .bookmark {
        text-align: center;
        button {
          background-color: #01abf1;
          span {
            color: white;
          }
        }
      }
    }
    // ul.stats{
    //   display: flex;
    //   flex-direction: row;
    //   margin-top: 15px;
    //   margin-bottom: 0px;
    //   color: #046799;
    //   li{
    //     // text-transform: uppercase;
    //     opacity: 0.75;
    //     margin-right: 10px;
    //     font-size: 12px;
    //     font-weight: 500;
    //     margin-bottom: 10px;
    //     .label{
    //       opacity: 0.6;
    //       margin-right: 5px;
    //       .more {
    //         color: #01ABF1;
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
    h1 {
      margin-bottom: 10px;
      margin-top: 15px;
      line-height: 46px;
      font-weight: 700;
      font-size: 38px;
      color: #28457b;
    }
    p {
      margin: 20px 0;
    }
    .big-btns {
      display: flex;
      & > * {
        margin-right: 5px;
      }
    }
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .links {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      span {
        color: #81b2cc;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
      a {
        color: #01abf1;
      }
    }
    .tags {
      color: #81b2cc;
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 12px;
      span {
        font-weight: 600;
      }
      b {
        color: #046799;
      }
    }
  }
  .content-body {
    display: flex;
    justify-content: space-between;
    @media (max-width: 400px) {
      .content-body {
        display: block;
        .content-column {
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
    }
    .content-column {
      width: 48%;
      .card {
        margin-bottom: 75px;
        // padding: 20px 0;
        // border: 1px solid #B5C3DA;
        // border-radius: 5px;
        // box-shadow: 0px 1px 2px #00000029;
        h3 {
          color: #126e9b;
          font-size: 23px;
          font-weight: normal;
          margin-bottom: 20px;
        }
        .table {
          .column {
            display: flex;
            flex-direction: row;
            .title {
              flex: 27%;
            }
            .value {
              flex: 73%;
              color: #28457b;
              font-weight: 500;
              ul {
                list-style-type: circle;
              }
              .indent {
                margin-left: 20px;
              }
              .scrollable {
                max-height: 200px;
                overflow: auto;
                padding-right: 8px;
                margin: 24px 0px 0px 0px;
              }
              ::-webkit-scrollbar {
                width: 5px;
              }
              ::-webkit-scrollbar-track {
                background: #f1f1f1;
              }
              /* Handle */
              ::-webkit-scrollbar-thumb {
                background: #888;
              }
              ::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            }
          }
        }
        .table-actions {
          .column {
            ul {
              list-style-type: circle;
              margin-left: 20px;
            }
            .value {
              color: #28457b;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
