@import "../../vars.scss";

#profile {
  .loading {
    color: #fff;
  }

  .profile-container {
    background: linear-gradient(
        0deg,
        rgba(45, 103, 150, 0.85),
        rgba(45, 103, 150, 0.85)
      ),
      url("../../images/landing-gpml-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile-wrapper {
    background-color: #fff;
  }
  .review-status {
    margin-top: 20px;
  }

  .review-status.rejected {
    color: red;
  }

  .review-status.submitted {
    color: orange;
  }

  .review-status.approved {
    color: green;
  }

  .title-name-group {
    display: flex;

    .ant-select {
      width: 70px;
    }
  }

  ul.ul-children li {
    list-style: circle;
    display: list-item;
    margin-left: 20px;

    .lang {
      &:after {
        content: ")";
      }

      &:before {
        content: "(";
      }
    }
  }

  .ant-collapse-arrow {
    top: 10.0005px !important;
  }
  .status-show {
    .ant-collapse-arrow {
      top: 40px !important;
    }
  }
  .status-none {
    .ant-collapse-arrow {
      top: 50% !important;
      transform: translateY(-50%);
      padding-top: 0px;
    }
  }

  .photo-upload img {
    border-radius: 50%;
  }

  .status-none {
    .ant-collapse-header {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
    .ant-collapse-header-text {
      flex: 1;
    }
  }

  .review-comment-wrapper {
    margin-top: 1.5rem;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    p {
      font-weight: 600;
    }
    .review-comment-input {
      color: #a5b0c9;
      background-color: #edf2f7;
    }
    .review-comment-btn-wrapper {
      margin-top: 10px;
    }
  }
}

.admin-view {
  min-height: calc(100vh - 420px);

  .export-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 540px) {
    .approval-bold-text,
    .ant-btn {
      font-size: 12px !important;
    }
  }

  @media (max-width: 540px) {
    .review-status-wrapper {
      font-size: 12px !important;
    }
  }

  .table-wrapper {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    border: 1px solid #cbd8e2;
    box-sizing: border-box;
    border-radius: 5px;
    .request-collapse-panel-item {
      .ant-collapse-header {
        align-items: center;
      }
      .ant-collapse-header-text {
        flex: 1;
      }
    }

    @media (max-width: 540px) {
      .ant-select-selection-item,
      .row {
        font-size: 12px !important;
      }
    }
  }
  .tab-label {
    color: #2d6796;
    margin-top: 10px;

    @media (max-width: 800px) {
      font-size: 18px;
      @media (max-width: 540px) {
        font-size: 16px;
      }
    }
  }

  .ant-collapse {
    background-color: #fff;
    border: none;
    border-radius: 0;
  }

  .ant-collapse > .ant-collapse-item {
    border-top: 1px solid #cbd8e2;
    border-bottom: none;
  }

  span.anticon.anticon-right.ant-collapse-arrow {
    color: #d3dee7;
  }

  h2 {
    color: #046799;
    font-size: 1.4rem;
  }

  .archive {
    margin-top: 55px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    width: 100%;
    line-height: 30px;
    color: #046799;

    &.stakeholder-row {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #cbd8e2;

      .col {
        &.content {
          margin: 0.5rem;
        }
        .title {
          span:first-child {
            margin-right: 0.5rem;
          }
        }
      }
      &:first-child {
        .content {
          margin-top: 0;
        }
      }
      &:nth-child(2) {
        border-top: 1px solid #cbd8e2;
      }
      &:last-child {
        border: none;
        .content {
          margin-bottom: 0;
        }
      }
    }

    &.head {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 1rem;
      opacity: 0.7;
      display: flex;
      align-items: center;
      // css for search input
      .search {
        margin-left: 1rem;
        width: 215px;
        span.ant-input-affix-wrapper,
        input.ant-input,
        button.ant-btn.ant-btn-icon-only.ant-input-search-button {
          border-radius: 5px;
          background: #edf2f7;
        }
        input.ant-input {
          margin-left: 1.5rem;
          &::placeholder {
            color: #a5b0c9;
            font-weight: 500;
          }
        }
        .ant-input-affix-wrapper {
          border: 1px solid transparent;
        }
        .ant-input-group-addon {
          position: absolute;
          z-index: 1;
          &:last-child {
            top: 0;
            left: 0;
          }
        }
        button.ant-btn.ant-btn-icon-only.ant-input-search-button {
          border-color: transparent;
        }
      }
      // end of css for search input

      // css for filter by status
      .filter-by-status {
        width: 215px;
        .ant-select-selector {
          border-radius: 5px;
          border: 1px solid transparent;
          background: #edf2f7;
        }
        .filter-icon,
        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          font-weight: 500;
          color: black;
        }
        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          text-transform: initial;
        }
      }
      // end of css for filter by status
    }

    .col {
      color: #2d6796;
      &.content {
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .content-img {
          width: 50px;
          margin-right: 0.85rem;
        }
        .content-body {
          flex: 1;
        }
      }
      &.reviewer {
        margin: 0 10px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .select-reviewer {
          width: 100%;
          .ant-select-selector {
            color: #a5b0c9;
            border: 0;
            background-color: #edf2f7;
            border-radius: 5px;
          }
        }
      }
      &.action {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .topic {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.85rem;
        line-height: 1.35rem;
        color: rgba(37, 91, 135, 0.8);
      }
    }
  }

  // css for pending/approval status
  .status {
    color: #2d6796;
    border: 1px solid rgba(45, 103, 150, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    padding: 0.2rem 0.7rem;

    &.rejected {
      color: #ffb800;
      border-color: #ffb800;
    }
  }
  .content-status {
    // margin-bottom: 10px;
    .status {
      text-transform: uppercase;
    }
  }
  // end of css for pending/approval status

  .stakeholder-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .left {
      display: flex;
      flex-wrap: wrap;
      width: 685px;
      margin-right: 25px;

      .info-img {
        max-width: 150px;
        height: auto;
        margin-right: 15px;

        img {
          max-width: 100%;
          padding: 5px;
          border: #d9d9d9 1px solid;
        }
      }

      ul {
        flex: 1;
      }
    }

    .right {
      flex: 1;
    }

    ul {
      .has-border {
        margin: 10px 0px 5px;
        border-bottom: solid 2px #eee;
        font-weight: bold;
        font-size: 12px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        color: #0d6799;

        .detail-title {
          width: 160px;
        }

        .detail-content {
          margin-left: 5px;
          flex: 1;
          display: flex;
        }

        p.section-title {
          color: #707070;
          text-transform: uppercase;
        }

        span {
          color: #707070;
          width: 160px;
          display: inline-block;
        }

        ul.ul-children {
          display: inline-block;
          vertical-align: top;
          margin-left: -10px;

          li {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .general-info {
    display: flex;

    .info-img {
      max-width: 150px;
      height: auto;
      margin-right: 15px;

      img {
        max-width: 100%;
        padding: 5px;
        border: #d9d9d9 1px solid;
      }
    }

    ul {
      .has-border {
        margin: 10px 0px 5px;
        border-bottom: solid 2px #eee;
        font-weight: bold;
        font-size: 12px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        color: #0d6799;

        .detail-title {
          width: 160px;
        }

        .detail-content {
          margin-left: 5px;
          flex: 1;
          display: flex;
          .form-wrapper {
            display: flex;
            align-items: center;
            button {
              margin-left: 10px;
              span {
                width: auto;
              }
            }
          }
        }

        p.section-title {
          color: #707070;
          text-transform: uppercase;
        }

        span {
          width: 160px;
          display: inline-block;
        }

        ul.ul-children {
          display: inline-block;
          vertical-align: top;

          li {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .pagination-wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.with-notes {
      justify-content: space-between;
      align-items: flex-start;
    }
    .ant-pagination-item-link,
    .ant-pagination-item,
    .ant-pagination-item-active {
      border-color: transparent;
      border-radius: 5px;
    }
    .ant-pagination-item-link {
      background: #fff;
      span.anticon {
        color: $blue06;
        font-size: 0.85rem;
      }
    }
    .ant-pagination-item {
      background: rgba(37, 91, 135, 0.1);
      a {
        color: $blue06;
        &:hover {
          color: #fff;
          background: $yellow-highlight;
          border-color: $yellow-highlight;
        }
      }
    }
    .ant-pagination-item-active {
      background: rgba(37, 91, 135, 0.8);
      a {
        color: #fff;
        &:hover {
          background: unset;
        }
      }
    }
    .ant-pagination-item-ellipsis {
      color: $blue06;
    }
    .ant-pagination-options {
      .ant-select-selector {
        background: rgba(37, 91, 135, 0.1);
        border-color: transparent;
        border-radius: 5px;
        color: $blue06;
      }
    }
  }
}

.menu-container {
  .menu-wrapper {
    background-color: #09689a;

    .photo {
      display: flex;
      justify-content: center;
      padding: 35px 10px;
    }

    .menu-content-wrapper {
      padding: 20px 0;
    }
    .ant-menu-item .ant-menu-item-icon,
    .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      margin-right: 0;
    }
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none;
    }

    ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
      background: #09689a;
    }

    .menu-item {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      height: 4rem;
      border-bottom: 1px solid #3176ae;
      display: flex;
      align-items: center;
      opacity: 0.5;
    }

    button.ant-btn.ant-btn-ghost.ant-btn-circle.ant-btn-icon-only.white.ant-menu-item-icon {
      margin-right: 1.5rem;
    }

    .ant-menu-item-active,
    .ant-menu-item-active.ant-menu-item-selected {
      background: rgba(77, 255, 165, 0.1);
      border-radius: 5px 0px 0px 5px;
      opacity: 1;
    }

    .ant-menu-item-selected {
      background: rgba(77, 255, 165, 0.1);
      border-radius: 5px 0px 0px 5px;
      opacity: 1;
      font-weight: 600;
    }
  }

  .content-wrapper {
    padding: 35px 40px;
  }
}

.scrollable {
  max-height: 200px;
  overflow: auto;
  padding-right: 8px;
  margin-bottom: 10px;
}

.download-container {
  width: 400px;
  margin-bottom: 50px;
  padding: 20px 20px 0px 20px;
  background-color: #dbe9f14d;
  border: 1px solid #dbe9f1;

  p {
    color: #046799;
    font-weight: bold;
    font-size: 16px;
  }

  .btn-download {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.profile-tab-menu {
  background-color: #fff;
  margin-bottom: 1.5rem;
  .profile-tab-pane {
    padding: 0.85rem 1.85rem;
  }
  .ant-tabs-nav-list {
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  .ant-tabs-tab {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 1.2rem 1.85rem !important;
    background: #edf2f7 !important;
    border: 1px solid #d3dee7 !important;
    border-radius: 0 !important;

    @media (max-width: 540px) {
      padding: 0.6rem 0.6rem !important;
      font-size: 14px !important;
    }
  }
  .ant-tabs-tab-btn {
    color: #036799;
  }
  .ant-tabs-tab-active {
    background: #fff !important;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
    .ant-tabs-tab-btn {
      font-weight: 600;
      color: #036799;
    }
  }
  .ant-tabs-nav::before,
  .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .ant-tabs-nav .ant-tabs-nav-wrap::after {
    content: none !important;
  }
}
