#profile {
  // margin-bottom: 30px;
  .review-status {
    margin-top: 20px;
  }

  .review-status.rejected {
    color: red;
  }

  .review-status.approved {
    color: green;
  }

  .title-name-group {
    display: flex;

    .ant-select {
      width: 70px;
    }
  }

  ul.ul-children li {
    list-style: circle;
    display: list-item;
    margin-left: 20px;

    .lang {
      &:after {
        content: ")";
      }

      &:before {
        content: "(";
      }
    }
  }

  .ant-collapse-arrow {
    top: 10.0005px !important;
  }
}

.admin-view {
  min-height: calc(100vh - 420px);

  .table-wrapper {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    border: 1px solid #cbd8e2;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .ant-collapse {
    background-color: #fff;
    border: none;
    border-radius: 0;
  }

  .ant-collapse > .ant-collapse-item {
    border-top: 1px solid #cbd8e2;
    border-bottom: none;
  }

  .archive {
    margin-top: 55px;
  }

  h2 {
    color: #046799;
    font-size: 24px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 30px;
    color: #046799;

    &.head {
      padding-left: 35px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 5px;
      opacity: 0.7;

      .col:nth-child(1) {
        font-style: normal;
        font-weight: bold;
      }
    }

    .col:nth-child(1) {
      font-style: italic;
      font-weight: 500;
      width: 14%;
    }

    .col:nth-child(2) {
      font-weight: bold;
      width: 34%;
    }

    .col:nth-child(3) {
      width: 16%;
    }
    .col:nth-child(4) {
      width: 16%;
    }
    .col:nth-child(5) {
      width: 16%;
    }
  }

  .stakeholder-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .left {
      display: flex;
      flex-wrap: wrap;
      width: 685px;
      margin-right: 25px;

      .info-img {
        max-width: 150px;
        height: auto;
        margin-right: 15px;

        img {
          max-width: 100%;
          padding: 5px;
          border: #d9d9d9 1px solid;
        }
      }

      ul {
        flex: 1;
      }
    }

    .right {
      flex: 1;
    }

    ul {
      .has-border {
        margin: 10px 0px 5px;
        border-bottom: solid 2px #eee;
        font-weight: bold;
        font-size: 12px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        color: #0d6799;

        .detail-title {
          width: 160px;
        }

        .detail-content {
          margin-left: 5px;
          flex: 1;
          display: flex;
        }

        p.section-title {
          color: #707070;
          text-transform: uppercase;
        }

        span {
          color: #707070;
          width: 160px;
          display: inline-block;
        }

        ul.ul-children {
          display: inline-block;
          vertical-align: top;
          margin-left: -10px;

          li {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .general-info {
    display: flex;

    .info-img {
      max-width: 150px;
      height: auto;
      margin-right: 15px;

      img {
        max-width: 100%;
        padding: 5px;
        border: #d9d9d9 1px solid;
      }
    }

    ul {
      .has-border {
        margin: 10px 0px 5px;
        border-bottom: solid 2px #eee;
        font-weight: bold;
        font-size: 12px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        color: #0d6799;

        .detail-title {
          width: 160px;
        }

        .detail-content {
          margin-left: 5px;
          flex: 1;
          display: flex;
        }

        p.section-title {
          color: #707070;
          text-transform: uppercase;
        }

        span {
          width: 160px;
          display: inline-block;
        }

        ul.ul-children {
          display: inline-block;
          vertical-align: top;

          li {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

.menu-container {
  // display: flex;
  .menu-wrapper {
    // width: 250px;
    background-color: #dbe9f158;

    .photo {
      display: flex;
      justify-content: center;
      padding: 35px 10px;
    }
  }

  .content-wrapper {
    // flex: 1;
    padding: 35px 40px;
  }
}

.scrollable {
  max-height: 200px;
  overflow: auto;
  padding-right: 8px;
  margin-bottom: 10px;
}

.download-container {
  width: 400px;
  margin-bottom: 50px;
  padding: 20px 20px 0px 20px;
  background-color: #dbe9f14d;
  border: 1px solid #dbe9f1;

  p {
    color: #046799;
    font-weight: bold;
    font-size: 16px;
  }

  .btn-download {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
