{:config-in-ns      {dev            {:linters {:refer-all                    {:exclude #{clojure.repl}}
                                               :unsorted-required-namespaces {:level :off}
                                               :unused-referred-var          {:level :off}
                                               :unused-namespace             {:level :off}}}
                     gpml.main      {:linters {:unresolved-namespace {:level :off}}}
                     gpml.scheduler {:linters {:unused-binding {:level :off}}}}
 :config-in-comment {:linters {:unresolved-var       {:level :off}
                               :unresolved-namespace {:level :off}}}
 :lint-as {gpml.handler.responses/def-http-status clj-kondo.lint-as/def-catch-all}
 :linters           {:discouraged-var                       {clojure.core/read-string     {:message "Please prefer clojure.edn/read-string"}
                                                             taoensso.timbre/with-context {:message "Please prefer taoensso.timbre/with-context+"}}
                     :docstring-leading-trailing-whitespace {:level :warning}
                     :keyword-binding                       {:level :warning}
                     :reduce-without-init                   {:level :warning}
                     :redundant-fn-wrapper                  {:level :warning}
                     :single-key-in                         {:level :warning}
                     :unresolved-symbol                     {:exclude [(twarc.core/defjob)
                                                                       (gpml.handler.responses/http-statuses)
                                                                       (gpml.scheduler.leap-api-policy-importer/handle-leap-api-policy-import-job)
                                                                       (gpml.scheduler.brs-api-importer/handle-import)]}
                     :unresolved-var                        {:exclude [gpml.handler.responses
                                                                       gpml.db.organisation/organisation-by-name
                                                                       gpml.db.organisation/organisation-by-names
                                                                       java-time.pre-java8/sql-timestamp]}
                     :unsorted-required-namespaces          {:level :warning}
                     :used-underscored-binding              {:level :warning}}}
