{[:duct.database.sql/hikaricp :duct.database.sql.hikaricp/read-write] {:idle-timeout 10000
                                                                       :minimum-idle 0
                                                                       :logger #ig/ref :duct/logger
                                                                       :maximum-pool-size 1}

 :mocks.boundary.adapter.storage-client/local-file-system {:base-path #duct/env ["LOCAL_FS_STORAGE_BASE_PATH" Str]}

 :gpml/scheduler #ig/ref :gpml/noop-scheduler ;; Remove the scheduler as it's fairly annoying to have misc tasks being regularly run (which disrupts the logs, etc)
 :gpml/twarc-scheduler {:disabled true}
 :gpml/noop-scheduler {:logger #ig/ref :duct/logger}

 ;; NOTE: uncomment this if you're working on the BE and doing things
 ;; with images.
 ;; [:duct/const :gpml.config/common]
 ;; {:storage-client-adapter #ig/ref :mocks.boundary.adapter.storage-client/local-file-system
 ;;  :storage-bucket-name #duct/env ["LOCAL_FS_STORAGE_BUCKET_NAME" Str]}
 }
