;; You can rename this file to `local.edn` in order to activate it.
{:dev/bypass-auth                             {}
 ;; TODO simplify this by swapping out :gpml.auth/auth-middleware instead
 :gpml.handler.programmatic/common-middleware ^:replace [#ig/ref :dev/bypass-auth]
 :gpml.handler.chat/dcs-user-routes           {:middleware ^:replace [#ig/ref :dev/bypass-auth]
                                               :config     #ig/ref :gpml.config/common}
 :gpml.handler.chat/dcs-channel-routes        {:middleware ^:replace [#ig/ref :dev/bypass-auth]
                                               :config     #ig/ref :gpml.config/common}}
