{
 :duct.database.sql/hikaricp {:idle-timeout 10000
                              :minimum-idle 0
                              :maximum-pool-size 1}
 :duct.migrator/ragtime {:database #ig/ref :gpml.test/db
                         :strategy :raise-error}
 :gpml.test/db {:connection-uri "jdbc:postgresql://db/gpml_test?user=unep&password=password"}

 :mocks.boundary.adapter.storage-client/local-file-system
 {:base-path #duct/env ["LOCAL_FS_STORAGE_BASE_PATH" Str]}

 [:duct/const :gpml.config/common]
 {:storage-client-adapter #ig/ref :mocks.boundary.adapter.storage-client/local-file-system
  :storage-bucket-name #duct/env ["LOCAL_FS_STORAGE_BUCKET_NAME" Str]}}
