APP_NAME=UNEP GPML (test)
APP_USER_ADMIN=
APP_DOMAIN=http://localhost
APP_DB_NAME=gpml
APP_DB_HOST=db
APP_DB_USER=unep
APP_DB_PASSWORD=password
APP_TEST_DB_NAME=gpml_test

# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Auth0 token validation settings
OIDC_ISSUER=
OIDC_AUDIENCE=
OIDC_AUDIENCE_M2M=
OIDC_AUDIENCE_AUTH0_ACTIONS=

# Schedulers settings
SCHEDULER_THREAD_COUNT=50
SCHEDULER_TIME_ZONE=Europe/Madrid
SCHEDULER_LEAP_API_POLICY_IMPORTER_CRON=0 0 2 1/14 * ? *
SCHEDULER_BRS_API_IMPORTER_CRON=0 0 3 1/7 * ? *

# Object Storage settings
GCS_PRIVATE_BUCKET_NAME=
GCS_PUBLIC_BUCKET_NAME=
GCS_API_HOST_NAME=
LOCAL_FS_STORAGE_BASE_PATH=/tmp/local-storage
LOCAL_FS_STORAGE_BUCKET_NAME=unep-gpml-dev

# BRS settings
BRS_API_URL=
BRS_API_RECORDS_PER_PAGE=100
BRS_API_PUBLICATIONS_ENDPOINT=
BRS_API_MEETINGS_ENDPOINT=
BRS_API_PROJECTS_ENDPOINT=

# CORS settings
CORS_ALLOWED_ORIGINS=localhost

# Chat
# You can obtain this one in https://deadsimplechat.com/dashboard/developer (private key), or our Vault:
DEAD_SIMPLE_CHAT_API_KEY=

# Strapi Settings [SAMPLE]
STRAPI_DATABASE_CLIENT=postgres
STRAPI_DATABASE_HOST=db
STRAPI_DATABASE_NAME=strapi_gpml
STRAPI_DATABASE_USERNAME=unep
STRAPI_DATABASE_PASSWORD=password
STRAPI_JWT_SECRET=9gk00KTFnzP2FfRn0l6cZw==
STRAPI_APP_KEYS=2xSiIvRfu0uUTVa7dNpuDQ==,s8VN7AgSASrqzm3m9JN8Gw==,D6uWOnWhY4uKhPnFLq9Flw==,uJ7ExrUyqturazGynkwqbQ==
STRAPI_API_TOKEN_SALT=sL43vMCXXc65JfxhYdpGhQ==
STRAPI_ADMIN_JWT_SECRET=IcGmNJ0YQbVekMHp0RPSgw==
STRAPI_DOMAIN=http://localhost
STRAPI_TRANSFER_TOKEN_SALT=9gk00KTFnzP2FfRn0l6cZw==
STRAPI_GCS_SERVICE_ACCOUNT=
STRAPI_GCS_BUCKET_NAME=
STRAPI_GCS_BASE_PATH=
STRAPI_GCS_BASE_URL=
STRAPI_GCS_PUBLIC_FILES=
STRAPI_GCS_UNIFORM=

# OpenAI
OPENAI_API_KEY=some-key

GOOGLE_TRANSLATE_API_KEY=some-key
AUTO_TRANSLATE_ENABLED=false

MOTOMO_SITE_ID=
