version: "3"
services:
  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - APP_DB_NAME
      - APP_TEST_DB_NAME
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./db/script:/script:ro
  backend:
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://${APP_DB_HOST}/${APP_DB_NAME}?user=${APP_DB_USER}&password=${APP_DB_PASSWORD}
      - OIDC_ISSUER
      - OIDC_AUDIENCE
      - OIDC_AUDIENCE_M2M
      - OIDC_AUDIENCE_AUTH0_ACTIONS
      - APP_NAME
      - APP_USER_ADMIN
      - APP_DOMAIN
      - AUTH0_BACKEND_CLIENT_ID
      - AUTH0_BACKEND_SECRET
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - SCHEDULER_THREAD_COUNT
      - SCHEDULER_TIME_ZONE
      - SCHEDULER_LEAP_API_POLICY_IMPORTER_CRON
      - SCHEDULER_BRS_API_IMPORTER_CRON
      - GCS_BUCKET_NAME
      - GCS_PRIVATE_BUCKET_NAME
      - GCS_PUBLIC_BUCKET_NAME
      - GCS_API_HOST_NAME
      - LOCAL_FS_STORAGE_BASE_PATH
      - LOCAL_FS_STORAGE_BUCKET_NAME
      - BRS_API_URL
      - BRS_API_RECORDS_PER_PAGE
      - BRS_API_PUBLICATIONS_ENDPOINT
      - BRS_API_MEETINGS_ENDPOINT
      - BRS_API_PROJECTS_ENDPOINT
      - SUBSCRIPTIONS_MANAGEMENT_EMAIL
      - CORS_ALLOWED_ORIGINS
      - CHAT_API_DOMAIN_URL
      - CHAT_API_URL_PATH
      - CHAT_API_KEY
      - CHAT_API_USER_ID
  frontend:
    environment:
      - PORT=3001
      - APP_DOMAIN
    volumes:
      - ./frontend:/app:delegated
    working_dir: /app

volumes:
  pg-data:
