version: "3"
services:
  mainnetwork:
    image: alpine:3.12
    command: ["tail", "-f", "/dev/null"]
  db:
    command: "postgres -c 'shared_buffers=128MB' -c 'fsync=off' -c 'synchronous_commit=off' -c 'full_page_writes=off' -c 'max_connections=100' -c 'bgwriter_lru_maxpages=0' -c 'client_min_messages=warning'"
  backend:
    network_mode: service:mainnetwork
    image: eu.gcr.io/akvo-lumen/unep-gpml/backend:latest
    environment:
      - SENTRY_DSN=http://a-sentry-key:a-sentry-secret@wiremock-proxy:8080/sentry/213123
      - APP_VERSION=ci
      - POD_NAME=ci
      - ENV_NAME=ci
      - APP_USER_ADMIN=deden@akvo.org
  frontend:
    network_mode: service:mainnetwork
    image: eu.gcr.io/akvo-lumen/unep-gpml/frontend:latest
  nginx:
    network_mode: service:mainnetwork
    image: eu.gcr.io/akvo-lumen/unep-gpml/nginx:latest
  ci:
    network_mode: service:mainnetwork
    image: alpine:3.12
    volumes:
      - ./ci/test:/test:ro
    working_dir: /test
    entrypoint: ./entrypoint.sh
    environment:
      - GPML_AUTH0_USER
      - GPML_AUTH0_PASSWORD
    depends_on:
      - db
      - backend
      - frontend
      - nginx
