version: "3"
services:
  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - APP_DB_NAME
      - APP_TEST_DB_NAME
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./db/script:/script:ro
  backend:
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://${APP_DB_HOST}/${APP_DB_NAME}?user=${APP_DB_USER}&password=${APP_DB_PASSWORD}
      - OIDC_ISSUER
      - OIDC_AUDIENCE
      - OIDC_AUDIENCE_M2M
      - OIDC_AUDIENCE_AUTH0_ACTIONS
      - APP_NAME
      - APP_USER_ADMIN
      - APP_DOMAIN
      - AUTH0_BACKEND_CLIENT_ID
      - AUTH0_BACKEND_SECRET
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - SCHEDULER_THREAD_COUNT
      - SCHEDULER_TIME_ZONE
      - SCHEDULER_LEAP_API_POLICY_IMPORTER_CRON
      - SCHEDULER_BRS_API_IMPORTER_CRON
      - GCS_BUCKET_NAME
      - GCS_PRIVATE_BUCKET_NAME
      - GCS_PUBLIC_BUCKET_NAME
      - GCS_API_HOST_NAME
      - LOCAL_FS_STORAGE_BASE_PATH
      - LOCAL_FS_STORAGE_BUCKET_NAME
      - BRS_API_URL
      - BRS_API_RECORDS_PER_PAGE
      - BRS_API_PUBLICATIONS_ENDPOINT
      - BRS_API_MEETINGS_ENDPOINT
      - BRS_API_PROJECTS_ENDPOINT
      - SUBSCRIPTIONS_MANAGEMENT_EMAIL
      - CORS_ALLOWED_ORIGINS
      - CHAT_API_DOMAIN_URL
      - CHAT_API_URL_PATH
      - CHAT_API_KEY
      - CHAT_API_USER_ID
  frontend:
    environment:
      - PORT=3001
      - APP_DOMAIN
    volumes:
      - ./frontend:/app:delegated
    working_dir: /app
  strapi:
    build:
      context: ./strapi/
      dockerfile: Dockerfile.prod
    environment:
      - DATABASE_CLIENT=${STRAPI_DATABASE_CLIENT}
      - DATABASE_HOST=${STRAPI_DATABASE_HOST}
      - DATABASE_NAME=${STRAPI_DATABASE_NAME}
      - DATABASE_USERNAME=${STRAPI_DATABASE_USERNAME}
      - DATABASE_PASSWORD=${STRAPI_DATABASE_PASSWORD}
      - JWT_SECRET=${STRAPI_JWT_SECRET}
      - ADMIN_JWT_SECRET=${STRAPI_ADMIN_JWT_SECRET}
      - APP_KEYS=${STRAPI_APP_KEYS}
      - API_TOKEN_SALT=${STRAPI_API_TOKEN_SALT}
      - URL=${STRAPI_URL}
      - TRANSFER_TOKEN_SALT=${STRAPI_TRANSFER_TOKEN_SALT}
      - GCS_SERVICE_ACCOUNT=${STRAPI_GCS_SERVICE_ACCOUNT}
      - GCS_BUCKET_NAME=${STRAPI_GCS_BUCKET_NAME}
      - GCS_BASE_PATH=${STRAPI_GCS_BASE_PATH}
      - GCS_BASE_URL=${STRAPI_GCS_BASE_URL}
      - GCS_PUBLIC_FILES=${STRAPI_GCS_PUBLIC_FILES}
      - GCS_UNIFORM=${STRAPI_GCS_UNIFORM}

    volumes:
      - ./strapi/config:/opt/app/config
      - ./strapi/src:/opt/app/src
      - ./strapi/package.json:/opt/package.json
      - ./strapi/yarn.lock:/opt/yarn.lock
      - ./strapi/.env:/opt/app/.env
volumes:
  pg-data:
