@import '../../styles/vars.scss';

.forumHome {
  padding-top: 62px;
  color: $primaryDarkBlue;
  :global {
    .h-xs.title {
      color: $primaryPurple;
      font-family: var(--font-archia), sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }
    .header,
    .header .jumbotron {
      display: flex;
      flex-direction: column;
    }
    .header {
      gap: 12px;
      margin-bottom: 62px;
      &.my-forums {
        margin-bottom: 49px;
      }
      .jumbotron {
        width: 841px;
        gap: 20px;
        h2 {
          font-weight: 700;
        }
      }
    }
    section {
      &.my-forums {
        margin-bottom: 100px;
      }
      .ant-list {
        &.ant-list-grid .ant-col > .ant-list-item {
          // margin-bottom: 25px;
        }
        .ant-card {
          // width: 359px;
          padding: 8px 19px 8px;
          border-radius: 10px;
          box-shadow: 0px 24px 40px 0px rgba(0, 0, 0, 0.07);
          .ant-card-body {
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .channel h5,
            .flex .count {
              font-family: var(--font-archia);
            }
            .flex {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .participants {
                h6 {
                  font-weight: 700;
                }
                .ant-avatar-group {
                  .ant-avatar {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-family: var(--font-archia);
                    .ant-avatar-string {
                      font-size: $fzXXS;
                      font-weight: 600;
                      text-transform: uppercase;
                    }
                    &:nth-of-type(1) {
                      background-color: $primaryPurple;
                    }
                    &:nth-of-type(2) {
                      background-color: $primaryGreen;
                    }
                    &:nth-of-type(3) {
                      background-color: $primaryViolet;
                    }
                    &:nth-of-type(4) {
                      background-color: $primaryDarkBlue;
                    }
                    &:nth-of-type(5) {
                      background-color: $primaryBlue;
                    }
                    &:nth-of-type(6) {
                      background-color: $primaryGrey;
                      border-color: $primaryGrey;
                      .ant-avatar-string {
                        font-family: Inter;
                        font-size: 12px;
                        color: $primaryDarkBlue;                        
                      }
                    }
                  }
                }
              }
              .ant-btn.ant-btn-background-ghost {
                &:hover {
                  background-color: $primaryDarkBlue;
                  span {
                    color: $primaryWhite;
                  }
                }
              }
              &.my-forums {
                min-height: 79px;
                align-items: flex-start;
              }
            }
            .channel {
              &:not(.my-forums) {
                margin-bottom: 20px;
              }
              h5 {
                font-weight: 600;
                margin-bottom: 18px;
              }
              &.my-forums {
                h5 {
                  margin-bottom: 0;
                }
              }
            }
            .popover-container {
              width: 50%;
              display: flex;
              align-items: flex-end;
              flex-direction: column;
              gap: 8px;
              .anticon.anticon-more {
                font-size: $fzM;
                color: #d9d9d9;
              }
            }
            .last-message {
              .label {
                font-family: var(--font-archia), sans-serif;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
.forumType {
  font-family: var(--font-archia), sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: $primaryPurple;
}
