@import '../../../styles/vars.scss';

.addEntityModal {
  :global {
    .ant-modal-header {
      padding-bottom: 0px;
      .ant-modal-title {
        font-weight: 700;
        font-size: $fzS;
        line-height: $lhS;
        color: $primaryDarkBlue;
        font-family: var(--font-archia), sans-serif;
      }
    }
    .ant-modal-content {
      .close-button {
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
    .ant-modal-footer {
      background: #ffffff;
      border-radius: 0px 0px 10px 10px;
      padding: 0px 20px 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row-reverse;
    }
    .ant-form-item-label {
      padding-bottom: 0px !important;
    }
  }
}
