.ant-modal-content {
  .custom-button {
    border-radius: 50px;
    line-height: 16px;
    font-weight: 700;
    background: #05f081;
    color: #fff;
    border: 1px solid #05f081;
    &:disabled {
      opacity: 0.4;
    }
  }
  .close-button {
    border-radius: 50px;
    line-height: 16px;
  }
  .ant-input,
  .ant-input-number-input,
  .ant-picker,
  .ant-select,
  .ant-select-selector {
    background-color: #edf2f6;

    // border-color: #edf2f6;
  }

  .ant-select-selector {
    background-color: #edf2f6 !important;
  }
}
