@import 'vars.scss';
@import 'btns.scss';

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
  font-weight: 600;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
  font-weight: $fwXXL;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
}
h6,
.h6 {
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: $pfL;
  line-height: $plhL;
  font-weight: 400;
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
  font-weight: 400;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  img.gpml-white {
    margin-left: -15px;
    margin-top: -12px;
  }
  .container {
    display: flex;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }
  }
}

h6.bold,
.h6.bold {
  font-weight: 700;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
}
