@import 'antd/dist/antd.css';
@import 'vars.scss';
@import 'btns.scss';
@import 'input.scss';
@import 'dialog.scss';

body {
  color: $primaryDarkBlue;
  font-family: $ff2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
.h-l {
  font-size: $fzL;
  line-height: $lhL;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
}
.h-s {
  font-size: 24px;
  line-height: 1.4;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
h2,
.h2 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h3,
.h3 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXL;
  line-height: $lhXL;
}
h5,
.h5 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzM;
  line-height: $lhM;
}
h6,
.h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: $pfL;
  line-height: $plhL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzS;
    line-height: $lhS;
  }
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
}
.w-semi {
  font-weight: 600;
}
.w-bold {
  font-weight: 700;
}
.caps-heading-m {
  font-family: $ff1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  // letter-spacing: 0.24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: $primaryPurple;
  line-height: 1.4;
}
.caps-heading-s {
  font-family: $ff1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: $primaryPurple;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 25px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  z-index: 20;
  top: 0;
  transition: background 0.27s ease-out;
  .container {
    .logo-container {
      margin-left: -15px;
      margin-top: -14px;
    }
  }
  .container-fluid {
    .logo-container {
      margin-top: -14px;
    }
  }
  .logo-container {
    margin-top: -14px;
    display: flex;
    position: absolute;
    .circle {
      svg path {
        transition: fill 0.27s ease-out;
      }
    }
    h5 {
      white-space: nowrap;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      font-family: var(--font-dm-sans), sans-serif;
      color: #fff;
      margin-left: 7px;
      margin-top: 10px;
      transition: color 0.27s ease-out;
      // font-family: ;
    }
  }
  @media screen and (max-width: $bpMobile) {
    height: 70px;
    padding: 12px 0;
    .logo-container {
      margin-top: -3px;
      margin-left: -5px;
      svg {
        height: auto;
        width: 53px;
      }
      h5 {
        font-size: 12px;
        margin-top: 6px;
      }
      // img {
      //   height: 50px;
      //   object-fit: contain;
      //   object-position: 0 0;
      //   // width: 50px;
      // }
      // width: 150px;
      // overflow: hidden;
    }
  }
  .container,
  .container-fluid {
    display: flex;
  }
  .container-fluid {
    width: 100%;
    padding: 0px 20px;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }

    @media screen and (max-width: $bpMobile) {
      display: flex;
      align-items: center;
      button {
        margin-right: 20px;
      }

      .toggle-button {
        width: 23px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }
  }
  .ant-menu {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 53px;
    box-shadow: none;
    li {
      line-height: normal;
      height: fit-content;

      &.selected {
        a {
          span::after {
            width: 100%;
          }
          svg {
            transform: rotate(180deg);
          }
        }
      }

      a {
        font-family: var(--font-archia), sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: white;
        cursor: pointer;
        display: inline-block;
        display: flex;
        span {
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $primaryGreen5;
            transform: translateY(3px);
            transition: width 0.3s;
          }
        }
        svg {
          margin-left: 12px;
          margin-top: 7px;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
  &.opened {
    background-color: #fff;
    color: $primaryDarkBlue;
    .logo-container {
      .circle {
        color: $primaryGreen7;
      }
      h5 {
        color: $primaryDarkBlue;
      }
    }
    ul {
      li a {
        color: $primaryDarkBlue;
      }
    }
  }
}
.navigation {
  .sub-menu {
    color: white;
    .p-m {
      color: white;
      font-weight: 600;
      display: inline-block;
      border-bottom: 1px solid $primaryGreen;
      padding-bottom: 8px;
      margin-bottom: 30px;
    }
    ul {
      padding: 0;
    }
    .sub-menu-item {
      padding-bottom: 30px;
      min-height: 95px;
      a {
        display: flex;
        align-items: flex-start;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.12s ease-in;
        @media screen and (max-width: $bpMobile) {
          width: 24px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: center;
        b {
          font-family: var(--font-archia), sans-serif;
          font-weight: 400;
          color: white;
          padding-bottom: 4px;
        }
        span {
          color: rgba(255, 255, 255, 0.47);
          font-family: var(--font-archia), sans-serif;
          font-size: 12px;
          font-weight: 400;
        }
        .p-s {
          @media screen and (max-width: $bpMobile) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  .slide-menu {
    overflow-y: scroll;
    height: 100%;
  }
  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 12px 0;
    margin: 0 25px;
    position: relative;
    button {
      padding-left: 0px !important;
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      circle {
        fill: rgba(127, 115, 255, 0.2);
      }
      path {
        stroke: white;
      }
    }
  }
  .navigation-container {
    padding: 40px 0px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    .sub-menu-item {
      min-height: auto;
      margin-bottom: 0px;
    }
    h2 {
      color: white;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: 1px solid $primaryGreen5;
    }
    .social-links-container {
      margin-bottom: 30px;
      h6 {
        font-family: var(--font-dm-sans), sans-serif;
        color: white;
        text-align: center;
        padding-bottom: 20px;
      }
      .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        a {
          color: white;
        }
      }
    }
  }
  ul {
    padding: 0px;
    width: 100%;
    flex: 1;
    li {
      list-style: none;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .sub-menu {
        width: 100%;
        border-radius: 25.916px;
        border: 1.205px solid rgba(255, 255, 255, 0.19);
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(8.136363983154297px);
        overflow: hidden;
        padding: 0px 14px;
        .header {
          display: flex;
          width: 100%;
          height: 45px;
          align-items: center;
          gap: 10px;
          justify-content: space-between;
          .header-icon {
            display: inline-block;
            transform-origin: center;
            width: 32px;
            height: 32px;
            &.open {
              circle {
                fill: $primaryPurple;
              }
            }
          }
        }
        .p-s {
          font-weight: 600;
          color: white;
          text-transform: capitalize;
        }
        svg {
          circle {
            fill: rgba(127, 115, 255, 0.2);
          }
        }
        .collapse-list {
          padding-top: 20px;
        }
      }
    }
  }
  .mobile-menu-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: $primaryDarkBlue;
  }
}
.fullscreen-nav {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: url('/menu-background.png');
  background-size: cover;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
  }
}

h6.bold,
.h6.bold,
h5.bold,
.h5.bold,
h2.bold,
.h2.bold,
h6.bold,
.h6.bold {
  font-weight: 700;
}
h2.semibold,
.h2.semibold,
h3.semibold,
.h3.semibold {
  font-weight: 600;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3.2px;
  text-align: left;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
img {
  display: block;
}

.label-s {
  font-family: var(--font-archia), sans-serif;
  width: fit-content;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
  border-radius: 12px;
  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 4px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative;
    &.swiper-pagination-bullet-active {
      border: 1px solid $primaryDarkBlue;
      span {
        background: $primaryDarkBlue;
      }
    }
    opacity: 1;
    span {
      background: $primaryDarkBlue2;
      display: flex;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ant-modal-content {
  box-shadow: 0px 32px 24px -16px rgba(101, 93, 122, 0.04),
    0px 16px 36px 0px rgba(101, 93, 122, 0.06);
  border-radius: 8px;
  overflow: hidden;
  .ant-modal-header {
    border: none;
  }
  .ant-modal-close {
    display: none;
  }
  .ant-modal-footer {
    border: none;
  }
}

.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: $primaryDarkBlue2;
  overflow: hidden;
  .fill {
    background-color: $primaryPurple;
    height: 100%;
  }
}
