@import 'vars.scss';
@import 'btns.scss';

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-l {
  font-size: $fzL;
  line-height: $lhL;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
h2,
.h2 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h3,
.h3 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXL;
  line-height: $lhXL;
}
h5,
.h5 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzM;
  line-height: $lhM;
}
h6,
.h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: 22px;
  line-height: 32px;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzS;
    line-height: $lhS;
  }
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 25px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 20;
  top: 0;
  img.gpml-white {
  }
  .logo-container {
    margin-left: -15px;
    margin-top: -14px;
  }
  @media screen and (max-width: $bpMobile) {
    height: 70px;
    padding: 12px 0;
    .logo-container {
      margin-top: -3px;
      margin-left: -5px;
      img {
        height: 50px;
        object-fit: contain;
        object-position: 0 0;
        // width: 50px;
      }
      width: 150px;
      overflow: hidden;
    }
  }
  .container {
    display: flex;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }
  }
}

h6.bold,
.h6.bold,
h5.bold,
.h5.bold,
h2.bold,
.h2.bold,
h6.bold,
.h6.bold {
  font-weight: 700;
}
h3.semibold,
.h3.semibold {
  font-weight: 600;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
img {
  display: block;
}
