@import 'antd/dist/antd.css';
@import 'vars.scss';
@import 'btns.scss';

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
.h-l {
  font-size: $fzL;
  line-height: $lhL;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
h2,
.h2 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h3,
.h3 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXL;
  line-height: $lhXL;
}
h5,
.h5 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzM;
  line-height: $lhM;
}
h6,
.h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: $pfL;
  line-height: $plhL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzS;
    line-height: $lhS;
  }
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 25px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 20;
  top: 0;
  .logo-container {
    margin-left: -15px;
    margin-top: -14px;
  }
  @media screen and (max-width: $bpMobile) {
    height: 70px;
    padding: 12px 0;
    .logo-container {
      margin-top: -3px;
      margin-left: -5px;
      img {
        height: 50px;
        object-fit: contain;
        object-position: 0 0;
        // width: 50px;
      }
      width: 150px;
      overflow: hidden;
    }
  }
  .container {
    display: flex;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }

    @media screen and (max-width: $bpMobile) {
      display: flex;
      align-items: center;
      button {
        margin-right: 20px;
      }

      .toggle-button {
        width: 23px;
        height: 23px;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }
  }
  .ant-menu {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
    box-shadow: none;
    li {
      line-height: normal;
      height: fit-content;
      a {
        font-family: var(--font-archia), sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: white;
        cursor: pointer;
        display: inline-block;
        span {
          padding-left: 12px;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: white;
          transition: width 0.3s;
        }
      }
    }
  }
}
.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 12px 0;
    margin: 0 25px;
    position: relative;
    button {
      padding-left: 0px !important;
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      circle {
        stroke: rgba(127, 115, 255, 0.2);
        fill: rgba(127, 115, 255, 0.2);
      }
      path {
        stroke: white;
      }
    }
  }
  .navigation-container {
    padding: 40px 0px;
    margin: 0 25px;
    h2 {
      color: white;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: 1px solid $primaryGreen5;
    }
  }
  ul {
    padding: 0px;
    li {
      list-style: none;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .sub-menu-item {
        display: flex;
        width: 100%;
        height: 45px;
        padding: 0px 14px;
        align-items: center;
        gap: 10px;
        border-radius: 25.916px;
        border: 1.205px solid rgba(255, 255, 255, 0.19);
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(8.136363983154297px);
        justify-content: space-between;
        .p-s {
          font-weight: 600;
          color: white;
          text-transform: capitalize;
        }
        svg {
          circle {
            fill: rgba(127, 115, 255, 0.2);
          }
        }
      }
    }
  }
  .mobile-menu-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: $primaryDarkBlue;
  }
}
.fullscreen-nav {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: url('/menu-background.png');
  background-size: cover;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
  }
  .sub-menu {
    color: white;
    .p-m {
      color: white;
      font-weight: 600;
      display: inline-block;
      border-bottom: 1px solid $primaryGreen;
      padding-bottom: 8px;
      margin-bottom: 30px;
    }
    ul {
      padding: 0;
    }
    .menu-item {
      display: flex;
      align-items: flex-start;
      padding-bottom: 30px;
      min-height: 95px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.12s ease-in;
      }
      .content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: center;
        b {
          font-family: var(--font-archia), sans-serif;
          font-weight: 400;
          color: white;
          padding-bottom: 4px;
        }
        span {
          color: rgba(255, 255, 255, 0.47);
          font-family: var(--font-archia), sans-serif;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

h6.bold,
.h6.bold,
h5.bold,
.h5.bold,
h2.bold,
.h2.bold,
h6.bold,
.h6.bold {
  font-weight: 700;
}
h2.semibold,
.h2.semibold,
h3.semibold,
.h3.semibold {
  font-weight: 600;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3.2px;
  text-align: left;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
img {
  display: block;
}

.label-s {
  font-family: var(--font-archia), sans-serif;
  width: fit-content;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
  border-radius: 12px;
  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 4px;
  }
}
ul {
  list-style: none;
}
