@import "vars.scss";
@import "btns.scss";

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXXL;
  line-height: $lhXXXL;
}
h6, .h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: 22px;
  line-height: 32px;
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: 16px;
  line-height: 20px;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  .container {
    display: flex;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }
  }
}

h6.bold, .h6.bold {
  font-weight: 700;
}

.caps-heading-1 {
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
}
