@import 'antd/dist/antd.css';
@import 'vars.scss';
@import 'btns.scss';
@import 'input.scss';
@import 'dialog.scss';

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
.h-l {
  font-size: $fzL;
  line-height: $lhL;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
h2,
.h2 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h3,
.h3 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXL;
  line-height: $lhXL;
}
h5,
.h5 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzM;
  line-height: $lhM;
}
h6,
.h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: $pfL;
  line-height: $plhL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzS;
    line-height: $lhS;
  }
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 25px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 20;
  top: 0;
  .container {
    .logo-container {
      margin-left: -15px;
      margin-top: -14px;
    }
  }
  .container-fluid {
    .logo-container {
      margin-top: -14px;
    }
  }
  @media screen and (max-width: $bpMobile) {
    height: 70px;
    padding: 12px 0;
    .logo-container {
      margin-top: -3px;
      margin-left: -5px;
      img {
        height: 50px;
        object-fit: contain;
        object-position: 0 0;
        // width: 50px;
      }
      width: 150px;
      overflow: hidden;
    }
  }
  .container,
  .container-fluid {
    display: flex;
  }
  .container-fluid {
    width: 100%;
    padding: 0px 20px;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }
  }
}

h6.bold,
.h6.bold,
h5.bold,
.h5.bold,
h2.bold,
.h2.bold,
h6.bold,
.h6.bold {
  font-weight: 700;
}
h2.semibold,
.h2.semibold,
h3.semibold,
.h3.semibold {
  font-weight: 600;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3.2px;
  text-align: left;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
img {
  display: block;
}

.label-s {
  font-family: var(--font-archia), sans-serif;
  width: fit-content;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
  border-radius: 12px;
  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 4px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative;
    &.swiper-pagination-bullet-active {
      border: 1px solid $primaryDarkBlue;
      span {
        background: $primaryDarkBlue;
      }
    }
    opacity: 1;
    span {
      background: $primaryDarkBlue2;
      display: flex;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ant-modal-content {
  box-shadow: 0px 32px 24px -16px rgba(101, 93, 122, 0.04),
    0px 16px 36px 0px rgba(101, 93, 122, 0.06);
  border-radius: 8px;
  overflow: hidden;
  .ant-modal-header {
    border: none;
  }
  .ant-modal-close {
    display: none;
  }
  .ant-modal-footer {
    border: none;
  }
}
