@import 'antd/dist/antd.css';
@import 'vars.scss';
@import 'btns.scss';

body {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-xxl {
  font-size: $fzXXL;
  line-height: $lhXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
.h-l {
  font-size: $fzL;
  line-height: $lhL;
}
.h-m {
  font-size: $fzM;
  line-height: $lhM;
}
.h-xs {
  font-size: $fzXS;
  line-height: $lhXS;
}
.h-xxs {
  font-size: $fzXXS;
  line-height: $lhXXS;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-archia), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

h1 {
  font-size: $fzXXXL;
  line-height: $lhXXXL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzL;
    line-height: $lhL;
  }
}
h2,
.h2 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXXL;
  line-height: $lhXXL;
}
h3,
.h3 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXL;
  line-height: $lhXL;
}
h5,
.h5 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzM;
  line-height: $lhM;
}
h6,
.h6 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzS;
  line-height: $lhS;
}
.p-l {
  font-size: $pfL;
  line-height: $plhL;
  @media screen and (max-width: $bpMobile) {
    font-size: $fzS;
    line-height: $lhS;
  }
}
.p-m {
  font-size: $fzS;
  line-height: $lhS;
}
.p-s {
  font-size: $pfS;
  line-height: $plhS;
}
.container {
  margin: 0 40px;
  @media screen and (min-width: 1240px) {
    margin: 0 auto;
    width: 1148px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 25px;
  }
}
.top-bar {
  height: 90px;
  padding: 23px 0;
  box-sizing: border-box;
  background-color: $primaryDarkBlue;
  color: white;
  position: sticky;
  z-index: 20;
  top: 0;
  .logo-container {
    margin-left: -15px;
    margin-top: -14px;
  }
  @media screen and (max-width: $bpMobile) {
    height: 70px;
    padding: 12px 0;
    .logo-container {
      margin-top: -3px;
      margin-left: -5px;
      img {
        height: 50px;
        object-fit: contain;
        object-position: 0 0;
        // width: 50px;
      }
      width: 150px;
      overflow: hidden;
    }
  }
  .container {
    display: flex;
  }
  nav {
    margin-left: auto;
    .ant-btn-primary {
      margin-top: 0px;
    }
  }
  .ant-menu {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
    li {
      line-height: normal;
      height: fit-content;
      a {
        font-family: var(--font-archia), sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: white;
        cursor: pointer;
        display: inline-block;
        span {
          padding-left: 12px;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: white;
          transition: width 0.3s;
        }
      }
    }
  }
  .fullscreen-nav {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: url('/menu-background.png');
    background-size: cover;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

h6.bold,
.h6.bold,
h5.bold,
.h5.bold,
h2.bold,
.h2.bold,
h6.bold,
.h6.bold {
  font-weight: 700;
}
h2.semibold,
.h2.semibold,
h3.semibold,
.h3.semibold {
  font-weight: 600;
}

.caps-heading-1 {
  font-family: var(--font-archia), sans-serif;
  font-size: $fzXS;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3.2px;
  text-align: left;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
img {
  display: block;
}

.label-s {
  font-family: var(--font-archia), sans-serif;
  width: fit-content;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
  border-radius: 12px;
  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 4px;
  }
}
ul {
  list-style: none;
}
