.ant-btn {
  font-family: var(--font-archia), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
  border: 2px solid $primaryDarkBlue;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  transition: background 0.2s ease-out;
  cursor: pointer;
  width: auto;
  svg {
    position: absolute;
    right: 8px;
    top: 8px;
    path {
      transition: all 0.2s ease-out;
    }
    circle {
      transition: fill 0.2s ease-out;
    }
  }
  &.ant-btn-primary {
    background-color: $primaryGreen;
    border-color: $primaryGreen;
    &:not(.noicon):not(.left-icon) {
      padding-right: 60px;
    }
  }
  &.ant-btn-lg {
    padding: 16px 24px;
    svg {
      right: 12px;
      top: 12px;
    }
  }
  &.ant-btn-sm {
    padding: 8px 18px;
  }
  &.ant-btn-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: white;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    &:hover {
      background-color: transparent;
      color: $primaryGreen;
      svg {
        path {
          stroke: $primaryGreen;
        }
      }
    }
    svg {
      position: relative;
      top: 0;
      right: 0;
      padding-left: 10px;
    }
  }
  &.ant-btn-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: $primaryDarkBlue;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    &:hover {
      background-color: transparent;
      color: white;
      svg {
        path {
          stroke: white;
        }
      }
    }
    svg {
      position: relative;
      top: 0;
      right: 0;
      padding-left: 10px;
      path {
        stroke: $primaryDarkBlue;
      }
    }
  }
  &.left-icon {
    svg {
      position: static;
      margin-right: 15px;
      transform: translateY(2px);
    }
  }
  &:hover,
  &:active,
  &:disabled {
    background-color: $primaryGreen4;
    border-color: $primaryGreen4;
    svg {
      path {
        stroke: $primaryDarkBlue;
      }
      circle {
        fill: $primaryGreen4;
      }
    }
  }
  &:active:not(:disabled) {
    background-color: $primaryGreen;
    svg {
      path {
        transform: translateX(2px);
      }
    }
  }
  &:disabled {
    background: #f5f7ff;
    border-color: #f5f7ff;
    color: #ccd0db;
    cursor: not-allowed;
    svg {
      circle {
        fill: #f5f7ff;
        stroke: #ccd0db;
      }
      path {
        stroke: #ccd0db;
      }
    }
  }
}
