.ant-modal-root {
  .ant-modal {
    width: 100%;
    @media screen and (min-width: 840px) {
      max-width: 823px;
    }
    .ant-modal-content {
      border-radius: 8px;
      box-shadow: 0px 32px 24px -16px rgba(101, 93, 122, 0.04),
        0px 16px 36px 0px rgba(101, 93, 122, 0.06);
      .ant-modal-header {
        border-bottom: none;
        .ant-modal-title {
          font-family: var(--font-archia), sans-serif;
          font-size: $fzS;
          line-height: $lhS;
          font-weight: 700;
        }
      }
      .ant-modal-footer,
      .ant-modal-footer div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        border-top: none;
        .ant-btn.ant-btn-link {
          font-weight: 700;
          text-decoration-line: none;
        }
      }
      .ant-modal-body,
      .ant-modal-footer {
        padding: 20px;
      }
    }
  }
}
