#root,
.ant-modal-root {
  .ant-form {
    .ant-row {
      .ant-input,
      .ant-input-affix-wrapper {
        height: 54px;
      }
      .ant-input,
      .ant-select-selector,
      .ant-input-affix-wrapper {
        border-radius: 8px;
        color: $primaryDarkBlue;
        background-color: $primaryGrey;
        &::placeholder {
          color: $primaryDarkBlue4;
        }
        &:focus {
          box-shadow: 0px 0px 0px 2px $systemInfo3;
        }
      }
      .ant-input-affix-wrapper .ant-input,
      .ant-input.ant-input-borderless {
        color: inherit;
        height: auto;
        background: transparent;
        border-radius: 0;
      }
      .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
      .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
      .ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
        .ant-select-selector {
        border-width: 2px;
        border-color: $systemError3 !important;
      }
      .ant-select-selector {
        height: 52px;
      }
      .ant-select-single {
        &.ant-select-show-arrow {
          .ant-select-selection-item,
          .ant-select-selection-placeholder {
            padding-top: 4px;
          }
          .ant-select-selection-item {
            color: $primaryDarkBlue;
          }
        }
      }
      .ant-switch:focus,
      .ant-switch-checked:focus {
        outline-width: 2px;
        outline-offset: 2px;
        outline-color: $primaryPurple;
        outline-style: solid;
        box-shadow: none;
      }
      .ant-switch-checked {
        background-color: $primaryPurple;
      }
    }
  }
}
