.ant-input-affix-wrapper,
.ant-picker {
  background-color: $primaryGrey;
  height: auto;
  border-radius: 8px;
  width: 100%;
  border: none;
  font-family: var(--font-dm-sans), sans-serif;
  &:focus,
  &.ant-input-affix-wrapper-focused {
    box-shadow: 0px 0px 0px 2px #1d90f5;
  }
  &:hover {
    .ant-input {
      &::placeholder {
        color: $primaryDarkBlue !important;
      }
    }
    svg {
      path {
        fill: $primaryDarkBlue;
      }
    }
  }
  svg {
    path {
      fill: $primaryDarkBlue4;
    }
  }
  .ant-input-prefix {
    margin-right: 8px;
  }
}
.ant-input-affix-wrapper-sm {
  padding: 11px;
}

.ant-input-sm {
  padding: 11px;
}

.ant-input {
  background-color: $primaryGrey;
  height: auto;
  border-radius: 8px;
  width: 100%;
  border: none;
  font-family: var(--font-dm-sans), sans-serif;
  color: $primaryDarkBlue;
  font-size: $fzXS;
  line-height: $lhXS;
  font-weight: 400;
  &::placeholder {
    color: $primaryDarkBlue4 !important;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px #1d90f5;
  }
  &.ant-input-status-error {
    border: 2px solid $systemError3;
    &:focus {
      box-shadow: none !important;
      border-right-width: 2px !important;
    }
  }
}

.ant-picker-header-view {
  button {
    color: $primaryDarkBlue;
    font-size: 16px;
    font-weight: 600;
  }
}

.ant-picker-small {
  padding: 11px;
  input {
    font-size: $fzXS;
    line-height: $lhXS;
    color: $primaryDarkBlue;
    &::placeholder {
      color: $primaryDarkBlue4 !important;
    }
  }
}
.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background-color: $primaryPurple !important;
  }
}

.ant-picker-cell-inner {
  font-size: $fzXS;
  line-height: $lhXS;
  font-weight: 500;
  font-family: var(--font-dm-sans), sans-serif;
  color: $primaryDarkBlue;
}

.ant-select {
  color: $primaryDarkBlue;
  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      background-color: $primaryGrey;
      height: auto;
      border-radius: 8px;
      width: 100%;
      border: none;
    }
  }
  &.ant-select-sm {
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        padding: 4px 11px;
        height: 44px;
        line-height: 20px;
        .ant-select-selection-placeholder {
          font-family: var(--font-dm-sans), sans-serif;
          color: $primaryDarkBlue;
          font-size: $fzXS;
          line-height: $lhXS;
          font-weight: 400;
          left: 14px;
          line-height: 34px;
          color: $primaryDarkBlue4;
        }
        input {
          height: 100% !important;
        }
        .ant-select-selection-item {
          line-height: 34px;
        }
      }
      &.ant-select-single {
        .ant-select-selection-search {
          right: 25px;
          left: 11px;
        }
      }
      .ant-select-clear {
        align-items: center;
        justify-content: center;
        background: transparent;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        span {
          color: $primaryDarkBlue;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .ant-select-selection-overflow {
      .ant-select-selection-item {
        background-color: $primaryDarkBlue;
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 28px;
        line-height: 26px !important;
        border-radius: 8px;
      }
      .ant-select-selection-item-remove {
        color: white;
        font-size: 12px;
      }
    }
  }
  &.ant-input-status-error {
    border: 2px solid $systemError3;
    border-radius: 8px;
  }
}

.ant-select-item-option-selected {
  background-color: #f5f7ff !important;
}

.ant-select-item {
  color: $primaryDarkBlue;
  font-family: var(--font-dm-sans), sans-serif;
  &.ant-select-item-group {
    color: $primaryDarkBlue3;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.ant-select-focused {
  &:not(.ant-select-disabled) {
    &.ant-select:not(.ant-select-customize-input) {
      .ant-select-selector {
        box-shadow: 0px 0px 0px 2px #1d90f5;
      }
    }
  }
}

.input-label {
  font-size: $fzXXS;
  line-height: $lhXXS;
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-dm-sans), sans-serif;
  color: $primaryDarkBlue;
  margin-bottom: 8px;
}
