$primaryGreen: #00f1bf;
$primaryGreen4: #66f7d9;
$primaryPurple: #7468ff;
$primaryBlue: #86c5ff;
$primaryBlue2: #cfe8ff;
$primaryViolet: #ac85ff;
$primaryDarkBlue4: #677194;
$primaryGrey: #f5f7ff;
$primaryWhite: #ffffff;
$primaryDarkBlue: #020a5b;
$primaryDarkBlue2: #ccd0db;
$primaryDarkBlue3: #b6dcff;
$primaryDarkBlue4: #677194;
$primaryDarkBlue5: #344170;

$fzXXXL: 64px;
$lhXXXL: 72px;
$fzXXL: 48px;
$lhXXL: 56px;
$fzXL: 38px;
$lhXL: 48px;
$fzL: 32px;
$lhL: 36px;
$fzM: 24px;
$lhM: 28px;
$fzS: 18px;
$lhS: 24px;
$fzXS: 16px;
$lhXS: 22px;
$fzXXS: 14px;
$lhXXS: 20px;
