$primaryGreen: #00f1bf;
$primaryGreen4: #66f7d9;
$primaryPurple: #7468ff;
$primaryPurple2: #e3e1ff;
$primaryPurple3: #c7c3ff;
$primaryPurple4: #aca4ff;
$primaryPurple7: #5d53cc;
$primaryBlue: #86c5ff;
$primaryBlue2: #cfe8ff;
$primaryBlue5: #9ed1ff;
$primaryViolet: #ac85ff;
$primaryGrey: #f5f7ff;
$primaryWhite: #ffffff;
$primaryDarkBlue: #020a5b;
$primaryDarkBlue2: #ccd0db;
$primaryDarkBlue3: #99a0b7;
$primaryDarkBlue4: #677194;
$primaryDarkBlue5: #344170;
$primaryDarkBlue7: #000647;
$primaryNeutral4: #777e90;
$systemError3: #e00909;
$systemError2: #ffc2c2;
$systemInfo3: #1d90f5;
$systemSuccess4: #06d1a7;
// Headings
$fzXXXL: 64px;
$lhXXXL: 72px;
$fzXXL: 48px;
$lhXXL: 56px;
$fwXXL: 700;
$fzXL: 38px;
$lhXL: 48px;
$fzL: 32px;
$lhL: 36px;
$fzM: 24px;
$lhM: 28px;
$fzS: 18px;
$lhS: 24px;
$fzXS: 16px;
$lhXS: 22px;
$fzXXS: 14px;
$lhXXS: 20px;

// Paragraph
$pfL: 22px;
$plhL: 34px;
$pfS: 16px;
$plhS: 22px;
$bpMobile: 768px;
