@import "../../vars.scss";

#events {
  .sidebar-mobile {
    margin-bottom: 0;
    .item-menu img,
    .item-menu svg {
      width: 30px;
      @-moz-document url-prefix() {
        width: 20px;
      }
    }
  }
  .sidebar {
    background-color: $bg-dark-primary;
    .item-sidebar {
      height: auto;
      padding: 20px 0;
      width: 100%;
      height: 100px !important;
      @-moz-document url-prefix() {
        padding: 10px 0;
        height: 90px !important;
      }

      p {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        @-moz-document url-prefix() {
          margin-top: 5px;
          font-size: 11px;
        }
      }

      .item-menu {
        img {
          height: 30px;
          width: 30px;
          @-moz-document url-prefix() {
            height: 20px;
            width: 20px;
          }
        }
      }

      &.active {
        background: rgba(5, 240, 129, 0.2);

        .item-menu {
          opacity: 1;
        }
      }

      .item-menu {
        width: 100%;
        align-self: center;
        text-align: center;
        img,
        .partner-icon {
          height: 30px;
          width: 30px;
          @-moz-document url-prefix() {
            height: 27px;
            width: 40px;
          }
        }
        @-moz-document url-prefix() {
          transform: scale(0.9);
        }
      }
    }
  }
}
