@import "../../vars.scss";

#events {
  .sidebar {
    background-color: $bg-dark-primary;
    .item-sidebar {
      height: auto;
      padding: 20px 0;
      width: 100%;
      // width: 100%;
      // height: 118px;

      p {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
      }

      .item-menu {
        img {
          height: 30px;
          width: 30px;
        }
      }

      &.active {
        background: rgba(5, 240, 129, 0.2);

        .item-menu {
          opacity: 1;
        }
      }

      .item-menu {
        width: 100%;
        align-self: center;
        text-align: center;
      }
    }
  }
}
