.cat-tag-select {
  width: 100%;
  .ant-select {
    width: 100%;
  }
}
.cat-tag-dropdown {
  // max-width: 400px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 30px;
  & > li {
    &:not(:last-child) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #82adcf;
    }

    h4 {
      text-transform: uppercase;
      font-size: 14px;
      color: #a5b0c9;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 70px;
        height: 70px;
        border-radius: 4px;
        border: 2px solid #265d89;
        margin: 4px;
        font-size: 10px;
        font-weight: 550;
        display: flex;
        flex-direction: column;
        color: #265d89;
        cursor: pointer;
        .img-container {
          margin-top: 3px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
        }
        img {
          max-height: 38px;
          max-width: 44px;
        }
        .label-container {
          margin-top: auto;
          line-height: 9px;
          min-height: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-bottom: 3px;
        }
      }
    }
  }
}
