@import '../../../../styles/vars.scss';

.setupTeamView {
  :global {
    .title-section {
      h4 {
        margin-block-start: 0;
        margin-bottom: 13px;
      }
      h2 {
        margin-block-start: 0;
      }
    }
    h5 {
      font-family: var(--font-archia), sans-serif;
      font-weight: 700;
      line-height: 30px;
      color: $primaryDarkBlue;
    }
    .desc-section {
      width: 85%;
      margin-bottom: 40px;
      p {
        color: $primaryDarkBlue;
        font-size: $fzXS;
        line-height: $lhXS;
      }
    }
    .table-section {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 49px;
      .ant-table-tbody .ant-table-row td {
        .ant-btn.ant-btn-link {
          flex-direction: row-reverse;
          text-transform: capitalize;
          svg {
            padding-left: 8px;
          }
          &:hover {
            svg {
              path {
                transform: none !important;
              }
            }
          }
        }
      }
    }
    .add-member-section {
      width: 100%;
      max-width: 408px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 100px;
    }
  }
}
