{:duct.database.sql/hikaricp {:jdbc-url #duct/env ["DATABASE_TEST_URL" Str :or "jdbc:postgresql://db/gpml_test?user=unep&password=password"]
                              :idle-timeout 10000
                              :minimum-idle 0
                              :maximum-pool-size #gpml/eval (.availableProcessors (Runtime/getRuntime))} ;; matches the eftest :thread-count
 :duct.migrator/ragtime {:database #ig/ref :gpml.test/db
                         :strategy :raise-error}
 :gpml.test/db {:connection-uri #duct/env ["DATABASE_TEST_URL" Str :or "jdbc:postgresql://db/gpml_test?user=unep&password=password"]}

 :mocks.boundary.adapter.storage-client/local-file-system
 {:base-path #duct/env ["LOCAL_FS_STORAGE_BASE_PATH" Str]}

 :mocks.boundary.adapter.chat/ds-chat
 {}

 :mocks.boundary.adapter.translate/google
 {}

 :gpml/scheduler #ig/ref :gpml/noop-scheduler ;; Disabled until this thread leak is fixed https://github.com/akvo/unep-gpml/issues/1779
 :gpml/twarc-scheduler {:disabled true}
 :gpml/noop-scheduler {:logger #ig/ref :duct/logger}

 [:duct/const :gpml.config/common]
 {:chat-adapter           #ig/ref :mocks.boundary.adapter.chat/ds-chat
  :translate-adapter      #ig/ref :mocks.boundary.adapter.translate/google
  :storage-client-adapter #ig/ref :mocks.boundary.adapter.storage-client/local-file-system
  :storage-bucket-name #duct/env ["LOCAL_FS_STORAGE_BUCKET_NAME" Str]}}
