@import "../../../../vars.scss";

$bg-dark-primary: #005b70;
$bg-dark-secondary: #255b87;
$bg-green-primary: #10f9b7;

.workspace-button-wrapper {
  position: fixed;
  z-index: 10;
  bottom: 5px;
  right: -75px;
  width: 100%;
  display: block;

  .add-button {
    height: 65px;
    color: #fff;
    max-width: 65px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: calc(100% - 143px - 9px);
    bottom: 6px;
    padding: 18px;
    background-color: $bg-green-primary;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px #000000;
    overflow: hidden;
    .button-text {
      color: #255b87;
      padding-left: 33px;
      opacity: 0;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    svg {
      min-width: 25px;
      max-width: 25px;
      rect {
        stroke: currentColor;
      }
    }
  }

  &:hover {
    max-width: 305px;
    .add-button {
      padding: 18px 33px 18px 14px;
      transform: translateX(-170px);
      max-width: 305px;
      border: 3px solid #ffffff;
      box-sizing: border-box;
      border-radius: 90px;
      color: #255b87;
      .button-text {
        opacity: 1;
      }
    }
  }

  &:hover .button-text,
  & .button-text {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
