@import "../../vars.scss";

.upload-btn,
.view-cv {
  display: inline-block;
}

.view-cv {
  float: right;
}

.signup-modal {
  // Mobile screen
  @media only screen and (max-width: 767px) {
    width: 98% !important;
  }

  // Tablet screen
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 98% !important;
  }

  h2 {
    color: $blue02;
    font-size: 22px;
  }

  .org-check {
    margin-bottom: 15px;
  }

  .title-name-group {
    display: flex;

    .ant-select {
      width: 70px;
    }
  }

  .submitted {
    b {
      display: block;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  .consent-check {
    font-size: 13px;
  }
}

.signup-form {
  h2 {
    color: $blue02;
    font-size: 22px;
  }

  .section:first-child {
    .ant-form-item:nth-child(2) {
      width: 100px;
      float: left;
      margin-right: 15px;
    }
  }
}

.signupFormGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  :global {
    h2 {
      color: $blue02;
      font-size: 22px;
    }

    .section-grid {
      margin-bottom: 30px;
      width: 80%;
    }

    .section-grid:first-child {
      order: 1;

      .ant-form-item:nth-child(2) {
        width: 100px;
        float: left;
        margin-right: 15px;
      }
    }

    .section-grid:nth-child(2) {
      order: 2;
    }

    .section-grid:nth-child(3) {
      order: 3;
    }
    .public-email-container {
      margin-top: -18px;
      margin-bottom: 28px;
    }
  }
}
