@import "../../vars.scss";

#signup-view {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 145px);
  background: linear-gradient(
      0deg,
      rgba(45, 103, 150, 0.85),
      rgba(45, 103, 150, 0.85)
    ),
    url("../../images/landing-gpml-2.jpeg");
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;

  & > .ui.container > .ant-row {
    & > .ant-col:first-child {
      * {
        color: #fff;
      }

      h1 {
        font-size: 42px;
        font-weight: 700;
      }
      h1.joining-header {
        color: $green01;
      }

      h2 {
        font-style: normal;
        font-weight: 500;
        margin-bottom: 25px;
        margin-top: 30px;
      }

      h2,
      h3 {
        color: #fff;
      }

      ul {
        list-style: disc;
        font-size: 18px;
        line-height: 30px;
        margin-left: 20px;
        margin-top: -10px;
        margin-bottom: 30px;
      }
    }
  }
  .ant-avatar.ant-avatar-circle.ant-avatar-icon {
    background: #fff;
    color: $green02;
    border: 1px solid $green02;
    box-shadow: 0px 2px 2px rgba(56, 78, 133, 0.3);
  }
  .ant-card.green-overlay {
    padding-top: 1rem;
    background: rgba(3, 155, 120, 0.4);
    border: none;
    p {
      margin-top: 0.85rem;
      min-height: 9rem;
    }
  }

  button.ant-btn.ant-btn-ghost {
    color: #fff;
    border-color: #fff;
  }
  button.ant-btn.ant-btn-ghost.green {
    color: $green02;
    border-color: $green02;
    &:hover {
      color: #fff;
    }
  }

  .ant-card {
    border-radius: 6px;
    color: #046799;
    h2 {
      color: #fff;
    }
    h4 {
      color: #046799;
    }

    h2 {
      text-align: center;
    }

    .choices {
      .choices-item > * {
        height: 340px;
        padding: 20px;
        text-align: center;

        .caption {
          color: #01abf1;
          margin-top: auto;
          font-weight: bold;
          font-size: 20px;
        }

        small {
          color: #7f7f7f;
          margin-bottom: 20px;
        }
      }
    }

    .login {
      color: #fff;
      font-size: 12px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;

      div {
        color: #01abf1;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
