{:duct.profile/base
 {:duct.core/project-ns gpml

  :gpml.handler.main/handler {:routes [["/"
                                        {:get #ig/ref :gpml.handler.main/root}]
                                       ["/api"
                                        ["/swagger.json"
                                         {:get {:no-doc true
                                                :swagger {:info {:title "UNEP GPML"
                                                                 :description "Digital Platform API"
                                                                 :version "1.0.0"}}
                                                :handler #ig/ref :gpml.handler.main/swagger-handler}}]
                                        ["/country"
                                         {:get {:summary "List available countries"
                                                :swagger {:tags ["countries"]}
                                                :parameters {:query [:map [:id {:optional true} int?]]}
                                                :handler #ig/ref :gpml.handler.country/handler}}]

                                        ["/resource"
                                         [""
                                          {:get {:summary "List available resources"
                                                 :swagger {:tags ["resources"]}
                                                 :handler #ig/ref :gpml.handler.resource/handler}}]]]]}

  :duct.server.http/jetty {:handler #ig/ref :gpml.handler.main/handler}

  :gpml.handler.main/root {}
  :gpml.handler.main/swagger-handler {}
  :gpml.handler.country/handler {:db #ig/ref :duct.database.sql/hikaricp}
  :gpml.handler.resource/handler {:db #ig/ref :duct.database.sql/hikaricp}

  :duct.migrator/ragtime {:migrations #ig/ref :duct.migrator.ragtime/resources}
  :duct.migrator.ragtime/resources {:path "migrations"}
  :duct.database/sql {:connection-uri #duct/env "DATABASE_URL"}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/sql {}
 :duct.module/web {}
 }
