#stakeholder-detail {
  padding-bottom: 40px;
  min-height: calc(100vh - 145px);
  background: #edf2f7;
  background-size: cover;
  background-position-y: top;

  & > .ui.container > .ant-row {
    & > .ant-col:first-child {
      * {
        color: #fff;
      }
    }
  }

  .topbar-container {
    background-color: #007090;
    padding: 10px 0;
    .ui.container {
      color: #fff;
    }
    .topbar-wrapper {
      display: flex;
      align-items: center;
      .topbar-image-holder {
        background-image: url("../../images/stakeholder/individual-icn.svg");
        background-repeat: no-repeat;
        padding-left: 40px;
        background-position: top left;
        background-size: 30%;
        position: relative;
        .topbar-entity-image-holder {
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: -5px;
          right: 20px;
          img {
            width: 100%;
            height: 50px;
            border: none;
          }
        }
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid #fff;
        }
      }
      .topbar-title-holder {
        margin-left: 20px;
        img {
          width: 30px;
        }
        h1 {
          margin-bottom: 0px;
          color: #ffffff;
          font-size: 30px;
          line-height: 45px;
        }
        .role {
          font-weight: bold;
          color: #fff;
        }
        p {
          display: flex;
          align-items: flex-end;
          color: #ffb800;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .info-container {
    margin-top: 50px;
    .card-wrapper {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      .ant-card {
        padding: 10px 0px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        .ant-card-head {
          border: none;
          min-height: auto;
          padding: 0px 20px;
          .ant-card-head-title {
            padding-bottom: 0px;
            color: #09689a;
            font-size: 18px;
            font-weight: bold;
          }
        }
        .ant-card-body {
          padding: 24px 10px 0px 10px;
          p {
            font-size: 16px;
          }
          .list {
            margin-top: -20px;
            .ant-list-item {
              border-bottom: none;
              display: flex;
              padding-left: 10px;
              padding-right: 10px;
              &.location {
                span {
                  text-align: center;
                }
                img {
                  width: 50%;
                  margin: 0 auto;
                  display: block;
                }
              }
              .ant-list-item-meta {
                align-items: center;
                .ant-list-item-meta-content {
                  word-break: break-all;
                }
                .ant-avatar {
                  width: 55px;
                  height: 55px;
                  overflow: initial;
                  img {
                    object-fit: contain;
                    border-radius: 50%;
                  }
                }
                .ant-list-item-meta-avatar {
                  span {
                    width: 55px;
                    font-size: 35px;
                  }
                  svg {
                    color: #004b7f;
                  }
                }
                h4 {
                  margin-bottom: 0px;
                  a {
                    color: #34a6ff;
                  }
                }
              }
            }
          }
        }
      }
    }
    .description-container {
      background: #fff;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      .description-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 100%;
        & > .card-wrapper {
          .ant-card-head-title {
            padding-left: 10px;
          }
        }
        .card-wrapper {
          margin-bottom: 0px;
        }
        .ant-card-body {
          padding: 24px 10px 0px 10px;
        }
        .sticky-panel {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #255b87;
          margin: 2px;
          flex: 0 0 100px;
          border: 1px solid #d3dee7;
          box-sizing: border-box;
          border-radius: 0px 10px 10px 0px;
          padding: 10px 0px;
          .sticky-panel-item {
            border-bottom: 1px solid #094271;
            box-shadow: 0px 1px 0px #3872a0;
            width: 100%;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            a {
              text-align: center;
            }
            &:last-child {
              // border-bottom: none;
              // box-shadow: none;
            }
            span {
              font-size: 30px;
              color: #ffffff;
              overflow: initial;
            }
            h2 {
              font-size: 16px;
              font-weight: 400;
              color: #ffffff;
              margin-bottom: 0px;
            }
            .svg-icon {
              width: 40px;
              path {
                fill: #fff;
              }
            }
            .edit-icon {
              width: 50px;
              path {
                fill: #fff;
              }
            }
          }
        }
        p {
          padding: 0 20px;
        }
        .exta-info {
          margin-top: 40px;
          .ant-card-body {
            padding: 0px 10px;
          }
          .ant-list {
            padding: 0 10px;
            .ant-spin-container {
              margin-top: 10px;
            }
            .ant-list-item {
              border-bottom: none;
              background: #d3dee7;
              border-radius: 23px 5px 5px 23px;
              color: #255b87;
              display: inline-block;
              padding: 5px 20px 5px 30px;
              position: relative;
              margin: 0 10px 10px 0;
              text-decoration: none;
              &::before {
                background: #fff;
                border-radius: 10px;
                box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .card-wrapper {
            height: 100%;
            .ant-card-head-wrapper {
              .ant-card-head-title {
                padding-bottom: 0px;
                color: #09689a;
                font-size: 18px;
                font-weight: bold;
                span {
                  font-size: 10px;
                  font-weight: normal;
                  color: #1ca585;
                }
              }
            }
          }
          .litter-button {
            border: 1px solid #ffb800;
            box-sizing: border-box;
            border-radius: 10px;
            display: block;
            padding: 10px 0px;
            margin: 10px 12px;
            cursor: pointer;
            width: 250px;
            text-align: center;
            p {
              display: flex;
              align-items: center;
              color: #ffb800;
              padding: 0 10px;
              margin-bottom: 0px;
              justify-content: center;
              span {
                margin-right: 10px;
                line-height: 0px;
                img {
                  width: 25px;
                }
              }
            }
          }
          .knowledge-button {
            border: 1px solid #000;
            box-sizing: border-box;
            border-radius: 10px;
            display: block;
            padding: 10px 0px;
            margin: 10px 12px;
            cursor: pointer;
            width: 250px;
            text-align: center;
            p {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  .slider-card {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 100%;
    .image-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(211, 222, 231, 0.2);
      flex: 0 0 80px;
      box-sizing: border-box;
      padding: 20px 0px;
      justify-content: center;
      img {
        width: 30px;
      }
    }
    .description-holder {
      padding: 15px;
      width: 100%;
      h4 {
        color: #1ca585;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
      }
      h6 {
        font-size: 14px;
        color: #18162f;
        font-weight: normal;
        margin-bottom: 2px;
      }
      p {
        font-size: 14px;
        color: #374a59;
        margin-bottom: 0px;
        font-weight: normal;
      }
      .connection-wrapper {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .read-more {
          color: #34a6ff;
          cursor: pointer;
        }
      }
    }
  }
  .pagination-wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &.with-notes {
      justify-content: space-between;
      align-items: flex-start;
    }
    .ant-pagination-item-link,
    .ant-pagination-item,
    .ant-pagination-item-active {
      border-color: transparent;
      border-radius: 5px;
    }
    .ant-pagination-item-link {
      background: #fff;
      span.anticon {
        color: #255b87;
        font-size: 0.85rem;
      }
    }
    .ant-pagination-item {
      background: rgba(37, 91, 135, 0.1);
      a {
        color: #255b87;
      }
    }
    .ant-pagination-item-active {
      background: rgba(37, 91, 135, 0.8);
      a {
        color: #fff;
      }
    }
    .ant-pagination-item-ellipsis {
      color: #255b87;
    }
    .ant-pagination-options {
      .ant-select-selector {
        background: rgba(37, 91, 135, 0.1);
        border-color: transparent;
        border-radius: 5px;
        color: #255b87;
      }
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  #stakeholder-detail {
    .ui.container {
      zoom: 75%;
      width: 1560px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .topbar-container {
      .topbar-wrapper {
        .topbar-title-holder {
          h1 {
            font-size: 1.6rem;
          }
        }
        .topbar-image-holder {
          padding-left: 20px;
          img {
            width: 100px;
            height: 100px;
          }
          .topbar-entity-image-holder {
            width: 35px;
            height: 35px;
            right: 10px;
            img {
              height: 35px;
            }
          }
        }
      }
    }
    .info-container {
      margin-top: 40px;
      .card-wrapper {
        .ant-card {
          .ant-card-head-wrapper {
            .ant-card-head-title {
              span {
                font-size: 1rem !important;
              }
            }
          }
          .ant-card-head {
            .ant-card-head-title {
              font-size: 1.4rem;
            }
          }
          .ant-card-body {
            p {
              font-size: 1.4rem;
            }
            .list {
              .ant-list-item {
                .ant-list-item-meta {
                  h4 {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
      }
      .slider-card {
        .description-holder {
          h4 {
            font-size: 1.4rem;
          }
          h6 {
            font-size: 1.4rem;
          }
          .connection-wrapper .read-more {
            font-size: 1.4rem;
          }
        }
      }
      .exta-info {
        .ant-typography {
          font-size: 1.4rem;
        }
      }
    }
  }
}
