@import "../../vars.scss";

.aboutUs {
  position: relative;

  img {
    max-width: 100%;
  }
  a {
    color: $blue01 !important; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  hr {
    border: 1px solid rgba(37, 91, 135, 0.13);
  }

  .body-text {
    line-height: 2rem;
  }

  :global {
    .section-container {
      padding: 4rem 0;
      overflow: hidden;

      .doc-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        button,
        img {
          width: 100%;
        }

        button {
          max-width: 247px;
        }

        img {
          max-width: 200px;
          margin: 16px 0 16px 0;
          cursor: pointer;
        }
      }
    }
  }
  :global {
    // Section Issue
    .section-issue-container {
      background: url("../../images/section-issue.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      .section-issue-wrapper {
        display: flex;
        justify-content: space-between;
        .section-issue-text,
        .section-issue-graphic {
          margin: 0.7rem;
        }
        .section-issue-text {
          flex: 0 0 40%;
        }
        .section-issue-graphic {
          flex: 0 0 58%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .item {
            flex: 1 0 35%;
            margin: 0.7rem;
            .item-title {
              font-weight: 600;
            }
            .item-box {
              position: relative;
              border: 1px solid #fff;
              background-color: transparent;
              padding: 1rem;
              min-height: 18rem;
              .item-svg {
                position: absolute;
                bottom: 3.3rem;
                width: 78%;
                margin: 0 auto;
                text-align: center;
              }
              .item-description {
                position: absolute;
                bottom: 0.7rem;
                height: 2.8rem;
                padding: 0 0.2rem;
              }
            }
          }
        }
      }
    }
  }

  :global {
    // Section Summary
    .section-summary-container {
      .section-summary-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .item {
          width: 100%;
          max-width: 359px;
          flex: 0 0 23%;
          margin: 1rem 2rem;
          background-color: $yellow;
          border-radius: 0.75rem;
          padding: 1.5rem 2.5rem;
          .item-name,
          .item-increment {
            font-size: 1.2rem;
            color: $blue02;
          }
          .item-name {
            text-transform: uppercase;
            color: $blue02;
            @media (max-width: 540px) {
              font-size: 14px;
            }
          }
          .item-value {
            font-size: 3.8rem;
            font-weight: 900;
            color: $blue02;

            @media (max-width: 540px) {
              font-size: 47px;
            }
          }
        }
      }
    }
  }

  :global {
    // Section Mission
    .section-mission-container {
      background: linear-gradient(
          0deg,
          rgba(45, 103, 150, 0.8),
          rgba(45, 103, 150, 0.8)
        ),
        url("../../images/section-mission.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  :global {
    // Section Info
    .section-info-container {
      background: #4da687;
      .section-info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section-info-text,
        .section-info-button-wrapper {
          flex: 0 0 45%;
        }
        .section-info-button-wrapper {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          border-radius: 50px;
          padding: 1rem 2rem;
          .btn-item {
            flex: 1 0 40%;
            margin: 0.5rem 1rem;
            color: white !important;
            border-color: white !important;

            @media (max-width: 540px) {
              font-size: 12px;
            }
          }
          @media (min-width: 600px) {
            flex-wrap: nowrap;
          }
          @media (min-width: 750px) {
            flex-wrap: wrap;
          }
          @media (min-width: 1000px) {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }

  :global {
    // Section Timeline & Roadmap
    .section-timeline-roadmap-container {
      .section-timeline-roadmap-graphic {
        padding: 0;
        text-align: center;
        width: 100%;
        @media only screen and (max-width: 800px) {
          .ant-image-img {
            transform: scale(2);
            margin-top: 10rem;
          }
        }
        .ant-image {
          width: 100%;
        }
      }
    }
  }

  :global {
    // Section Key Feature & Components
    .section-feature-component-container {
      background: linear-gradient(
          0deg,
          rgba(9, 104, 154, 0.9),
          rgba(9, 104, 154, 0.9)
        ),
        url("../../images/our-community.png"), #ffffff;
      background-repeat: no-repeat;
      background-size: cover;
      .section-feature-component-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section-feature-component-text {
          flex: 0 0 38%;
        }
        .section-feature-component-graphic {
          flex: 0 0 60%;

          background: rgba(255, 255, 255, 0);
          padding: 0.1rem;
          p {
            font-weight: 600;
          }
        }
      }
    }
  }

  :global {
    // Section GPML Community
    .section-community-container {
      background: $green04;
      .section-community-graphic {
        text-align: center;
        @media only screen and (max-width: 800px) {
          .ant-image-img {
            transform: scale(2);
            margin-top: 10rem;
          }
        }
      }
    }
  }

  :global {
    // Section History
    .section-history-container {
      background: white;
      padding-bottom: 0;
      h2 {
        color: #005b71;
      }
      .section-history-graphic {
        background-color: #005b71 !important;
        width: 100%;
        text-align: center;
        @media only screen and (max-width: 800px) {
          .ant-image-img {
            transform: scale(1.5);
            margin-top: 3rem;
          }
        }
      }
      .section-history-wrapper {
        .section-history-img-wrapper {
          background-color: #006666 !important;
          display: block;
        }
      }
    }
  }
  :global {
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
      .section-issue-container {
        padding: 2rem 0;
        .section-issue-graphic {
          justify-content: center !important;
          img {
            width: 300px;
          }
        }
      }
      .section-container {
        padding: 1rem 0;
        .txt-emphasis {
          font-size: 1.2rem;
        }
      }
      .section-summary-container {
        .section-summary-wrapper {
          .item {
            padding: 0.5rem 1.5rem;
            .item-value {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
