@import '../../styles/vars.scss';

.blur {
  filter: blur(13px);
}

.popover-wrapper {
  text-align: center;
  h3,
  h4 {
    color: $primaryDarkBlue;
    font-size: 13px;
    font-weight: bold;
  }

  h3 {
    text-transform: uppercase;
    color: #000;
  }
}

.stakeholderOverview {
  padding: 0;
  position: relative;
  overflow: hidden;
  flex: 1;
  :global {
    .header-filter-option {
      .view-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 30px;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: white;
        max-width: 98px;
        background-color: unset;
        border: 1px solid white;
        min-height: 32px;
        cursor: pointer;
        transition: all 0.15s ease-out;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        .anticon {
          width: 35px;
          height: 35px;
          svg {
            width: 100%;
            height: 100%;
            path {
              stroke: white;
            }
          }
        }
        svg {
          path {
            stroke: white;
          }
        }
      }
    }

    .stakeholder-item {
      background-color: rgba(255, 255, 255, 0.3);
      &:hover {
        background-color: $primaryDarkBlue;
      }
    }

    #mainNavigation {
      @media (min-width: 750px) {
        display: block;
      }
    }
    .sidebar-mobile {
      margin-bottom: 0;

      @media (min-width: 750px) {
        display: none;
      }
    }

    .ant-btn-icon-only {
      width: 100%;
      max-width: 35px;
      max-height: 35px;
      min-width: 25px;
      min-height: 25px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span.ant-input-affix-wrapper.input-src {
      border-radius: 30px;
    }

    // Card
    .ant-card-body {
      padding: 0;
    }

    .images-wrapper {
      position: relative;
      height: max-content;
      max-height: max-content;
    }

    .affiliation-image-wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -5px;
      right: 20px;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      .affiliation-image {
        width: 100%;
      }
    }

    .all-profiles {
      padding-bottom: 34.66px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: white;

      .person-role {
        display: none;
      }
      .result-number {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        max-width: max-content;
        margin: auto;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
      }
      .loading {
        font-weight: normal;
        text-shadow: 0 0 0.25px #096dd9;
        font-size: 0.88rem;
        padding-top: 40px;
        text-align: center;
        padding-bottom: 0px;
      }
    }

    .card-container {
      padding: 16px 5px 34px 5px;

      #title {
        font-size: $fzXS;
        text-transform: uppercase;
        margin-bottom: 13px;
        text-align: center;
        line-height: $lhXS;
        font-weight: 700;
        color: $primaryPurple;
        letter-spacing: 3.2px;
        @media (max-width: 540px) {
          font-size: 18px;
        }
      }
      &.green {
        background-color: $primaryGrey;
      }

      .profile-card {
        min-height: 120px;
        margin: auto;

        .ant-card-body {
          display: flex;
          flex-direction: column;
          .profile-detail-list {
            li {
              margin-bottom: 0;
            }
          }
          min-height: 250px;

          .person-role {
            max-height: fit-content;
            margin-top: auto;
          }
        }
      }
    }

    .profile-card {
      width: 100%;
      height: fit-content;
      max-width: 345px;
      border-radius: 10px;
      min-height: 140px;
      overflow: hidden;
      .initials-avatar {
        width: 98px;
        height: 98px;
        font-size: 40px;
        background-color: #ddd;
        div {
          color: #222;
        }
      }

      // box-shadow: 0 0 120px #cfcfcf;
      border: none;

      &:before {
        width: 77%;
        height: 86%;
        bottom: 5px;
        -webkit-box-shadow: 0 0 120px #cfcfcf;
        box-shadow: 0 0 120px #cfcfcf;
        content: ' ';
        position: absolute;
        z-index: -1;
      }

      &:after {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 15px;
        content: ' ';
        position: absolute;
        z-index: -1;
      }

      .icons-list {
        display: flex;
        gap: 5px;
        align-items: center;
        li {
          color: #ffb800;
          margin-bottom: 0 !important;
          svg {
            height: 37px;
          }
        }
      }

      span {
        display: block;
      }

      .profile-details {
        padding: 16px 16px 11px 16px;
        flex-wrap: nowrap;
        min-height: 175px;

        img {
          width: 100%;
          max-height: 100%;
        }

        .image-wrapper {
          display: flex;
          align-items: center;
          overflow: hidden;
          border-radius: 50%;
          width: 100%;
          max-width: 9em;
          max-height: 9em;
          min-width: 9em;
          height: 9em;
          margin-right: 16.51px;
          text-align: center;
        }

        .organisation-image {
          overflow: hidden;
        }

        .profile-image {
          max-width: 150px;
          object-fit: cover;
          border-radius: 50%;
        }

        .profile-details-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .profile-detail-list {
            .list-item {
              margin-bottom: 11px;
              position: relative;
              .profile-name,
              .location,
              .entity-name {
                color: $primaryDarkBlue;
                font-weight: bold;
              }

              .profile-name,
              .entity-name {
                font-size: $fzXXS;
              }

              .job-title {
                font-size: 11px;
              }

              .location {
                font-size: 12px;
                display: flex;
                align-items: center;
                padding-left: 20px;

                &::before {
                  content: ' ';
                  display: block;
                  width: 13px;
                  height: 18px;
                  background-image: url('/stakeholder-overview/location-icon.svg');
                  position: absolute;
                  left: 0;
                }
              }

              .entity-name {
                color: $primaryDarkBlue;
              }

              .organisation-type {
                font-weight: bold;
                font-size: 12px;
                color: #18162f;
              }

              .badge {
                max-height: 37px;
                max-width: max-content;
              }
            }
          }

          .social-media-list {
            width: 100%;
            display: flex;

            margin-bottom: 0;
            .list-item {
              margin-right: 21.49px;
              .social-media-link {
                display: block;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-y: center;
                text-indent: -9999px;
              }
              .linkedin {
                background-image: url('/stakeholder-overview/linkedin-icon.svg');
              }
              .twitter {
                background-image: url('/stakeholder-overview/twitter-icon.svg');
              }
            }
          }
        }
      }

      .profile-icon-container {
        position: relative;
        max-width: 72px;
        padding: 6px 0 0 8.43px;

        img {
          position: absolute;
          max-width: 3.5em;
        }
      }

      .person-role {
        width: 100%;
        padding: 8px 10.5px 8px 10.5px;
        background: $primaryDarkBlue2;

        .seeking-text,
        .role-name {
          margin-bottom: 0;
          font-size: 12px;
          color: $primaryDarkBlue;
        }

        .role-name {
          font-weight: 600;
          font-size: 14px;
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          color: $primaryDarkBlue;

          li {
            margin-right: 10px;
            flex: 0 0 auto;
          }
        }
      }
    }
    .sidebar {
      background-color: $primaryGrey;
      .item-sidebar {
        width: 100%;
        height: 100px !important;

        p {
          margin-top: 10px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          color: #fff;
        }

        &.active {
          background: rgba(5, 240, 129, 0.2);

          .item-menu {
            opacity: 1;
          }
        }

        .item-menu {
          width: 100%;
          align-self: center;
          text-align: center;
        }
      }
    }

    // Pagination
    .page {
      text-align: center;
      margin: auto;
      padding-top: calc(38px - 5px);

      .result-number,
      .ant-pagination-item a {
        font-weight: bold;
        font-size: 12px;
      }

      .result-number {
        text-align: center;
        color: #000000;
        margin-top: 12px;
      }

      li {
        width: 36px;
        height: 36px;
        margin-right: 5px;
        border-radius: 8px;
        background-color: $primaryGrey;
        border: none;
        a {
          width: 100%;
          height: 100%;
          color: $primaryDarkBlue;
          line-height: 36px;
          font-size: $fzXS;
          font-weight: 500;
        }
      }

      .ant-pagination-item-ellipsis {
        color: $primaryPurple;
        font-weight: bold;
        margin-left: calc(10px - 2px);
        margin-right: 10px;
      }

      .ant-pagination-item-active {
        border: none;
        background-color: $primaryPurple;
        a {
          color: white;
        }
      }
      .ant-pagination-next {
        background-image: url('/knowledge-library/chevron-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px;

        svg {
          display: none;
        }
      }

      .ant-pagination-prev {
        display: none;
      }

      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        border: none;
        background-color: transparent;
      }
    }

    // Drawer
    .ant-row.body-wrapper {
      position: relative;
    }

    span.ant-input-affix-wrapper.input-src {
      border-radius: 30px;
    }

    .site-drawer-render-in-current-wrapper,
    .resource-main-container {
      height: 100%;
    }

    .site-drawer-render-in-current-wrapper {
      left: 0 !important;
      top: 100px !important;
      position: absolute;
      min-width: calc(100% - 100px);
      overflow: hidden;
      .ant-drawer {
        z-index: 99;
      }
      @media (max-width: 510px) {
        width: 100%;
      }

      @media (min-width: 750px) {
        top: 0 !important;
      }

      .for-entity svg {
        max-width: 30px;
      }

      .ant-tabs-nav-operations {
        position: unset;
        display: none;
      }
      .specificity-card .ant-row {
        background-color: rgba(211, 222, 231, 0.2);
        border-radius: 6px;
        padding: 9px;

        .ant-col {
          flex: unset;
          max-width: 100%;
        }
        .ant-card {
          height: 71px;
        }
        svg {
          width: 100%;
          display: block;
        }

        .specificity-title {
          width: 100%;
          font-size: $fzXXS;
          margin-bottom: 5px;
          font-family: var(--font-archia), sans-serif;
          font-weight: 500;
        }
        .drawer-card {
          height: 100px;
          width: 100%;
          max-width: 100px;
          background-color: inherit;
        }
      }

      .ant-drawer-mask {
        background-color: unset;
      }
      .ant-drawer-left {
        left: -5px !important;
      }
      .ant-drawer-open {
        left: unset !important;
      }

      .ant-drawer-content-wrapper {
        box-shadow: none;
        max-width: 500px;
        width: 100% !important;

        .ant-drawer-header {
          background: $primaryDarkBlue;

          .apply-button {
            width: auto;
            color: #ffffff;
            padding: 4px 11px 4px 11px;
            border: 2px solid #ffffff;
            border-radius: 17.5px;
            background-color: transparent;
            margin-right: 0;
            font-size: 14px;
            font-weight: bold;
            height: auto;

            @media (max-width: 540px) {
              font-size: 12px;
            }
            &:hover {
              background-color: $primaryPurple;
            }
          }
        }

        .ant-drawer-content {
          border-bottom-right-radius: 18px;
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);

          .country-filter-tab {
            // background: rgba(255, 255, 255, 0.05);
            // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            // border-radius: 5px;
            .ant-tabs-nav {
              margin-bottom: 0px;
            }
          }
        }

        .ant-drawer-title,
        .drawer-close-icon {
          color: #fff;
          font-weight: 400;
          font-size: 16px;

          @media (max-width: 540px) {
            font-size: 14px;
          }
        }
        .drawer-close-icon {
          border-radius: 50%;
          &:hover {
            background-color: $primaryPurple;
          }
        }
        .ant-space-item {
          margin-bottom: 0 !important;
          .filter-title {
            color: $primaryDarkBlue;
            font-size: $fzXXS;
            line-height: $lhXXS;
            font-weight: 500;
            margin-bottom: 5px;
            font-family: var(--font-archia), sans-serif;

            @media (max-width: 540px) {
              font-size: 16px;
            }
          }
        }

        .ant-drawer-close {
          top: -5px;

          span,
          svg {
            display: block;
            width: 23px;
            height: 23px;
          }
        }

        .network-card-filter {
          padding-top: 5px !important;
          padding-bottom: 5px !important;

          .ant-col {
            max-width: 100%;
          }
        }

        .resource-card-wrapper {
          width: 100%;
          height: 100px;
          max-width: 100px !important;
          margin-right: 15px;
          margin-bottom: 15px;
        }

        .selection-card-type {
          border: none;
          color: $primaryDarkBlue4 !important;
        }

        .selection-card-type,
        .clear-selection {
          display: block;
          line-height: 30px;
          font-size: 14px;
          font-weight: bold;
          background-color: unset;

          @media (max-width: 540px) {
            font-size: 12px;
          }
        }

        .clear-selection,
        .drawer-card {
          display: flex;
          justify-content: center;
        }

        .clear-selection {
          flex-direction: row-reverse;
          align-items: center;
          align-self: baseline;
          color: $primaryPurple;
          border: 1px solid $primaryPurple;
          border-radius: 20px;
          margin-bottom: 8px;
          cursor: pointer;
          &:hover {
            background-color: $primaryPurple;
          }
          .anticon-close {
            color: $primaryPurple;
            font-weight: bold;
            padding-right: 3px;
          }
        }

        .drawer-card {
          width: 100px;
          height: 100px;
          position: relative;
          color: $primaryDarkBlue;
          font-weight: bold;
          align-items: center;
          cursor: pointer;
          padding: 4px;
          text-align: center;
          border: 1px solid $primaryDarkBlue;
          border-radius: 4px;

          .ant-card-body {
            padding: 0;
            .ant-space {
              gap: 4px;
            }
          }

          .topic-text,
          .topic-count {
            font-size: 12px;
            text-transform: uppercase;
          }

          .topic-text {
            font-size: 12px;
            line-height: 14px;
          }

          .topic-count {
            font-weight: bold;
          }
          .ant-space-item:nth-of-type(3) {
            position: absolute;
            top: 5px;
            left: 5px;
          }
        }

        .drawer-card.active {
          color: $primaryPurple;
          border-color: $primaryPurple;
          font-weight: 600;
        }

        .drawer-button-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .clear-all-btn {
          width: 100%;
          height: unset;
          max-width: 292px;
          color: $primaryDarkBlue;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
          border-radius: 20.5px;
          border: 0;
          box-shadow: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: $primaryPurple;
          }
          .anticon-close-circle {
            font-size: 20px;
            line-height: 13px;
          }

          @media (max-width: 540px) {
            font-size: 14px;
          }
          span {
            display: block;
          }

          &.disabled:disabled {
            background-color: unset;
            box-shadow: unset;
            cursor: not-allowed;
          }
        }
      }
    }

    #stakeholder-loading {
      max-width: max-content;
      text-align: center;
      margin: auto;
      padding-bottom: calc(476px / 2);
      padding-top: calc(476px / 2);
    }

    .card-wrapper-link {
      width: 100%;
      min-width: 250px;
      margin: auto;
      box-shadow: 0px 20px 44px 0px rgba(101, 93, 122, 0.06),
        0px 40px 32px 0px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
    }

    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 34px;
      row-gap: 20px;
      max-width: fit-content;
      margin: auto;
    }

    .warning {
      padding: 48px 32px;

      text-align: center;

      svg {
        margin-bottom: 24px;
      }
    }

    @media (min-width: 540px) {
      .card-container {
        padding: 16px 30px 34px 30px;
      }
    }

    @media (min-width: 700px) {
      .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
      #title {
        text-align: left !important;
      }
    }

    @media (min-width: 1300px) {
      .profile-card {
        max-width: 100%;
        min-height: 155px;
      }
      .card-wrapper,
      #title {
        max-width: 1440px;
        margin: auto;
      }

      .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (min-width: 1400px) {
      .profile-card {
        max-width: 100%;
      }
      .card-wrapper,
      #title {
        max-width: 1440px;
        margin: auto;
      }

      #title {
        padding-left: 0;
      }

      .card-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    @media (max-width: 300px) {
      .all-profiles {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      .card-container.green {
        .ant-card-body {
          min-height: 215px;
        }
      }
      .all-profiles > .card-wrapper,
      .card-container.green .card-wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .all-profiles > .ui.container,
      .card-container.green .ui.container {
        width: 100% !important;
      }
    }

    @media (max-width: 541px) {
      .all-profiles > .ui.container,
      .card-container.green .ui.container {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @media (min-width: 542px) and (max-width: 800px) {
      .all-profiles > .ui.container,
      .card-container.green .ui.container {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }

    @media (min-width: 801px) and (max-width: 1050px) {
      .all-profiles > .ui.container,
      .card-container.green .ui.container {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }

    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
      .ant-btn-icon-only {
        min-width: 25px;
        min-height: 25px;
        height: 27px;
      }
      .sidebar {
        .item-sidebar {
          height: 100px !important;
          padding: 20px 0;

          p {
            margin-bottom: 0px;
            font-size: 1em;
          }
          .item-menu img {
            width: 30px;
          }
          &.active {
            border-left: 2px solid #07e982;
          }
        }
      }
      .card-wrapper {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 15px;
        margin-left: 1em !important;
        margin-right: 1em !important;
        max-width: fit-content;
        width: auto;
      }
      .ui-header {
        .ant-select-selector {
          padding: 2px 5px !important;
        }
        .search-box {
          .ant-input-affix-wrapper {
            button {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
      .card-container {
        padding: 0px 10px 15px 10px;
        #title {
          margin-left: 1em !important;
          font-size: 1.2em;
          margin-bottom: 0.4em;

          @media (max-width: 540px) {
            font-size: 0.8em;
          }
        }
        .profile-card {
          .ant-card-body {
            min-height: auto;
          }
          .person-role {
            padding: 4px 10.5px 4px 10.5px;
            .seeking-text {
              font-size: 12px;
            }
            .role-name {
              font-size: 9px;
            }
          }
        }
      }
      .profile-card {
        margin: auto;
        .profile-icon-container {
          img {
            max-width: 40px;
          }
        }
        .profile-details {
          min-height: auto;
          padding: 10px 16px 6px 16px;

          .profile-details-container {
            .profile-detail-list {
              .list-item {
                .profile-name {
                  font-size: 0.9em;
                }
              }
            }
          }
          .image-wrapper {
            min-width: 7em;
            height: 7em;
            max-width: 7em;
            max-height: 7em;
          }
        }
      }
      .all-profiles {
        padding-left: 10px;
        padding-right: 10px;
      }
      .ui-header .select-wrapper .view-selection .selection-value {
        .selection-arrow {
          width: 15px;
        }
        img {
          width: 25px;
        }
      }
      .ui-header .sort-btn svg {
        width: 27px;
        height: 27px;
      }
    }
    .country-filter-tab-wrapper {
      .ant-tabs {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        border-radius: 5px;
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            flex: 0 0 50%;
            margin-left: 0 !important;
            border: none;
            background: $primaryGrey;
            padding: 10px 16px;
            border-radius: 0px;
            &:first-child {
              border-radius: 5px 0px 0px 0px;
            }
            &:nth-child(2) {
              border-radius: 0px 5px 0px 0px;
            }
            &.ant-tabs-tab-active {
              background-color: #ffffff;
            }
            .ant-tabs-tab-btn {
              font-weight: 600;
              font-size: 16px;
              line-height: 14px;
              color: $primaryDarkBlue;
              font-family: var(--font-dm-sans), sans-serif;
            }
          }
        }
        .ant-tabs-nav {
          &::before {
            border: none;
          }
          padding-bottom: 10px;
          margin-bottom: 0px;
        }
        .ant-select {
          width: 100%;
        }
        .ant-tabs-content-holder {
          padding: 10px;
        }
        .ant-select-selector {
          background: $primaryGrey !important;
          border: 0 !important;
          border-radius: 5px !important;
          background-image: url('/search-icon.svg'),
            url('/chevron-down-grey.svg') !important;
          background-repeat: no-repeat !important;
          background-position: calc(10px) center, calc(100% - 10px) center !important;
        }
        .ant-select-selection-overflow {
          padding-left: 35px;
          padding-top: 4px;
          padding-bottom: 4px;

          .ant-select-selection-item {
            background-color: $primaryDarkBlue;
            border-radius: 4px;
            span {
              color: white;
            }
          }
        }
        .ant-select-selection-placeholder {
          font-weight: 600;
          padding-left: 30px;
          font-size: 16px;
          color: $primaryDarkBlue;
          font-family: var(--font-dm-sans), sans-serif;

          @media (max-width: 540px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
