@import "../../vars.scss";

.blur {
  filter: blur(13px);
}

.popover-wrapper {
  text-align: center;
  h3,
  h4 {
    color: $blue06;
    font-size: 13px;
    font-weight: bold;
  }

  h3 {
    text-transform: uppercase;
    color: #000;
  }
}

#stakeholder-overview {
  padding: 0;
  position: relative;
  overflow: hidden;

  #stakeholder-item {
    background-color: rgba(255, 255, 255, 0.3);
    &:hover {
      background-color: $yellow-highlight;
    }
  }

  #mainNavigation {
    @media (min-width: 750px) {
      display: block;
    }
  }
  .sidebar-mobile {
    margin-bottom: 0;
    .partner-icon {
      width: 30px;
      @-moz-document url-prefix() {
        width: 40px;
      }
    }
    @media (min-width: 750px) {
      display: none;
    }
  }

  .ant-btn-icon-only {
    width: 100%;
    max-width: 35px;
    max-height: 35px;
    min-width: 25px;
    min-height: 25px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span.ant-input-affix-wrapper.input-src {
    border-radius: 30px;
  }

  // Card
  .ant-card-body {
    padding: 0;
  }

  .images-wrapper {
    position: relative;
    height: max-content;
    max-height: max-content;
  }

  .affiliation-image-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -5px;
    right: 5px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    .affiliation-image {
      width: 100%;
    }
  }

  .all-profiles {
    padding-bottom: 34.66px;
    padding-left: 30px;
    padding-right: 30px;
    @-moz-document url-prefix() {
      padding-bottom: 24.66px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .person-role {
      display: none;
    }
    .result-number {
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      max-width: max-content;
      margin: auto;
      font-size: 12px;
      text-align: center;
      @-moz-document url-prefix() {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        font-size: 9px;
      }
    }
    .loading {
      font-weight: normal;
      text-shadow: 0 0 0.25px #096dd9;
      font-size: 0.88rem;
      padding-top: 40px;
      text-align: center;
      padding-bottom: 0px;
    }
  }

  .card-container {
    padding: 16px 5px 34px 5px;
    @-moz-document url-prefix() {
      padding: 8px 5px 24px 5px;
    }
    #title {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 13px;
      text-align: center;
      line-height: 30px;
      @-moz-document url-prefix() {
        font-size: 20px;
      }
      @media (max-width: 540px) {
        font-size: 18px;
      }
    }
    &.green {
      background-color: #45bea5;
    }

    .profile-card {
      min-height: 120px;
      margin: auto;
      @-moz-document url-prefix() {
        min-height: 110px;
      }
      .ant-card-body {
        display: flex;
        flex-direction: column;
        .profile-detail-list {
          li {
            margin-bottom: 0;
          }
        }
        min-height: 250px;
        @-moz-document url-prefix() {
          min-height: 240px;
        }
        .person-role {
          max-height: fit-content;
          margin-top: auto;
        }
      }
    }
  }

  .profile-card {
    width: 100%;
    height: fit-content;
    max-width: 345px;
    border-radius: 10px;
    min-height: 140px;
    @-moz-document url-prefix() {
      min-height: 120px;
    }

    .icons-list {
      display: flex;
      gap: 5px;
      align-items: center;
      li {
        color: #ffb800;
        margin-bottom: 0 !important;
        svg {
          height: 37px;
        }
      }
    }

    span {
      display: block;
    }

    .profile-details {
      padding: 16px 16px 11px 16px;
      flex-wrap: nowrap;
      min-height: 175px;
      @-moz-document url-prefix() {
        padding: 8px 8px 5.5px 8px;
        min-height: 165px;
      }
      img {
        width: 100%;
      }

      .image-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 50%;
        width: 100%;
        max-width: 9em;
        max-height: 9em;
        min-width: 9em;
        height: 9em;
        margin-right: 16.51px;
        text-align: center;
        @-moz-document url-prefix() {
          max-width: 8.6em;
          max-height: 8.6em;
          height: 8.6em;
          margin-right: 9px;
        }
      }

      .organisation-image {
        overflow: hidden;
      }

      .profile-image {
        max-width: 150px;
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
      }

      .profile-details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .profile-detail-list {
          .list-item {
            margin-bottom: 11px;
            position: relative;
            .profile-name,
            .location,
            .entity-name {
              color: $blue06;
              font-weight: bold;
            }

            .profile-name,
            .entity-name {
              font-size: 0.9em;
            }

            .job-title {
              font-size: 11px;
            }

            .location {
              font-size: 12px;
              display: flex;
              align-items: center;
              padding-left: 20px;
              @-moz-document url-prefix() {
                font-size: 9px;
              }
              &::before {
                content: " ";
                display: block;
                width: 13px;
                height: 18px;
                background-image: url("../../images/stakeholder-overview/location-icon.svg");
                position: absolute;
                left: 0;
              }
            }

            .entity-name {
              color: $blue06;
            }

            .organisation-type {
              font-weight: bold;
              font-size: 12px;
              color: #18162f;
              @-moz-document url-prefix() {
                font-size: 9px;
              }
            }

            .badge {
              max-height: 37px;
              max-width: max-content;
            }
          }
        }

        .social-media-list {
          width: 100%;
          display: flex;

          margin-bottom: 0;
          .list-item {
            margin-right: 21.49px;
            .social-media-link {
              display: block;
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position-y: center;
              text-indent: -9999px;
            }
            .linkedin {
              background-image: url("../../images/stakeholder-overview/linkedin-icon.svg");
            }
            .twitter {
              background-image: url("../../images/stakeholder-overview/twitter-icon.svg");
            }
          }
        }
      }
    }

    .profile-icon-container {
      position: relative;
      max-width: 72px;
      padding: 6px 0 0 8.43px;
      @-moz-document url-prefix() {
        padding: 3px 0 0 4.22px;
      }
      img {
        position: absolute;
        max-width: 3.5em;
        @-moz-document url-prefix() {
          max-width: 3.1em;
        }
      }
    }

    .person-role {
      width: calc(100% - 6px);
      padding: 8px 10.5px 8px 10.5px;
      background: rgba(37, 91, 135, 0.24);
      border-radius: 0px 0px 12px 12px;
      margin: 0 6px 3px 2px;
      @-moz-document url-prefix() {
        padding: 4px 5.5px 4px 5.5px;
      }

      .seeking-text,
      .role-name {
        margin-bottom: 0;
        color: #18162f;
        font-size: 10px;
        @-moz-document url-prefix() {
          font-size: 8px;
        }
      }

      .role-name {
        font-weight: bold;
        @-moz-document url-prefix() {
          font-weight: bold;
        }
      }
    }
  }
  .sidebar {
    background-color: $bg-dark-primary;
    .item-sidebar {
      width: 100%;
      height: 100px !important;
      @-moz-document url-prefix() {
        height: 90px !important;
      }

      p {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        @-moz-document url-prefix() {
          margin-top: 5px;
          font-size: 11px;
        }
      }

      .item-menu {
        img,
        .partner-icon {
          height: 30px;
          width: 30px;
          @-moz-document url-prefix() {
            height: 27px;
            width: 27px;
          }
        }
      }

      &.active {
        background: rgba(5, 240, 129, 0.2);

        .item-menu {
          opacity: 1;
        }
      }

      .item-menu {
        width: 100%;
        align-self: center;
        text-align: center;
        svg {
          @-moz-document url-prefix() {
            transform: scale(1.3);
          }
        }
      }
    }
  }

  // Pagination
  .page {
    text-align: center;
    margin: auto;
    padding-top: calc(38px - 21.47px);
    @-moz-document url-prefix() {
      padding-top: calc(28px - 21.47px);
    }
    .result-number,
    .ant-pagination-item a {
      font-weight: bold;
      font-size: 12px;
      @-moz-document url-prefix() {
        font-size: 9px;
      }
    }

    .result-number {
      text-align: center;
      color: #000000;
      margin-top: 12px;
      @-moz-document url-prefix() {
        margin-top: 6px;
      }
    }

    .ant-pagination-item {
      width: 34px;
      height: 34px;
      margin-right: 2px;
      border-radius: 5px;
      @-moz-document url-prefix() {
        width: 29px;
        height: 29px;
      }
      a {
        width: 100%;
        height: 100%;
        font-weight: 400;
        color: #ffffff;
        line-height: 31px;
        border-radius: 5px;
        background-color: $blue06;
        &:hover {
          background-color: $yellow-highlight;
          border-color: $yellow-highlight;
        }
        @-moz-document url-prefix() {
          line-height: 26px;
        }
      }
    }

    .ant-pagination-item-ellipsis {
      color: $blue06;
      font-weight: bold;
      margin-left: calc(10px - 2px);
      margin-right: 10px;
      @-moz-document url-prefix() {
        margin-left: calc(5px - 2px);
        margin-right: 5px;
      }
    }

    .ant-pagination-item-active {
      border: none;
      a {
        background-color: rgba(37, 91, 135, 0.1);
        color: $blue06;
        &:hover {
          background-color: rgba(37, 91, 135, 0.1);
        }
      }
    }
    .ant-pagination-next {
      background-image: url("../../images/knowledge-library/chevron-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px;
      @-moz-document url-prefix() {
        background-size: 6px;
      }
      svg {
        display: none;
      }
    }

    .ant-pagination-prev {
      display: none;
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }

  // Drawer
  .ant-row.body-wrapper {
    position: relative;
  }

  span.ant-input-affix-wrapper.input-src {
    border-radius: 30px;
  }

  .site-drawer-render-in-current-wrapper,
  .resource-main-container {
    height: 100%;
  }

  .site-drawer-render-in-current-wrapper {
    left: 0 !important;
    top: 100px !important;
    position: absolute;
    min-width: calc(100% - 100px);
    overflow: hidden;

    @media (max-width: 510px) {
      width: 100%;
    }

    @-moz-document url-prefix() {
      @media (max-width: 749px) {
        top: 90px !important;
        left: 0px !important;
      }
    }

    @media (min-width: 750px) {
      top: 0 !important;
      left: 100px !important;
      @-moz-document url-prefix() {
        & {
          top: 0 !important;
          left: 90px !important;
        }
      }
    }

    .for-entity svg {
      max-width: 30px;
      @-moz-document url-prefix() {
        max-width: 25px;
      }
    }

    .ant-tabs-nav-operations {
      position: unset;
      display: none;
    }
    .specificity-card .ant-row {
      background-color: rgba(211, 222, 231, 0.2);
      border-radius: 6px;
      padding: 9px;
      @-moz-document url-prefix() {
        padding: 4.5px;
      }

      .ant-col {
        flex: unset;
        max-width: 100%;
      }
      .ant-card {
        height: 71px;
        @-moz-document url-prefix() {
          height: 61px;
        }
      }
      svg {
        width: 100%;
        display: block;
      }

      .specificity-title {
        width: 100%;
        font-size: 8px;
        margin-bottom: calc(8px - 5px);
        text-transform: uppercase;
        @-moz-document url-prefix() {
          font-size: 6px;
        }
      }
      .drawer-card {
        height: 100px;
        width: 100%;
        max-width: 100px;
        background-color: inherit;
        @-moz-document url-prefix() {
          max-width: 73px;
          height: 73px;
        }
      }
    }

    .ant-drawer-mask {
      background-color: unset;
    }
    .ant-drawer-left {
      left: -5px !important;
    }
    .ant-drawer-open {
      left: unset !important;
    }

    .ant-drawer-content-wrapper {
      box-shadow: none;
      max-width: 500px;
      width: 100% !important;
      @-moz-document url-prefix() {
        max-width: 360px;
      }

      .ant-drawer-header {
        background: $blue05;
        @-moz-document url-prefix() {
          padding: 8px 14px;
        }
        .apply-button {
          width: auto;
          color: #ffffff;
          padding: 4px 11px 4px 11px;
          border: 2px solid #ffffff;
          border-radius: 17.5px;
          background-color: transparent;
          margin-right: 0;
          font-size: 14px;
          font-weight: bold;
          height: auto;
          @-moz-document url-prefix() {
            font-size: 10px;
            padding: 2px 5.5px 2px 5.5px;
            border: 1px solid #ffffff;
            line-height: 14px;
          }
          @media (max-width: 540px) {
            font-size: 12px;
          }
          &:hover {
            background-color: $yellow-highlight;
          }
        }
      }

      .ant-drawer-body {
        @-moz-document url-prefix() {
          padding: 14px;
        }
      }

      .ant-drawer-content {
        border-bottom-right-radius: 18px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
      }

      .ant-drawer-title,
      .drawer-close-icon {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        @-moz-document url-prefix() {
          font-size: 14px !important;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
      }
      .drawer-close-icon {
        border-radius: 50%;
        &:hover {
          background-color: $yellow-highlight;
        }
      }
      .ant-space-item {
        margin-bottom: 0 !important;
      }

      .ant-drawer-close {
        top: -5px;
        @-moz-document url-prefix() {
          top: -11px;
        }
        span,
        svg {
          display: block;
          width: 23px;
          height: 23px;
          width: 100%;
          @-moz-document url-prefix() {
            width: 15px;
            height: 15px;
          }
        }
      }

      .network-card-filter {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        @-moz-document url-prefix() {
          padding-top: 2.5px !important;
          padding-bottom: 2.5px !important;
        }
        .ant-col {
          max-width: 100%;
        }
      }

      .resource-card-wrapper {
        width: 100%;
        height: 100px;
        max-width: 100px !important;
        margin-right: 15px;
        margin-bottom: 15px;
        @-moz-document url-prefix() {
          height: 73px;
          max-width: 73px !important;
          margin-right: 7.5px;
          margin-bottom: 7.5px;
          svg {
            width: 26px !important;
          }
        }
      }

      .selection-card-type {
        border: none;
        color: $blue06;
      }

      .selection-card-type,
      .clear-selection {
        display: block;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: unset;
        @-moz-document url-prefix() {
          font-size: 12px;
          line-height: 25px;
        }
        @media (max-width: 540px) {
          font-size: 12px;
        }
      }

      .clear-selection,
      .drawer-card {
        display: flex;
        justify-content: center;
      }

      .clear-selection {
        flex-direction: row-reverse;
        align-items: center;
        align-self: baseline;
        color: $blue04;
        border: 1px solid $blue04;
        border-radius: 20px;
        margin-bottom: 8px;
        cursor: pointer;
        &:hover {
          background-color: $yellow-highlight;
        }
        .anticon-close {
          color: $blue04;
          font-weight: bold;
          padding-right: 3px;
        }
      }

      .drawer-card {
        width: 100px;
        height: 100px;
        position: relative;
        color: $grey03;
        font-weight: bold;
        align-items: center;
        cursor: pointer;
        padding: 4px;
        text-align: center;
        border: 1px solid $grey03;
        border-radius: 4px;
        @-moz-document url-prefix() {
          width: 73px !important;
          height: 73px !important;
          padding: 2px !important;
        }
        .ant-card-body {
          padding: 0;
          .ant-space {
            gap: 4px;
          }
        }

        .topic-text,
        .topic-count {
          font-size: 12px;
          text-transform: uppercase;
          @-moz-document url-prefix() {
            font-size: 9px;
          }
        }

        .topic-text {
          font-size: 12px;
          line-height: 14px;
          @-moz-document url-prefix() {
            font-size: 9px;
          }
        }

        .topic-count {
          font-weight: bold;
        }
        .ant-space-item:nth-of-type(3) {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      .drawer-card.active {
        color: $blue06;
        border-color: $blue06;
        font-weight: 600;
      }

      .drawer-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .clear-all-btn {
        width: 100%;
        height: unset;
        max-width: 292px;
        color: #34a6ff;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 20.5px;
        border: 0;
        box-shadow: unset;
        @-moz-document url-prefix() {
          max-width: 282px !important;
          font-size: 12px !important;
          margin-bottom: 5px !important;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
        span {
          display: block;
        }

        &:hover {
          box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
        }

        &.disabled:disabled {
          background-color: unset;
          box-shadow: unset;
          cursor: not-allowed;
        }
      }
    }
  }

  @media (max-width: 510px) {
    .ant-drawer-content-wrapper {
      @-moz-document url-prefix() {
        width: 100% !important;
        max-width: 100% !important;
        transform: unset !important;
      }
    }
  }

  #stakeholder-loading {
    max-width: max-content;
    text-align: center;
    margin: auto;
    padding-bottom: calc(476px / 2);
    padding-top: calc(476px / 2);
  }

  .card-wrapper-link {
    width: 100%;
    min-width: 250px;
    margin: auto;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 34px;
    row-gap: 10px;
    max-width: fit-content;
    margin: auto;
  }

  .warning {
    padding: 48px 32px;

    text-align: center;

    svg {
      margin-bottom: 24px;
    }
  }

  @media (min-width: 540px) {
    .card-container {
      padding: 16px 30px 34px 30px;
    }
  }

  @media (min-width: 700px) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    #title {
      text-align: left !important;
    }
  }

  @media (min-width: 1300px) {
    .profile-card {
      max-width: 100%;
      min-height: 140px;
      @-moz-document url-prefix() {
        min-height: 120px;
      }
    }
    .card-wrapper,
    #title {
      max-width: 1440px;
      margin: auto;
    }

    .card-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1400px) {
    .profile-card {
      max-width: 100%;
    }
    .card-wrapper,
    #title {
      max-width: 1440px;
      margin: auto;
    }

    #title {
      padding-left: 0;
    }

    .card-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 300px) {
    .all-profiles {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .card-container.green {
      .ant-card-body {
        min-height: 215px;
      }
    }
    .all-profiles > .card-wrapper,
    .card-container.green .card-wrapper {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .all-profiles > .ui.container,
    .card-container.green .ui.container {
      width: 100% !important;
    }
  }

  @media (max-width: 541px) {
    .all-profiles > .ui.container,
    .card-container.green .ui.container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (min-width: 542px) and (max-width: 800px) {
    .all-profiles > .ui.container,
    .card-container.green .ui.container {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (min-width: 801px) and (max-width: 1050px) {
    .all-profiles > .ui.container,
    .card-container.green .ui.container {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }

  @media (min-width: 810px) and (max-width: 1010px) {
    @-moz-document url-prefix() {
      .all-profiles > .ui.container,
      .card-container.green .ui.container {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }

  @media (min-width: 1700px) {
    #title {
      padding-left: 12px;
      @-moz-document url-prefix() {
        padding-left: 6 !important;
      }
    }
  }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .ant-btn-icon-only {
      min-width: 25px;
      min-height: 25px;
      height: 27px;
    }
    .sidebar {
      .item-sidebar {
        height: 100px !important;
        padding: 20px 0;
        @-moz-document url-prefix() {
          height: 90px !important;
        }
        p {
          margin-bottom: 0px;
          font-size: 1em;
          @-moz-document url-prefix() {
            font-size: 10px;
          }
        }
        .item-menu img {
          width: 30px;
          @-moz-document url-prefix() {
            width: 20px;
          }
        }
        &.active {
          border-left: 2px solid #07e982;
          @-moz-document url-prefix() {
            border-left: 1px solid #07e982;
          }
        }
      }
    }
    .card-wrapper {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      margin-left: 1em !important;
      margin-right: 1em !important;
      max-width: fit-content;
      width: auto;
      @-moz-document url-prefix() {
        margin-left: 0.6em !important;
        margin-right: 0.6em !important;
        column-gap: 7.5px;
      }
    }
    .ui-header {
      .ant-select-selector {
        padding: 2px 5px !important;
      }
      .search-box {
        .ant-input-affix-wrapper {
          button {
            width: 25px;
            height: 25px;
            @-moz-document url-prefix() {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
    .card-container {
      padding: 0px 10px 15px 10px;
      #title {
        margin-left: 1em !important;
        font-size: 1.2em;
        margin-bottom: 0.4em;
        @-moz-document url-prefix() {
          margin-left: 0.6em !important;
          font-size: 0.8em;
          margin-bottom: 0.2em;
        }
        @media (max-width: 540px) {
          font-size: 0.8em;
        }
      }
      .profile-card {
        .ant-card-body {
          min-height: auto;
        }
        .person-role {
          padding: 4px 10.5px 4px 10.5px;
          .seeking-text {
            font-size: 12px;
            @-moz-document url-prefix() {
              font-size: 9px;
            }
          }
          .role-name {
            font-size: 12px;
            @-moz-document url-prefix() {
              font-size: 9px;
            }
          }
        }
      }
    }
    .profile-card {
      margin: auto;
      .profile-icon-container {
        img {
          max-width: 40px;
          @-moz-document url-prefix() {
            max-width: 30px;
          }
        }
      }
      .profile-details {
        min-height: auto;
        padding: 10px 16px 6px 16px;
        @-moz-document url-prefix() {
          padding: 5px 8px 3px 8px;
        }
        .profile-details-container {
          .profile-detail-list {
            .list-item {
              .profile-name {
                font-size: 0.9em;
              }
            }
          }
        }
        .image-wrapper {
          min-width: 7em;
          height: 7em;
          max-width: 7em;
          max-height: 7em;
        }
      }
    }
    .all-profiles {
      padding-left: 10px;
      padding-right: 10px;
      @-moz-document url-prefix() {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .ui-header .select-wrapper .view-selection .selection-value {
      .selection-arrow {
        width: 15px;
      }
      img {
        width: 25px;
      }
    }
    .ui-header .sort-btn svg {
      width: 27px;
      height: 27px;
    }
    .ant-drawer-content-wrapper {
      zoom: 80%;
    }
  }
}
