.unathenticated-modal {
  .ant-modal-content {
    background: rgb(255 255 255 / 80%);
    box-shadow: 2px 2px 0px rgb(109 181 176 / 30%);
    border-radius: 10px;
    padding: 80px;
    text-align: center;
  }
  .ant-modal-body {
    padding: 0;
    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: #000000;
    }
  }
  .ant-modal-footer {
    border: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    button {
      border: 2px solid #18162f;
      border-radius: 20.5px;
      background: transparent;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #18162f;
      padding: 5px 30px;
      height: auto;
      &:hover {
        background-color: #18162f;
        color: #fff;
      }
    }
  }
}
