.unathenticated-page {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  padding: 20px 35px;
  position: absolute;
  z-index: 999;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 15px;
    color: #09689a;
    margin-bottom: 15px;
  }
  a {
    word-break: break-all;
    color: #00585f;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .image {
    width: 20px;
    height: 20px;
  }
  .login-button {
    display: block;
    max-width: max-content;
    padding: 7px;
    background-color: #00585f;
    span {
      color: #ffff;
    }
  }
  @media (min-width: 375px) {
    .unathenticated-page {
      padding: 32px 70px;
    }
  }
}
