@import '../../styles/vars.scss';

.unsubscribeChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  padding: 60px 0;
  background-color: $primaryGrey;
  h6.semibold {
    color: $primaryDarkBlue;
  }
  h6.semibold {
    margin-bottom: 7px;
  }
}
