@import "../../vars.scss";

$green-primary: #4dffa5;

#case-study {
  .ui-header {
    @-moz-document url-prefix() {
      padding: 4px calc(44px - 14px) 4px 37px;
      .ant-select-selector {
        height: 36px;
      }
      .ant-select-selection-item {
        font-size: 14px;
        line-height: 34px;
      }
      .ant-select-arrow {
        top: 9px !important;
        right: 22px !important;
      }
    }
  }
  .ant-btn-link {
    &.green-border {
      border: 2px solid $green-primary;
      color: $green-primary !important;
      width: 154px;
      height: 41px;
      line-height: 36px;
      @-moz-document url-prefix() {
        width: 139px;
        height: 37px;
        line-height: 32px;
        border: 1px solid $green-primary;
        span {
          font-size: 13px;
        }
        @media (max-width: 768px) {
          width: 119px !important;
          height: 29px !important;
          line-height: 30px !important;
        }
      }
      @media (max-width: 768px) {
        width: 135px !important;
        height: 33px !important;
        line-height: 30px !important;
      }
    }
  }
  .case-study-learn-btn:hover {
    background-color: $yellow-highlight;
    border-color: $yellow-highlight !important;
    color: #fff !important;
  }

  .case-study-dropdown:hover {
    .case-study-dropdown-icon .dropdown-circle {
      fill: $yellow-highlight !important;
    }
  }
  .case-study-desktop-dropdown {
    display: flex;
  }

  .toggle-dropdown,
  .case-study-mobile-dropdown {
    display: none;
  }

  .header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
    width: 100%;

    .ant-col-md-24 {
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }

    .ant-col-md-24:last-of-type {
      padding: 0;
    }
  }

  @media (max-width: 540px) {
    .green-border {
      span {
        font-size: 12px;
      }
    }
    .ui-header {
      padding: 5px 25px 5px 25px !important;
      .header-form {
        .ant-col-md-24 {
          flex: unset !important;
          max-width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .btn-download {
          margin-left: 0 !important;
          span {
            font-size: 12px;
          }
        }
        .ant-col-md-24:last-of-type {
          padding: 0;
        }
      }
      .ui-container > .ant-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;
      }

      .case-study-learn-btn {
        display: none;
      }
    }
  }

  @media (max-width: 659px) {
    .carousel-control {
      .carousel-prev,
      .carousel-next {
        top: 405px !important;
      }
    }

    @media (max-width: 630px) {
      .case-studies-page > .ant-col:nth-of-type(1) {
        height: 690px !important;
      }
    }
    @media (min-width: 631px) and (max-width: 659px) {
      .case-studies-page > .ant-col:nth-of-type(1) {
        height: unset !important;
      }
    }
  }

  @media (max-width: 768px) {
    .ui-header {
      .case-study-desktop-dropdown {
        display: none;
      }
      .case-study-mobile-dropdown {
        display: block;
      }

      .toggle-dropdown {
        display: contents;
        border-radius: 50%;
        background-color: #05f081;
        width: 100%;
        max-width: 28px;
        border-color: #05f081;
        & .dropdown-circle {
          fill: #05f081;
        }
        &:hover .dropdown-circle {
          fill: $yellow-highlight !important;
        }
      }
      .case-study-learn-btn {
        line-height: 30px;
      }
      a {
        height: 33px !important;
        .btn-download {
          width: 100%;
          max-width: 160px;
          height: 33px !important;
          @-moz-document url-prefix() {
            max-width: 144pxs;
            height: 30px !important;
          }
        }
      }
    }
    .sidebar-mobile {
      margin-bottom: 0 !important;
    }
    .case-studies-page {
      .ant-col:nth-of-type(1),
      .ant-col:nth-of-type(2) {
        border-bottom: unset !important;
        border-top: unset !important;
        border-left: unset !important;
        border-right: unset !important;
      }
    }
  }

  @media (min-width: 511px) and (max-width: 976px) {
    #siteWrapper {
      min-height: unset !important;
    }
    .carousel-control {
      .carousel-prev,
      .carousel-next {
        top: 29% !important;
      }
    }
    @media (min-width: 645px) and (max-width: 976px) {
      .carousel-control {
        .carousel-prev,
        .carousel-next {
          top: 45% !important;
        }
      }
      .case-studies-page {
        .ant-col-sm-24 {
          flex: 0 0 50% !important;
          .content-text {
            .ant-col {
              flex: 0 0 100% !important;
            }
          }
        }
      }
    }
  }

  .ant-select {
    width: 100%;
    .ant-select-selector {
      background: #fff;
      box-shadow: 0px 10px 10px rgba(46, 213, 115, 0.15);
      border-radius: 30px !important;
    }
  }
  .ant-select-arrow {
    top: 11px !important;
    right: 24px !important;
  }
  @media (max-width: 768px) {
    .ant-select-arrow {
      top: 7px !important;
      right: 20px !important;
    }
    .ant-select-selection-item {
      line-height: 30px;
    }
    .ant-select-selector {
      height: 32px !important;
    }
    .case-study-mobile-dropdown,
    .case-study-desktop-dropdown + .ant-col-md-24 {
      flex: 0 0 50% !important;
      max-width: 50% !important;
      display: flex;
      align-items: center;
    }
  }
  .ant-btn {
    &.btn-download {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      border-color: transparent !important;
      color: #fff;
      width: 190px;
      height: 50px;

      @-moz-document url-prefix() {
        max-width: 172px;
        height: 46px !important;
        font-size: 13px;
      }
      &:hover {
        border-color: $yellow-highlight !important;
        background-color: $yellow-highlight;
      }
    }
  }
  .case-studies-page {
    height: 800px;
    h1.ant-typography,
    h2.ant-typography {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 62px;
      text-transform: capitalize;
      color: #fff !important;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

      @media (max-width: 540px) {
        font-size: 32px !important;
        line-height: 38px !important;
      }
      @media (min-width: 541px) and (max-width: 768px) {
        font-size: 36px !important;
      }
    }
    .title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: $green-primary;
      @media (max-width: 540px) {
        font-size: 16px !important;
      }
    }
    .p-4 {
      padding: 4%;
      padding-top: 56px;
    }
    .content-text {
      .ant-typography {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        text-align: justify;
        color: #fff !important;
        font-size: 14px !important;
        line-height: 18px !important;
        @media (max-width: 540px) {
          font-size: 12px !important;
        }
      }
    }
    /**
    * Tag component
    **/
    .tags {
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }
    .tags li {
      float: left;
    }
    .tag-item {
      background: #3176ae;
      border-radius: 23px 5px 5px 23px;
      color: #fff;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 20px 0 23px;
      position: relative;
      margin: 0 5px 5px 0;
      text-decoration: none;
      @media (max-width: 540px) {
        font-size: 12px !important;
      }

      &::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: "";
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      &:hover {
        color: white;
      }
    }
    /**
    * / Tag component
    **/
    .avatars {
      display: inline-flex;
      flex-direction: row-reverse;
      .avatar {
        position: relative;
        overflow: hidden;
        width: 60px;
        height: 60px;
        &:not(:last-child) {
          margin-left: -30px;
        }
        &.green-border {
          color: $green-primary;
          border: 2px solid $green-primary;
          border-radius: 50%;
          margin-left: 30px;
          text-align: center;
          font-weight: bold;
          line-height: 60px;
        }
        &.ant-avatar-image {
          &:hover {
            margin-left: 0px !important;
            transition: all 0.3s;
          }
          img {
            cursor: pointer;
          }
        }
      }

      @media (max-width: 768px) {
        .avatar {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  #siteWrapper {
    #appWrapper {
      background-color: #18162f;
    }
  }
}
.ml-1 {
  margin-left: 1em;
}
.carousel-control {
  button {
    position: absolute;
    top: 43%;
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px !important;
    height: 35px;
    border: unset;
    svg {
      display: block;
      width: 20px;
      .dropdown-circle {
        fill: none;
      }
      path {
        stroke: #18162f;
      }
    }
    &.carousel-next {
      right: 10px;
      transform: rotate(-90deg);
    }
    &.carousel-prev {
      left: 10px;
      transform: rotate(90deg);
    }
    &:hover {
      background-color: $yellow-highlight;
      border: unset;
    }
  }
}

/* Mobile Devices */
@media screen and (max-width: 280px) {
  #case-study {
    .case-studies-page {
      height: 100%;
    }
    #siteWrapper {
      min-height: 1440px;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 760px) {
  #case-study {
    .case-studies-page {
      height: 100%;
    }
    #siteWrapper {
      min-height: 1280px;
    }
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 912px) {
  #case-study {
    .case-studies-page,
    #siteWrapper {
      height: 912px;
    }
  }
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
  /* insert styles here */
  #case-study {
    .case-studies-page {
      h1.ant-typography,
      h2.ant-typography {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
      }
      .content-text {
        .ant-typography {
          font-size: 12px;
          line-height: 14px;
        }
      }

      @media (max-width: 540px) {
        h1.ant-typography,
        h2.ant-typography {
          font-size: 32px !important;
          line-height: 38px !important;
        }
      }
      @media (min-width: 541px) and (max-width: 768px) {
        font-size: 36px !important;
      }
    }
  }
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
  /* insert styles here */
  #case-study {
    .case-studies-page {
      h1.ant-typography,
      h2.ant-typography {
        font-weight: 600;
        font-size: 38px;
        line-height: 58px;
        @media (max-width: 540px) {
          font-size: 32px !important;
          line-height: 38px !important;
        }
        @media (min-width: 541px) and (max-width: 768px) {
          font-size: 36px !important;
        }
      }
      .content-text {
        .title {
          font-size: 16px;
        }
        .ant-typography {
          font-size: 14px;
          line-height: 17px;
        }
        @media (max-width: 540px) {
          .title {
            font-size: 14px !important;
          }
          .ant-typography {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
/* (1440x900) WXGA+ Display */
@media only screen and (min-width: 1440px) and (max-width: 1080px) {
  /* insert styles here */
  #case-study {
    .case-studies-page {
      h1.ant-typography,
      h2.ant-typography {
        font-weight: 600 !important;
        font-size: 40px !important;
        line-height: 60px !important;
      }
      .title {
        font-size: 20px;
        line-height: 30px;
      }
      .content-text {
        .ant-typography {
          font-size: 16px !important;
          line-height: 20px !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  //For Projectors or Higher Resolution Screens (Full HD)
  #case-study {
    .ui-container {
      max-width: 85%;
      margin: 0 auto;
    }
    .case-studies-page {
      .title {
        font-size: 22px;
        line-height: 32px;
      }
      .content-text {
        .ant-typography {
          font-size: 16px !important;
          line-height: 22px !important;
        }
      }
    }
  }
  .carousel-control {
    img {
      top: 25% !important;
    }
  }
}

@media (min-width: 3000px) {
  #case-study {
    .case-studies-page {
      height: 100vh;
    }
  }
}

@media screen and (min-width: 2560px) {
  // For 2K, Quad HD, QHD Displays
  #case-study {
    .ui-container {
      max-width: 65%;
      margin: 0 auto;
    }
    .case-studies-page {
      h1.ant-typography,
      h2.ant-typography {
        font-weight: 600;
        font-size: 48px;
        line-height: 70px;
      }
      .content-text {
        .ant-typography {
          font-size: 18px !important;
          line-height: 24px !important;
        }
      }
      .tags {
        .tag-item {
          height: 42px;
          font-size: 18px !important;
          line-height: 38px !important;
          &::before {
            border-radius: 10px;
            top: 45%;
          }
        }
      }
    }
    .ant-layout-content {
      background: #18162f;
    }
    .case-studies-page,
    #siteWrapper {
      min-height: 1080px;
    }
  }
}

@media screen and (min-width: 3840px) {
  //For 4K Displays (Ultra HD)
  #case-study {
    .ui-container {
      max-width: 55%;
      margin: 0 auto;
    }
    .ant-layout-content {
      background: #18162f;
    }
    .case-studies-page {
      h1.ant-typography,
      h2.ant-typography {
        font-weight: 600 !important;
        font-size: 60px !important;
        line-height: 80px !important;
      }
      .title {
        font-size: 32px !important;
        line-height: 42px !important;
      }
      .content-text {
        .ant-typography {
          font-size: 24px !important;
          line-height: 32px !important;
        }
      }
      .tags {
        .tag-item {
          height: 50px;
          font-size: 22px !important;
          line-height: 50px !important;
          &::before {
            top: 45%;
          }
        }
      }
    }
    .case-studies-page,
    #siteWrapper {
      min-height: 1280px;
    }
  }
}
