.trade-info-container {
  padding: 20px 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}
.tooltip {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted;
  background-color: #fff;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #fff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  top: 100%; /* Adjust if necessary */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
  font-size: 12px;
}


.heading-container {
  display: flex;
  flex-direction: column;
}
.caps-heading {
  font-size: 16px;
  font-weight: bold;
  color: #6d00c1;
  text-transform: uppercase;
}
.trade-heading {
  font-size: 36px;
  margin: 0;
}
.update-container {
  text-align: right;
}
.last-updated {
  font-size: 14px;
  color: #888888;
  display: block;
  margin-bottom: 8px;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #6d00c1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.update-button {
  background-color: #00d1b2;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px 16px;
}
.update-button:hover {
  background-color: #00bfa5;
}
.trade-text-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
}
.trade-text-container {
  padding: 0 10px;
}
