@import '../../vars.scss';
.signUp {
  :global {
    .bg-white {
      background-color: #fff;
    }
    .connect-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 5px 0px;
      button {
        color: #09689a;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
      }
    }
    .wave-background {
      position: relative;
      z-index: 9;
      border-radius: 10px;
      &::after {
        content: '';
        position: absolute;
        background: url('../../images/auth/wave.png');
        width: 100%;
        height: 350px;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: multiply;
        background-position: center bottom;
        z-index: -1;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        @media screen and (max-width: 1600px) {
          height: 250px;
          bottom: 0px;
          background-size: contain;
        }
      }
    }
    .join-form {
      padding: 30px 20px;
      .join-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: #09689a;
          margin-bottom: 0px;
        }
        button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }
      .ant-form {
        @keyframes inAnimation {
          0% {
            opacity: 0;
            visibility: hidden;
          }
          100% {
            opacity: 1;
            visibility: visible;
          }
        }

        @keyframes outAnimation {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            visibility: hidden;
          }
        }

        .error {
          color: red;
          margin-bottom: 0px;
        }
        .public-email-switch {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #384e85;
          margin-top: 10px;
          display: flex;
        }
        .title-group {
          width: 100%;
          display: flex;
          align-items: flex-start;
          padding-top: 20px;
          .ant-row {
            flex: 1;
          }
          .ant-form-item {
            &:nth-of-type(1) {
              .ant-row {
                width: 150px;
                margin-right: 30px;
              }
            }
            &:nth-of-type(2) {
              width: 100%;
            }
          }
        }
        .ant-row {
          .ant-select-selector {
            border-radius: 5px;
            .ant-select-selection-placeholder {
              font-weight: 500;
              font-size: 16px;
              line-height: 42px;
              color: #a5b0c9;
            }
            .ant-select-selection-item {
              font-weight: 500;
              font-size: 16px;
              line-height: 42px;
              color: #a5b0c9;
            }
            input {
              background-color: transparent;
            }
          }
        }
        .ant-upload {
          background: transparent;
          padding: 15px 0px;
          .ant-upload-text {
            font-weight: 500;
            font-size: 18px !important;
            line-height: 26px;
            color: #384e85 !important;
          }
          .ant-upload-drag-icon {
            path {
              fill: #18162f;
            }
          }
          .ant-upload-hint {
            span {
              color: #384e85 !important;
            }
            font-weight: 500;
            font-size: 18px !important;
            line-height: 26px;
            color: #34a6ff !important;
          }
        }
        .next-button {
          margin: 40px auto 10px auto;
        }
      }
    }
  }
}
