@import '../../../styles/vars.scss';

.invitationModal {
  padding: 0;
  :global(.ant-modal-header) {
    padding: 41px 39px 16px;
  }
  :global(.ant-modal-body) {
    padding: 24px 39px;
  }
  :global(.role-description) {
    padding: 8px 0;
    color: $primaryDarkBlue3;
    font-size: 14px;
    line-height: 20px;
  }
  :global(.ant-modal-footer) {
    padding: 19px 27px;
    background-color: $primaryGrey;
  }
  :global(.ant-btn.ant-btn-link) {
    flex-direction: row-reverse;
    text-transform: capitalize;
  }
}
