.stakeholderCard {
  :global {
    img.organisation {
      object-fit: contain;
    }
    h4 {
      position: relative;
      & > span:first-child {
        margin-right: 5px;
      }
    }
    h5 {
      font-size: 11px;
      font-weight: 600;
      line-height: 1.2;
    }
    .badge {
      height: 16px;
      width: 20px;
      svg {
        position: absolute;
      }
    }
  }
}
.individual {
  height: 170px;
  :global {
    .badges {
      display: block;
      margin-top: -10px;
    }
    .badge {
      // transform: translateY(5px);
      margin-right: 5px;
      display: inline-block;
    }
  }
  h4 {
    padding-right: 80px;
    margin-bottom: 15px;
    min-height: 44px;
    // word-wrap: break-word;
  }
  h5 {
    padding-right: 50px;
    max-height: 52px;
    overflow: hidden;
  }
  img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 35px;
  }
}
.organisation {
  :global {
    .badges {
      .badge {
        display: inline-block;
        margin-right: 5px;
        margin-top: 3px;
        // transform: translateY(3px);
      }
    }
  }
}
