@import "../../vars.scss";
.filter-modal {
  width: 100% !important;

  @media screen and (min-width: 840px) {
    max-width: 823px;
  }

  .ant-modal-header {
    .ant-modal-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #a5b0c9;
      text-transform: uppercase;
    }
  }
  .ant-modal-body {
    padding: 17px 40px 50px 40px;
    .filter-title {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;

      @media (max-width: 540px) {
        font-size: 16px;
      }
    }
    .ant-picker {
      width: 100%;
      border: none;
    }
  }

  .ant-modal-footer {
    display: none;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ant-modal-body {
      padding: 17px 20px 30px 20px;
    }

    .invite-expert-buttons {
      margin-top: 30px;
    }
    .ant-modal-header {
      padding: 10px 20px;
    }
  }
}
