@import "../../styles/vars.scss";
.filterModal {
  width: 100% !important;

  @media screen and (min-width: 840px) {
    max-width: 823px;
  }
  :global {
    .ant-modal-header {
      .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: $primaryDarkBlue;
        text-transform: uppercase;
      }
    }
  }
  :global {
    .ant-modal-body {
      padding: 17px 40px 50px 40px;
      .filter-title {
        color: $primaryDarkBlue;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;

        @media (max-width: 540px) {
          font-size: 16px;
        }
      }
      .ant-select-selection-placeholder {
        font-weight: 500;
      }
      .search-input {
        width: 100%;
        .input-search {
          background-color: #edf2f6;
          border: none !important;
          // height: 34px;
          input {
            font-weight: 500;
            color: $primaryDarkBlue;
            font-size: 16px;
            &::placeholder {
              font-weight: 500;
              color: $primaryDarkBlue;
            }
          }
          .anticon-search {
            color: $primaryDarkBlue;
          }
        }
      }
      :global {
        input {
          font-weight: 500;
          color: $primaryDarkBlue;
          &::placeholder {
            font-weight: 500;
            color: $primaryDarkBlue;
          }
        }
      }
      :global {
        .date-picker-container {
          .ant-row {
            width: auto !important;
          }
          .ant-picker {
            width: 100%;
            border: none;
            input {
              font-size: 16px;
              color: $primaryDarkBlue;
              &::placeholder {
                font-size: 16px;
                color: $primaryDarkBlue;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ant-modal-body {
      padding: 17px 20px 30px 20px;
    }

    .invite-expert-buttons {
      margin-top: 30px;
    }
    .ant-modal-header {
      padding: 10px 20px;
    }
  }
}
