#knowledge-lib {
  #map-landing {
    height: 550px;
  }
  .map-container svg {
    outline: unset;
  }
  .filter-bar {
    background-color: #06496c;
    height: 95px;
    padding-left: 15px;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-right: 15px;
      margin-left: 5px;
      // margin-top: 2px;
      li {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        border: 1.5px solid #d3dee7;
        margin: 4px;
        margin-right: 7px;
        font-size: 10px;
        font-weight: 550;
        display: flex;
        flex-direction: column;
        color: #d3dee7;
        cursor: pointer;
        transition: all 0.2s ease-out;
        .img-container {
          margin-top: 3px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          svg {
            path {
              fill: #d3dee7;
            }
          }
        }
        img {
          max-height: 38px;
          max-width: 44px;
        }
        .label-container {
          margin-top: auto;
          line-height: 9px;
          min-height: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-bottom: 3px;
        }
        &.selected {
          background-color: #3fc19f;
          border: 3px solid #adefd9;
          color: #fff;
          transform: scale(1.1);
          .img-container {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
    .ant-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 73px;
      height: 73px;
      background-color: #004063;
      border: unset;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 14px;
      svg {
        width: 21px;
        height: 21px;
        margin-bottom: 11px;
      }
      span {
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
      }
      &:hover {
        // color: #ffffff;
      }
      &.selected {
        svg {
          path {
            stroke: #ffa800;
          }
        }
      }
      &.ant-dropdown-open {
        background: rgba(24, 22, 47, 0.65);
        span {
          color: #ffa800;
        }
        svg {
          path {
            stroke: #ffa800;
          }
        }
      }
      &.location-filter {
        &.selected {
          span {
            color: #ffa800;
          }
        }
      }
    }
    .ant-btn:first-child {
      &.selected {
        background-color: #3fc19f;
        border: 3px solid #adefd9;
        color: #fff;
        transform: scale(1.1);
        svg {
          path {
            fill: #ffffff;
            stroke: none;
            stroke-width: 0;
          }
        }
      }
    }
    .ant-btn:last-child {
      margin-left: auto;

      path {
        stroke: #fff;
      }
    }
    .filter-status {
      position: absolute;
      background-color: #e91a08;
      color: white;
      font-weight: 700;
      height: 20px;
      border-radius: 50%;
      top: 5px;
      right: 5px;
      font-size: 10px;
      line-height: 20px;
      padding: 0 2px;
      min-width: 20px;
      text-align: center;
      transform: translateX(-50%);
    }
  }
  position: relative;
  overflow-x: hidden;
  .list-toolbar {
    margin-bottom: 0;
    .view-switch-container {
      width: 160px;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;
      color: #255b87;
      .switch-btn {
        border: 1px solid #255b87;
        border-radius: 20px;
        height: 32px;
        margin: 0 6px;
        position: relative;
        z-index: 20;
        text-align: center;
        line-height: 30px;
        padding-left: 10px;
        transition: 0.15s ease-out;
        cursor: pointer;
        &:hover,
        &.active {
          background-color: #255b87;
          color: #fff;
        }
        .anticon {
          position: absolute;
          left: 9px;
          top: 9px;
        }
      }
      .view-switch-dropdown {
        position: absolute;
        z-index: 19;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 35%);
        border-radius: 20px;
        top: -6px;
        width: 100%;
        padding-top: 40px;
        transform-origin: top;
        ul {
          text-align: center;
          margin-bottom: 0;
          margin-top: 4px;
          li {
            border: 1px solid #255b87;
            border-radius: 20px;
            height: 32px;
            margin: 0 6px 6px;
            line-height: 30px;
            cursor: pointer;
            transition: 0.15s ease-out;
            &:hover {
              background-color: #255b87;
              color: #fff;
            }
          }
        }
        &.view-switch-enter {
          opacity: 0;
          transform: scale(0.9) translateY(-20px);
        }
        &.view-switch-enter-active {
          opacity: 1;
          transform: scale(1) translateY(0);
          transition: all 200ms;
        }
        &.view-switch-exit {
          opacity: 1;
          transform: scale(1);
        }
        &.view-switch-exit-active {
          opacity: 0;
          transform: scale(0.9) translateY(-20px);
          transition: all 200ms;
        }
      }
    }
  }
  .list-content {
    background-color: rgb(249, 250, 251);
    padding-top: 15px;
    padding-bottom: 15px;
    .topic-view-container {
      padding: 0px 40px;
      margin-top: 20px;
    }
  }
  .loading {
    padding: 0;
    font-size: 36px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    top: 100px;
    position: absolute;
    width: 100%;
    background-color: rgba(249, 250, 251, 0.5);
    z-index: 2;
    color: #027975;
  }
  .resource-cards {
    margin: 20px 0 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .grid-view {
    width: 100%;
    display: flex;
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .resource-card {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .cat-view {
    .header-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin: 20px 0px;
      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #a5b0c9;
      }
      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        width: auto;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        .quick-search {
          display: flex;
          position: relative;
          margin-left: 20px;
          height: 25px;
          align-items: center;
          .count {
            background: #ffffff;
            border: 1px solid #edf2f7;
            border-radius: 6px;
            padding-left: 10px;
            padding-right: 40px;
            font-weight: 700;
            font-size: 12px;
            color: #18162f;
            height: 100%;
            display: flex;
            align-items: center;
          }
          .search-icon {
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            align-items: center;
            display: flex;
          }
        }
      }
    }
    .resource-cards {
      margin-top: 5px;
    }
  }

  .overview {
    margin: 20px;
    h3 {
      color: #a5b0c9;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 550;
    }
    ul.categories {
      display: flex;
      background-color: #edf2f7;
      padding: 15px;
      li {
        background-color: #dce7f3;
        border-radius: 5px;
        margin-right: 15px;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        span {
          white-space: nowrap;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
