#knowledge-lib {
  #map-landing {
    height: 550px;
  }
  .map-container svg {
    outline: unset;
  }
  .filter-bar {
    background-color: #06496c;
    height: 95px;
    padding-left: 15px;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-right: 15px;
      margin-left: 5px;
      // margin-top: 2px;
      li {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        border: 1.5px solid #d3dee7;
        margin: 4px;
        margin-right: 7px;
        font-size: 10px;
        font-weight: 550;
        display: flex;
        flex-direction: column;
        color: #d3dee7;
        cursor: pointer;
        transition: all 0.2s ease-out;
        .img-container {
          margin-top: 3px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          svg {
            path {
              fill: #d3dee7;
            }
          }
        }
        img {
          max-height: 38px;
          max-width: 44px;
        }
        .label-container {
          margin-top: auto;
          line-height: 9px;
          min-height: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-bottom: 3px;
        }
        &.selected {
          background-color: #3fc19f;
          border: 3px solid #adefd9;
          color: #fff;
          transform: scale(1.1);
          .img-container {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
    .ant-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 73px;
      height: 73px;
      background-color: #004063;
      border: unset;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 14px;
      svg {
        width: 21px;
        height: 21px;
        margin-bottom: 11px;
      }
      span {
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
      }
      &:hover {
        // color: #ffffff;
      }
      &.selected {
        svg {
          path {
            stroke: #ffa800;
          }
        }
      }
      &.ant-dropdown-open {
        background: rgba(24, 22, 47, 0.65);
        span {
          color: #ffa800;
        }
        svg {
          path {
            stroke: #ffa800;
          }
        }
      }
      &.location-filter {
        &.selected {
          span {
            color: #ffa800;
          }
        }
      }
    }
    .ant-btn:first-child {
      &.selected {
        background-color: #3fc19f;
        border: 3px solid #adefd9;
        color: #fff;
        transform: scale(1.1);
        svg {
          path {
            fill: #ffffff;
            stroke: none;
            stroke-width: 0;
          }
        }
      }
    }
    .ant-btn:last-child {
      margin-left: auto;

      path {
        stroke: #fff;
      }
    }
    .filter-status {
      position: absolute;
      background-color: #e91a08;
      color: white;
      font-weight: 700;
      height: 20px;
      border-radius: 50%;
      top: 5px;
      right: 5px;
      font-size: 10px;
      line-height: 20px;
      padding: 0 2px;
      min-width: 20px;
      text-align: center;
      transform: translateX(-50%);
    }
  }
  position: relative;
  overflow-x: hidden;
  .list-toolbar {
    margin-bottom: 0;
    .view-button-container {
      padding: 4px 4px;
      // &:hover {
      //   background: #ffffff;
      //   box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      //   border-radius: 30px;
      // }
      .active-view {
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid #255b87;
        border-radius: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
        text-align: center;
        color: #255b87;
      }
      .switch-button {
        border: none;
        background: transparent;
        cursor: pointer;
        span {
          padding-right: 10px;
        }
        .view-dropdown {
          max-width: fit-content;
        }
      }

      .dropdown {
        position: relative;
        width: 200px;
        padding: 5px 10px;
        text-transform: uppercase;
        span {
          padding-right: 10px;
        }
      }
      .dropdown__value {
        background-color: transparent;
        font-size: 18px;
        color: #255b87;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 30px;
        padding: 5px 20px;
        transition: all 0.2s ease-in;
        border: 1px solid #255b87;
        height: 40px;
        cursor: pointer;
      }
      .dropdown:hover {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
      .dropdown:hover > .dropdown__option-box {
        opacity: 1;
        transform: scaleY(1);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .dropdown__option-box {
        transition: all 0.2s ease-in;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
        z-index: 9;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 0px 10px;
      }
      .dropdown__option-box::-webkit-scrollbar {
        display: none;
      }
      .dropdown__option-box__item {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #255b87;
        border: 1px solid #255b87;
        border-radius: 30px;
        margin-top: 10px;
        div {
          flex: 1;
          text-transform: capitalize;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
  .list-content {
    background-color: rgb(249, 250, 251);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .loading {
    padding: 0;
    font-size: 36px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    top: 100px;
    position: absolute;
    width: 100%;
    background-color: rgba(249, 250, 251, 0.5);
    z-index: 2;
    color: #027975;
  }
  .resource-cards {
    margin: 20px 0 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .grid-view {
    .resource-card {
      float: left;
      margin-bottom: 16px;
    }
  }
  .cat-view {
    .header-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin: 20px 0px;
      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #a5b0c9;
      }
      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        width: auto;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        .quick-search {
          display: flex;
          position: relative;
          margin-left: 20px;
          height: 25px;
          align-items: center;
          .count {
            background: #ffffff;
            border: 1px solid #edf2f7;
            border-radius: 6px;
            padding-left: 10px;
            padding-right: 40px;
            font-weight: 700;
            font-size: 12px;
            color: #18162f;
            height: 100%;
            display: flex;
            align-items: center;
          }
          .search-icon {
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            align-items: center;
            display: flex;
          }
        }
      }
    }
    .resource-cards {
      margin-top: 5px;
    }
  }
}
