@import '../../styles/vars.scss';

.knowledgeLib {
  position: relative;
  :global {
    .map-landing {
      height: 550px;
    }
  }
  :global {
    .map-container svg {
      outline: unset;
    }
  }
  :global {
    .filter-bar {
      background-color: $primaryDarkBlue7;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 20px;

      @media screen and (min-width: 0) and (max-width: 1366px) {
        overflow: scroll;
        overflow-y: hidden;
      }

      .ant-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 73px;
        height: 73px;
        background-color: transparent;
        border: unset;
        border-radius: 4px;
        cursor: pointer;
        svg {
          width: 21px;
          height: 21px;
          margin-bottom: 11px;
          path,
          circle {
            stroke: $primaryWhite;
          }
        }
        span {
          font-weight: 500;
          font-size: 10px;
          line-height: 11px;
          text-align: center;
          text-transform: capitalize;
          color: $primaryWhite;
        }
        &.selected {
          background-color: $primaryGrey;
          svg {
            path {
              stroke: $primaryDarkBlue;
            }
          }
          span {
            color: $primaryDarkBlue;
          }
        }
        &.ant-dropdown-open {
          background: $primaryGrey;
          span {
            color: $primaryDarkBlue;
          }
          svg {
            path {
              stroke: $primaryDarkBlue;
            }
          }
        }
        &.adv-src {
          &:hover {
            svg {
              path {
                fill: $primaryDarkBlue;
              }
              circle {
                stroke: $primaryDarkBlue;
              }
            }
          }
          svg {
            margin-bottom: 8px;
          }
          span {
            max-width: 50px;
            display: inline-block;
            white-space: normal;
          }
        }
        &.reset-button {
          display: flex;
          width: auto;
          height: auto;
          flex-direction: revert;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          border: 1px solid #fff;
          padding: 5px 10px;
          svg {
            margin-bottom: 0px;
            width: 15px;
          }
          span {
            font-size: 14px;
          }
        }
        &:hover {
          background-color: $primaryGrey;
          span {
            color: $primaryDarkBlue;
          }
          svg path {
            stroke: $primaryDarkBlue;
          }
        }
      }
      .filter-status {
        position: absolute;
        background-color: #e91a08;
        color: white;
        font-weight: 700;
        height: 20px;
        border-radius: 50%;
        top: 5px;
        right: 5px;
        font-size: 10px;
        line-height: 20px;
        padding: 0 2px;
        min-width: 20px;
        text-align: center;
        transform: translateX(-50%);
      }
      .search-container {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
  // overflow-x: hidden;
  :global {
    .list-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 0 20px 20px;
      font-family: var(--font-archia), sans-serif;
      .view-switch-container {
        width: fit-content;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        color: $primaryDarkBlue;
        .switch-btn {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 4px 16px;
          position: relative;
          z-index: 20;
          font-weight: 700;
          line-height: 30px;
          transition: 0.15s ease-out;
          cursor: pointer;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          // border: 1px solid #255b87;
          // border-radius: 20px;
          // height: 32px;
          // margin: 0 6px;
          // position: relative;
          // z-index: 20;
          // text-align: center;
          // line-height: 30px;
          // padding-left: 10px;
          // &:hover,
          &.active {
            background-color: $primaryDarkBlue;
            color: #fff;
          }
          // .anticon {
          //   position: absolute;
          //   left: 9px;
          //   top: 9px;
          // }
        }
        .view-switch-dropdown {
          position: absolute;
          z-index: 19;
          // background-color: #fff;
          // box-shadow: 0px 4px 4px rgb(0 0 0 / 35%);
          // border-radius: 20px;
          top: -6px;
          width: fit-content;
          padding-top: 40px;
          transform-origin: top;
          ul {
            text-align: center;
            margin-bottom: 0;
            margin-top: 4px;
            min-width: 200px;
            background-color: #fff;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 35%);
            padding-inline-start: 0;
            li {
              // border: 1px solid #255b87;
              // border-radius: 20px;
              // height: 32px;
              // margin: 0 6px 6px;
              line-height: 30px;
              cursor: pointer;
              transition: 0.15s ease-out;
              text-align: left;
              white-space: nowrap;
              padding: 8px 16px;
              &:hover {
                background-color: $primaryDarkBlue;
                color: #fff;
              }
            }
          }
          &.view-switch-enter {
            opacity: 0;
            transform: scale(0.9) translateY(-20px);
          }
          &.view-switch-enter-active {
            opacity: 1;
            transform: scale(1) translateY(0);
            transition: all 200ms;
          }
          &.view-switch-exit {
            opacity: 1;
            transform: scale(1);
          }
          &.view-switch-exit-active {
            opacity: 0;
            transform: scale(0.9) translateY(-20px);
            transition: all 200ms;
          }
        }
      }
      .sort-by-button {
        display: flex;
        align-items: center;
        color: $primaryDarkBlue;
        font-weight: 400;
        font-size: 12px;
        border: unset;
        background-color: unset;
        cursor: pointer;
        svg {
          margin-right: 7px;
          transition: all 0.15s ease-out;
        }
        .sort-button-text {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }
  }
  :global {
    .list-content {
      position: relative;
      background-color: rgb(249, 250, 251);
      padding-top: 15px;
      padding-bottom: 15px;
      overflow-x: hidden;
      .topic-view-container {
        padding: 0px 20px;
        margin-top: 10px;
      }
    }
  }
  :global {
    .loading {
      padding: 0;
      font-size: 36px;
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100%;
      top: 0;
      position: absolute;
      width: 100%;
      background-color: rgba(249, 250, 251, 0.5);
      z-index: 2;
      color: #027975;
    }
  }
  :global {
    .resource-cards {
      margin: 0px 0 10px;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
  :global {
    .grid-view {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0px;
      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
      // .resource-card {
      //   margin-left: 10px;
      //   margin-right: 10px;
      //   margin-bottom: 20px;
      // }
      .load-more {
        border: 1px solid #265d89;
        border-radius: 30px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #265d89;
        padding: 0 20px;
        &:hover {
          background-color: #265d89;
          color: #fff;
        }
      }
    }
  }
  :global {
    .cat-view {
      overflow-x: hidden;
      .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin: 20px 0px;
        h4 {
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          text-transform: uppercase;
          margin-bottom: 0px;
          color: #a5b0c9;
          margin-right: 20px;
        }
        button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          width: auto;
        }
        .title-wrapper {
          display: flex;
          align-items: center;
        }
      }
      .resource-cards {
        margin-top: 5px;
      }
    }
  }
  :global {
    .overview {
      .loading {
        position: static;
        height: calc(100vh - 200px);
        font-size: 50px;
      }
      section h3:not(.resource-card h3) {
        margin-top: 10px;
        margin-bottom: 15px;
        color: #a5b0c9;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 550;
      }
      ul.categories {
        display: flex;
        padding: 15px 0px 15px 0px;
        background-color: $primaryDarkBlue7;
        margin-bottom: 0;
        .selected {
          background-color: #fff;
          color: $primaryDarkBlue7;
        }
        li {
          width: 50%;
          border-radius: 5px;
          margin-right: 15px;
          padding: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-align: center;
          font-family: var(--font-archia), sans-serif;
          font-weight: 500;
          font-size: $fzXXS;
          line-height: $lhXXS;
          letter-spacing: -0.5px;
          border: 2px solid #edf2f7;
          color: #edf2f7;
          &.selected {
            svg {
              path {
                transition: fill 0.15s ease-out;
                fill: $primaryDarkBlue;
              }
            }

            &:hover {
              color: $primaryDarkBlue;
              border-color: #fff;
              & > div svg path {
                fill: $primaryDarkBlue;
              }
            }
          }
          & > div {
            display: flex;
            justify-content: center;
            margin: 0 5px;
            svg {
              path {
                transition: fill 0.15s ease-out;
                fill: #edf2f7;
              }
              margin-right: 7px;
            }
            b {
              font-size: 20px;
            }
          }
          span {
            white-space: break-spaces;
          }
          &:last-child {
            margin-right: 0;
          }
          transition: all 0.15s ease-out;
          &:nth-child(1) {
            & > div svg {
              transform: translateY(4px);
            }
          }
          &:hover {
            color: $primaryDarkBlue;
            background-color: $primaryWhite;
            & > div svg path {
              fill: $primaryGreen;
            }
          }
        }
      }
      padding-right: 15px;
      section {
        &.grey {
          background-color: #f6f8fa;
          overflow-x: hidden;
        }
        padding: 15px 30px 10px;
        // margin-bottom: 15px;
        .resource-cards {
          min-height: 222px;
          margin-bottom: 0;
          padding-bottom: 0px !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
      }
      .overlay-btn {
        position: relative;
        cursor: pointer;
        &:before {
          content: 'CLICK TO EXPAND';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(24, 22, 47, 0.6);
          top: 0;
          left: 0;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          opacity: 0;
          transition: all 0.2s ease-out;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      #map-landing {
        display: flex;
        align-items: center;
      }
      .grid {
        .col {
          margin-bottom: 15px;
          h3 {
            margin-left: 0;
          }
        }
        @media screen and (min-width: 1024px) {
          .col {
            float: left;
            width: calc(50vw - 65px - 15px);
            &:nth-child(2n) {
              margin-left: 15px;
            }
          }
        }
      }
      .add-resource-card {
        width: 150px;
        height: 192px;
        border: 1px solid #00b194;
        color: #00b194;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        cursor: pointer;
        b {
          font-size: 90px;
          line-height: 90px;
          font-weight: 500;
        }
        span {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 500;
        }
        small {
          margin-top: auto;
          margin-bottom: 7px;
        }
      }
    }
  }
  :global {
    .quick-search {
      display: flex;
      position: relative;
      // height: 25px;
      align-items: center;
      .count {
        // background: #ffffff;
        // border: 1px solid #edf2f7;
        border-radius: 6px;
        padding-right: 8px;
        font-size: $fzXXS;
        line-height: 18px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      // .search-icon {
      //   position: absolute;
      //   top: 50%;
      //   right: -5px;
      //   transform: translateY(-50%);
      //   align-items: center;
      //   display: flex;
      // }
    }
  }
}

.swiper-slide:first-child {
  .resource-card {
    margin-left: 0;
  }
}
