@import '../../styles/vars.scss';

.login {
  padding: 60px 0px;
  background-color: #e7f3ff6b;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  :global {
    .wave-background {
      position: relative;
      z-index: 9;
      border-radius: 10px;
      background-color: #fff;
      width: 650px !important;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 5px;
    }
    .getting-started {
      position: relative;
      z-index: 9;
      background: #fff;
      border-radius: 10px;
      .image-wrapper {
        width: 85%;
        padding: 80px 0px 0px 0px;
        margin: 0 auto;
        img {
          width: 100%;
          display: block;
        }
      }
      .text-wrapper {
        width: 75%;
        display: block;
        margin: 0 auto;
        padding-left: 40px;
        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 52px;
          color: #18162f;
        }
      }
      .button-bottom-panel {
        padding: 40px 0px;
        .step-button {
          border: 2px solid #18162f;
          border-radius: 23.5px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #18162f;
          margin: 0 auto;
          justify-content: center;
          padding: 20px 45px;
          background: transparent;
          &:hover {
            border-color: $primaryDarkBlue;
            color: #fff;
            background: $primaryDarkBlue;
          }
        }
      }
    }
    .slider-container {
      height: 100%;
      padding: 30px;
      .ant-carousel {
        .slick-slider {
          .slick-dots {
            li {
              width: 33px;
            }
            button {
              background: #00585f;
              height: 5px;
            }
          }
        }
      }
      .slider-wrapper {
        width: 300px;
        margin: 0 auto 120px auto;
        padding-top: 100px;
        h2 {
          font-weight: 700;
          font-size: 30px;
          line-height: 43px;
          color: #09689a;
        }
      }
      .slider-bottom-panel {
        text-align: center;
        background: rgb(255 255 255 / 16%);
        padding: 25px 60px;
        border-radius: 20px;
        margin-top: 40px;
        h2 {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #18162f;
        }
        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #09689a;
        }
      }
    }
    .auth-container {
      opacity: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .signup-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        .register-text {
          text-align: center;
          color: $primaryDarkBlue3;
          padding: 0 50px;
        }
        .signinButton {
          .header-text {
            color: $primaryDarkBlue;
            font-weight: 700;
            font-size: $fzS;
            line-height: $lhS;
            padding: 0;
            margin-bottom: 0;
            font-family: var(--font-archia), sans-serif !important;
          }
        }
        .auth-buttons {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 40px 0px;
          button {
            margin-bottom: 20px;
            width: 315px;
            text-align: center;
            justify-content: center;
            padding-left: 30px;
            span {
              flex: 1;
              padding-left: 10px;
            }
            svg {
              padding-left: 0px;
              // padding-right: 10px;
            }
            :global {
              .icon {
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 15px;
              }
            }
            svg {
              path {
                fill: $primaryDarkBlue;
              }
            }
            &:hover {
              svg {
                path {
                  fill: white;
                  stroke: white;
                }
              }
            }
          }
          :global {
            .separator {
              margin-bottom: 10px;
              h4 {
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                color: $primaryDarkBlue;
              }
            }
          }
        }
      }

      .login-wrapper {
        .connect-back-button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
        .login-form {
          padding: 30px 20px;
          .ant-form-item-label {
            padding-bottom: 5px;
            label {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #000000;
            }
          }
          .login-button {
            width: 230px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .forgot-password {
            display: block;
            margin: 20px auto 0;
          }
          .ant-divider-horizontal {
            border-top: 0.4px solid #000000;
            margin: 40px 0px 60px 0px;
          }
          .join-wrapper {
            text-align: center;
            padding-bottom: 30px;
            h2 {
              font-weight: 700;
              font-size: $fzM;
              line-height: $lhM;
              color: $primaryDarkBlue;
            }
          }
          .error {
            color: red;
            margin-bottom: 0px;
          }
        }
      }
    }
    .terms {
      background: $primaryPurple2;
      padding: 6px 0px;
      h4 {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        a {
          text-decoration: underline;
          color: $primaryDarkBlue;
        }
      }
    }
    .connect-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 5px;
      .header-text {
        color: $primaryDarkBlue;
        font-weight: 700;
        font-size: $fzS;
        line-height: $lhS;
        padding: 0;
        margin-bottom: 0;
        font-family: var(--font-archia), sans-serif !important;
      }
    }

    .login-wrapper {
      padding: 20px 10px;
      .login-form {
        padding: 30px 10px;
        button {
          width: 230px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .signup {
      padding: 20px 10px;
      .join-form {
        padding: 20px 10px;
      }
    }
  }
}
