@import "../../vars.scss";

.login {
  .ant-modal-content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 5px;
  }
  .ant-modal-body {
    padding: 0;
    .register-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #a5b0c9;
      padding: 0 2vw;
    }
    .terms {
      background: #bbedda;
      padding: 6px 0px;
      h4 {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #18162f;
        text-align: center;
      }
    }
  }
  .ant-modal-header {
    border: none;
    .signin-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-text {
        color: #09689a;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        margin-bottom: 0;
      }
      div {
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          margin-bottom: 0;
          padding-right: 5px;
          line-height: 1.5715;
        }
      }
    }
    .connect-back-button {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      padding: 0;
    }
  }
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    p {
      margin-bottom: 0px;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: rgba(56, 78, 133, 0.6);
        padding-left: 10px;
      }
    }
  }
  .ant-input,
  .ant-input-number-input,
  .ant-picker,
  .ant-select,
  .ant-select-selector,
  .ant-input-affix-wrapper {
    background-color: #edf2f6;
    border: none !important;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    // padding: 0px 11px;
    height: 42px;
    color: #a5b0c9;
    &::placeholder {
      color: #a5b0c9;
      font-size: 16px;
      font-weight: 500;
    }
    input {
      height: 42px;
    }
    .ant-select,
    .ant-select-selector {
      height: 42px;
    }
    .ant-select-selection-placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 42px;
      color: #a5b0c9;
    }
    .ant-select-selection-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 42px;
      color: #a5b0c9;
    }
  }
  .wave-background {
    position: relative;
    z-index: 9;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      background: url("../../images/auth/wave.png");
      width: 100%;
      height: 350px;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.2;
      background-position: center bottom;
      z-index: -1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      @media screen and (max-width: 1600px) {
        height: 250px;
        bottom: 0px;
        background-size: contain;
      }
    }
  }
  .getting-started {
    position: relative;
    z-index: 9;
    background: #fff;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      background: url("../../images/auth/wave.png");
      width: 100%;
      height: 350px;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.2;
      background-position: center bottom;
      z-index: -1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      @media screen and (max-width: 1600px) {
        height: 250px;
        bottom: 0px;
        background-size: contain;
      }
    }
    .image-wrapper {
      width: 85%;
      padding: 80px 0px 0px 0px;
      margin: 0 auto;
      img {
        width: 100%;
        display: block;
      }
    }
    .text-wrapper {
      width: 75%;
      display: block;
      margin: 0 auto;
      padding-left: 40px;
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 52px;
        color: #18162f;
      }
    }
    .button-bottom-panel {
      padding: 40px 0px;
      .step-button {
        border: 2px solid #18162f;
        border-radius: 23.5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #18162f;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 45px;
        background: transparent;
        &:hover {
          border-color: $blue12;
          color: #fff;
          background: $blue12;
        }
      }
    }
  }
  .slider-container {
    height: 100%;
    padding: 30px;
    .ant-carousel {
      .slick-slider {
        .slick-dots {
          li {
            width: 33px;
          }
          button {
            background: #00585f;
            height: 5px;
          }
        }
      }
    }
    .slider-wrapper {
      width: 300px;
      margin: 0 auto 120px auto;
      padding-top: 100px;
      h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        color: #09689a;
      }
    }
    .slider-bottom-panel {
      text-align: center;
      background: rgb(255 255 255 / 16%);
      padding: 25px 60px;
      border-radius: 20px;
      margin-top: 40px;
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #18162f;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #09689a;
      }
    }
  }
  .auth-container {
    opacity: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .signup-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px 0px;
      .auth-buttons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0px;
        button {
          font-weight: 500;
          font-size: 18px;
          line-height: 36px;
          height: 46px;
          width: 315px;
          background-color: transparent;
          margin-bottom: 20px;
          border: 2px solid #18162f;
          color: #18162f;
          display: flex;
          align-items: center;
          &:hover {
            border-color: $blue12;
            color: #fff;
            background: $blue12;
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
          span {
            padding-left: 20px;
          }
        }
        .separator {
          margin-bottom: 10px;
          h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #09689a;
          }
        }
      }
    }
    .login-wrapper {
      .connect-button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
          color: #09689a;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
      }
      .login-form {
        padding: 30px 20px;
        .ant-form-item-label {
          padding-bottom: 5px;
          // label {
          //   font-weight: 500;
          //   font-size: 14px;
          //   line-height: 20px;
          //   color: #000000;
          // }
        }
        .ant-input-password {
          border: none !important;
          padding: 0px 11px;
          background: #edf2f7;
          border-radius: 5px;
          .ant-form-item-has-success {
            border: none;
          }
        }
        .login-button {
          font-weight: 500;
          font-size: 18px;
          line-height: 36px;
          height: 46px;
          width: 230px;
          background-color: transparent;
          margin: 0 auto;
          border: 2px solid #18162f;
          color: #18162f;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            border-color: $blue12;
            color: #fff;
            background: $blue12;
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
        .forgot-password {
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #18162f;
          display: block;
          margin: 0 auto;
        }
        .ant-divider-horizontal {
          border-top: 0.4px solid #000000;
          margin: 40px 0px 60px 0px;
        }
        .join-wrapper {
          text-align: center;
          padding-bottom: 30px;
          h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #18162f;
          }
        }
        .error {
          color: red;
          margin-bottom: 0px;
        }
      }
    }
  }
}
