@import '../../vars.scss';
@import '../../styles/vars.scss';

.login {
  :global {
    .ant-modal-content {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
      border-radius: 10px;
      padding: 5px 5px;
      margin: 40px 0px;
    }
  }
  :global {
    .ant-modal-body {
      padding: 0;
      .register-text {
        font-weight: 400;
        font-size: $fzS;
        line-height: 26px;
        text-align: center;
        color: $primaryDarkBlue;
        padding: 0 2vw;
      }
      .terms {
        background: #bbedda;
        padding: 6px 0px;
        h4 {
          font-family: var(--font-dm-sans), sans-serif;
          margin-bottom: 0px;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: $primaryDarkBlue;
          text-align: center;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  :global {
    .ant-modal-header {
      border: none;
      .signinButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-text,
        .ant-btn.ant-btn-link {
          font-family: var(--font-archia), sans-serif;
          font-weight: 700;
        }
        .ant-btn.ant-btn-link {
          font-size: $fzXS;
          line-height: $lhXS;
          color: $primaryDarkBlue;
        }
        .header-text {
          color: $primaryDarkBlue;
          font-size: $fzS;
          line-height: $lhS;
          padding: 0;
          margin-bottom: 0;
        }
        div {
          display: flex;
          align-items: center;
          cursor: pointer;
          p {
            margin-bottom: 0;
            padding-right: 5px;
            line-height: 1.5715;
            text-transform: lowercase;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
      .connectBackButton {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        padding: 0;
      }
    }
  }

  :global {
    .ant-input,
    .ant-input-number-input,
    .ant-picker,
    .ant-select,
    .ant-select-selector,
    .ant-input-affix-wrapper {
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      // padding: 0px 11px;
      // height: 42px;
      color: #a5b0c9;
      &::placeholder {
        color: #a5b0c9;
        font-size: 16px;
        font-weight: 500;
      }
      input {
        height: 42px;
      }
      .ant-select,
      .ant-select-selector {
        height: 42px;
      }
      .ant-select-selection-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        color: #a5b0c9;
      }
      .ant-select-selection-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        color: #a5b0c9;
      }
    }
  }
  .wave-background {
    position: relative;
    z-index: 9;
    border-radius: 10px;
    &::after {
      content: '';
      position: absolute;
      background: url('../../images/auth/wave.png');
      width: 100%;
      height: 350px;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.2;
      background-position: center bottom;
      z-index: -1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      @media screen and (max-width: 1600px) {
        height: 250px;
        bottom: 0px;
        background-size: contain;
      }
    }
  }
  .getting-started {
    position: relative;
    z-index: 9;
    background: #fff;
    border-radius: 10px;
    &::after {
      content: '';
      position: absolute;
      background: url('../../images/auth/wave.png');
      width: 100%;
      height: 350px;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.2;
      background-position: center bottom;
      z-index: -1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      @media screen and (max-width: 1600px) {
        height: 250px;
        bottom: 0px;
        background-size: contain;
      }
    }
    .image-wrapper {
      width: 85%;
      padding: 80px 0px 0px 0px;
      margin: 0 auto;
      img {
        width: 100%;
        display: block;
      }
    }
    .text-wrapper {
      width: 75%;
      display: block;
      margin: 0 auto;
      padding-left: 40px;
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 52px;
        color: $primaryDarkBlue;
      }
    }
    .button-bottom-panel {
      padding: 40px 0px;
      .step-button {
        border: 2px solid $primaryDarkBlue;
        border-radius: 23.5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $primaryDarkBlue;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 45px;
        background: transparent;
        &:hover {
          border-color: $blue12;
          color: #fff;
          background: $blue12;
        }
      }
    }
  }
  .slider-container {
    height: 100%;
    padding: 30px;
    .ant-carousel {
      .slick-slider {
        .slick-dots {
          li {
            width: 33px;
          }
          button {
            background: #00585f;
            height: 5px;
          }
        }
      }
    }
    .slider-wrapper {
      width: 300px;
      margin: 0 auto 120px auto;
      padding-top: 100px;
      h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        color: #09689a;
      }
    }
    .slider-bottom-panel {
      text-align: center;
      background: rgb(255 255 255 / 16%);
      padding: 25px 60px;
      border-radius: 20px;
      margin-top: 40px;
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: $primaryDarkBlue;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #09689a;
      }
    }
  }
  .authContainer {
    opacity: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .signupWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px 0px;
      .authButtons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0px;
        :global {
          button {
            font-family: var(--font-archia), sans-serif;
            font-weight: 700;
            font-size: $fzXS;
            line-height: $lhXS;
            height: 46px;
            width: 315px;
            background-color: transparent;
            margin-bottom: 20px;
            border: 2px solid $primaryDarkBlue;
            border-radius: 100px;
            color: $primaryDarkBlue;
            display: flex;
            align-items: center;
            &:hover {
              border-color: $primaryDarkBlue;
              color: #fff;
              background: $primaryDarkBlue;
              path {
                fill: #fff;
                stroke: #fff;
              }
            }
            span {
              padding-left: 20px;
            }
          }
          .separator {
            margin-bottom: 10px;
            h4.ant-typography {
              font-weight: 500;
              font-size: 20px;
              line-height: 29px;
              color: $primaryDarkBlue;
            }
          }
        }
      }
    }
    .loginWrapper {
      .connectButton {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
          color: #09689a;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
      }
      .loginForm {
        padding: 30px 20px;
        :global {
          .ant-form-item-label {
            padding-bottom: 5px;
          }
        }
        .loginButton {
          font-family: var(--font-archia), sans-serif;
          font-weight: 700;
          font-size: $fzS;
          line-height: $lhS;
          text-shadow: none;
          height: 46px;
          width: 230px;
          background-color: transparent;
          margin: 0 auto;
          border: 2px solid $primaryDarkBlue;
          color: $primaryDarkBlue;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            border-color: $primaryDarkBlue;
            color: #fff;
            background: $primaryDarkBlue;
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
        .forgotPassword {
          font-weight: 500;
          font-size: $fzXS;
          line-height: $lhXS;
          color: $primaryDarkBlue;
          display: block;
          margin: 10px auto 0;
          &:hover {
            color: $primaryPurple;
            background-color: transparent;
          }
        }
        :global {
          .ant-divider-horizontal {
            border-top: 0.4px solid #000000;
            margin: 40px 0px 60px 0px;
          }
        }
        .joinWrapper {
          text-align: center;
          padding-bottom: 30px;
          h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: $primaryDarkBlue;
          }
        }
        :global {
          .error {
            color: red;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
