@import "../../styles/vars.scss";

.landing {
  :global(.hero) {
    background-color: $primaryDarkBlue;
    color: white;
    display: flex;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    :global(.text) {
      max-width: 640px;
      position: relative;
      z-index: 1;
    }
    h1 {
      font-weight: normal;
      margin-top: 0;
      position: relative;
      z-index: 2;
      b {
        font-weight: 600;
        display: inline-block;
        position: relative;
        // text-transform: lowercase;
        white-space: nowrap;
        &:after {
          content: " ";
          background-color: $primaryGreen;
          position: absolute;
          width: 100%;
          height: 4px;
          z-index: -1;
          left: 0;
          bottom: 0px;
        }
      }
    }
    :global(.container) {
      position: relative;
    }
    :global(.globe) {
      position: absolute;
      right: -130px;
      top: -120px;
      z-index: 0;
      &:before {
        content: ' ';
        position: absolute;
        width: calc(50vw);
        right: calc(-30vw);
        height: 100%;
        top: 0;
        z-index: -1;
        background: url(/globe-y.jpg) repeat-x;
      }
      :global(.labels) {
        position: absolute;
        top: 150px;
        left: 370px;
        :global(.label) {
          height: 35px;
          line-height: 35px;
          color: white;
          padding: 0 15px 0 40px;
          position: absolute;
          white-space: nowrap;
          font-family: var(--font-archia), sans-serif;
          font-size: 12px;
          font-weight: 600;
          border-radius: 43px;
          overflow: hidden;
          span {
            position: relative;
            z-index: 2;
            transition: all 0.3s ease-out;
            &:before {
              position: absolute;
              box-sizing: border-box;
              content: ' ';
              width: 17px;
              height: 17px;
              border: 4px solid $primaryPurple;
              border-radius: 20px;
              left: -25px;
              top: -0.5px;
              transition: all 0.2s ease-out;
            }
            &:after {
              content: ' ';
              position: absolute;
              left: -27px;
              top: 4px;
              width: 11px;
              height: 11px;
              background: white;
              border-radius: 10px;
              filter: blur(2px);
              -webkit-filter: blur(2px);
              transform: scale(0);
              transition: all 0.2s ease-out;
            }
          }
          &:before {
            content: ' ';
            box-sizing: border-box;
            border-radius: 43px;
            border: 2px solid rgba(255, 255, 255, 0.07);
            background-color: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(13px);
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.3s linear;
          }
          &:global(.selected) {
            color: $primaryDarkBlue;
            font-weight: bold;
            font-size: 16px;
            span {
              // display: inline-block;
              // transform: scale(1.2);
              &:before {
                border-width: 10px;
                border-color: $primaryGreen;
                transform: translateX(-7px) scale(1.4);
              }
              &:after {
                transform: scale(1);
              }
            }
            &:before {
              background-color: white;
            }
          }
          &:nth-child(1) {
            left: 70px;
            top: 170px;
          }
          &:nth-child(2) {
            left: calc(70px + 220px);
            top: calc(170px + 120px);
          }
          &:nth-child(3) {
            left: 245px;
            top: 0;
          }
          &:nth-child(4) {
            left: calc(70px + 400px);
            top: calc(170px - 10px);
          }
          &:nth-child(5) {
            left: calc(70px + 80px);
            top: calc(170px + 240px);
          }
          &:nth-child(6) {
            left: calc(70px + 80px + 250px);
            top: calc(170px + 240px);
          }
        }
      }
    }
  }
  :global {
    .act-now {
      padding: 80px 0;
      .act-now-container {
        background: linear-gradient(
            139deg,
            rgba(0, 25, 72, 1) 0%,
            rgba(0, 25, 72, 0) 100%
          ),
          url("/act-now.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 40px;
        padding-bottom: 150px;
        position: relative;
        .wrapper {
          padding: 48px 70px;
          h3 {
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            color: white;
            margin: 0;
            padding: 18px 0px 32px 0px;
            span {
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 56px;
            }
          }
          p {
            margin: 0;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            color: white;
            max-width: 80%;
          }
        }
      }
      .slider-container {
        margin-top: -150px;
        .slider-wrapper {
          padding: 0px 40px;
          .swiper-slide {
            height: auto;
          }
        }
        .card {
          border-radius: 16px;
          padding: 24px;
          color: white;
          display: flex;
          flex-direction: column;
          gap: 12px;
          height: 100%;
          box-sizing: border-box;
          h2 {
            margin: 0;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }
          p {
            margin: 0;
            padding-bottom: 20px;
          }
          .multiple-link {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          &.card--purple {
            background-color: $primaryPurple;
          }
          &.card--green {
            background-color: $primaryGreen;
            color: $primaryDarkBlue;
          }
          &.card--violet {
            background-color: $primaryViolet;
          }
          &.card--blue {
            background-color: $primaryBlue;
            color: $primaryDarkBlue;
          }
        }
      }
    }
    .page-heading {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      color: $primaryPurple;
      margin: 0;
    }
    @media only screen and (max-width: 474px) {
      .act-now {
        padding: 32px 0px;
        .act-now-container {
          border-radius: 20px;
          margin: 0 20px;
          background: $primaryDarkBlue;
          padding-bottom: 0px;
          .wrapper {
            padding: 24px 16px;
            h3 {
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: 36px;
              padding-bottom: 24px;
              span {
                font-size: 32px;
                font-weight: 400;
                line-height: 36px;
              }
            }
            p {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              max-width: 100%;
            }
          }
        }
        .slider-container {
          margin: 20px 0px 0px 20px;
          .slider-wrapper {
            padding: 0;
            .swiper-slide {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
