@import "../../styles/vars.scss";
@import "../../styles/typography.scss";

.landing {
  :global(.hero) {
    background-color: $primaryDarkBlue;
    color: white;
    display: flex;
    padding: 52px 0;
    :global(.text) {
      max-width: 640px;
    }
    h1 {
      font-weight: normal;
      margin-top: 0;
      position: relative;
      z-index: 2;
      b {
        font-weight: 600;
        display: inline-block;
        position: relative;
        &:after {
          content: " ";
          background-color: $primaryGreen;
          position: absolute;
          width: 100%;
          height: 4px;
          z-index: -1;
          left: 0;
          bottom: 0px;
        }
      }
    }
  }
}
.verticalTabsContent {
  strong {
    font-weight: 700;
  }
  strong:not(h2 > strong) {
    font-family: var(--font-archia), sans-serif;
    font-size: 16px;
    color: $primaryPurple;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: left;
  }
  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin-block-start: .5rem;
  }
  p {
    @include paragraph-L();
    font-family: var(--font-dm-sans), sans-serif;
    text-align: left;
  }
}
