@import '../../styles/vars.scss';

@keyframes timeout {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.landing {
  :global {
    .container {
      position: relative;
    }
    .hero {
      background-color: $primaryDarkBlue;
      color: white;
      display: flex;
      padding: 100px 0 110px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-bottom: 150px;
      h1 {
        font-weight: normal;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        b {
          font-weight: 600;
          display: inline-block;
          position: relative;
          // text-transform: lowercase;
          white-space: nowrap;
          &:after {
            content: ' ';
            background-color: $primaryGreen;
            position: absolute;
            width: 100%;
            height: 4px;
            z-index: -1;
            left: 0;
            bottom: 0px;
            transform-origin: 0px 0px;
          }
          &:global(.timeout) {
            &:after {
              animation: timeout 5s linear infinite;
            }
          }
        }
      }
      :global {
        .text {
          max-width: 640px;
          position: relative;
          z-index: 1;
          :global(.p-container) {
            height: 188px;
            position: relative;
            p {
              position: absolute;
            }
          }
        }
        .globe {
          position: absolute;
          right: -130px;
          top: -120px;
          z-index: 0;
          &:before {
            content: ' ';
            position: absolute;
            width: calc(50vw);
            right: calc(-30vw);
            height: 100%;
            top: 0;
            z-index: -1;
            background: url(/globe-y.jpg) repeat-x;
          }
          :global(.labels) {
            position: absolute;
            top: 150px;
            left: 370px;
            :global(.label) {
              height: 35px;
              cursor: pointer;
              line-height: 35px;
              color: white;
              padding: 0 15px 0 40px;
              position: absolute;
              white-space: nowrap;
              font-family: var(--font-archia), sans-serif;
              font-size: 12px;
              font-weight: 600;
              border-radius: 43px;
              overflow: hidden;
              span {
                position: relative;
                z-index: 2;
                transition: all 0.3s ease-out;
                &:before {
                  position: absolute;
                  box-sizing: border-box;
                  content: ' ';
                  width: 17px;
                  height: 17px;
                  border: 4px solid $primaryPurple;
                  border-radius: 20px;
                  left: -25px;
                  top: -0.5px;
                  transition: all 0.2s ease-out;
                }
                &:after {
                  content: ' ';
                  position: absolute;
                  left: -27px;
                  top: 4px;
                  width: 11px;
                  height: 11px;
                  background: white;
                  border-radius: 10px;
                  filter: blur(2px);
                  -webkit-filter: blur(2px);
                  transform: scale(0);
                  transition: all 0.2s ease-out;
                }
              }
              &:before {
                content: ' ';
                box-sizing: border-box;
                border-radius: 43px;
                border: 2px solid rgba(255, 255, 255, 0.07);
                background-color: rgba(255, 255, 255, 0.01);
                backdrop-filter: blur(13px);
                z-index: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all 0.3s linear;
              }
              &:global(.selected) {
                color: $primaryDarkBlue;
                font-weight: bold;
                font-size: 16px;
                span {
                  // display: inline-block;
                  // transform: scale(1.2);
                  &:before {
                    border-width: 10px;
                    border-color: $primaryGreen;
                    transform: translateX(-7px) scale(1.4);
                  }
                  &:after {
                    transform: scale(1);
                  }
                }
                &:before {
                  background-color: white;
                }
              }
              &:nth-child(1) {
                left: 70px;
                top: 170px;
              }
              &:nth-child(2) {
                left: calc(70px + 220px);
                top: calc(170px + 120px);
              }
              &:nth-child(3) {
                left: 245px;
                top: 0;
              }
              &:nth-child(4) {
                left: calc(70px + 400px);
                top: calc(170px - 10px);
              }
              &:nth-child(5) {
                left: calc(70px + 80px);
                top: calc(170px + 240px);
              }
              &:nth-child(6) {
                left: calc(70px + 80px + 250px);
                top: calc(170px + 240px);
              }
            }
          }
        }
      }
    }

    .search-bar {
      position: absolute;
      width: 100%;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 20px 20px rgba(40, 44, 217, 0.12);
      height: 163px;
      top: -235px;
      z-index: 5;
      padding: 20px 40px;
      box-sizing: border-box;

      .bar {
        display: flex;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid $primaryDarkBlue2;
        input {
          flex: 1;
          border: none;
          outline: none;
          margin-top: -3px;
        }
        .localisation {
          font-weight: bold;
          margin-right: 20px;
          margin-top: 7px;
          cursor: pointer;
          svg {
            margin-right: 7px;
            transform: translateY(4px);
          }
          &:hover {
            color: $primaryDarkBlue4;
            svg {
              path {
                stroke: $primaryDarkBlue4;
              }
            }
          }
        }
      }
      .tags {
        margin-top: 25px;
        & > b {
          margin-right: 10px;
        }
        .ant-tag {
          padding: 5px 12px 5px 12px;
          border-radius: 100px;
          line-height: 32px !important;
          border: 2px solid $primaryDarkBlue2;
          font-weight: 600;
          margin-right: 8px;
          cursor: pointer;
          transition: all 0.25s ease-out;
          &:hover {
            background-color: $primaryDarkBlue;
            border-color: $primaryDarkBlue;
            color: white;
          }
        }
      }
    }
  }
}

.about {
  padding: 24px 0;
  :global {
    .who-are-we-mobile {
      display: none;
      @media only screen and (max-width: 640px) {
        display: block;
      }
    }
    .who-are-we-lg-md {
      display: block;
      @media only screen and (max-width: 640px) {
        display: none;
      }
    }
    .ant-tabs,
    .ant-collapse-header {
      display: flex;
      gap: 32px;
      padding: 20px 12px;
    }
    .ant-collapse {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .ant-collapse-header {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    .ant-collapse-item {
      border-radius: 8px;
    }
    .ant-collapse-item .p-s {
      color: $primaryDarkBlue4;
    }
    .ant-tabs {
      flex-direction: row;
    }
    .ant-tabs .ant-tabs-nav {
      max-width: 460px;
    }
    .ant-tabs .ant-tabs-content-holder {
      width: 650px;
    }
    .ant-tabs .caps-heading-1 {
      font-family: var(--font-archia), sans-serif;
      color: $primaryPurple;
      text-transform: uppercase;
    }
    .ant-tabs .ant-tabs-tab {
      padding: 20px 24px;
      margin-bottom: 24px;
      transition: all 0.3s ease-out;
      &:hover:not(.ant-tabs-tab-active) {
        svg {
          circle {
            fill: $primaryDarkBlue;
          }
          path {
            transform: translateX(3px);
          }
        }
      }
    }
    .ant-tabs .tab-label {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      span.h6.bold {
        width: 70%;
      }
    }
    .ant-tabs .ant-tabs-tab,
    .ant-collapse-header {
      font-family: var(--font-archia), sans-serif;
      border-radius: 8px;
      background-color: $primaryGrey;
      svg {
        path {
          stroke: $primaryWhite;
          transition: all 0.25s ease-out;
        }
        circle {
          stroke: transparent;
          fill: $primaryPurple;
          transition: all 0.25s ease-out;
        }
      }
    }
    .p-l {
      line-height: 34px;
    }
    .ant-tabs .ant-tabs-tab-active,
    .ant-collapse-item-active {
      background-color: $primaryWhite;
      box-shadow: 0px 40px 32px -20px rgba(101, 93, 122, 0.06),
        0px 20px 44px 0px rgba(101, 93, 122, 0.06);
      svg circle {
        fill: $primaryDarkBlue;
      }
    }
    .ant-collapse-item-active {
      padding: 20px 12px;
    }
    .ant-collapse-item-active .ant-collapse-header {
      padding: 0;
      background-color: $primaryWhite;
    }
    .ant-collapse-content-active .p-s {
      line-height: 22px;
    }
  }
}
