@import "../../vars.scss";

#map-landing {
  position: relative;

  .landing-container.map-container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eaf6fd !important;
    border-bottom: none !important;
    z-index: 1;
    width: 100%;

    h2.loading {
      color: #036799;
      font-weight: bold;
      padding-top: 320px;
      padding-bottom: 370px;
      background-color: #eaf6fd;
    }

    .map-overlay {
      position: absolute;
      z-index: 10;
      left: 60px;
      top: 40px;

      .ant-select {
        width: 100%;
        margin-bottom: 10px;
      }

      .resource-list-header {
        background: #edf2f7;
      }

      .country-filter-tab,
      .summary {
        border-radius: 5px;
        border: 2px solid #dae9f1;
        background-color: #fff;
      }

      .country-filter-tab {
        margin-bottom: 1.5rem;

        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          text-align: left;
        }

        .country-filter-tab-pane {
          padding: 0.5rem 1rem;
        }
        .ant-tabs-nav-list {
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
        }
        .ant-tabs-tab:not(:last-of-type) {
          margin-right: 0;
        }
        .ant-tabs-tab {
          width: 50%;
          border-radius: 0;
          border: none;
          background: #dae9f1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ant-tabs-tab-active {
          background: #fff;
          .ant-tabs-tab-btn {
            font-weight: normal;
          }
        }
        .ant-tabs-tab-btn {
          color: #036799;
        }
        .ant-tabs-nav::before,
        .ant-tabs-nav .ant-tabs-nav-wrap::before,
        .ant-tabs-nav .ant-tabs-nav-wrap::after {
          content: none !important;
        }
        // css for select suffix
        .multi-country-info {
          .ant-select-arrow {
            right: 28px;
            font-size: 14px;
            top: 48%;
            color: #036799;
          }
        }
      }

      .summary {
        overflow: hidden;
        min-width: 315px;

        header {
          background-color: #dae9f1;
          color: #036799;
          font-size: 13px;
          font-weight: 600;
          text-align: left;
          line-height: 30px;
          padding: 0 10px 2px;
        }

        ul {
          padding: 0px;
          margin-bottom: 0px;

          li:hover {
            background-color: #eaeaea;
          }

          li.no-hover:hover {
            background-color: #fff;
          }

          .switcher {
            display: inline-block;
            padding: 5px;
            border-radius: 3px;
            background-color: #ddd;
            margin-right: 10px;

            button {
              margin-right: 0px !important;
              margin-top: 3px;
            }
          }

          .summary-list {
            opacity: 0.5;
          }

          .summary-list.summary-list-selected {
            opacity: 1;
            background-color: #d9f2fd !important;
          }

          li {
            cursor: pointer;
            position: relative;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;

            .text {
              display: flex;
              flex-direction: column;
            }

            .disclaimer {
              display: flex;
              font-size: 12px;
              flex-direction: column;
              max-width: 315px;
              padding-right: 5px;
              color: #036799;
              text-align: left;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #dfecf3;
            }

            .ant-switch {
              margin-right: 10px;
            }

            b {
              margin-left: auto;
              padding-left: 10px;
              display: inline-block;
              margin-right: 10px;
              text-align: right;
              font-weight: bold;
              font-size: 20px;
              color: $primaryColor;
            }

            &:hover {
              opacity: 1;

              a {
                display: block;
              }
            }

            a {
              display: none;
              position: absolute;
              padding: 10px 8px;
              right: 0px;
            }

            font-size: 12px;
            line-height: 16px;

            .label {
              color: $primaryColor;
              font-weight: 700;
              text-transform: capitalize;
              text-align: left;
            }

            span {
              color: #036799;

              b {
                color: #036799;
                display: inline;
                font-size: 12px;
                font-weight: bold;
                line-height: 16px;
                padding-left: 0px;
                margin-left: 0px;
                margin-right: 0px;
              }
            }

            &.for-country {
              .label {
                margin-top: 5px;
                margin-bottom: 5px;
              }
            }
          }

          li.summary-count-item {
            margin: 0.4rem 0;
          }
        }
      }

      @media screen and (min-width: 1600px) {
        left: calc((100% - 1560px) / 2);
      }
    }
  }

  .map-buttons {
    // position: absolute;
    // z-index: 999;

    button {
      margin-left: 10px;
    }
  }

  .legends {
    // position: absolute;
    // bottom: 10px;
    // z-index: 999;
    // left: 20px;
    // border: 2px solid #daeaf1;
    // line-height: 10px;

    .legend {
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      padding: 5px 10px;
      color: #226799;
      width: 80px;
      font-size: 12px;
      border-right: solid 2px #daeaf1;
      line-height: 10px;
    }

    .legend.legend-selected {
      border: solid #036799 2px;
      padding: 3px 8px;
      color: #fff;
    }
  }

  .topics {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../../images/landing-gpml.jpg) no-repeat top center;
    background-size: cover;

    .ui.container {
      display: flex;
      flex-wrap: wrap;
    }

    .topic-item {
      width: 33%;
      padding: 10px;

      .inner {
        border-top: 3px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        padding: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .type {
          color: #81b2cc;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 600;
        }

        h2 {
          color: #036799;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 5px;
          line-height: 28px;
        }

        ul {
          margin-top: 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #036799;
        }

        p {
          font-size: 12px;
        }

        .bottom {
          margin-top: auto;
        }

        .ant-btn {
          color: $primaryColor;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 0;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}

.map-tooltip {
  padding: 0 10px;

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #005c93;
    max-width: 170px;
    width: 170px;
    white-space: pre-wrap;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    max-width: 170px;
    width: 170px;
    white-space: pre-wrap;
  }

  li {
    display: flex;
    max-width: 170px;

    &:not(:last-child) {
      border-bottom: 1px solid #e7f1f7;
      padding-bottom: 3px;
      margin-bottom: 3px;
    }

    & > div {
      display: flex;
    }

    span {
      margin-right: 10px;
      color: #7db0cb;
    }

    b {
      margin-left: auto;
      color: #005c93;
    }
  }
}

// css for multi-country dropdown
.country-filter-dropdown {
  .ant-select-item-group {
    // color: #036799;
    font-weight: 600;
  }
}
// end of css for multi-country dropdown

// css for multi-country popover
.ant-popover {
  z-index: 1051;
}
.popover-multi-country {
  color: #036799;
}
.ant-popover-inner-content {
  padding: 12px 8px;
}
.popover-content-wrapper {
  max-height: 50vh;
  padding: 0 12px;
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #7db0cb;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #036799;
  }
  .popover-content-item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 13px;
  }
}
// end of css for multi-country popover
