@import '../../vars.scss';

#browse{
  padding-top: 30px;
  .ui.container{
    display: flex;
  }
  aside{
    width: 330px;
    .inner{
      border: 1px solid #D7E6EE;
      border-radius: 3px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      .ant-select{
        margin-top: 15px;
      }
      .label{
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 15px;
      }
      .field{
        width: 100%;
        .ant-select{
          margin-top: 0;
          width: 100%;
        }
      }
      ul.topic-list{
        line-height: 36px;
        padding: 0 5px;
        li{
          &:not(:last-child){
            border-bottom: 1px solid #DAE9F1;
          }
        }
        .ant-checkbox{
          margin-right: 5px;
          &+span{
            color: #036799;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .main-content{
    flex: 1;
    margin-left: 20px;
    .ant-card{
      margin-bottom: 15px;
      position: relative;
      .type{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #A5C9DB;
        color: #FFF;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 22px;
        padding: 0 5px;
        border-radius: 3px;
      }
    }
  }
}