@import "../../vars.scss";

@media (max-width: 644px) {
  #browse {
    .scroll-content {
      .ant-card.result {
        margin: 0 0 0.75rem 0 !important;

        h4 {
          width: calc(100% - 100px) !important;
        }

        .type {
          font-size: 12px !important;
          max-width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .ant-card-body {
          padding: 10px 20px;
        }
      }
    }

    .main-content {
      .page {
        margin: 0px !important;
        padding: 1rem !important;
        border-bottom: solid #ddd 1px;
        border-top: solid #ddd 1px;
      }
    }
  }
}

#browse {
  .section-header {
    background-color: #046799;
    padding: 20px 0;
    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0;
      }
      .ant-switch {
        border: 1px solid #fff;
        margin-right: 8px;
        background: transparent;
      }
      .ant-switch-checked {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  .ui.container {
    display: flex;
  }

  aside {
    width: 330px;
    padding-top: 1rem;
    z-index: 9999;
    background-color: #fff;
    margin-bottom: 1rem;
    padding-top: 30px;

    .inner {
      border: 1px solid #d7e6ee;
      border-radius: 3px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .ant-select {
        margin-top: 15px;
      }

      .label {
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 15px;
      }

      .field {
        width: 100%;

        .ant-select {
          margin-top: 0;
          width: 100%;
        }
      }

      ul.topic-list {
        line-height: 36px;
        padding: 0 5px;

        li {
          &:not(:last-child) {
            border-bottom: 1px solid #dae9f1;
          }

          &:last-child {
            position: relative;
            z-index: 2;
          }
        }

        .ant-checkbox {
          margin-right: 5px;

          & + span {
            color: #036799;
            text-transform: capitalize;
          }
        }
      }

      .event-fields {
        background-color: #e0e9ec;
        position: relative;
        margin-top: -51px;
        margin-bottom: -10px;
        z-index: 0;
        padding: 30px 5px 17px;

        .label {
          text-transform: none;
          font-weight: 600;
          font-size: 13px;
          margin-bottom: 3px;
        }

        &:before,
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          width: 10px;
          height: 100%;
          background-color: #e0e9ec;
        }

        &:before {
          left: -10px;
        }

        &:after {
          right: -10px;
        }

        .ant-picker-range {
          width: 100%;
        }
      }

      .my-favorites {
        margin-top: 15px;
        text-transform: uppercase;
      }
    }
  }

  .main-content {
    flex: 1;
    // margin-left: 20px;

    @media (min-width: 645px) {
      display: flex;
      align-items: flex-start;
    }

    .page {
      margin: 0px;
      padding: 1rem;
      text-align: center;
      font-style: italic;
      margin-bottom: 5px;
      background-color: #fff;
      padding-top: 30px;

      h2.loading {
        width: 100%;
        padding-bottom: 800px;
      }
    }

    .sticky-pagination {
      z-index: 9;
    }

    .scroll-content {
      flex-grow: inherit;
      width: -webkit-fill-available;
      background: #fff;
    }

    .result {
      margin: 1rem 0 1rem 1rem;
    }

    .ant-card {
      margin-bottom: 15px;
      position: relative;

      .line-truncated {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      a.browse-card {
        display: block;
        min-width: 100%;
        min-height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 2;
      }

      .type {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #a5c9db;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 22px;
        padding: 0 5px;
        border-radius: 3px;
      }

      .project {
        background-color: #ffd579;
        color: #28457b;
      }

      .event {
        background-color: #01abf1;
        color: #ffffff;
      }

      .stakeholder {
        background-color: #01abf1;
        color: #ffffff;
      }

      .technology {
        background-color: #035b71;
        color: #ffffff;
      }

      .policy {
        background-color: #b5c3da;
        color: #28457b;
      }

      .financing_resource {
        background-color: #21a07f;
        color: #ffffff;
      }

      .technical_resource {
        background-color: #28457b;
        color: #ffffff;
      }

      .action_plan {
        background-color: #126e9b;
        color: #ffffff;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        width: 85%;
      }

      ul.stats {
        display: flex;
        margin-bottom: 1em;

        li {
          text-transform: uppercase;
          opacity: 0.75;
          margin-right: 10px;
          font-size: 12px;
          font-weight: 500;

          span {
            opacity: 0.6;
            margin-right: 5px;
          }
        }
      }

      .portfolio-bar {
        display: flex;
        margin-top: 15px;

        .ant-btn {
          margin-right: 5px;
        }

        .label {
          font-size: 12px;
          margin-top: 3px;
          font-weight: 600;
          opacity: 0.7;
        }
      }

      &:before {
        position: absolute;
        content: "Learn more";
        position: absolute;
        bottom: 0;
        right: 0;
        color: #00aaf1;
        font-weight: 600;
        padding: 4px 7px;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }

      &:after {
        content: " ";
        border-bottom: 1px solid #00aaf1;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }

      &:hover {
        &:after,
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.relations-dropdown {
  background-color: #fff;
  z-index: 10;
  padding: 3px 10px;
  border: 1px solid #89b7d0;
  border-radius: 3px;

  li {
    line-height: 30px;

    &:not(:last-child) {
      border-bottom: 1px solid #e0e9ec;
    }
  }
}
