@import "../../vars.scss";

#workspace {
  // common style for the font-size
  .paragraph,
  .header-text,
  .plan-content,
  .create-action-plan {
    font-size: 1.5rem;
  }

  .plan-list-item,
  .plan-content i,
  .plan-content h3,
  .plan-heading {
    font-size: 1.3rem;
  }

  .header-text {
    font-weight: 400;
    .user-name {
      font-weight: 700;
    }
  }

  .section-download {
    padding: 14px 17px 20.3px 17px;
    .card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 21px;
      padding: 37px 36px 41px 36px;
      border-radius: 10px;
      background: url("../../images/workspace/dark-sea-bg.png") no-repeat bottom;
      background-size: cover;
    }

    .download-guidance {
      font-size: 2.125rem;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .download-link {
      width: 100%;
      max-width: 314px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: rgba(53, 121, 152, 0.7);
      border-radius: 22px;
      padding: calc(63px / 2) calc(30px / 2) calc(78px / 2) calc(30px / 2);

      .download-text {
        font-weight: 700;
        font-size: 1.12rem;
        line-height: 20px;
      }

      img {
        width: 100%;
        max-width: 135.58px;
        margin-bottom: 30px;
      }
    }
  }

  .item-sidebar {
    position: relative;
    p {
      opacity: 0.5;
      font-size: 0.75rem;
    }

    img {
      opacity: 0.5;
    }

    &:last-child {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100px;
        background-color: $green01;
      }
      p {
        opacity: 1;
      }
      img {
        opacity: 1;
      }
    }
  }

  .action-plan {
    width: 100%;
    padding: 14px 10px 17px 8px;
    background-color: #255b87;
    overflow: hidden;

    .create-action-plan {
      padding-left: calc(25px - 8px);
      line-height: 33px;
    }

    .container {
      border-radius: 10px;
      padding: 13px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .plan-content {
      background-color: #ffffff;
      padding: calc(55px / 2) calc(27.24px / 2) calc(78px / 2) calc(36px / 2);

      i {
        display: block;
        margin-bottom: 16px;
      }

      ul {
        list-style: disc;
        padding-left: 32px;

        ul {
          list-style: square;
        }

        li {
          margin-bottom: 16px;
        }
      }
    }

    .line {
      max-height: 1px;
      margin: 0;
      background-color: #ffffff;
      border-top: 1px solid rgba(124, 157, 183, 0.2);
      border-radius: 0 0 10px 10px;
      padding-bottom: calc(122px / 2);
    }

    .plan-list {
      display: flex;
      font-weight: bold;

      margin-bottom: 0;
      color: $blue03;
    }

    .plan-list-item {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      background-color: $grey01;
      border: 2px solid #ffffff;
      border-right: 1px solid #ffffff;
      padding: 17px 0 15.5px 28.175px;
      cursor: pointer;

      &::after,
      &::before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
      }

      &::after {
        right: -15px;
        border-top: 30.5px solid transparent;
        border-left: 15px solid $grey01;
        border-bottom: 30.5px solid transparent;
        z-index: 2;
        top: 0px;
      }

      &::before {
        left: -0.5px;
        border-top: 30.5px solid transparent;
        border-left: 15px solid #fff;
        border-bottom: 30.5px solid transparent;
        z-index: 1;
        top: 0px;
      }

      &:first-child::before,
      &:last-child:after {
        border: 0;
      }

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &.active {
        background-color: #ffffff;
        &::after {
          border-color: transparent transparent transparent #ffffff;
        }
      }

      &:last-child {
        border-radius: 0 10px 0 0;
        padding-right: 15px;
        &.active::after {
          border-color: transparent;
        }
      }

      .active .plan-number {
        background-color: $grey01;
      }

      .plan-heading {
        font-weight: bold;
        line-height: 28px;
        color: #000000;
      }

      .plan-number {
        width: 100%;
        max-width: calc(51.34px / 2);
        max-height: calc(56px / 2);
        background-color: $grey02;
        margin-right: calc(28.33px / 2);
        padding: 3px;
        text-align: center;
        border-radius: 50%;
        font-size: 2rem;
        line-height: 22px;
      }
    }
  }

  // Desktop

  @media (min-width: 900px) {
    .section-download {
      .card {
        flex-wrap: nowrap;
        gap: 21px;
        padding: 37px 36px 41px 36px;
      }

      .download-guidance {
        line-height: 30px;
        margin-bottom: 30px;
      }

      .download-link {
        border-radius: 22px;
        max-width: 314px;
        padding: 63px 30px 78px 30px;
      }
    }

    .plan-list,
    .plan-content i,
    .plan-content h3,
    .plan-heading {
      font-size: 22px;
    }

    .line {
      padding-bottom: 122px;
    }

    .plan-content {
      padding: 55px 27.24px 78px 36px;
    }

    .plan-list-item:last-child {
      padding-right: 30px;
    }
  }

  @media (min-width: 988px) {
    .action-plan .plan-list-item {
      padding: 34px 0 31px 57.5px;
      &::after {
        right: -30px;
        border-top: 61px solid transparent;
        border-left: 30px solid $grey01;
        border-bottom: 61px solid transparent;
      }
      &::before {
        left: -1px;
        border-top: 61px solid transparent;
        border-left: 30px solid #fff;
        border-bottom: 61px solid transparent;
      }

      .plan-number {
        line-height: 44px;
        padding: 6px;
        max-width: 51.34px;
        max-height: 56px;
        margin-right: 28.33px;
      }
    }
  }
}
