@import "../../vars.scss";

$bg-dark-primary: #005b70;
$bg-green-primary: #10f9b7;


#workspace {
  background-color: $blue06;
  .paragraph,
  .header-text,
  .plan-content,
  .create-action-plan {
    font-size: 1.5rem;
    @-moz-document url-prefix() {
      font-size: 17px;
    }
  }

  .plan-list-item,
  .plan-content i,
  .plan-content h3,
  .plan-heading {
    font-size: 1.3rem;
    @-moz-document url-prefix() {
      font-size: 15.2px;
    }
  }

  .header-container .ant-col {
    width: 100%;
    max-width: 1560px;
    margin: auto;
  }

  .header-container {
    border-bottom: 1px solid #ffff;
    background-color: rgba(0, 91, 112, 0.8);
  }

  .header-text {
    font-weight: 400;
    .user-name {
      font-weight: 700;
    }
  }

  .section-download {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    background-color: #ffff;
    padding: 14px 17px 20.3px 17px;
    @-moz-document url-prefix() {
      padding: 9px 12px 15.3px 12px;
    }

    .card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 21px;
      padding: 37px 36px 41px 36px;
      border-radius: 10px;
      background: url("../../images/workspace/dark-sea-bg-small.png") no-repeat
        bottom;
      background-size: cover;
      @-moz-document url-prefix() {
        gap: 16px;
        padding: 32px 31px 36px 31px;
      }
    }

    .download-guidance {
      font-size: 2.125rem;
      line-height: 30px;
      margin-bottom: 30px;
      @-moz-document url-prefix() {
        font-size: 24.75px;
        line-height: 20px;
        margin-bottom: 25px;
      }
    }

    .download-link {
      width: 100%;
      max-width: 314px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: rgba(53, 121, 152, 0.7);
      border-radius: 22px;
      padding: 63px 30px 78px 30px;
      @-moz-document url-prefix() {
        border-radius: 17px;
        max-width: 226px;
        padding: 58px 25px 73px 25px;
      }

      &:hover {
        background-color: $yellow-highlight;
      }

      .download-text {
        font-weight: bold;
        font-size: 1.12rem;
        line-height: 20px;
        @-moz-document url-prefix() {
          line-height: 10px;
          font-size: 12.68px;
        }
      }

      img {
        width: 100%;
        max-width: 135.58px;
        margin-bottom: 30px;
        @-moz-document url-prefix() {
          max-width: 98px;
          margin-bottom: 25px;
        }
      }
    }
  }

  .sidebar {
    background-color: $bg-dark-primary;
    .item-sidebar {
      width: 100%;
      height: 100px;
      display: flex;
      cursor: pointer;
      padding: 0;
      @-moz-document url-prefix() {
        height: 90px;
      }

      p {
        margin-top: 6px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
      }

      svg,
      p {
        opacity: 0.5;
      }

      &:last-child,
      &.active.disabled {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:last-child:hover {
        background-color: $yellow-highlight;
      }

      &.active.disabled:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.disabled {
        cursor: no-drop;
        svg,
        p {
          opacity: 0.5;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        @-moz-document url-prefix() {
          width: 35px;
          height: 35px;
        }
      }

      &.active {
        background: rgba(5, 240, 129, 0.2);

        svg,
        p {
          opacity: 1;
        }

        &.disabled::before {
          display: none;
        }
      }

      .item-menu {
        width: 100%;
        align-self: center;
        text-align: center;
        padding: 13.5px 0 13.5px 0;
        @-moz-document url-prefix() {
          padding: 8.5px 0 8.5px 0;
        }
      }
    }
  }

  .action-plan {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    padding: 14px 10px 17px 8px;
    background-color: $blue06;
    overflow: hidden;
    @-moz-document url-prefix() {
      padding: 9px 5px 12px 3px;
    }

    .create-action-plan {
      padding-left: calc(25px - 8px);
      line-height: 33px;
      @-moz-document url-prefix() {
        padding-left: calc(20px - 8px);
        line-height: 23px;
      }
    }

    .container {
      border-radius: 10px;
      padding: 13px;
      background-color: rgba(255, 255, 255, 0.5);
      @-moz-document url-prefix() {
        padding: 8px;
        border-radius: 8px;
      }
    }

    .plan-content {
      background-color: #ffffff;
      padding: 55px 27.24px 78px 36px;
      @-moz-document url-prefix() {
        padding: 50px 22.24px 73px 31px;
      }

      i {
        display: block;
        margin-bottom: 16px;
        @-moz-document url-prefix() {
          margin-bottom: 11px;
        }
      }

      ul {
        list-style: disc;
        padding-left: 32px;
        @-moz-document url-prefix() {
          padding-left: 27px;
        }

        ul {
          list-style: square;
        }

        li {
          margin-bottom: 16px;
          @-moz-document url-prefix() {
            margin-bottom: 11px;
          }
        }
      }
    }

    .line {
      max-height: 1px;
      margin: 0;
      background-color: #ffffff;
      border-top: 1px solid rgba(124, 157, 183, 0.2);
      border-radius: 0 0 10px 10px;
      padding-bottom: 122px;
      @-moz-document url-prefix() {
        padding-bottom: 91px;
        border-radius: 0 0 8px 8px;
      }
    }

    .plan-list {
      display: flex;
      font-weight: bold;
      margin-bottom: 0;
      color: $blue03;
      overflow-x: auto;
      border-radius: 10px 10px 0 10px;
      background: white;
      @-moz-document url-prefix() {
        border-radius: 8px 8px 0 8px;
      }
    }

    .plan-list-item {
      width: 100%;
      height: 122px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      background-color: $grey01;
      border: 2px solid #ffffff;
      border-right: 1px solid #ffffff;
      padding: 0 0 0 57.5px;
      cursor: pointer;
      @-moz-document url-prefix() {
        height: 86px;
        border: 1px solid #fff;
        border-right: 0.5px solid #fff;
        padding: 0 0 0 52.5px;
      }

      &:hover {
        background-color: $yellow-highlight;
        &::after {
          border-left: 30px solid $yellow-highlight;
          @-moz-document url-prefix() {
            border-left: 25px solid $yellow-highlight;
          }
        }
      }
      &::after,
      &::before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
      }

      &::after {
        right: -30px;
        border-top: 59px solid transparent;
        border-left: 30px solid $grey01;
        border-bottom: 59px solid transparent;
        z-index: 2;
        top: 0px;
        @-moz-document url-prefix() {
          right: -24px;
          border-top: 42px solid transparent;
          border-left: 24px solid $grey01;
          border-bottom: 42px solid transparent;
        }
      }

      &::before {
        left: -1px;
        border-top: 59px solid transparent;
        border-left: 30px solid #fff;
        border-bottom: 59px solid transparent;
        z-index: 1;
        top: 0px;
        @-moz-document url-prefix() {
          left: 0px;
          border-top: 42px solid transparent;
          border-left: 24px solid #fff;
          border-bottom: 42px solid transparent;
        }
      }

      &:first-child::before,
      &:last-child:after {
        border: 0;
      }

      &:first-child {
        border-radius: 10px 0 0 10px;
        @-moz-document url-prefix() {
          border-radius: 8px 0 0 8px;
        }
      }

      &.active {
        background-color: #ffffff;
        &::after {
          border-color: transparent transparent transparent #ffffff;
        }
      }

      &:last-child {
        border-radius: 0 10px 0 0;
        padding-right: 30px;
        @-moz-document url-prefix() {
          padding-right: 25px;
          border-radius: 0 8px 0 0;
        }

        &.active::after {
          border-color: transparent;
        }
      }

      .active .plan-number {
        background-color: $grey01;
      }

      .plan-heading {
        font-weight: bold;
        line-height: 28px;
        color: #000000;
        @-moz-document url-prefix() {
          line-height: 18px;
        }
      }

      .plan-number {
        width: 100%;
        max-width: 51.34px;
        max-height: 56px;
        background-color: $grey02;
        font-size: 2rem;
        line-height: 44px;
        text-align: center;
        border-radius: 50%;
        padding: 6px;
        margin-right: 28.33px;
        @-moz-document url-prefix() {
          font-size: 22px;
          padding: 3px;
          line-height: 34px;
          max-height: 42px;
          max-width: 38px;
        }
      }
    }
  }

  // Desktop
  @media (min-width: 900px) {
    .section-download .card,
    .action-plan .plan-list-item {
      flex-wrap: nowrap;
    }
  }

  @media (min-width: 1440px) {
    .section-download .card {
      background: url("../../images/workspace/dark-sea-bg-large.png") no-repeat
        bottom;
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .action-plan {
      .plan-list-item {
        padding: 0 20px 0 55px;
      }
    }
    .section-download {
      .card {
        padding: 5px 36px 5px 36px;
      }
      .download-link {
        padding: 30px 30px 30px 30px;
      }
    }
    .ant-page-header {
      padding: 5px 24px;
    }
    #appWrapper {
      zoom: 80%;
    }
  }
}
