@import "../../vars.scss";

$bg-dark-primary: #005b70;
$bg-dark-secondary: #255b87;
$bg-green-primary: #10f9b7;

.workspace-button-wrapper {
  position: fixed;
  z-index: 3;
  bottom: 150px;
  right: 19px;
  width: 100%;
  max-width: 305px;
  .button-container {
    position: relative;

    border-radius: 90px;
    width: 100%;
    max-width: 305px;
    .button-mask,
    .default-button {
      cursor: pointer;
      width: 100%;
      max-width: 305px;
      font-weight: bold;
      font-size: 22px;
      line-height: 20px;
      padding-left: 24px;
      padding-top: 18px;
      padding-right: 43px;
      padding-bottom: 18px;
      border-radius: 90px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .default-button {
      color: $bg-dark-secondary;
      background-color: $bg-green-primary;
      border: 3px solid #ffffff;
    }

    .button-mask span {
      display: none;
    }

    .button-mask,
    .button-container:hover .button-mask {
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .button-mask {
      max-width: 85px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      color: $bg-green-primary;
      background-color: $bg-dark-secondary;
      border: 3px solid $bg-green-primary;
    }

    &:hover .button-mask {
      opacity: 1;
      transform: translate(5px, 4px);
    }
  }

  svg {
    width: 100%;
    max-width: 45px;
  }
}

.workspace-button-wrapper:hover {
  .button-mask {
    max-width: 305px;
  }

  .button-mask span {
    display: block;
  }
}
