@import "../../vars.scss";

$bg-dark-primary: #005b70;
$bg-dark-secondary: #255b87;
$bg-green-primary: #10f9b7;

.workspace-button-wrapper {
  position: fixed;
  z-index: 3;
  bottom: 150px;
  right: 19px;
  width: 100%;
  max-width: max-content;
  display: block;

  .add-button {
    height: auto;
    color: #fff;
    max-width: 143px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: calc(100% - 143px - 9px);
    bottom: 6px;
    padding: 36px;
    background-color: $bg-green-primary;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px #000000;
    svg rect {
      stroke: currentColor;
    }
  }

  &:hover {
    max-width: 305px;
    .add-button {
      max-width: 305px;
    }
  }
}


