@import "../../vars.scss";

.map-main-wrapper {
  max-width: 100%;
  height: unset !important;

  @media (min-width: 576px) {
    max-width: 100% !important;
  }

  @media (min-width: 768px) {
    max-width: 100% !important;
  }

  @media (min-width: 992px) {
    max-width: 100% !important;
  }
}

#map-landing {
  position: relative;
  overflow: hidden;
  background-color: #eaf6fd;
  width: 100%;
  .legend-button {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 35px;
    height: 32px;
    &:hover {
      background-color: $yellow-highlight;
      color: rgba(0, 0, 0, 0.85);
      border: #d9d9d9 solid 1px;
    }
  }

  #map-loader {
    position: absolute;
    left: 50%;
    top: calc(50% + calc(16px / 2));
    padding-top: 0;
    padding-bottom: 0;
  }

  .render-map-container {
    background-color: #eaf6fd;
  }

  .landing-container.map-container > div {
    height: 700px !important;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    padding-bottom: 13px;
    @media (min-width: 3000px) {
      height: unset !important;
    }
  }

  .resource-list-header.show-list {
    position: absolute;
  }

  .landing-container.map-container {
    display: flex;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    border-bottom: none !important;
    z-index: 1;

    .rsm-svg {
      width: 100vw;
    }

    .rsm-svg {
      width: 100vw;
    }

    h2.loading {
      color: #036799;
      font-weight: bold;
      padding-top: 320px;
      padding-bottom: 370px;
      background-color: #eaf6fd;
    }

    .map-overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 1;
      left: 0 !important;
      top: 0 !important;
      background-color: #eaf6fd;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

      .ant-select {
        width: 100%;
        margin-bottom: 10px;
      }

      .country-filter-tab {
        border-radius: 5px;
        border: 2px solid #dae9f1;
        background-color: #fff;
      }

      .country-filter-tab {
        margin-bottom: 1.5rem;
        .country-filter-tab-pane {
          padding: 0.5rem 1rem;
        }
        .ant-tabs-nav-list {
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
        }
        .ant-tabs-tab:not(:last-of-type) {
          margin-right: 0;
        }
        .ant-tabs-tab {
          width: 50%;
          border-radius: 0;
          border: none;
          background: #dae9f1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ant-tabs-tab-active {
          background: #fff;
          .ant-tabs-tab-btn {
            font-weight: normal;
          }
        }
        .ant-tabs-tab-btn {
          color: #036799;
        }
        .ant-tabs-nav::before,
        .ant-tabs-nav .ant-tabs-nav-wrap::before,
        .ant-tabs-nav .ant-tabs-nav-wrap::after {
          content: none !important;
        }
        // css for select suffix
        .multi-country-info {
          .ant-select-arrow {
            right: 28px;
            font-size: 14px;
            top: 48%;
            color: #036799;
          }
        }
      }

      @media screen and (min-width: 1600px) {
        left: calc((100% - 1560px) / 2);
      }
    }
  }
  // LEGEND CONTENT
  .total-per-transnational {
    margin-top: 30px;
    .transnational-name {
      display: block;
      margin-top: 30px;
      color: gray;
    }
  }
  .legend-transnational-count {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    .legend-transnational-title {
      display: block;
      color: #036799;
      margin-top: 10px;
    }
  }
  .legend-separator {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  .total-resources {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .total-resources:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .legend-heading {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .legend-stakeholder-type {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    .type {
      margin-right: 10px;
    }
    .entities {
      width: 100%;
      .entity-breakdown {
        display: flex;
        justify-content: space-between;
      }
      .entity-breakdown:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
  }
  .legend-stakeholder-type.individual {
    justify-content: space-between;
  }

  .map-buttons {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 10px;

    button {
      width: 35px;
      height: 32px;
      margin-right: 0;
      margin-left: 0;
      &:hover {
        background-color: $yellow-highlight;
        color: rgba(0, 0, 0, 0.85);
        border: 1px solid #d9d9d9;
      }
    }
  }

  .map-a11y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .legend-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    .card-legend-wrapper {
      .ant-card-body {
        display: flex;
        flex-direction: column;
        height: 240px;
        overflow-y: auto;
      }
    }
    &.vertical {
      align-items: normal;
      .title {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1em;
        line-height: 1.3em;
      }
      .ant-typography {
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial,
          sans-serif;
      }
      .legend {
        width: 20px;
        height: 22px;
        padding: 0 8px;
        margin-right: 8px;
        cursor: pointer;
        &.label {
          width: 140px;
          .ant-typography {
            display: flex;
            gap: 8px;
            align-items: center;
            &::before {
              right: 100%;
              display: block;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3px 4px 3px 0;
              border-color: transparent rgba(50, 50, 50, 0.8) transparent
                transparent;
            }
          }
        }
      }
      .ant-card-body {
        padding: 24px !important;
      }
    }
  }
  .legend-wrapper {
    .ant-card-bordered {
      margin-right: 5px;
    }
  }
  .legends,
  .no-legend-warning {
    line-height: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 5px;
    background-color: white;
    border: 2px solid #daeaf1;
  }

  .no-legend-warning {
    font-weight: 700;
    height: 32px;
    padding: 0 4px 0 4px;
  }

  .legends {
    padding: 4px;

    .legend {
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      padding: 5px 10px;
      color: #226799;
      width: 80px;
      font-size: 12px;
      border-right: solid 2px #daeaf1;
      line-height: 10px;
    }

    .legend.legend-selected {
      border: solid #036799 2px;
      padding: 3px 8px;
      color: #fff;
    }
  }

  .topics {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../../images/landing-gpml.jpg) no-repeat top center;
    background-size: cover;

    .ui.container {
      display: flex;
      flex-wrap: wrap;
    }

    .topic-item {
      width: 33%;
      padding: 10px;

      .inner {
        border-top: 3px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        padding: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .type {
          color: #81b2cc;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 600;
        }

        h2 {
          color: #036799;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 5px;
          line-height: 28px;
        }

        ul {
          margin-top: 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #036799;
        }

        p {
          font-size: 12px;
        }

        .bottom {
          margin-top: auto;
        }

        .ant-btn {
          color: $primaryColor;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 0;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
  @media (min-width: 3000px) {
    height: unset;
  }
}

.map-tooltip {
  padding: 0 10px;
  position: relative;

  .entity-type,
  .tooltip-topic {
    padding-right: 10px;
  }

  th,
  .stakeholder-type {
    font-size: 11px;
  }
  .tooltip-counts,
  .entity-type {
    display: block;
  }

  .table-row,
  .entity-row {
    display: flex;
  }

  .table-row {
    align-items: center;
    justify-content: space-between;
  }

  .entity-row:not(:last-of-type),
  .table-row:not(:last-of-type),
  tr div:not(:last-child) {
    border-bottom: 1px solid #e7f1f7;
  }

  .tooltip-counts {
    color: #005c93;
    text-align: right;
  }

  .tooltip-topic {
    margin-right: 10px;
    color: #7db0cb;
  }

  .entity-type {
    color: #000000;
    width: 100%;
    text-align: left;
  }

  .tooltip-note {
    font-size: 12px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #005c93;
    max-width: 170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    text-align: center;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    max-width: 170px;
    width: 170px;
    white-space: pre-wrap;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid #e7f1f7;
      padding-bottom: 3px;
      margin-bottom: 3px;
    }

    & > div {
      display: flex;
    }

    span {
      margin-right: 10px;
      color: #7db0cb;
    }

    b {
      margin-left: auto;
      color: #005c93;
    }
  }
}

// css for multi-country dropdown
.country-filter-dropdown {
  .ant-select-item-group {
    // color: #036799;
    font-weight: 600;
  }
}
// end of css for multi-country dropdown

// css for multi-country popover
.ant-popover {
  z-index: 1051;
}
.popover-multi-country {
  color: #036799;
}
.ant-popover-inner-content {
  padding: 12px 8px;
}
.popover-content-wrapper {
  max-height: 50vh;
  padding: 0 12px;
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #7db0cb;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #036799;
  }
  .popover-content-item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 13px;
    margin-bottom: 8px;
  }
}
// end of css for multi-country popover
