.main-content {
  background: #ffffff;
  border-top: 5px solid #d3dee7;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  .custom-radio {
    height: auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    &:focus-within {
      box-shadow: none;
    }
    &.selected {
      border: 2px solid #34a6ff;
      border-radius: 10px;
      background: rgba(52, 166, 255, 0.1);
      .content-circle {
        background: #10f9b7;
      }
      h2 {
        font-weight: 700;
      }
    }
  }
  .content-circle-wrapper {
    padding-top: 40px;
    .content-circle {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 5px solid #10f9b7;
      text-align: center;
      margin: 0 auto 20px auto;
      background-color: #e7fef8;
      align-items: center;
      justify-content: center;
      display: flex;
      img {
        width: 70px;
      }
    }
    h2 {
      margin-bottom: 0px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      text-transform: capitalize;
      padding-bottom: 20px;
    }
    &.selected {
      border: 2px solid #34a6ff;
      border-radius: 10px;
      background: rgba(52, 166, 255, 0.1);
      .content-circle {
        background: #10f9b7;
      }
      h2 {
        font-weight: 700;
      }
    }
  }
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h5 {
      color: #255b87;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0px;
    }
    .ant-btn {
      display: flex;
      align-items: center;
      border: none;
      box-shadow: none;
      img {
        width: 20px;
      }
      span {
        color: #34a6ff;
        margin-left: 5px;
        font-weight: bold;
      }
    }
  }
}
