#project {
  .project-container {
    background: #fff;
    .project-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 40px;
      .title-container {
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          text-transform: uppercase;
          color: #6db5b0;
          margin-bottom: 0px;
        }
        h1 {
          font-weight: 600;
          font-size: 22px;
          line-height: 32px;
          color: #000000;
          margin-bottom: 0px;
        }
      }
      .actions-container {
        .status-wrapper {
          background: #ffffff;
          border: 1px solid #67bea1;
          box-shadow: 2px 2px 0px rgb(24 22 47 / 15%);
          border-radius: 5px;
          padding: 10px 20px;
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #a5b0c9;
            margin-bottom: 0px;
          }
          h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #18162f;
            margin-bottom: 0px;
          }
        }
      }
    }
    .project-body {
      background: #edf2f7;
      box-shadow: 2px 2px 0px rgba(24, 22, 47, 0.15);
      padding: 20px 40px;
      .project-stages {
        h2 {
          font-weight: 500;
          font-size: 22px;
          line-height: 32px;
          text-transform: uppercase;
          color: #8691b0;
          margin-bottom: 0px;
        }
        .ant-collapse {
          &.parent {
            margin-top: 20px;
            border: none;
            background: rgba(255, 255, 255, 0.5);
            .ant-collapse-expand-icon {
              .ant-collapse-arrow {
                font-size: 18px;
                color: #8691b0;
              }
            }
            .ant-collapse-header-text {
              .steps-item-icon {
                display: flex;
                align-items: center;
                filter: drop-shadow(2px 2px 0px rgba(24, 22, 47, 0.15));
                span {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #d3dee7;
                  font-weight: 700;
                  font-size: 32px;
                  line-height: 44px;
                  color: #384e85;
                  margin-right: 10px;
                }
                h2 {
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 32px;
                  text-transform: uppercase;
                  color: #384e85;
                }
              }
            }
            .ant-collapse-item {
              border: 0.5px solid #d3dee7;
              box-shadow: 2px 2px 0px rgba(109, 181, 176, 0.3);
              border-radius: 5px;
              &.ant-collapse-item-active {
                background-color: #fff;
                border: 4px solid #8691b0;
                box-shadow: 0px 0px 5px rgba(24, 22, 47, 0.2);
                transform: scale(1.004);
              }
              .ant-collapse-content {
                border: none;
                background: initial;
                .ant-collapse-content-box {
                  padding: 20px 30px;
                  .sub-stages {
                  }
                }
              }
              .ant-collapse-header {
                padding: 20px 30px;
              }
            }
          }

          &.child {
            background: #fff;
            border: none;
            .ant-collapse-item {
              background: #ffffff;
              border: 1px solid #d3dee7;
              border-radius: 10px;
              margin-bottom: 10px;
              box-shadow: none;
              &.ant-collapse-item-active {
                background-color: #fff;
                border: 1px solid rgba(24, 22, 47, 0.25);
                box-shadow: 0px 0px 5px rgba(24, 22, 47, 0.15);
                border-radius: 10px;
                transform: scale(1);
              }
              .ant-collapse-header {
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
