apiVersion: apps/v1
kind: Deployment
metadata:
  name: unep-gpml
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
        run: unep-gpml
  template:
    metadata:
      labels:
        run: unep-gpml
        unep-gpml-version: "${CI_COMMIT}"
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '3000'
    spec:
      containers:
      - name: nginx
        image: eu.gcr.io/akvo-lumen/unep-gpml/nginx:${CI_COMMIT}
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "32Mi"
          limits:
            cpu: "200m"
            memory: "64Mi"
      - name: frontend
        image: eu.gcr.io/akvo-lumen/unep-gpml/frontend:${CI_COMMIT}
        ports:
        - containerPort: 3001
        resources:
          requests:
            cpu: "300m"
            memory: "200Mi"
          limits:
            cpu: "600m"
            memory: "1000Mi"
      - name: backend
        image: eu.gcr.io/akvo-lumen/unep-gpml/backend:${CI_COMMIT}
        ports:
        - containerPort: 3000
        env:
        - name: APP_NAME
          value: "${APP_NAME}"
        - name: APP_DOMAIN
          value: "https://${APP_DOMAIN}"
        - name: OIDC_ISSUER
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: oidc-issuer
        - name: OIDC_AUDIENCE
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: oidc-audience
        - name: OIDC_AUDIENCE_CKAN
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: oidc-audience-ckan
        - name: OIDC_AUDIENCE_AUTH0_ACTIONS
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: oidc-audience-actions
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: database-url
        - name: AUTH0_BACKEND_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: auth0-backend-client-id
        - name: AUTH0_BACKEND_SECRET
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: auth0-backend-secret
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: sentry-dsn
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: APP_VERSION
          value: "${CI_COMMIT}"
        - name: ENV_NAME
          valueFrom:
            configMapKeyRef:
              name: akvo
              key: environment
        - name: MAILJET_API_KEY
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: mailjet-api-key
        - name: MAILJET_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: mailjet-secret-key
        - name: SCHEDULER_THREAD_COUNT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: scheduler-thread-count
        - name: SCHEDULER_TIME_ZONE
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: scheduler-time-zone
        - name: SCHEDULER_LEAP_API_POLICY_IMPORTER_CRON
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: scheduler-leap-api-policy-importer-cron
        - name: SCHEDULER_BRS_API_IMPORTER_CRON
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: scheduler-brs-api-importer-cron
        - name: GCS_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: gcs-bucket-name
        - name: BRS_API_URL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: brs-api-url
        - name: BRS_API_RECORDS_PER_PAGE
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: brs-api-records-per-page
        - name: BRS_API_PUBLICATIONS_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: brs-api-publications-endpoint
        - name: BRS_API_MEETINGS_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: brs-api-meetings-endpoint
        - name: BRS_API_PROJECTS_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: brs-api-projects-endpoint
        - name: OIDC_AUDIENCE_M2M
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: oidc-audience-m2m
        - name: SUBSCRIPTIONS_MANAGEMENT_EMAIL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: subscriptions-management-email
        - name: CONTACT_COBSEA_MANAGEMENT_EMAIL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: contact-cobsea-management-email
        - name: CORS_ALLOWED_ORIGINS
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: cors_allowed_origins
        - name: GCS_PRIVATE_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: gcs-private-bucket-name
        - name: GCS_PUBLIC_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: gcs-public-bucket-name
        - name: GCS_API_HOST_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: gcs-api-host-name
        - name: CHAT_API_DOMAIN_URL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: chat-api-domain-url
        - name: CHAT_API_URL_PATH
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: chat-api-url-path
        - name: CHAT_API_KEY
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: chat-api-key
        - name: CHAT_API_USER_ID
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: chat-api-user-id
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/secrets/cloudsql/credentials.json"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 120
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 120
        volumeMounts:
          - name: unep-gpml-secrets
            mountPath: "/secrets/cloudsql/credentials.json"
            subPath: "cloud-database-service-account.json"
            readOnly: true
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "1024Mi"
      - name: cloud-sql-proxy
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "1024Mi"
        # https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine#run_the_as_a_sidecar
        # It is recommended to use the latest version of the Cloud SQL proxy
        # Make sure to update on a regular schedule!
        image: eu.gcr.io/cloudsql-docker/gce-proxy:1.30.1
        command:
          - "/cloud_sql_proxy"

          # By default, the proxy will write all logs to stderr. In some
          # environments, anything printed to stderr is consider an error. To
          # disable this behavior and write all logs to stdout (except errors
          # which will still go to stderr), use:
          - "-log_debug_stdout"

          # Replace DB_PORT with the port the proxy should listen on
          # Defaults: MySQL: 3306, Postgres: 5432, SQLServer: 1433
          - "-instances=$(GOOGLE_PROJECT):$(GOOGLE_SQL_COMPUTE_ZONE):$(GOOGLE_SQL_DB_INSTANCE)=tcp:5432"
          - "-credential_file=/secrets/cloudsql/credentials.json"
        securityContext:
          # The default Cloud SQL proxy image runs as the
          # "nonroot" user and group (uid: 65532) by default.
          runAsNonRoot: true
        # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        env:
          - name: GOOGLE_SQL_COMPUTE_ZONE
            valueFrom:
              configMapKeyRef:
                name: unep-gpml
                key: google-sql-compute-zone
          - name: GOOGLE_SQL_DB_INSTANCE
            valueFrom:
              configMapKeyRef:
                name: unep-gpml
                key: google-sql-db-instance
          - name: GOOGLE_PROJECT
            valueFrom:
              configMapKeyRef:
                name: unep-gpml
                key: google-project
        volumeMounts:
          - name: unep-gpml-secrets
            mountPath: "/secrets/cloudsql/credentials.json"
            subPath: "cloud-database-service-account.json"
            readOnly: true
      - name: strapi
        image: eu.gcr.io/akvo-lumen/unep-gpml/strapi:${CI_COMMIT}
        ports:
        - containerPort: 1337
        resources:
          requests:
            cpu: "300m"
            memory: "200Mi"
          limits:
            cpu: "600m"
            memory: "1000Mi"
        env:
        - name: STRAPI_DATABASE_CLIENT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-database-client
        - name: STRAPI_DATABASE_HOST
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-database-host
        - name: STRAPI_DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-database-name
        - name: STRAPI_DATABASE_USERNAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-database-username
        - name: STRAPI_DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-database-password
        - name: STRAPI_JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-jwt-secret
        - name: STRAPI_APP_KEYS
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-app-keys
        - name: STRAPI_ADMIN_JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-admin-jwt-secret
        - name: STRAPI_API_TOKEN_SALT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-api-token-salt
        - name: STRAPI_URL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-url
        - name: STRAPI_TRANSFER_TOKEN_SALT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-transfer-token-salt
        - name: STRAPI_GCS_SERVICE_ACCOUNT
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-service-account
        - name: STRAPI_GCS_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-bucket-name
        - name: STRAPI_GCS_BASE_PATH
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-base-path
        - name: STRAPI_GCS_BASE_URL
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-base-url
        - name: STRAPI_GCS_PUBLIC_FILES
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-public-files
        - name: STRAPI_GCS_UNIFORM
          valueFrom:
            secretKeyRef:
              name: unep-gpml
              key: strapi-gcs-uniform

      volumes:
        - name: unep-gpml-secrets
          secret:
            secretName: unep-gpml
