@import '../../../../styles/vars.scss';

.summaryNReportView {
  :global {
    .title-section {
      h4 {
        margin-block-start: 0;
        margin-bottom: 12px;
      }
      h2 {
        margin-block-start: 0;
      }
    }
    h5 {
      font-family: var(--font-archia), sans-serif;
      font-weight: 400;
      line-height: 32px;
      color: $primaryDarkBlue;
    }
    .desc-section {
      width: 841px;
      margin: 7px 0 23px;
      p {
        color: $primaryDarkBlue;
        font-size: $fzXS;
        line-height: $lhXS;
      }
      @media screen and (max-width: $bpMobile) {
        width: 100%;
      }
    }
    .ant-btn-download,
    .ant-btn-upload {
      border-radius: 8px;
      svg {
        padding-left: 0;
      }
    }
    .ant-skeleton {
      margin-bottom: 16px;
    }
    .summary-section,
    .upload-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .summary-section {
      gap: 16px;
      margin-bottom: 64px;
      .ant-btn-download {
        svg {
          padding-right: 10px;
          path {
            fill: $primaryPurple2;
            stroke: $primaryPurple;
          }
        }
      }
    }
    .upload-section {
      width: 100%;
      gap: 25px;
      p {
        padding: 0;
      }
      .ant-upload.ant-upload-drag {
        width: 400px;
        padding: 32px;
        border-radius: 12px;
        border: 2px dashed $primaryDarkBlue2;
        background: $primaryWhite;
        .ant-upload-drag-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
          p.ant-upload-drag-icon {
            margin-bottom: 0;
          }
          p.ant-upload-hint {
            color: $primaryPurple3;
          }
          .ant-btn-upload {
            color: $primaryPurple;
            background-color: $primaryPurple2;
            border-color: $primaryPurple2;
          }
        }
      }
      .ant-list {
        width: 50%;
        .ant-list-item {
          padding: 10px 14px;
          border-radius: 10px;
          border: 1px solid $primaryDarkBlue;
          .ant-list-item-meta {
            align-items: center;
            .ant-list-item-meta-avatar {
              cursor: pointer;
            }
          }
          .ant-list-item-action {
            li {
              padding: 0;
              .ant-btn.ant-btn-link {
                svg {
                  padding-left: 0;
                }
                &:hover {
                  svg {
                    path {
                      transform: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
