.container {
  margin-bottom: 40px;
}

.title {
  font-family: 'DM Sans', sans-serif;
  color: #7468ff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 0 12px 0;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.list {
  padding-left: 24px;
  margin: 0;
  font-size: 16px;
  color: #000647;
  line-height: 1.8;
  list-style-type: disc;

  @media (min-width: 769px) {
    columns: 2;
    column-gap: 32px;
  }
}

.listItem {
  margin-bottom: 8px;
  display: list-item;
}
