.container {
  margin-bottom: 24px;
}

.title {
  font-family: 'DM Sans', sans-serif;
  color: #7468FF;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 0 12px 0;
}

.list {
  padding-left: 24px;
  margin: 0;
  font-size: 16px;
  color: #1B2738;
  line-height: 1.8;
  list-style-type: disc;
}

.listItem {
  margin-bottom: 8px;
  display: list-item;
}
