@import "../../vars.scss";

.related-content-wrapper {
  overflow: hidden;
  min-height: 312px;
  border-radius: 10px;
  .ant-card {
    padding: 0 !important;
    min-height: 300px;
    border-radius: 10px;

    .ant-card-head {
      border-radius: 10px;
    }
    .ant-card-body {
      padding: 14px 10px !important;
    }
  }
  .pagination-wrapper {
    display: none !important;
  }

  .ant-pagination-item {
    border-radius: 50%;
    height: 10px;
    min-width: 10px;
    margin-right: 5px;
    border: 1px solid rgba(37, 91, 135, 0.8) !important;
    background: unset !important;
    a {
      display: none;
    }
  }

  .ant-pagination-item-active {
    background: rgba(37, 91, 135, 0.8) !important;
  }
}

.related-content-title-wrapper {
  display: flex;
  align-items: center;
  .related-content-title {
    margin-right: 19px;
  }
  .related-content-count {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 14px !important;
    text-transform: uppercase;
    border: 1px solid #000000;
  }
}

.related-content {
  overflow: visible !important;
  padding: 0px 10px !important;

  .slider-card {
    height: 100%;
    background-color: #fff !important;
    border-radius: 0 !important;
  }

  .related-content-image {
    width: 100%;
    height: fit-content;
    align-self: center;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: unset !important;
    transition: all ease-out 0.2s;
    &:first-of-type {
      .card {
        margin-left: 0;
      }
    }
    .card {
      transition: all ease-out 0.2s;
      position: relative;
      width: 150px !important;
      height: 192px !important;
      margin-left: 19px;
      margin-bottom: 0 !important;
      padding: 0 !important;

      .description-holder {
        transition: all ease-out 0.2s;
        position: absolute;
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: space-between;
        padding: 13px;
        background-color: #fff;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        height: 100%;
        min-height: 200px;
        border-radius: 5px;
        width: 100%;

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          max-height: 70px;
          overflow: hidden;
        }
        h4 {
          color: #bbbbbb;
          font-weight: 400;
          font-size: 10px;
          line-height: 17px;
          text-transform: uppercase;
        }

        .ant-avatar-circle {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .bottom-panel {
          .read-more {
            font-weight: 500;
            font-size: 10px;
            color: #34a6ff;
          }
        }
      }
      .with-pagination {
        min-height: 216px;
      }
      .no-pagination {
        min-height: 195px;
      }
    }

    &:hover {
      border-radius: 5px;
      margin: 0 20px 0 calc(40px) !important;
      transform: scale(1.27) translateY(-12px);
      z-index: 9999;
      transition: all ease-out 0.2s;
      margin-left: -20px;

      .description-holder {
        display: flex !important;
        opacity: 1;
      }
      .slider-card {
        border-radius: 10px !important;
      }
      .card {
        margin-left: 0;
      }
      &:first-of-type {
        margin: 0 20px 0 40px !important;
      }
    }
    &:nth-child(1) {
      &:hover {
        margin-left: 20px !important;
      }
    }
    .ant-col-12 {
      max-width: 100% !important;
    }
    .related-content-image {
      border-radius: 5px;
    }
  }

  .carousel-with-extra-card:last-of-type {
    display: flex;
    height: 192px;
    transform: unset !important;
    z-index: unset;
    margin-left: 19px !important;
    border-radius: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 4px;
      min-width: 150px;
      padding: 19px 13px 18px 13px !important;
      margin: 0 !important;
    }

    .resources-count {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #18162f;
      text-transform: uppercase;
      height: 100%;
      font-weight: 600;

      line-height: 20px;
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 49px;
        min-height: 49px;
        border-radius: 50%;
        border: 2px solid #18162f;
      }
      p,
      .count {
        font-size: 12px !important;
      }
    }

    .read-more {
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
    }

    &:hover {
      height: 192px;
      transform: unset !important;
      z-index: unset !important;
      margin-left: 19px !important;
    }
  }
}

.content-with-pagination {
  .card {
    margin-bottom: 0;
  }
}
