@import "../../vars.scss";

.scroll-disabled {
  overflow: hidden;
  position: fixed;
}

.detail-modal {
  width: 1024px !important;
  @media (max-width: 600px) {
    width: 100% !important;
    max-width: 100%;
    margin: 0;
  }
  .ant-modal-close {
    position: sticky;
    left: 100%;
    z-index: 9999;
    float: right;
  }
  .detail-view-wrapper {
    padding-top: 0;

    #detail-view {
      margin: 0;
    }
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    display: none;
  }
}

// @media screen and (min-width: 1260px) {
//   .detail-modal-wrapper::-webkit-scrollbar {
//     width: 19px;
//   }
//   .detail-modal-wrapper::-webkit-scrollbar-track {
//     background-color: #d3dee7;
//     border-radius: unset;
//     border: 1px solid #edf2f7;
//   }

//   .detail-modal-wrapper::-webkit-scrollbar-thumb {
//     border-radius: unset;
//     border: 4px solid transparent;
//     background-clip: content-box;
//     background-color: #255b87;
//   }

//   .detail-modal-wrapper:root {
//     scrollbar-color: #255b87 #edf2f7 !important;
//     scrollbar-width: thin !important;
//   }
// }
