@import "../../vars.scss";

.detail-modal {
  width: 1024px !important;
  .ant-modal-close {
    position: sticky;
    left: 100%;
    z-index: 9999;
    float: right;
  }
  .detail-view-wrapper {
    padding-top: 0;

    #detail-view {
      margin: 0;
    }
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    display: none;
  }
}
