@import '../../../styles/vars.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: sticky;
  top: 0px;

  @media (max-width: 768px) {
    flex-direction: column;
    z-index: 1;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 165px;
    width: '100%';
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    span {
      font-family: $ff1;
    }
  }

  .mobileHeader-countryDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 15px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    span {
      font-family: $ff1;
    }
  }

  :global {
    .ant-layout-sider {
      background-color: #fff;
      width: 360px !important;
      height: 100vh;
      padding-bottom: 115px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;

      @media (max-width: 768px) {
        padding-top: 0px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
      }
      .caps-heading-s {
        padding: 0;
        margin-bottom: 15px;
      }
      .ant-select {
        width: 307px;
        border: 1px solid #e8e8ed;
        border-radius: 8px;
        background: #f5f7ff;
        height: 50px;
        margin-left: 25px;
        padding: 5px 0 5px 3px;
        .ant-select-selection-item,
        input {
          font-family: $ff1;
          font-size: 24px;
          font-style: normal;
          font-weight: 600 !important;
          line-height: 28px;
        }
      }

      .layer-tag {
        border-radius: 40px;
        width: 65%;
        height: 32px;
        margin-left: 25px;
        background-color: #2d3648;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        padding: 0 10px;
      }

      .layer-tag-text {
        color: white;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
      }

      .layer-tag-text {
        color: white;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
        white-space: nowrap;
      }

      .nav {
        margin-left: 0;
        margin-right: 0;
        .nav-item {
          color: #000;
          font-feature-settings: 'liga' off, 'clig' off;
          font-family: $ff1;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          padding: 12px 40px;
          transition: background 0.15s ease-out;
          &:not(.selected) {
            cursor: pointer;
            &:hover {
              background-color: $primaryPurple1;
            }
          }
          &.selected {
            background-color: $primaryPurple2;
          }
        }
      }
      .ant-btn-ghost {
        margin-top: auto;
      }
    }
    .layer-item {
      display: flex;
      padding: 5px 0;
      .ant-switch {
        margin-right: 10px;
        transform: translateY(2px);
        @media (max-width: 768px) {
          margin-right: 5px;
        }
      }
      .anticon-info-circle {
        margin-left: auto;
        transform: translateY(4px);
      }
      @media (max-width: 768px) {
        padding: 3px 0;
      }
    }
    .layer-name {
      font-size:  14px;
      text-align: left;
      font: Inter;
      @media (max-width: 768px) {
        font-size:  12px;
        text-align: left;
        font: Inter;
      }
    }
    .caps-heading-s {
      margin-left: 30px;
      padding: 8px 15px;
      @media (max-width: 768px) {
        position: sticky;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }
    }
    .ant-menu {
      width: 360px;
      .ant-menu-item {
        border-top: none !important;
        background-color: transparent;
        font-family: $ff1;
        font-size: 18px;
        font-weight: 600;
        padding-left: 5px;
        color: $primaryDarkBlueText;
        height: auto;
        line-height: 50px;

        @media (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
      }
      @media (max-width: 768px) {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      .ant-menu-item::after {
        display: none !important;
        content: none !important;
      }

      .ant-collapse {
        .ant-collapse-item {
          padding-left: 15px;
          @media (max-width: 768px) {
            padding-left: 5px;
          }
        }
        .ant-collapse-header {
          font-size: 14px;
          font-weight: 500;
          display: block;
          width: 100%;
          cursor: pointer;
        }
        .custom-select-placeholder .ant-select-selection-placeholder {
          color: #677194 !important;
        }
        .countryDropdown {
          width: 100%;
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .ant-collapse-item-active {
          background-color: #fafbff;
          @media (max-width: 768px) {
            padding-left: 5px;
            border-top: 1px solid rgba(204, 208, 219, 0.3);
          }
          .ant-collapse-header {
            font-weight: bold;
          }
        }
      }
    }
  }
}
