@import '../../../styles/vars.scss';

.container {
  display: flex;
  flex-direction: row;
  // width: 30%;
  :global {
    .ant-layout-sider {
      background-color: #fff;
      padding-top: 10px;
    }
    .layer-item {
      display: flex;
      padding: 5px 0;
      .ant-switch {
        margin-right: 10px;
        transform: translateY(2px);
      }
      .anticon-info-circle {
        margin-left: auto;
        transform: translateY(4px);
      }
    }
    .caps-heading-s {
      padding: 8px 15px;
    }
    .ant-menu {
      margin-top: 10px;
      .ant-menu-item {
        border-top: 1px solid rgba(204, 208, 219, 0.3);
        background-color: transparent;
        font-family: $ff1;
        font-size: 18px;
        font-weight: 600;
        margin-left: 0;
        padding-left: 5px;
        color: $primaryDarkBlueText;
        height: auto;
        line-height: 50px;
      }
      .ant-collapse {
        .ant-collapse-item {
          padding-left: 15px;
        }
        .ant-collapse-header {
          font-size: 14px;
          font-weight: 500;
          display: block; 
          width: 100%;
          cursor: pointer;
          
        }
        .custom-select-placeholder .ant-select-selection-placeholder {
          color: #677194 !important;
        }
        .countryDropdown {
          width: 100%;
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .ant-collapse-item-active {
          background-color: #fafbff;
          border-top: 1px solid rgba(204, 208, 219, 0.3);
          .ant-collapse-header {
            font-weight: bold;
          }
        }
      }
    }
  }
}
