@import "../../vars.scss";

.dropdown-content {
  display: flex;
  align-items: center;
  & > div {
    margin-right: 10px;
  }
}

.info-resources {
  padding-left: 20px;
  @-moz-document url-prefix() {
    padding-left: 15px;
  }
}

#knowledge-library {
  position: relative;
  @media (max-width: 950px) {
    overflow: hidden;

    position: relative;
    overflow: hidden;
  }

  #mainNavigation {
    @media (min-width: 750px) {
      display: block;
    }
  }
  .sidebar-mobile {
    margin-bottom: 0;
    @media (min-width: 750px) {
      display: none;
    }
  }

  .ant-btn-icon-only {
    width: 100%;
    max-width: 35px;
    max-height: 35px;
    min-width: 25px;
    min-height: 25px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    @-moz-document url-prefix() {
      max-width: 30px;
      max-height: 30px;
      min-width: 15px;
      min-height: 15px;
      height: 22px;
    }
  }

  span.ant-input-affix-wrapper.input-src {
    border-radius: 30px;
  }

  .topic-main-container {
    display: flex;
  }

  @media (max-width: 540px) {
    .topic-main-container {
      background-color: #d3dee7;
    }
  }
  .site-drawer-render-in-current-wrapper {
    height: 100%;
  }
  @media (max-width: 510px) {
    .site-drawer-render-in-current-wrapper {
      width: 100% !important;
    }
  }

  .site-drawer-render-in-current-wrapper {
    left: 0px !important;
    top: 100px !important;
    position: absolute;
    min-width: calc(100% - 100px);
    overflow: hidden;
    @-moz-document url-prefix() {
      top: 90px !important;
    }

    @media (min-width: 750px) {
      top: 0 !important;
      left: 100px !important;
      @-moz-document url-prefix() {
        & {
          top: 0 !important;
          left: 90px !important;
        }
      }
    }

    .ant-tabs-nav-operations {
      position: unset;
      display: none;
    }

    .ant-drawer-mask {
      background-color: unset;
    }
    .ant-drawer-left.ant-drawer-open {
      @-moz-document url-prefix() {
        left: 0px;
      }
    }

    .ant-drawer-content-wrapper {
      box-shadow: none;
      height: 700px;
      max-width: 550px;
      width: 100% !important;
      @-moz-document url-prefix() {
        max-width: 360px;
      }
      @media (max-width: 510px) {
        height: 100% !important;
      }
      .ant-drawer-header {
        background: $blue05;
        @-moz-document url-prefix() {
          padding: 8px 14px;
        }
        .apply-button {
          width: auto;
          color: #ffffff;
          padding: 4px 11px 4px 11px;
          border: 2px solid #ffffff;
          border-radius: 17.5px;
          background-color: transparent;
          margin-right: 0;
          font-size: 14px;
          font-weight: bold;
          height: auto;
          @-moz-document url-prefix() {
            top: -12px;
            font-size: 10px;
            padding: 2px 5.5px 2px 5.5px;
            border: 1px solid #ffffff;
            line-height: 14px;
          }
          @media (max-width: 540px) {
            font-size: 12px;
          }
          &:hover {
            background-color: $yellow-highlight;
          }
        }
      }

      .favorites-checkbox {
        margin-bottom: 21px;
        @-moz-document url-prefix() {
          margin-bottom: 16px;
        }
        .ant-checkbox-inner {
          width: 26px;
          height: 26px;
          border: 1px solid $grey04;
          border-radius: 5px;
          background-color: $grey05;
          @-moz-document url-prefix() {
            width: 21px;
            height: 21px;
          }
        }

        .ant-checkbox-checked .ant-checkbox-inner {
          background-color: $blue08;
        }

        .ant-checkbox-inner::after {
          left: 35%;
        }

        .ant-checkbox + span {
          font-size: 16px;
          @-moz-document url-prefix() {
            font-size: 12px;
          }
          @media (max-width: 540px) {
            font-size: 14px;
          }
        }
      }

      .ant-drawer-content {
        border-bottom-right-radius: 18px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
      }

      .ant-drawer-title,
      .drawer-close-icon {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        @-moz-document url-prefix() {
          font-size: 12px;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
      }
      .drawer-close-icon {
        border-radius: 50%;
        @-moz-document url-prefix() {
          display: content;
          padding: 0;
          width: 15px !important;
          height: 15px !important;
          svg {
            width: 15px !important;
            height: 15px !important;
          }
        }
        &:hover {
          background-color: $yellow-highlight;
        }
      }
      .ant-space-item {
        margin-bottom: 0 !important;
      }

      .ant-select,
      .ant-picker {
        width: 100%;
      }

      .date-picker-container .ant-picker ::placeholder {
        font-size: 16px;
        color: $grey04;
        @-moz-document url-prefix() {
          font-size: 12px;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
      }

      .date-picker-container .ant-picker ::placeholder {
        font-style: italic;
        font-weight: 700;
      }

      .date-picker-container .ant-picker {
        background: $grey05;
        border: 0;
        border-radius: 5px;
      }

      .date-picker-container {
        .ant-row {
          display: flex;
          flex-wrap: wrap;
          .ant-col {
            max-width: 100% !important;
          }
        }
        input {
          font-style: italic;
        }
        .ant-row {
          align-items: flex-end;
        }
        .ant-picker-suffix {
          background-image: url("../../images/knowledge-library/chevron-down-grey.svg");
          background-position-x: 100%;
          background-repeat: no-repeat;
          width: 20px;
          @-moz-document url-prefix() {
            width: 15px;
          }
          span {
            opacity: 0;
          }
        }
      }

      .date-picker-container {
        .ant-picker-clear {
          display: none;
        }
      }
      .date-picker-container input {
        font-weight: 700;
        font-size: 16px;
        color: $blue06;
        font-style: italic;
        @-moz-document url-prefix() {
          font-size: 12px;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
        .anticon-close-circle {
          opacity: 0;
        }
      }

      .ant-drawer-close {
        top: -5px;
        @-moz-document url-prefix() {
          top: -9px !important;
        }
        span,
        svg {
          display: block;
          width: 23px;
          height: 23px;
          @-moz-document url-prefix() {
            width: 18px;
            width: 18px;
          }
        }
      }

      .filter-title {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
        @-moz-document url-prefix() {
          font-size: 14px;
          margin-bottom: 8px;
        }
        @media (max-width: 540px) {
          font-size: 16px;
        }
      }

      .date-picker-container .ant-space-item {
        align-self: center;
      }

      .multiple-filter-title {
        margin-bottom: 0;
      }

      .resource-type {
        border: none;
        color: $blue06;
      }

      .resource-type,
      .clear-selection {
        display: block;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: unset;
        @-moz-document url-prefix() {
          line-height: 20px;
          font-size: 10px;
        }
        @media (max-width: 540px) {
          font-size: 12px;
        }
      }

      .clear-selection,
      .resource-type-card {
        display: flex;
        justify-content: center;
      }

      .clear-selection {
        flex-direction: row-reverse;
        align-items: center;
        align-self: baseline;
        color: $blue04;
        // border: 1px solid $blue04;
        border: none;
        font-size: 16px;
        // text-transform: uppercase;
        // border-radius: 20px;
        margin-bottom: 8px;
        transform: translateY(2px);
        cursor: pointer;
        @-moz-document url-prefix() {
          margin-bottom: 4px;
        }
        &:hover {
          background-color: transparent;
        }
        .anticon-close {
          color: $blue04;
          font-weight: bold;
          padding-right: 3px;
          font-size: 15px;
        }
      }

      .resources-card-filter {
        .ant-col {
          max-width: 100%;
        }
        @media (max-width: 650px) {
          .ant-row-space-between {
            justify-content: unset !important;
            .resource-card-wrapper {
              margin-right: 5px !important;
            }
          }
        }
      }

      .resource-card-wrapper {
        height: 100px;
        width: 100%;
        max-width: 100px !important;
        margin-bottom: 17px;
        @-moz-document url-prefix() {
          height: 73px;
          max-width: 73px !important;
          margin-bottom: 8.5px;
        }
        @media (max-width: 510px) {
          margin-bottom: 5px;
        }
      }

      .resource-type-card {
        display: flex;
        align-items: center !important;
        position: relative;
        color: $grey03;
        cursor: pointer;
        padding: 4px;
        height: 100px;
        width: 100px;
        text-align: center;
        border: 1px solid $grey03;
        border-radius: 4px;
        @-moz-document url-prefix() {
          height: 73px;
          width: 73px;
          padding: 2px;
        }
        .ant-card-body {
          padding: 0;
          .ant-space {
            gap: 4px;
            @-moz-document url-prefix() {
              gap: 2px;
            }

            svg {
              width: 80px;
              height: 55px;
              @-moz-document url-prefix() {
                width: 65px;
                height: 40px;
              }
            }
            // SVG
            .event-flexible {
              .cls-3 {
                fill: none;
                stroke: currentColor;
                stroke-width: 4px;
                @-moz-document url-prefix() {
                  stroke-width: 2px;
                }
              }
            }

            .policy .cls-1,
            .technology .cls-4 {
              stroke-width: 0;
            }

            .capacity-building {
              .cls-2,
              .cls-3,
              .cls-4 {
                fill: #fff;
              }

              .cls-3,
              .cls-4 {
                stroke: currentColor;
              }

              .cls-3 {
                stroke-width: 4px;
                @-moz-document url-prefix() {
                  stroke-width: 2px;
                }
              }
            }

            .policy .cls-3,
            .initiative .cls-3 {
              fill: none;
            }

            .policy {
              .cls-2 {
                fill: currentColor;
                stroke-width: 0.25px;
              }
              .cls-3 {
                fill: none;
                stroke: currentColor;
              }

              .cls-4 {
                fill: #fff;
                stroke-width: 4px;
                @-moz-document url-prefix() {
                  stroke-width: 2px;
                }
              }
            }

            .initiative {
              .cls-3 {
                stroke: none;
              }
            }

            .action-plan {
              .cls-2 {
                fill: currentColor;
              }
              .cls-1,
              .cls-2 {
                stroke-width: 0;
              }
            }

            .financing-resource {
              stroke-width: 0.25px;
            }
          }
        }

        .topic-text,
        .topic-count {
          font-size: 12px;
          text-transform: uppercase;
          @-moz-document url-prefix() {
            font-size: 9px;
          }
        }

        .topic-text {
          font-size: 12px;
          line-height: 14px;
          @-moz-document url-prefix() {
            font-size: 9px;
            line-height: 10px;
          }
        }

        .topic-count {
          font-weight: bold;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      .resource-type-card.active {
        color: $blue06;
        border-color: $blue06;
        font-weight: 600;
      }
    }
  }

  .resource-list-container {
    position: absolute;
    z-index: 3;
    height: 700px;
    width: 100%;
    background-color: white;
    max-width: 442px;
    @-moz-document url-prefix() {
      max-width: 350px;
    }
    @media (max-width: 950px) {
      position: unset;
      max-width: 100%;
      background-color: #fff;
    }
    .empty-container {
      display: flex !important;
    }
    .subheader {
      display: flex;
      width: 100%;
      p {
        margin-left: 10px;
        margin-top: 4px;
      }
      .sort-by {
        margin-left: auto;
        display: flex;
        cursor: pointer;
        svg {
          width: 28px;
          height: 28px;
          display: inline-block;
          margin-top: 2px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          margin-left: 8px;
          line-height: 16px;
        }
      }
    }
  }

  .topic-view-resource {
    background-color: rgba(237, 242, 247, 1);
    position: relative;
  }

  .resource-list-header.show-list {
    position: absolute;
    z-index: 999;
    background-color: $grey05;
  }

  .resource-list-header {
    padding: 2px 24px;
    justify-content: unset;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    z-index: 999;
    & span {
      font-size: 12px;
      @-moz-document url-prefix() {
        font-size: 9px;
        padding: 2px 14px;
      }
    }

    .ant-page-header-heading-title,
    .ant-page-header-heading-sub-title {
      width: 100%;
    }

    .ant-page-header-heading-title,
    .ant-page-header-heading-left,
    .ant-page-header-heading-sub-title {
      overflow: visible;
    }

    .ant-page-header-heading-title,
    .sort-btn {
      color: $blue06;
      background-color: transparent;
    }

    .ant-page-header-heading-title {
      text-align: left;
    }

    .ant-page-header-heading-sub-title {
      margin-right: 33px;
      @-moz-document url-prefix() {
        margin-right: 28px;
      }
    }

    .ant-page-header-heading-left {
      flex-basis: 70%;
      flex-wrap: wrap;
      @media (min-width: 300px) {
        flex-wrap: nowrap;
      }
    }

    .ant-page-header-heading-extra {
      border-left: 1px solid rgba(37, 91, 135, 0.17);
    }

    .ant-page-header-back {
      margin-right: 10px;
      @-moz-document url-prefix() {
        margin-right: 5px;
      }
    }
    .invisible-content {
      min-height: 18.75px;
    }
    .result-number {
      line-height: 16px;
      color: #181818;
    }

    .hide-icon.show {
      transform: rotate(180deg);
    }

    .sort-btn {
      border: none;
      display: flex;
      align-items: center;
      padding-left: 24px;
      box-shadow: unset;
      img {
        margin-right: 7px;
        @-moz-document url-prefix() {
          padding-left: 12px;
        }
      }
    }
  }

  #knowledge-library-loading {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: fit-content;
    height: 100vh;
  }

  .resource-list {
    width: 100%;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-bottom: 120px;
    @-moz-document url-prefix() {
      padding: 5px;
      padding-bottom: 110px;
    }
    @media (max-width: 950px) {
      padding: 10px 24px;
    }
    .resource-item-wrapper {
      width: 100%;
      margin-bottom: 8px;
      @media (max-width: 950px) {
        height: 100%;
      }
      .resource-item {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        padding: 4px 7px 2px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        text-align: left;
        color: $black;

        .ant-card-body {
          padding: 5px !important;
          @-moz-document url-prefix() {
            padding: 2.5px !important;
          }
        }

        .topic {
          color: #d3dee7;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          @-moz-document url-prefix() {
            font-size: 10px;
          }
        }

        .item-body {
          margin-top: 5px;
          .title {
            font-size: 16px;
            font-weight: bold;
            color: #18162f;
            line-height: 25px;
            margin-top: -5px;
          }
          .description,
          .read-more {
            font-size: 14px;
          }

          .description {
            display: none;
            font-weight: 400;
            color: $blue11;
            margin-top: 7px;
          }

          .read-more,
          .avatar-count {
            color: $blue04;
          }
          .read-more {
            span {
              padding-left: 5px;
              display: inline-block;
            }
          }

          .avatar-count {
            font-size: 13px;
            margin-left: 25px;
            @-moz-document url-prefix() {
              font-size: 9.5px;
            }
          }
        }
        .item-footer {
          margin-top: 5px;
          display: flex;
          align-items: center;
          .read-more {
            font-size: 14px;
            margin-left: auto;
            @-moz-document url-prefix() {
              font-size: 12px;
            }
            @media (max-width: 540px) {
              font-size: 12px;
            }
            span {
              margin-left: 4px;
              display: inline-block;
              transform: translateY(1px);
            }
          }
          .read-more,
          .avatar-count {
            color: $blue04;
          }
          .avatar-count {
            margin-left: 25px;
            font-weight: 600;
          }
        }
      }
    }

    @media (max-width: 950px) {
      height: unset;
      overflow-y: visible;
    }
  }

  .avatar-group {
    position: relative;
    display: block;
    height: 30px;
    width: 60px;
    .stakeholder-connection-avatar {
      position: absolute;
    }
    .stakeholder-connection-avatar:nth-of-type(1) {
      left: 0;
    }
    .stakeholder-connection-avatar:nth-of-type(2) {
      left: 22px;
    }
    .stakeholder-connection-avatar:nth-of-type(3) {
      left: 44px;
    }
  }

  // Pagination
  .page {
    width: 100%;
    max-width: 422px;
    padding: 1rem 0 1rem 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    @-moz-document url-prefix() {
      max-width: 350px !important;
    }
    @media (max-width: 950px) {
      position: unset;
      padding: 1rem 24px 1rem 24px;
    }
    .result-number,
    .ant-pagination-item a {
      font-weight: bold;
      font-size: 12px;
      @-moz-document url-prefix() {
        font-size: 11px;
      }
    }

    .result-number {
      text-align: center;
      color: #000000;
      margin-top: 12px;
    }

    .ant-pagination-item {
      width: 34px;
      height: 34px;
      margin-right: 2px;
      margin-bottom: 2px;
      border-radius: 5px;
      a {
        font-weight: 400;
        width: 100%;
        height: 100%;
        color: #ffffff;
        line-height: 31px;
        border-radius: 5px;
        background-color: $blue06;
        &:hover {
          background-color: $yellow-highlight;
          border-color: $yellow-highlight;
        }
      }
    }

    .ant-pagination-item-ellipsis {
      color: $blue06;
      font-weight: 700;
      margin-left: calc(10px - 2px);
      margin-right: 10px;
    }

    .ant-pagination-item-active {
      border: none;
      a {
        background-color: rgba(37, 91, 135, 0.1);
        color: $blue06;
        &:hover {
          background-color: rgba(37, 91, 135, 0.1);
        }
      }
    }
    .ant-pagination-next {
      background-image: url("../../images/knowledge-library/chevron-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px;
      @-moz-document url-prefix() {
        background-size: 6px;
      }
      svg {
        display: none;
      }
    }

    .ant-pagination-prev {
      display: none;
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
    @media (max-width: 950px) {
      text-align: left;
      max-width: 100%;
      .result-number {
        text-align: left;
      }
    }
  }

  @media (max-width: 950px) {
    .page {
      max-width: 100% !important;
    }
  }

  .echarts-for-react.popular-topic-chart {
    height: 1000% !important;
  }

  .topic-view {
    background: $blue06;
    flex: auto;
    max-width: calc(100% - 300px);
  }

  @media (max-width: 540px) {
    .topic-view {
      align-self: center;
      max-width: calc(100% - 48px);
      padding-left: 20px;
      padding-right: 20px;
      padding: 10px 10px 0 10px;
      background-color: $blue06;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .chart-wrapper {
      display: none;
    }
  }

  @media (min-width: 541px) and (max-width: 950px) {
    .topic-view {
      max-width: 100%;
      background-color: $blue06;
    }
    .chart-wrapper {
      width: 100vw;
      display: block;
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .selection-value {
      img {
        width: 25px;
      }
      .selection-arrow {
        width: 15px;
      }
    }

    .ui-header {
      .sort-btn {
        svg {
          width: 27px;
          height: 27px;
        }
      }
      .ant-btn-icon-only {
        min-width: 25px;
        min-height: 25px;
        height: 25px;
      }
      .search-box {
        .ant-input-affix-wrapper {
          button {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .site-drawer-render-in-current-wrapper {
      .ant-drawer-body {
        @-moz-document url-prefix() {
          padding: 7px;
          padding-top: 14px;
        }
      }
      .ant-drawer-content-wrapper {
        .filter-title,
        .favorites-checkbox {
          margin-bottom: 5px;
        }
        .resources-card-filter {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
          @-moz-document url-prefix() {
            padding-top: 2.5px !important;
            padding-bottom: 2.5px !important;
          }
        }
        .resource-type-card {
          height: 100px;
          @-moz-document url-prefix() {
            height: 73px;
          }
          .ant-card-body {
            .ant-space {
              gap: 1px;
            }
          }
          .ant-space-item {
            svg {
              width: 40px;
              height: 40px;
              @-moz-document url-prefix() {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }

      @media (max-width: 510px) {
        .ant-drawer-content-wrapper {
          width: 100%;
          @-moz-document url-prefix() {
            width: 100% !important;
            max-width: 100% !important;
            transform: unset !important;
          }
        }
      }
    }
  }
}

.resource-main-container {
  display: block;
  background-color: rgb(37, 91, 135);
  .ant-page-header {
    padding: 2px 24px;
    @-moz-document url-prefix() {
      padding: 2px 14px;
    }
  }
  .resource-list {
    gap: 5px;
    padding-bottom: 120px;
    @-moz-document url-prefix() {
      padding-bottom: 110px;
    }
    .resource-item-wrapper {
      .ant-card-body {
        padding-top: 5px;
        padding-bottom: 5px;
        @-moz-document url-prefix() {
          padding-top: 2.5px;
          padding-bottom: 2.5px;
        }
      }
      .item-body {
        margin-top: 0px;
      }
      .item-footer {
        margin-top: 5px;
        @-moz-document url-prefix() {
          margin-top: 2.5px;
        }
      }
    }
  }
  @media (max-width: 950px) {
    display: flex !important;
    flex-direction: column !important;
    flex-direction: column-reverse !important;
    .resource-list {
      padding-left: 20px;
      padding-right: 20px;
      @-moz-document url-prefix() {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  @media (min-width: 450px) and (max-width: 730px) {
    .resource-list {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (min-width: 731px) and (max-width: 950px) {
    .resource-list {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }

  @media (min-width: 700px) {
    flex-wrap: nowrap;
  }
}
