@import "../../vars.scss";
.multiselection-filter {
  .ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
    margin-top: 30px;
    top: 990px !important;
  }
}
.dropdown-content {
  display: flex;
  align-items: center;
  & > div {
    margin-right: 10px;
  }
}

.info-resources {
  padding-left: 20px;
}

#knowledge-library {
  position: relative;
  @media (max-width: 400px) {
    overflow: hidden;
  }
  #mainNavigation {
    @media (min-width: 750px) {
      display: block;
    }
  }
  .sidebar-mobile {
    margin-bottom: 0;
    @media (min-width: 750px) {
      display: none;
    }
  }

  .ant-btn-icon-only {
    width: 100%;
    max-width: 35px;
    max-height: 35px;
    min-width: 25px;
    min-height: 25px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span.ant-input-affix-wrapper.input-src {
    border-radius: 30px;
  }

  .topic-main-container {
    display: flex;
  }

  @media (max-width: 400px) {
    .topic-main-container {
      background-color: #d3dee7;
    }
  }
  .site-drawer-render-in-current-wrapper {
    height: 100%;
  }

  .site-drawer-render-in-current-wrapper {
    left: 0 !important;
    top: 96px !important;
    position: absolute;
    min-width: calc(100% - 100px);
    overflow: hidden;

    @media (min-width: 750px) {
      top: 0 !important;
      left: 100px !important;
    }

    .ant-tabs-nav-operations {
      position: unset;
      display: none;
    }

    .ant-drawer-mask {
      background-color: unset;
    }

    .ant-drawer-content-wrapper {
      box-shadow: none;
      height: 700px;
      max-width: 500px;
      width: 100% !important;

      .ant-drawer-header {
        background: $blue05;

        .apply-button {
          color: #ffffff;
          padding: 4px 11px 4px 11px;
          border: 2px solid #ffffff;
          border-radius: 17.5px;
          background-color: transparent;
          margin-right: 0;
          font-size: 14px;
          font-weight: 700;
          height: auto;
          &:hover {
            background-color: $yellow-highlight;
          }
        }
      }

      .favorites-checkbox {
        margin-bottom: 21px;
        .ant-checkbox-inner {
          width: 26px;
          height: 26px;
          border: 1px solid $grey04;
          border-radius: 5px;
          background-color: $grey05;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
          background-color: $blue08;
        }

        .ant-checkbox-inner::after {
          left: 35%;
        }

        .ant-checkbox + span {
          font-size: 16px;
        }
      }

      .collection-selector .ant-select-selector {
        background-image: url("../../images/knowledge-library/collection-icon.svg"),
          url("../../images/knowledge-library/chevron-down-grey.svg");
      }

      .ant-drawer-content {
        border-bottom-right-radius: 18px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        // border: 1px solid $blue09;
      }

      .ant-drawer-title,
      .drawer-close-icon {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
      }
      .drawer-close-icon {
        border-radius: 50%;
        &:hover {
          background-color: $yellow-highlight;
        }
      }
      .ant-space-item {
        margin-bottom: 0 !important;
      }

      .ant-select,
      .ant-picker {
        width: 100%;
      }

      .ant-select-selection-placeholder,
      .date-picker-container .ant-picker ::placeholder,
      .multiselection-filter .ant-select-selection-placeholder {
        font-size: 16px;
        color: $grey04;
      }

      .date-picker-container .ant-picker ::placeholder,
      .multiselection-filter .ant-select-selection-placeholder {
        font-style: italic;
        font-weight: 700;
      }

      .multiselection-filter .ant-select-selection-placeholder {
        padding-left: 30px;
      }

      .ant-select-selector,
      .date-picker-container .ant-picker {
        background: $grey05;
        border: 0;
        border-radius: 5px;
      }

      .ant-select-selector {
        background-image: url("../../images/knowledge-library/search-icon.svg"),
          url("../../images/knowledge-library/chevron-down-grey.svg");
        background-repeat: no-repeat;
        background-position: calc(15px) center, calc(100% - 14px) center;
      }

      .date-picker-container {
        .ant-row {
          display: flex;
          flex-wrap: wrap;
          .ant-col {
            max-width: 100% !important;
          }
        }
        input {
          font-style: italic;
        }
        .ant-row {
          align-items: flex-end;
        }
        .ant-picker-suffix {
          background-image: url("../../images/knowledge-library/chevron-down-grey.svg");
          background-position-x: 100%;
          background-repeat: no-repeat;
          width: 20px;
          span {
            opacity: 0;
          }
        }
      }

      .ant-select-selection-item-remove {
        display: none;
      }

      .ant-select-selection-overflow {
        padding-left: calc(44px - 9px);
        .ant-select-selection-item {
          background-color: transparent;
        }
      }

      .ant-select-clear {
        opacity: 0;
      }
      .date-picker-container {
        .ant-picker-clear {
          display: none;
        }
      }
      .date-picker-container input,
      .ant-select-selection-item-content {
        font-weight: 700;
        font-size: 16px;
        color: $blue06;
        font-style: italic;
        .anticon-close-circle {
          opacity: 0;
        }
      }

      .ant-drawer-close {
        top: -5px;
        span,
        svg {
          display: block;
          width: 23px;
          height: 23px;
          width: 100%;
        }
      }

      .filter-title {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .multiselection-filter .ant-space-item,
      .date-picker-container .ant-space-item {
        align-self: center;
      }

      .multiselection-filter .ant-select-selection-overflow {
        height: 29px;
        overflow-y: auto;
      }

      .multiple-filter-title {
        margin-bottom: 0;
      }

      .multiselection-filter {
        .ant-select-selection-search-input {
          width: 100%;
          display: block;
          // font-weight: 700;
          // font-size: 16px;
          // color: $blue06;
          // font-style: italic;
        }
        .ant-select-selection-item-content {
          font-style: italic;
          overflow: visible;
        }
      }

      .resource-type {
        border: none;
        color: $blue06;
      }

      .resource-type,
      .clear-selection {
        display: block;
        line-height: 30px;
        font-size: 14px;
        font-weight: 700;
        background-color: unset;
      }

      .clear-selection,
      .resource-type-card {
        display: flex;
        justify-content: center;
      }

      .clear-selection {
        flex-direction: row-reverse;
        align-items: center;
        align-self: baseline;
        color: $blue04;
        border: 1px solid $blue04;
        border-radius: 20px;
        margin-bottom: 8px;
        cursor: pointer;
        &:hover {
          background-color: $yellow-highlight;
        }
        .anticon-close {
          color: $blue04;
          font-weight: 700;
          padding-right: 3px;
        }
      }

      .resources-card-filter {
        .ant-col {
          max-width: 100%;
        }
      }

      // .ant-row {
      //   justify-content: space-between;
      // }

      .resource-card-wrapper {
        height: 100px;
        width: 100%;
        max-width: 100px !important;
        margin-bottom: 17px;
      }

      .resource-type-card {
        display: flex;
        align-items: center !important;
        position: relative;
        color: $grey03;
        cursor: pointer;
        padding: 4px;
        height: 100px;
        width: 100px;
        text-align: center;
        border: 1px solid $grey03;
        border-radius: 4px;
        .ant-card-body {
          padding: 0;
          .ant-space {
            gap: 4px;

            svg {
              width: 80px;
              height: 55px;
            }
            // SVG
            .event-flexible {
              .cls-3 {
                fill: none;
                stroke: currentColor;
                stroke-width: 4px;
              }
            }

            .policy .cls-1,
            .technology .cls-4 {
              stroke-width: 0;
            }

            .capacity-building {
              .cls-2,
              .cls-3,
              .cls-4 {
                fill: #fff;
              }

              .cls-3,
              .cls-4 {
                stroke: currentColor;
              }

              .cls-3 {
                stroke-width: 4px;
              }
            }

            .policy .cls-3,
            .initiative .cls-3 {
              fill: none;
            }

            .policy {
              .cls-2 {
                fill: currentColor;
                stroke-width: 0.25px;
              }
              .cls-3 {
                fill: none;
                stroke: currentColor;
              }

              .cls-4 {
                fill: #fff;
                stroke-width: 4px;
              }
            }

            .initiative {
              .cls-3 {
                stroke: none;
              }
            }

            .action-plan {
              .cls-2 {
                fill: currentColor;
              }
              .cls-1,
              .cls-2 {
                stroke-width: 0;
              }
            }

            .financing-resource {
              stroke-width: 0.25px;
            }
          }
        }

        .topic-text,
        .topic-count {
          font-size: 12px;
          text-transform: uppercase;
        }

        .topic-text {
          font-size: 12px;
          line-height: 14px;
        }

        .topic-count {
          font-weight: 700;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      .resource-type-card.active {
        color: $blue06;
        border-color: $blue06;
        font-weight: 600;
      }
    }
  }

  .resource-list-container {
    position: absolute;
    z-index: 3;
    height: 700px;
    width: 100%;
    background-color: rgba(237, 242, 247, 0.3);
    // max-width: 300px;
    max-width: 402px;
    @-moz-document url-prefix() {
      max-width: 350px !important;
    }
    @media (max-width: 400px) {
      position: unset;
      max-width: 100%;
      background-color: #fff;
    }
  }

  .topic-view-resource {
    background-color: rgba(237, 242, 247, 1);
    position: relative;
  }

  .resource-list-header.show-list {
    position: absolute;
    z-index: 999;
    background-color: $grey05;
  }

  .resource-list-header {
    padding: 2px 24px;
    justify-content: unset;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    z-index: 999;
    & span {
      font-size: 12px;
    }

    .ant-page-header-heading-title,
    .ant-page-header-heading-sub-title {
      width: 100%;
    }

    .ant-page-header-heading-title,
    .ant-page-header-heading-left,
    .ant-page-header-heading-sub-title {
      overflow: visible;
    }

    .ant-page-header-heading-title,
    .sort-btn {
      color: $blue06;
      background-color: transparent;
    }

    .ant-page-header-heading-title {
      text-align: left;
    }

    .ant-page-header-heading-sub-title {
      margin-right: 33px;
    }

    .ant-page-header-heading-left {
      flex-basis: 70%;
      flex-wrap: wrap;
      @media (min-width: 300px) {
        flex-wrap: nowrap;
      }
    }

    .ant-page-header-heading-extra {
      border-left: 1px solid rgba(37, 91, 135, 0.17);
    }

    .ant-page-header-back {
      margin-right: 10px;
    }
    .invisible-content {
      min-height: 18.75px;
    }
    .result-number {
      line-height: 16px;
      color: #181818;
    }

    .hide-icon.show {
      transform: rotate(180deg);
    }

    .sort-btn {
      border: none;
      display: flex;
      align-items: center;
      padding-left: 24px;
      box-shadow: unset;
      img {
        margin-right: 7px;
      }
    }
  }

  #knowledge-library-loading {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: fit-content;
    height: 100vh;
  }

  .resource-list {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 700px;
    align-items: center;
    padding-bottom: 120px;
    overflow-y: auto;

    .resource-item-wrapper {
      width: 100%;
      &:hover {
        background: $yellow-highlight;
        border-radius: 8px;
      }
      .resource-item {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        text-align: left;
        color: $black;

        .ant-card-body {
          padding: 5px !important;
        }

        .topic {
          color: $green05;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
        }

        .item-body {
          margin-top: 5px;

          .title,
          .description,
          .read-more {
            font-size: 14px;
          }
          .description {
            display: none;
            font-weight: 400;
            color: $blue11;
            margin-top: 7px;
          }

          .read-more,
          .avatar-number {
            color: $blue04;
          }

          .avatar-number {
            font-size: 13px;
            margin-left: 13px;
          }
        }
        .item-footer {
          margin-top: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .read-more {
            font-size: 14px;
          }
          .read-more,
          .avatar-number {
            color: $blue04;
          }
          .avatar-number {
            font-weight: 600;
          }
        }
      }
    }

    @media (max-width: 400px) {
      height: unset;
      overflow-y: visible;
    }
  }

  .avatar-group {
    position: relative;
    display: block;
    height: 30px;
    width: 60px;
    .stakeholder-connection-avatar {
      position: absolute;
    }
    .stakeholder-connection-avatar:nth-of-type(1) {
      left: 0;
    }
    .stakeholder-connection-avatar:nth-of-type(2) {
      left: 22px;
    }
    .stakeholder-connection-avatar:nth-of-type(3) {
      left: 44px;
    }
  }

  // Pagination
  .page {
    width: 100%;
    // max-width: 300px;
    max-width: 402px;
    padding: 2rem 0 1rem 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    @-moz-document url-prefix() {
      max-width: 350px !important;
    }
    .result-number,
    .ant-pagination-item a {
      font-weight: 700;
      font-size: 12px;
    }

    .result-number {
      text-align: center;
      color: #000000;
      margin-top: 12px;
    }

    .ant-pagination-item {
      width: 34px;
      height: 34px;
      margin-right: 2px;
      margin-bottom: 2px;
      border-radius: 5px;
      a {
        font-weight: 400;
        width: 100%;
        height: 100%;
        color: #ffffff;

        line-height: 31px;
        border-radius: 5px;
        // background: $blue12;
        background-color: #255b87;
      }
    }

    .ant-pagination-item-ellipsis {
      // color: $blue12;
      color: #255b87;
      font-weight: 700;
      margin-left: calc(10px - 2px);
      margin-right: 10px;
    }

    .ant-pagination-item-active {
      border: none;
      a {
        // background: rgba(24, 22, 47, 0.26);
        background-color: rgba(37, 91, 135, 0.1);
        color: #255b87;
      }
    }
    .ant-pagination-next {
      background-image: url("../../images/knowledge-library/chevron-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px;
      svg {
        display: none;
      }
    }

    .ant-pagination-prev {
      display: none;
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }

  .echarts-for-react.popular-topic-chart {
    height: 1000% !important;
  }

  .topic-view {
    background: "#255B87";
    flex: auto;
    max-width: calc(100% - 300px);
  }

  @media (max-width: 400px) {
    .topic-view {
      align-self: center;
      max-width: 90%;
      padding-left: 20px;
      padding-right: 20px;
      padding: 10px 10px 0 10px;
      background-color: #255b87;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .chart-wrapper {
      display: none;
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .selection-value {
      img {
        width: 25px;
      }
      .selection-arrow {
        width: 15px;
      }
    }
    .ant-drawer-content-wrapper {
      zoom: 80%;
      height: 100% !important;

      @-moz-document url-prefix() {
        min-height: 1003px !important;
        transform: scale(0.7) translate(-107px, -220px);
      }
    }

    // .resource-main-container {
    //   display: block;
    //   background-color: rgb(37, 91, 135);
    //   .ant-page-header {
    //     padding: 2px 24px;
    //   }
    //   .resource-list {
    //     gap: 5px;
    //     padding-bottom: 120px;
    //     .resource-item-wrapper {
    //       .ant-card-body {
    //         padding-top: 5px;
    //         padding-bottom: 5px;
    //       }
    //       .item-body {
    //         margin-top: 0px;
    //       }
    //       .item-footer {
    //         margin-top: 5px;
    //       }
    //     }
    //   }
    //   @media (max-width: 400px) {
    //     display: flex !important;
    //     flex-direction: column !important;
    //     flex-direction: column-reverse !important;
    //     .resource-list {
    //       padding-left: 20px;
    //       padding-right: 20px;
    //     }
    //   }

    //   @media (min-width: 700px) {
    //     flex-wrap: nowrap;
    //   }
    // }

    .ui-header {
      .sort-btn {
        svg {
          width: 27px;
          height: 27px;
        }
      }
      .ant-btn-icon-only {
        min-width: 25px;
        min-height: 25px;
        height: 25px;
      }
      .search-box {
        .ant-input-affix-wrapper {
          button {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .site-drawer-render-in-current-wrapper {
      .ant-drawer-body {
        padding: 10px;
      }
      .ant-drawer-content-wrapper {
        .filter-title,
        .favorites-checkbox {
          margin-bottom: 5px;
        }
        .resources-card-filter {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
        .resource-type-card {
          height: 100px;
          .ant-card-body {
            .ant-space {
              gap: 1px;
            }
          }
          .ant-space-item {
            svg {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .multiselection-dropdown,
  .ant-picker-dropdown {
    zoom: 80%;
    @-moz-document url-prefix() {
      transform: scale(0.7);
    }
  }
  .overlay-zoom {
    zoom: 100%;
    @-moz-document url-prefix() {
      transform: scale(1);
    }
  }
}

.resource-main-container {
  display: block;
  background-color: rgb(37, 91, 135);
  .ant-page-header {
    padding: 2px 24px;
  }
  .resource-list {
    gap: 5px;
    padding-bottom: 120px;
    .resource-item-wrapper {
      .ant-card-body {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .item-body {
        margin-top: 0px;
      }
      .item-footer {
        margin-top: 5px;
      }
    }
  }
  @media (max-width: 400px) {
    display: flex !important;
    flex-direction: column !important;
    flex-direction: column-reverse !important;
    .resource-list {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 700px) {
    flex-wrap: nowrap;
  }
}
