@import "../../vars.scss";

.popover-multi-country {
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: $yellow-highlight !important;
  }
}

.country-info-popover {
  zoom: 60% !important;
  .popover-content-item {
    font-size: 18px !important;
  }
  @-moz-document url-prefix() {
    font-size: 14px !important;
  }
}

.country-filter-tab-wrapper {
  width: 100%;
  .ant-select-selection-placeholder {
    padding-left: 30px;
    @-moz-document url-prefix() {
      padding-left: 25px;
    }
  }
  .ant-tabs-tab-btn {
    color: #000000 !important;
  }
}

.country-filter-tab .ant-select-selection-placeholder {
  font-size: 16px;
  color: $grey04;
  @-moz-document url-prefix() {
    font-size: 12px;
  }
}

.country-filter-tab {
  border: 1px solid #d7e6ee;
  border-radius: 3px;
  background-color: #fff;

  .ant-select-selection-overflow {
    height: 29px;
    overflow-y: auto;
    @-moz-document url-prefix() {
      height: 22px;
    }
  }

  .ant-select {
    width: 100%;
    margin-bottom: 10px;
    @-moz-document url-prefix() {
      margin-bottom: 5px;
    }
  }
}

.country-filter-tab {
  margin-bottom: 1.5rem;
  @-moz-document url-prefix() {
    margin-bottom: 1.1rem;
  }

  .ant-select-item.ant-select-item-group {
    color: rgba(0, 0, 0, 0.45);
  }

  .country-filter-tab-pane {
    padding: 0.5rem 1rem;
    @-moz-document url-prefix() {
      padding: 0.1rem 0.6rem;
    }
  }
  .ant-tabs-nav-list {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .ant-tabs-tab:not(:last-of-type) {
    margin-right: 0 !important;
  }

  .ant-tabs-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 0;
    border: none;
    background-color: #dae9f1;
    &:hover {
      background-color: $yellow-highlight !important;
    }

    div {
      color: #000000;
      font-size: 16px;
      @-moz-document url-prefix() {
        font-size: 12px;
      }
    }
  }
  .ant-tabs-tab-active {
    background-color: #fff;
    &:hover {
      background-color: #fff !important;
    }
    .ant-tabs-tab-btn {
      font-weight: normal;
    }
  }
  .ant-tabs-tab-btn {
    color: $blue07;
  }
  .ant-tabs-nav::before,
  .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .ant-tabs-nav .ant-tabs-nav-wrap::after {
    content: none !important;
  }
  // css for select suffix
  .multi-country-info {
    .ant-select-arrow {
      right: 28px;
      font-size: 14px;
      top: 48%;
      color: $blue07;
      @-moz-document url-prefix() {
        font-size: 12px;
      }
    }
  }
}
