@import '../../../styles/vars.scss';

.plasticStrategyView {
  display: flex;
  background: rgba(245, 247, 255, 0.48);
}

.sidebar {
  width: 330px;
  min-height: calc(100vh - 90px);

  min-width: 330px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(173, 186, 240, 0.31);
  top: 0;
  z-index: 100;

  :global {
    .sticky {
      position: sticky;
      // position: static;
      top: 0;
      height: calc(100vh - 90px);
      overflow: scroll;
    }

    .head {
      padding: 18px 10px;
      color: $primaryDarkBlueText;

      .caps-heading-s {
        color: $primaryDarkBlueText;
      }
    }

    .progress-bar {
      margin: 10px 0;
    }

    .progress-text {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: $primaryDarkBlueText;
      font-family: $ff1;
    }

    .steps {
      .step {
        .stephead {
          display: flex;
          padding: 15px 10px;
          border-top: 1px solid rgba(204, 208, 219, 0.3);
          align-items: center;
          transition: background 0.4s ease-out;
        }

        .substeps {
          transition: height 0.3s ease-out;
          overflow: hidden;
        }

        &:not(.opened) {
          .substeps {
            height: 0 !important;
          }
        }

        transition: background 0.4s ease-out;

        .topsection {
          transition: background 0.4s ease-out;
        }

        &.opened {
          background-color: #fafbff;

          .topsection {
            background-color: #f5f7ff;
          }

          & > a > .stephead {
            border-bottom: 1px solid #fff;
          }

          .stephead {
            .pointer {
              transform: rotate(180deg);
            }
          }

          .topsection .label {
            font-weight: bold;
          }
        }

        &.selected {
          .stephead {
            background-color: $primaryPurple2;
          }
        }

        a {
          color: $primaryDarkBlueText;
        }

        .check {
          width: 19px;
          height: 19px;
          min-width: 19px;
          border: 1px solid $primaryPurple;
          border-radius: 100%;
          margin-right: 15px;
          margin-left: 5px;
          color: #fff;

          &.checked {
            background-color: $primaryPurple;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              fill: $primaryWhite;
            }

            &.substep {
              svg {
                font-size: 10px;
              }
            }
          }
        }

        .label {
          min-width: 190px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
        }

        .topsection .label {
          font-family: $ff1;
          font-weight: 600;
        }

        .status {
          font-family: $ff1;
          margin-left: auto;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.48);
          font-weight: 600;
          line-height: 24px;
          margin-right: 5px;
          margin-left: 20px;
        }

        .pointer {
          margin-left: 10px;
          color: $primaryDarkBlue3;
          transition: all 0.3s ease-out;
        }
      }

      .substep {
        .stephead {
          border-top: none;
        }

        .check {
          width: 17px;
          height: 17px;
          min-width: 17px;
          margin-left: 8px;
          margin-right: 18px;
          position: relative;

          &:after {
            content: ' ';
            width: 1px;
            height: 36px;
            background-color: $primaryPurple3;
            position: absolute;
            left: 7px;
            top: 16px;
          }
        }

        &:last-child {
          .check:after {
            display: none;
          }
        }
      }

      .step.forum {
        &:not(.selected) {
          background-color: #e7f3ff;
        }

        svg {
          margin-right: 12px;
          margin-left: 3px;
        }
      }
    }
  }
}

.view {
  width: 100%;
  padding: 30px 50px 140px;
  width: 100%;

  &.forumView {
    padding: 0;
  }

  p {
    padding: 25px 0;
  }

  :global {
    ul {
      li {
        padding: 5px 0;
        line-height: 30px;
      }
    }

    .iframe-container {
      position: absolute;

      .ant-btn {
        position: absolute;
        right: 0;
      }
    }

    .strapi-workflow-page {
      a {
        color: $primaryDarkBlue;
        text-decoration: underline;
        font-family: var(--font-archia), sans-serif;
        font-weight: 600;
        font-size: 18px;

        &:hover {
          color: $primaryPurple;
          text-decoration: none;
        }
      }

      p {
        padding: 10px 0px;
        color: $primaryDarkBlue;
        text-transform: none;
        font-weight: normal;
      }

      h2 {
        font-size: $fzXXL;
        line-height: $lhXXL;
        font-weight: 700;

        @media screen and (max-width: $bpMobile) {
          font-size: $fzL;
          line-height: $lhL;
        }
      }

      iframe {
        position: relative;
        max-width: 960px;
        min-height: 542px;
        width: 100%;

        &::before {
          content: '';
          display: block;
          padding-top: 56.25%;
        }
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .col {
          iframe {
            width: 560px;
            height: 315px;
            min-height: auto;
            padding-right: 30px;
            padding-bottom: 30px;
          }

          display: block;
        }
      }
    }
  }
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  z-index: 99;
  padding: 10px;
  padding-right: 30px;
  padding-left: 370px;

  :global {
    .ant-btn {
      margin-left: 10px;

      &.ant-btn-default {
        &:hover {
          margin-right: -8px;
        }
      }

      &.mark-completed {
        color: $primaryDarkBlueText;
        border-color: $primaryDarkBlueText;

        svg {
          position: static;
          width: 0;
          height: 0;
          transition: all 0.2s ease-out;
          transform: translateY(0px);
          margin-right: 0px;
        }

        &:hover,
        &.completed {
          svg {
            width: 19px;
            height: 15px;
            transform: translateY(1px);
            margin-right: 5px;
          }
        }

        &:active,
        &.completed {
          border-color: $primaryPurple3;
          background-color: $primaryPurple3;
        }

        &:disabled {
          border-color: $primaryDarkBlue2;
          color: $primaryDarkBlue2;
        }
      }
    }
  }
}

.cardsList {
  display: flex;
  flex-wrap: wrap;

  & > div {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
