@import '../../../styles/vars.scss';

.plasticStrategyView {
  display: flex;
}
.sidebar {
  width: 330px;
  min-width: 330px;
  background-color: #ebf5ff;
  position: sticky;
  top: 0;
  z-index: 100;
  :global {
    .head {
      padding: 18px 10px;
    }
    .progress-bar {
      margin: 10px 0;
    }
    .progress-text {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: $primaryPurple7;
    }
    .steps {
      .step {
        .stephead {
          display: flex;
          padding: 15px 10px;
          border-top: 1px solid $primaryDarkBlue2;
          align-items: center;
        }
        .substeps {
          transition: height 0.3s ease-out;
          overflow: hidden;
        }
        &:not(.opened) {
          .substeps {
            height: 0 !important;
          }
        }
        &.opened {
          & > a > .stephead {
            border-bottom: 2px solid $primaryPurple4;
          }
        }
        &.selected {
          .stephead {
            background-color: $primaryPurple2;
          }
        }
        a {
          color: $primaryDarkBlueText;
        }
        .check {
          width: 23px;
          height: 23px;
          min-width: 23px;
          border: 1px solid $primaryPurple;
          border-radius: 100%;
          margin-right: 15px;
          margin-left: 5px;
        }
        .label {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
        }
        .status {
          font-family: $ff1;
          margin-left: auto;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.48);
          font-weight: 700;
          line-height: 24px;
          margin-right: 5px;
          margin-left: 20px;
        }
        .pointer {
          margin-left: 10px;
        }
      }
      .substep {
        .stephead {
          border-top: none;
        }
        .check {
          width: 17px;
          height: 17px;
          min-width: 17px;
          margin-left: 8px;
          margin-right: 18px;
        }
      }
    }
  }
}
.view {
  padding: 30px 50px 140px;
}
.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
  padding: 10px;
  padding-right: 30px;
  border-top: 1px solid #000;
  background: #f5f7ff;
  :global {
    .ant-btn {
      margin-left: 10px;
      &.ant-btn-default {
        &:hover {
          margin-right: -8px;
        }
      }
    }
  }
}
