@import "../../vars.scss";

#details {
  .section-header {
    background-color: #007090;
    padding: 20px 0px;
    width: 100%;
    .header-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      h4,
      h2 {
        margin: 0;
      }
      h2 {
        font-size: 16px;
        color: #1ca585;
      }
      h4 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: capitalize;
      }
      img {
        margin-right: 20px;
      }
    }
  }
  .section-banner {
    padding: 20px 0px;
    background: #d3dee7 url("../../images/detail-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .resource-image {
      width: 100%;
      border-radius: 10px;
    }
    .banner-wrapper {
      display: flex;
      background: #fff;
      border-radius: 10px;
      width: 100%;
      justify-content: space-between;
      .ant-card-head {
        padding: 0 40px !important;
      }
      .ant-card-body {
        padding: 24px 40px !important;
      }
      .long-image {
        min-height: 500px;
        max-height: 500px;
        padding: 2px;
        width: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .view-more {
        color: #1ca585;
        font-size: 1.2rem;
      }
    }
    .short-image {
      min-height: 500px;
      height: 100%;
      padding: 2px;
      position: relative;
      padding-top: 100%;
      img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
      }
    }
    .sticky-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #255b87;
      margin: 2px;
      flex: 0 0 110px;
      border: 1px solid #d3dee7;
      box-sizing: border-box;
      border-radius: 0px 10px 10px 0px;
      .sticky-panel-item {
        border-bottom: 1px solid #094271;
        box-shadow: 0px 1px 0px #3872a0;
        width: 100%;
        cursor: pointer;
        flex: 1 1 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        &:hover {
          background: $yellow-highlight !important;
          color: #fff;
        }
        &:first-child {
          background-color: #05f081;
          border-radius: 0px 8px 0px 0px;
          span {
            color: #255b87;
          }
          h2 {
            color: #255b87;
          }
        }
        a {
          text-align: center;
        }
        &:last-child {
          border-bottom: none;
          box-shadow: none;
          background-color: #236b8c;
          border-radius: 0px 0px 10px 0px;
        }
        &:nth-last-child(2) {
          background-color: #236b8c;
        }
        span {
          font-size: 30px;
          color: #ffffff;
        }
        h2 {
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
          margin-bottom: 0px;
          text-transform: uppercase;
          line-height: 20px;
        }
        .recording-icon {
          width: 40px;
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  .card-wrapper {
    &.mb-10 {
      margin-bottom: 30px;
    }
    .summary {
      padding: 0 10px;
    }
    .ant-card {
      padding: 10px 0px;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      .ant-card-head {
        border: none;
        min-height: auto;
        padding: 0px 20px;
        .ant-card-head-title {
          padding-bottom: 0px;
          color: #1ca585;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .ant-card-body {
        padding: 24px 10px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .section-info {
    background: #edf2f7;
    padding: 30px 0px;
    .tab-wrapper {
      background: #007090;
      border-radius: 5px;
      padding: 10px 0px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
          display: table-cell;
          text-align: center;
          border-right: 1px solid #ffffff;
          &:last-child {
            border-right: none;
          }
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .list {
      .ant-list-item {
        border-bottom: none;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        .ant-list-item-meta {
          align-items: center;
          .ant-avatar {
            width: 32px;
            height: 32px;
            overflow: initial;
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
    .connection-list {
      max-height: 300px;
      overflow-x: auto;
      .ant-list {
        &:first-child {
          border: 1px solid #edf2f7;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        &:last-child {
          .count {
            width: 50px;
            height: 50px;
            border: 2px solid #34a6ff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #34a6ff;
          }
          h4 {
            a {
              color: #34a6ff;
              font-weight: 700;
            }
          }
        }
      }
      .ant-avatar-circle {
        width: 50px !important;
        height: 50px !important;
        img {
          border-radius: 50%;
        }
      }
      .ant-list-item-meta-title {
        margin-bottom: 0px;
        color: #181818;
      }
      .ant-list-item-meta-description {
        color: rgba(37, 91, 135, 0.5);
        text-transform: capitalize;
      }
      .see-more-button {
        color: #34a6ff;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .documents-list {
      padding: 0 10px;
      .ant-list-item {
        h4 {
          color: #34a6ff;
          font-weight: 700;
          border-bottom: 1px solid;
          display: inline-block;
        }
      }
    }
    .tag-list {
      h4 {
        text-transform: capitalize;
      }
      ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        li {
          background: #d3dee7;
          border-radius: 23px 5px 5px 23px;
          color: #255b87;
          display: inline-block;
          padding: 5px 20px 5px 30px;
          position: relative;
          margin: 0 10px 10px 0;
          text-decoration: none;
          &::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .geo-coverage {
      h4 {
        text-transform: capitalize;
      }
    }
    .related-content {
      padding: 0px 10px;
      .ant-col {
        margin-bottom: 20px;
      }
      .ant-card-head {
        padding: 0px 15px;
        .ant-card-head-title {
          font-size: 14px;
        }
      }
      .ant-card-body {
        padding: 0px 15px;
        h4 {
          font-size: 14px;
          color: #18162f;
          font-weight: normal;
          margin-bottom: 5px;
        }
        p {
          color: #374a59;
          font-size: 14px;
        }
      }

      .slider-card {
        display: flex;
        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        .image-holder {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: rgba(211, 222, 231, 0.2);
          flex: 0 0 80px;
          box-sizing: border-box;
          padding: 20px 0px;
          justify-content: center;
          img {
            width: 60px;
          }
        }
        .description-holder {
          padding: 15px;
          width: 100%;
          h4 {
            color: #1ca585;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
          }
          h6 {
            font-size: 14px;
            color: #18162f;
            font-weight: normal;
            margin-bottom: 2px;
          }
          p {
            font-size: 14px;
            color: #374a59;
            margin-bottom: 0px;
            font-weight: normal;
          }
          .connection-wrapper {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .read-more {
              color: #34a6ff;
              cursor: pointer;
            }
          }
          .bottom-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            .read-more {
              color: #34a6ff;
              cursor: pointer;
            }
          }
        }
      }
    }
    .record-table {
      padding: 0px 10px;
      .record-table-wrapper {
        display: flex;
        padding: 6px 10px;
        &:nth-of-type(odd) {
          background: #edf2f7;
        }
        & > div {
          flex: 0 0 50%;
        }
      }
    }
    .views-container {
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      background: #fff;
      padding: 0px 40px;
      margin-bottom: 30px;
      .ant-list-item-meta {
        align-items: center;
        .ant-avatar {
          img {
            object-fit: contain;
          }
        }
        .ant-list-item-meta-title {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.list-country-group {
  max-height: 300px;
  overflow-y: auto;
  list-style-type: disc;
  list-style: inside;
}
@media screen and (max-width: 1280px) {
  #details {
    .section-header {
      padding: 10px 0px;
      .header-wrapper {
        h4 {
          font-size: 18px;
          line-height: 22px;
        }
        img {
          width: 30px;
        }
      }
    }
    .section-banner {
      .short-image {
        img {
          height: 100%;
          object-fit: fill;
          position: absolute;
          top: 0;
        }
      }

      .sticky-panel {
        .sticky-panel-item {
          span {
            font-size: 24px;
          }
          h2 {
            font-size: 14px;
          }
        }
      }
    }

    .section-info {
      .tab-wrapper {
        ul {
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  #details {
    .ui.container {
      zoom: 75%;
      width: 1560px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .section-header {
      padding: 10px 0px;
      .header-wrapper {
        h4 {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
    .section-banner {
      padding: 10px 0px;
      .ant-row {
        margin-bottom: 0px !important;
      }
      .short-image {
        // min-height: 350px;
        img {
          // object-fit: fill;
        }
      }
      .banner-wrapper {
        .long-image {
          // max-height: 350px;
        }
      }
      .sticky-panel {
        .sticky-panel-item {
          h2 {
            font-size: 1.2rem;
            line-height: 1.8rem;
          }
          span {
            font-size: 1.6rem;
          }
        }
      }
    }
    .section-info {
      padding: 10px 0px;
      .record-table {
        font-size: 1.4rem;
      }
      .tab-wrapper {
        margin-bottom: 10px !important;
        padding: 5px 0px;
        ul li a {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
      .related-content {
        .slider-card {
          .description-holder {
            h4 {
              font-size: 1.4rem;
            }
            h6 {
              font-size: 1.4rem;
            }
            .bottom-panel .read-more {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .card-wrapper {
      &.mb-10 {
        margin-bottom: 10px;
      }
      .ant-card {
        .ant-card-body {
          padding: 14px 10px;
          p {
            font-size: 1.4rem;
          }
          .ant-list-item-meta-title {
            font-size: 1.4rem;
          }
        }
        .ant-card-head {
          .ant-card-head-title {
            font-size: 16px;
          }
        }
      }
    }
    .card-wrapper .ant-card .ant-card-head .ant-card-head-title {
      font-size: 1.4rem;
    }
    .card-wrapper .ant-card {
      padding: 0px 0px;
    }
  }
  .popover-multi-country {
    zoom: 75%;
    .list-country-group {
      li {
        font-size: 1.2rem;
      }
    }
  }
}
