#details {
  .section-header {
    background-color: #007090;
    padding: 20px 0px;
    width: 100%;
    .header-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      h4,
      h2 {
        margin: 0;
      }
      h2 {
        font-size: 16px;
        color: #1ca585;
      }
      h4 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 25px;
        text-transform: capitalize;
      }
      img {
        margin-right: 20px;
      }
    }
  }
  .section-banner {
    padding: 20px 0px;
    background: #d3dee7 url("../../images/detail-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .resource-image {
      width: 100%;
      border-radius: 10px;
    }
    .banner-wrapper {
      display: flex;
      background: #fff;
      border-radius: 10px;
      width: 100%;
      justify-content: space-between;
      .ant-card-head {
        padding: 0 40px !important;
      }
      .ant-card-body {
        padding: 24px 40px !important;
      }
      .long-image {
        max-height: 500px;
        padding: 2px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .short-image {
      min-height: 500px;
      height: 100%;
      padding: 2px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .sticky-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #255b87;
      margin: 2px;
      flex: 0 0 100px;
      border: 1px solid #d3dee7;
      box-sizing: border-box;
      border-radius: 0px 10px 10px 0px;
      padding: 0px 5px;
      .sticky-panel-item {
        border-bottom: 1px solid #094271;
        box-shadow: 0px 1px 0px #3872a0;
        width: 100%;
        cursor: pointer;
        flex: 1 1 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        a {
          text-align: center;
        }
        &:last-child {
          border-bottom: none;
          box-shadow: none;
        }
        span {
          font-size: 30px;
          color: #ffffff;
        }
        h2 {
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
          margin-bottom: 0px;
        }
      }
    }
  }
  .card-wrapper {
    .summary {
      padding: 0 10px;
    }
    .ant-card {
      padding: 10px 0px;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      .ant-card-head {
        border: none;
        min-height: auto;
        padding: 0px 20px;
        .ant-card-head-title {
          padding-bottom: 0px;
          color: #1ca585;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .ant-card-body {
        padding: 24px 10px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .section-info {
    background: #edf2f7;
    padding: 30px 0px;
    .tab-wrapper {
      background: #007090;
      border-radius: 5px;
      padding: 10px 0px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
          display: table-cell;
          text-align: center;
          border-right: 1px solid #ffffff;
          &:last-child {
            border-right: none;
          }
          a {
            color: #ffffff;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .list {
      .ant-list-item {
        border-bottom: none;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        .ant-list-item-meta {
          align-items: center;
          .ant-avatar {
            width: 32px;
            height: 32px;
            overflow: initial;
            img {
              object-fit: contain;
            }
          }
        }
      }
    }
    .connection-list {
      .ant-list {
        &:first-child {
          border: 1px solid #edf2f7;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        &:last-child {
          .count {
            width: 50px;
            height: 50px;
            border: 2px solid #34a6ff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #34a6ff;
          }
          h4 {
            color: #34a6ff;
            font-weight: 700;
          }
        }
      }
      .ant-avatar-circle {
        width: 50px !important;
        height: 50px !important;
      }
      .ant-list-item-meta-title {
        margin-bottom: 0px;
        color: #181818;
      }
      .ant-list-item-meta-description {
        color: rgba(37, 91, 135, 0.5);
        text-transform: capitalize;
      }
      .see-more-button {
        color: #34a6ff;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .documents-list {
      .ant-list-item {
        h4 {
          color: #34a6ff;
          font-weight: 700;
          border-bottom: 1px solid;
          display: inline-block;
        }
      }
    }
    .tag-list {
      h4 {
        text-transform: capitalize;
      }
    }
    .geo-coverage {
      h4 {
        text-transform: capitalize;
      }
    }
    .related-content {
      padding: 0px 10px;
      .ant-col {
        margin-bottom: 20px;
      }
      .ant-card-head {
        padding: 0px 15px;
        .ant-card-head-title {
          font-size: 14px;
        }
      }
      .ant-card-body {
        padding: 0px 15px;
        h4 {
          font-size: 14px;
          color: #18162f;
          font-weight: normal;
          margin-bottom: 5px;
        }
        p {
          color: #374a59;
          font-size: 14px;
        }
        .bottom-panel {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .read-more {
            color: #34a6ff;
          }
        }
      }
    }
    .record-table {
      padding: 0px 10px;
      .record-table-wrapper {
        display: flex;
        padding: 6px 10px;
        &:nth-of-type(odd) {
          background: #edf2f7;
        }
        & > div {
          flex: 0 0 50%;
        }
      }
    }
    .views-container {
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      background: #fff;
      padding: 0px 40px;
      margin-bottom: 30px;
      .ant-list-item-meta {
        align-items: center;
        .ant-avatar {
          img {
            object-fit: contain;
          }
        }
        .ant-list-item-meta-title {
          margin-bottom: 0px;
        }
      }
    }
  }
}
