.ant-btn {
  // font-weight: 500;
  // font-size: 1.125em;
  // line-height: 2.2;
  // padding: 0 1.2em;
  &.ant-btn-ghost {
    border: 2px solid #18162f;
    color: #18162f;
    height: auto;
    &:hover {
      background-color: #18162f;
      color: white;
    }
  }
  // &.ant-btn-lg {
  //   border-width: 3px;
  //   font-size: 1.375em;
  //   line-height: 2.2;
  //   padding: 0 30px;
  // }
  &.ant-btn-primary {
    background-color: #00ff7f;
    border-color: #00ff7f;
    // font-weight: 500;
    // font-size: 22px;
    color: #0055a5;
    // height: auto;
    // line-height: 60px;
    // padding: 0 50px;
    transition: all 0.19s ease-out;
    &:hover {
      background-color: #ffb400;
      border-color: #ffb400;
      color: #0055a5;
    }
    &.ant-btn-lg {
      font-size: 1.375em;
      line-height: 2.8;
      padding: 0 2.2em;
    }
  }
  &.ant-btn-link {
    color: #fff !important;
    padding: 0;
    &:hover {
      color: #ffb400;
    }
  }
}
