/*******************************
            Container
*******************************/

/* All Sizes */

.ui.container {
  display: block;
  max-width: 100% !important;
}

/* Mobile */
@media only screen and (max-width: 474px) {
  html {
    font-size: 13px;
  }
  .ui.container {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    // enable mobile view
    flex-direction: column;
    .topic-item {
      width: 100% !important;
    }
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  // enable mobile view - maps
  .landing-container.map-container {
    .map-overlay {
      position: unset !important;
      width: 100% !important;
      padding: 0 3%;
      margin-bottom: 20px;
      .summary {
        ul {
          li {
            .disclaimer {
              max-width: 100% !important;
            }
          }
        }
      }
    }
    .map-buttons {
      button {
        margin-left: 0 !important;
        margin-right: 10px;
      }
    }
    .legends {
      left: 0 !important;
      bottom: 10px !important;
      .legend {
        width: unset !important;
      }
    }
  }

  // enable mobile view - remove map
  .echarts-for-react.fade-in.worldmap {
    display: none;
  }

  // root
  #root {
    // enable mobile view -- topbar
    & > .topbar {
      line-height: 25px;
      .ui.container {
        flex-direction: row;
        .rightside {
          text-align: right;
          .ant-btn-link {
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
    }

    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    header.ant-layout-header.nav-header-container {
      width: 100%;
    }

    // enable mobile view -- header
    & > header {
      height: auto !important;
      .ui.container {
        flex-direction: row;
        .rightside.btn-wrapper {
          display: none;
        }
      }
      .src {
        width: 25%;
        display: none;
      }
    }
  }

  // enable mobile view - maps
  #landing {
    .popular-topics {
      .body {
        flex-direction: column;
        .chart-wrapper {
          width: 100% !important;
          .popular-topic-chart {
            height: 650px !important;
            @media only screen and (max-width: 800px) {
              height: 450px !important;
            }
          }
        }
        .content {
          margin-top: 0.85rem;
          width: 100% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 20% !important;
              margin: 2px;
            }
          }
        }
      }
    }

    .featured-content {
      .body {
        flex-direction: column;
        .content-left {
          width: 100% !important;
          flex-wrap: wrap;
          .item {
            flex: 1 1 50%;
            margin: 5px 1px;
            .item-body {
              height: 13rem !important;
            }
          }
        }
        .content-right {
          width: 100% !important;
          .item {
            .item-body {
              height: 23.5rem !important;
            }
          }
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          justify-content: flex-start !important;
          .carousel-item {
            .about {
              margin-bottom: 4rem !important;
            }
            .detail {
              bottom: 3% !important;
              p {
                height: 20px !important;
              }
            }
          }
        }
      }
    }

    .benefit {
      .body {
        flex-direction: column;
        .item {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
      .btn-wrapper {
        margin-top: 0 !important;
      }
    }

    .event {
      .body {
        flex-direction: column;
        .content,
        .calendar {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
    }
  }

  // enable mobile view -- footer
  footer {
    .ui.container {
      &:first-child {
        flex-direction: row;
        flex-wrap: wrap;
        .col {
          flex: 1 1 45% !important;
          margin: 5px;
        }
      }
      &.unep {
        flex-direction: row;
        flex-wrap: nowrap;
        img.uneplogo {
          width: 25%;
        }
        .unepInfo {
          width: 74%;
          h2 {
            margin: 0;
            line-height: 1.5rem;
          }
        }
      }
    }

    .footBottom {
      .col {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          text-align: right;
        }
      }

      ul {
        &.horizonList {
          > li {
            a {
              margin-left: 5px;
            }
          }
          &.socialLink {
            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  // browse - enable mobile view
  #browse {
    aside {
      width: 100% !important;
    }
    .main-content {
      .page {
        font-size: 12px;
      }
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 70% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        width: 75% !important;
        h1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .content-body {
      flex-direction: column;
      .content-column {
        width: 100% !important;
        .card {
          margin-bottom: 35px !important;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // add event - enable mobile view
  #add-event {
    .ant-card {
      h3 {
        font-size: 20px !important;
      }
      .array-item {
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 10px;
        }
        & > div:first-child {
          width: 100% !important;
        }
        & > div:last-child {
          width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }
  }

  // sign-up form - enable mobile view
  .signup-modal {
    .signup-form {
      h2 {
        font-size: 20px !important;
      }
      .section:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 235px !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        margin: 20px 0;
        padding: 15px 20px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 224px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 25% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 20% !important;
        }
      }

      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
          .col {
            padding-left: 20px;
          }
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 40%;
          }
          .detail-content {
            width: 60%;
          }
        }
      }
    }
    .download-container {
      width: 100%;
      .ant-select {
        width: 100% !important;
      }
    }
  }

  /*Show responsive menu and disable normal menu */
  .menu-dropdown-container {
    display: none !important;
  }
  .responsive-menu-trigger {
    display: flex;
  }
  .responsive-menu-wrapper {
    .auth-menu {
      display: block;
    }
  }
}

@media only screen and (min-width: 475px) and (max-width: 599px) {
  html {
    font-size: 14px;
  }
  .ui.container {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    // enable mobile view
    flex-direction: column;
    .topic-item {
      width: 100% !important;
    }
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  // enable mobile view - maps
  .landing-container.map-container {
    .map-overlay {
      position: unset !important;
      width: 100% !important;
      padding: 0 3%;
      margin-bottom: 20px;
      .summary {
        ul {
          li {
            .disclaimer {
              max-width: 100% !important;
            }
          }
        }
      }
    }
    .map-buttons {
      button {
        margin-left: 0 !important;
        margin-right: 10px;
      }
    }
    .legends {
      left: 0 !important;
      bottom: 10px !important;
      .legend {
        width: unset !important;
      }
    }
  }

  // enable mobile view - remove map
  .echarts-for-react.fade-in.worldmap {
    display: none;
  }

  // root
  #root {
    // enable mobile view -- topbar
    & > .topbar {
      line-height: 25px;
      .ui.container {
        flex-direction: row;
        .rightside {
          text-align: right;
          .ant-btn-link {
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
    }

    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    header.ant-layout-header.nav-header-container {
      width: 100%;
    }

    // enable mobile view -- header
    & > header {
      height: auto !important;
      .ui.container {
        flex-direction: row;
      }
      .src {
        width: 25%;
        display: none;
      }
    }
  }

  // enable mobile view - maps
  #landing {
    .popular-topics {
      .body {
        flex-direction: column;
        .chart-wrapper {
          width: 100% !important;
          .popular-topic-chart {
            height: 650px !important;
          }
        }
        .content {
          margin-top: 0.85rem;
          width: 100% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 20% !important;
              margin: 2px;
            }
          }
        }
      }
    }

    .featured-content {
      .body {
        flex-direction: column;
        .content-left {
          width: 100% !important;
          flex-wrap: wrap;
          .item {
            flex: 1 1 50%;
            margin: 5px 1px;
            .item-body {
              height: 12rem !important;
            }
          }
        }
        .content-right {
          width: 100% !important;
          .item {
            .item-body {
              height: 19rem !important;
            }
          }
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          justify-content: flex-start !important;
          .carousel-item {
            .about {
              margin-bottom: 4rem !important;
            }
            .detail {
              bottom: 3% !important;
              p {
                height: 20px !important;
              }
            }
          }
        }
      }
    }

    .benefit {
      .body {
        flex-direction: column;
        .item {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
      .btn-wrapper {
        margin-top: 0 !important;
      }
    }

    .event {
      .body {
        flex-direction: column;
        .content,
        .calendar {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
    }
  }

  // enable mobile view -- footer
  footer {
    .ui.container {
      &:first-child {
        flex-direction: row;
        flex-wrap: wrap;
        .col {
          flex: 1 1 45% !important;
          margin: 5px;
        }
      }
      &.unep {
        flex-direction: row;
        flex-wrap: nowrap;
        img.uneplogo {
          width: 25%;
        }
        .unepInfo {
          width: 74%;
          h2 {
            margin: 0;
            line-height: 1.5rem;
          }
        }
      }
    }

    .footBottom {
      .col {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          text-align: right;
        }
      }

      ul {
        &.horizonList {
          > li {
            a {
              margin-left: 5px;
            }
          }
          &.socialLink {
            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  // browse - enable mobile view
  #browse {
    .ui.container {
      flex-direction: row;
    }
    aside {
      width: 100% !important;
    }
    .main-content {
      .page {
        font-size: 12px;
      }
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 70% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        width: 75% !important;
        h1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .content-body {
      flex-direction: column;
      .content-column {
        width: 100% !important;
        .card {
          margin-bottom: 35px !important;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // add event - enable mobile view
  #add-event {
    .ant-card {
      h3 {
        font-size: 20px !important;
      }
      .array-item {
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 10px;
        }
        & > div:first-child {
          width: 100% !important;
        }
        & > div:last-child {
          width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }
  }

  // sign-up form - enable mobile view
  .signup-modal {
    .signup-form {
      h2 {
        font-size: 20px !important;
      }
      .section:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 235px !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        margin: 20px 0;
        padding: 15px 20px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 224px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 25% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 20% !important;
        }
      }

      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
          .col {
            padding-left: 20px;
          }
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 40%;
          }
          .detail-content {
            width: 60%;
          }
        }
      }
    }
    .download-container {
      width: 100%;
      .ant-select {
        width: 100% !important;
      }
    }
  }

  /*Show responsive menu and disable normal menu */
  .menu-dropdown-container {
    display: none !important;
  }
  .responsive-menu-trigger {
    display: flex;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .ui.container {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    // enable mobile view
    flex-direction: column;
    .topic-item {
      width: 100% !important;
    }
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  // enable mobile view - maps
  .landing-container.map-container {
    .map-overlay {
      position: unset !important;
      width: 100% !important;
      padding: 0 3%;
      margin-bottom: 20px;
      .summary {
        ul {
          li {
            .disclaimer {
              max-width: 100% !important;
            }
          }
        }
      }
    }
    .map-buttons {
      button {
        margin-left: 0 !important;
        margin-right: 10px;
      }
    }
    .legends {
      left: 0 !important;
      bottom: 0 !important;
    }
  }

  // enable mobile view - remove map
  .echarts-for-react.fade-in.worldmap {
    display: none;
  }

  // root
  #root {
    // enable mobile view -- topbar
    & > .topbar {
      line-height: 25px;
      .ui.container {
        flex-direction: row;
        .rightside {
          text-align: right;
          .ant-btn-link {
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
    }

    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    header.ant-layout-header.nav-header-container {
      width: 100%;
    }

    // enable mobile view -- header
    & > header {
      height: auto !important;
      .ui.container {
        flex-direction: row;
      }
      .src {
        width: 30%;
      }
    }
  }

  // enable mobile view - maps
  #landing {
    .popular-topics {
      .body {
        flex-direction: column;
        .chart-wrapper {
          width: 100% !important;
        }
        .content {
          margin-top: 0.85rem;
          width: 100% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 10% !important;
              margin: 1px;
            }
          }
        }
      }
    }

    .featured-content {
      .body {
        flex-direction: column;
        .item {
          .item-body {
            height: 16.5rem !important;
          }
        }
        .content-left {
          width: 100% !important;
        }
        .content-right {
          width: 100% !important;
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          justify-content: flex-start !important;
          .carousel-item {
            .about {
              margin-bottom: 4rem !important;
            }
            .detail {
              bottom: 2.5% !important;
              p {
                height: 12px !important;
              }
            }
          }
        }
      }
    }

    .benefit {
      .body {
        flex-direction: column;
        .item {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
      .btn-wrapper {
        margin-top: 0 !important;
      }
    }

    .event {
      .body {
        flex-direction: column;
        .content,
        .calendar {
          width: 100% !important;
          margin-bottom: 1rem;
        }
      }
    }
  }

  // enable mobile view -- footer
  footer {
    .ui.container {
      &:first-child {
        flex-direction: row;
        flex-wrap: wrap;
        .col {
          flex: 1 1 45% !important;
          margin: 10px;
        }
      }
      &.unep {
        flex-direction: row;
        flex-wrap: nowrap;
        img.uneplogo {
          width: 25%;
        }
        .unepInfo {
          width: 74%;
          h2 {
            margin: 0;
            line-height: 1.5rem;
          }
        }
      }
    }

    .footBottom {
      .col {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          text-align: right;
        }
      }

      ul {
        &.horizonList {
          > li {
            a {
              margin-left: 5px;
            }
          }
          &.socialLink {
            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  // browse - enable mobile view
  #browse {
    .ui.container {
      flex-direction: row;
    }
    aside {
      width: 235px !important;
    }
    @media only screen and (max-width: 644px) {
      aside {
        width: 100% !important;
      }
    }
    .main-content {
      .page {
        font-size: 12px;
      }
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 70% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        width: 75% !important;
        h1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .content-body {
      flex-direction: column;
      .content-column {
        width: 100% !important;
        .card {
          margin-bottom: 35px !important;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // add event - enable mobile view
  #add-event {
    .ant-card {
      h3 {
        font-size: 20px !important;
      }
      .array-item {
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 10px;
        }
        & > div:first-child {
          width: 100% !important;
        }
        & > div:last-child {
          width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }
  }

  // sign-up form - enable mobile view
  .signup-modal {
    .signup-form {
      h2 {
        font-size: 20px !important;
      }
      .section:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 235px !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        margin: 20px 0;
        padding: 15px 20px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 224px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 25% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 20% !important;
        }
      }

      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
          .col {
            padding-left: 20px;
          }
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 40%;
          }
          .detail-content {
            width: 60%;
          }
        }
      }
    }
    .download-container {
      width: 100%;
      .ant-select {
        width: 100% !important;
      }
    }
  }

  /*Show responsive menu and disable normal menu */
  .menu-dropdown-container {
    display: none !important;
  }
  .responsive-menu-trigger {
    display: flex;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  .ui.container {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
  }

  .ui.grid.container {
    width: calc(723px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(723px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(723px + 5rem) !important;
  }

  #root {
    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    header.ant-layout-header.nav-header-container {
      width: 100%;
    }
  }

  footer {
    .ui.container {
      &.unep {
        .unepLogo {
          width: 30%;
        }
        .unepInfo {
          width: 70%;
        }
      }
    }
  }

  // enable mobile view - maps
  .landing-container.map-container {
    .map-overlay {
      position: unset !important;
      width: 100% !important;
      padding: 0 3%;
      margin-bottom: 20px;
      .summary {
        ul {
          li {
            .disclaimer {
              max-width: 100% !important;
            }
          }
        }
      }
    }
    .map-buttons {
      button {
        margin-left: 0 !important;
        margin-right: 10px;
      }
    }
    .legends {
      left: 0 !important;
    }
  }

  #landing {
    .popular-topics {
      .body {
        flex-direction: column;
        .chart-wrapper {
          width: 100% !important;
        }
        .content {
          margin-top: 0.85rem;
          width: 100% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 10% !important;
              margin: 1px;
            }
          }
        }
      }
    }

    .featured-content {
      .body {
        flex-direction: column;
        .content-left {
          width: 100% !important;
        }
        .content-right {
          width: 100% !important;
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          justify-content: flex-start !important;
          .carousel-item {
            .about {
              margin-bottom: 3rem !important;
            }
            .detail {
              bottom: 6% !important;
              p {
                height: 12px !important;
              }
            }
          }
        }
      }
    }
  }
  // enable mobile view - maps
  .echarts-for-react.fade-in.worldmap {
    margin-top: 25px;
    // padding-right: 4.5vw;
  }

  // browse - enable mobile view
  #browse {
    aside {
      width: 250px !important;
    }
    .main-content {
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 75% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        h1 {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        padding: 35px 10px 35px 10px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 80px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 310px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 30% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 18% !important;
        }
        .head {
          .col {
            padding-left: 20px;
          }
        }
      }
      .archive,
      .review {
        .head {
          .col:nth-child(1) {
            padding-left: 20px;
          }
        }
      }
      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
          .info-img {
            max-width: 100% !important;
            width: 100%;
          }
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 35%;
          }
          .detail-content {
            width: 65%;
          }
        }
      }
    }
  }

  /*Show responsive menu and disable normal menu */
  .menu-dropdown-container {
    display: none !important;
  }
  .responsive-menu-trigger {
    display: flex;
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1219px) {
  html {
    font-size: 14px;
  }
  .ui.container {
    width: 92% !important;
    margin-left: 4% !important;
    margin-right: 4% !important;
  }

  .ui.grid.container {
    width: calc(933px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(933px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(933px + 5rem) !important;
  }

  #root {
    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    header.ant-layout-header.nav-header-container {
      width: 100%;
      .main-menu-items{
        display: none;
      }
    }

    & > header {
      .src {
        // width: 50%;
      }
    }
  }

  // enable mobile view - maps
  .landing-container.map-container {
    .map-overlay {
      left: 35px !important;
    }
  }

  #landing {
    .popular-topics {
      .body {
        .chart-wrapper {
          width: 50% !important;
          .popular-topic-chart {
            height: 650px !important;
          }
        }
        .content {
          width: 50% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 20% !important;
              margin: 1px;
            }
          }
        }
      }
    }

    .featured-content {
      .body {
        .item {
          .item-body {
            height: 17.5rem !important;
          }
        }
        .content-left {
          width: 56% !important;
        }
        .content-right {
          width: 43% !important;
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          justify-content: flex-start !important;
          .carousel-item {
            .about {
              margin-bottom: 4rem !important;
            }
            .detail {
              p {
                height: 12px !important;
              }
            }
          }
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        padding: 35px 20px 35px 20px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 80px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 310px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 30% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 18% !important;
        }
        .head {
          .col {
            padding-left: 20px;
          }
        }
      }
      .archive,
      .review {
        .head {
          .col:nth-child(1) {
            padding-left: 20px;
          }
        }
      }
      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
          .info-img {
            max-width: 100% !important;
            width: 100%;
          }
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 35%;
          }
          .detail-content {
            width: 65%;
          }
        }
      }
    }
  }

  /*Show responsive menu and disable normal menu */
  .menu-dropdown-container {
    display: none !important;
  }
  .responsive-menu-trigger {
    display: flex;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1220px) and (max-width: 1599px) {
  html {
    font-size: 14px;
  }
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(1127px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(1127px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(1127px + 5rem) !important;
  }

  #root {
    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background: none;
      min-width: 0;
    }

    & > header {
      // min-height: 70px;
      .logo {
        width: 210px;
      }
    }
  }

  // enable mobile view - maps
  #landing {
    .popular-topics {
      .body {
        .chart-wrapper {
          width: 50% !important;
          // .popular-topic-chart {
          //   height: 600px !important;
          // }
        }
        .content {
          width: 50% !important;
          .content-header {
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            .item {
              flex: 1 1 20% !important;
              margin: 1px;
            }
          }
        }
      }
    }

    .our-community {
      .body {
        .carousel-container {
          display: inline;
          .carousel-item {
            .about {
              margin-bottom: 4rem !important;
            }
            .detail {
              p {
                height: 12px !important;
              }
            }
          }
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        padding: 35px 25px 35px 25px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 80px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 310px !important;
        }
      }
    }
    .admin-view {
      .approval {
        .col:nth-child(1) {
          width: 30% !important;
        }
        .col:nth-child(2) {
          width: 15% !important;
        }
        .col:nth-child(3) {
          width: 20% !important;
        }
        .col:nth-child(4) {
          width: 20% !important;
        }
        .head {
          .col {
            padding-left: 20px;
          }
        }
      }
      .archive,
      .review {
        .head {
          .col:nth-child(1) {
            padding-left: 20px;
          }
        }
      }
      .review {
        .col:nth-child(1) {
          width: 75%;
        }
        .col:nth-child(2) {
          width: 20%;
        }
      }
      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
          .info-img {
            max-width: 100% !important;
            width: 100%;
          }
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 35%;
          }
          .detail-content {
            width: 65%;
          }
        }
      }
    }
  }
}

/* Large Large Monitor */
@media only screen and (min-width: 1600px) {
  html {
    font-size: 15px;
  }
  .ui.container {
    width: 1560px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(1560px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(1560px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(1560px + 5rem) !important;
  }
}

/* Replace all ui container style for media screen */
.ui.container {
  @media (max-width: 768px) {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94%;
  }
  @media (min-width: 1220px) {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94%;
  }
  @media (min-width: 1366px) {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
  }
  @media (min-width: 1600px) {
    width: 1560px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
