/*******************************
            Container
*******************************/

/* All Sizes */

.ui.container {
  display: block;
  max-width: 100% !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 1.2em !important;
    margin-right: 1.2em !important;
    // enable mobile view
    flex-direction: column;
    .topic-item {
      width: 100% !important;
    }
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  // enable mobile view - maps
  .map-overlay {
    position: unset !important;
    padding: 0px 20px !important;

    .ant-select {
      max-width: 100% !important;
    }
  }

  // enable mobile view - remove map
  .echarts-for-react.fade-in.worldmap {
    display: none;
  }

  // root
  #root {
    // enable mobile view -- topbar
    & > .topbar {
      line-height: 25px;
      .ui.container {
        flex-direction: row;
        .rightside {
          text-align: right;
          .ant-btn-link {
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
    }

    // enable mobile view -- header
    & > header {
      height: 230px;
      padding-top: 12spx;
      .ui.container {
        align-items: center;
      }
      .src {
        width: 100%;
        margin-left: 0;
      }
      nav {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
        .ant-btn-primary {
          margin-left: 0;
          font-weight: bold;
          width: 100%;
        }
      }
    }
  }

  // enable mobile view -- footer
  footer {
    .ui.container {
      &.unep {
        flex-direction: row;
        .unepInfo {
          width: 70%;
          padding: 0 0 0 1rem;
        }

        h2 {
          margin: 0rem;
        }
      }
      .unepLogo {
        img {
          width: 80px;
        }
      }
      &:first-child {
        .col {
          width: 100% !important;
        }
      }
    }

    .footBottom {
      .col {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          text-align: right;
        }
      }

      ul {
        &.horizonList {
          > li {
            a {
              margin-left: 5px;
            }
          }
          &.socialLink {
            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  // browse - enable mobile view
  #browse {
    aside {
      width: 100% !important;
    }
    .main-content {
      margin-top: 25px;
      margin-left: 0 !important;
      .page {
        font-size: 12px;
      }
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 70% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        width: 75% !important;
        h1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .content-body {
      flex-direction: column;
      .content-column {
        width: 100% !important;
        .card {
          margin-bottom: 35px !important;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // add event - enable mobile view
  #add-event {
    .ant-card {
      h3 {
        font-size: 20px !important;
      }
      .array-item {
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 10px;
        }
        & > div:first-child {
          width: 100% !important;
        }
        & > div:last-child {
          width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }
  }

  // sign-up form - enable mobile view
  .signup-modal {
    .signup-form {
      h2 {
        font-size: 20px !important;
      }
      .section:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 235px !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .menu-wrapper {
        border: 1px solid #dbe9f158;
      }
      .content-wrapper {
        margin: 20px 0;
        padding: 15px 20px;
        border: 1px solid #dbe9f158;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 60px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 224px !important;
        }
      }
    }
    .admin-view {
      h2 {
        font-size: 20px;
      }
      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
          .col {
            padding-left: 20px;
          }
        }
        .col:nth-child(1) {
          width: 30%;
        }
        .col:nth-child(3) {
          width: 35%;
        }
        .ant-space {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 40%;
          }
          .detail-content {
            width: 60%;
          }
        }
      }
    }
    .download-container {
      width: 100%;
      .ant-select {
        width: 100% !important;
      }
    }
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 723px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(723px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(723px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(723px + 5rem) !important;
  }

  // enable mobile view - maps
  #landing {
    .landing-container.map-container {
      .map-overlay {
        position: unset !important;
        width: 100% !important;
        padding: 0 20px;
        .summary {
          ul {
            li {
              .disclaimer {
                max-width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  // enable mobile view - maps
  .echarts-for-react.fade-in.worldmap {
    margin-top: 25px;
    padding-right: 20px;
  }

  // browse - enable mobile view
  #browse {
    aside {
      width: 250px !important;
    }
    .main-content {
      .ant-card {
        h4 {
          font-size: 18px !important;
          width: 75% !important;
        }
      }
    }
  }

  // details - enable mobile view
  .details-view {
    .header-container {
      .title {
        h1 {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }
    .table {
      .column {
        .title {
          flex: 30% !important;
        }
        .value {
          flex: 70% !important;
        }
      }
    }
  }

  // profile form - enable mobile view
  #profile {
    .menu-container {
      .content-wrapper {
        padding: 35px 0 35px 20px;
      }
    }
    .signup-form-grid {
      .section-grid {
        width: 100%;
      }
      .section-grid:first-child {
        .ant-form-item:nth-child(2) {
          width: 80px !important;
        }
        .ant-form-item:nth-child(3) {
          width: 310px !important;
        }
      }
    }
    .admin-view {
      .row {
        &.head {
          padding-left: 0;
          text-transform: uppercase;
          .col {
            padding-left: 30px;
          }
        }
        .col:nth-child(1) {
          width: 20%;
        }
        .col:nth-child(3) {
          width: 40%;
        }
        .ant-space {
          .ant-space-item {
            margin-right: 5px !important;
          }
        }
      }
      .stakeholder-info {
        .left {
          margin-right: 0;
          .info-img {
            max-width: 100% !important;
            width: 100%;
          }
        }
        ul {
          margin-top: 20px;
        }
        ul li {
          .detail-title {
            width: 35%;
          }
          .detail-content {
            width: 65%;
          }
        }
      }
    }
  }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(933px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(933px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(933px + 5rem) !important;
  }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(1127px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(1127px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(1127px + 5rem) !important;
  }
}

.ui.container {
  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  @media (min-width: 1200px) {
    margin-left: 70px !important;
    margin-right: 70px !important;
    width: auto;
  }
  @media (min-width: 1600px) {
    width: 1560px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
