/*******************************
            Container
*******************************/

/* All Sizes */

.ui.container {
  display: block;
  max-width: 100% !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
    // enable mobile view
    flex-direction: column;
    .topic-item {
      width: 100% !important;
    }
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  // enable mobile view - maps
  .map-overlay {
    position: unset !important;
    padding: 0px 20px !important;

    .ant-select {
      max-width: 100% !important;
    }
  }

  // enable mobile view - remove map
  .echarts-for-react.fade-in.worldmap {
    display: none;
  }

  #root {
    // enable mobile view -- topbar
    & > .topbar {
      line-height: 25px;
      .ui.container {
        flex-direction: row;
        .rightside {
          text-align: right;
          .ant-btn-link {
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
    }

    // enable mobile view -- header
    & > header {
      height: 230px;
      padding-top: 12spx;
      .ui.container {
        align-items: center;
      }
      .src {
        width: 100%;
        margin-left: 0;
      }
      nav {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
        .ant-btn-primary {
          margin-left: 0;
          font-weight: bold;
          width: 100%;
        }
      }
    }
  }

  // enable mobile view -- footer
  footer {
    .ui.container {
      &.unep {
        flex-direction: row;
        .unepInfo {
          width: 70%;
          padding: 0 0 0 1rem;
        }

        h2 {
          margin: 0rem;
        }
      }
      .unepLogo {
        img {
          width: 80px;
        }
      }
      &:first-child {
        .col {
          width: 100% !important;
        }
      }
    }

    .footBottom {
      .col {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          text-align: right;
        }
      }

      ul {
        &.horizonList {
          > li {
            a {
              margin-left: 5px;
            }
          }
          &.socialLink {
            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 723px;
    // margin-left: auto !important;
    // margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(723px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(723px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(723px + 5rem) !important;
  }

  // enable mobile view - maps
  #landing {
    .landing-container.map-container {
      .map-overlay {
        position: unset !important;
        width: 100% !important;
        padding: 0 20px;
        .summary {
          ul {
            li {
              .disclaimer {
                max-width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  // enable mobile view - maps
  .echarts-for-react.fade-in.worldmap {
    margin-top: 25px;
    padding-right: 20px;
  }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(933px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(933px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(933px + 5rem) !important;
  }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(1127px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(1127px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(1127px + 5rem) !important;
  }
}

.ui.container {
  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  @media (min-width: 1200px) {
    margin-left: 70px !important;
    margin-right: 70px !important;
    width: auto;
  }
  @media (min-width: 1600px) {
    width: 1560px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
