@import './reset.scss';
@import 'antd/dist/antd.css';
@import './vars.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 40px;
  font-weight: 900;
}
h2{
  font-size: 32px;
  font-weight: 600;
}
h3{
  font-size: 27px;
  font-weight: 600;
}
h4{
  font-size: 22px;
}
#root{
  .ant-btn{
    // border-radius: 4px;
  }
  .ant-btn-primary{
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
  &>.topbar{
    background-color: #036799;
    color: #fff;
    line-height: 36px;
    a{
      color: #fff;
      text-decoration: none;
    }
    .ui.container{
      display: flex;
      .rightside{
        margin-left: auto;
      }
    }
  }
  &>header{
    height: 110px;
    padding-top: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #81B2CC;
    .logo{
      width: 177px;
    }
    .ui.container{
      display: flex;
    }
    .src{
      width: 180px;
      height: 40px;
      border-radius: 3px;
      margin-top: 26px;
      margin-left: 40px;
    }
    nav{
      margin-left: auto;
      margin-top: 26px;
      a{
        color: #666;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        margin: 0 13px;
      }
    }
    .ant-btn-primary{
      margin-left: 12px;
      font-weight: bold;
    }
  }
  #landing{
    .worldmap{
      border-bottom: 1px solid #81B2CC;
    }
  }
}

.ant-form-item-label{
  i{
    padding-left: 6px;
    opacity: 0.5;
    font-style: italic;
  }
}

.photo-upload{
  img{
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
  }
}

footer{
  border-top: 1px solid #fff;
  background-color: $primaryColor;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  a{
    color: #fff;
    &:hover{
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .ui.container{
    display: flex;
  }
  .col{
    &:first-child{
      flex: 1;
      img{
        width: 200px;
        margin-right: 40px;
      }
      img+span{
        font-size: 18px;
        display: inline-block;
        margin-top: 7px;
      }
    }
    &:last-child{
      width: 350px;
      position: relative;
      .uneplogo{
        width: 150px;
      }
      .gpmllogo{
        width: 90px;
        margin-top: 15px;
        margin-right: 15px;
        position: absolute;
        right: 0;
      }
      p{
        margin-top: 20px;
      }
    }
  }
}

@import './container.scss';
