@import 'reset-css';
@import './vars.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  .ant-btn{
    border-radius: 4px;
  }
  .ant-btn-primary{
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
  &>.topbar{
    background-color: #036799;
    color: #fff;
    line-height: 36px;
    a{
      color: #fff;
      text-decoration: none;
    }
    .ui.container{
      display: flex;
      .rightside{
        margin-left: auto;
      }
    }
  }
  &>header{
    height: 90px;
    padding-top: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #81B2CC;
    .logo{
      width: 227px;
    }
    .ui.container{
      display: flex;
    }
    .src{
      width: 180px;
      height: 36px;
      margin-top: 20px;
      margin-left: 14px;
    }
    nav{
      margin-left: auto;
      margin-top: 18px;
      a{
        color: #666;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        margin: 0 13px;
      }
    }
    .ant-btn-primary{
      margin-left: 12px;
      font-weight: bold;
    }
  }
  #landing{
    .worldmap{
      border-bottom: 1px solid #81B2CC;
    }
  }
}

@import './container.scss';
