@import "./reset.scss";
@import "antd/dist/antd.css";
@import "./vars.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
}

.ant-tabs-nav-operations {
  display: none !important;
}

::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-track {
  background-color: #d3dee7;
  border-radius: 60px;
  border: 1px solid #edf2f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 90px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #255b87;
}

:root {
  scrollbar-color: #255b87 #edf2f7 !important;
  scrollbar-width: thin !important;
}

body,
button,
a,
i,
input,
::placeholder,
.ant-input::-webkit-input-placeholder {
  font-family: "Jost", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

// Typography
h1 {
  font-size: 3.1rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
  line-height: 4.4rem;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.25rem;
}

h4 {
  font-size: 1.4rem;
}

.nav-link {
  font-size: 1rem;
  line-height: 1.9rem;
}

.see-more-link {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.resource-label {
  font-size: 1rem;
  font-weight: bold;

  &.upper {
    text-transform: uppercase;
  }
}

.body-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.txt-emphasis {
  font-size: 1.5rem;

  @media (max-width: 540px) {
    font-size: 18px !important;
  }
}
.asset-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.56rem;
}

.copy-right {
  font-size: 0.85rem;
  line-height: 0.8rem;
}

.text-green {
  color: #4dffa5;
}
.text-blue {
  color: #2d6796;
}
.text-white {
  color: #fff;
}
// EOL Typography

.our-community-tooltip {
  .ant-tooltip-inner {
    background-color: rgba(0, 88, 95, 0.85);
  }
}

.rjsf {
  .ant-input,
  .ant-input-number-input,
  .ant-picker,
  span.ant-radio,
  span.ant-checkbox,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 2px transparent solid;
    border-radius: 2px;
  }
  .public-database-checkbox,
  .authorize-submission-checkbox {
    margin-top: 24px;
  }
}

#root {
  position: relative;
  // antd part
  /*
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: none;
    min-width: 620px;
  }

  .ant-menu-dark .ant-menu-item,
  .ant-menu-dark .ant-menu-item-group-title,
  .ant-menu-dark .ant-menu-item > a,
  .ant-menu-dark .ant-menu-item > span > a {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
  }

  .ant-menu-item .ant-menu-item-icon,
  .ant-menu-submenu-title .ant-menu-item-icon,
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    margin-right: 0;
  }

  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
    margin-top: 0;
    padding: 0 12px;
    border-color: #001529;
    border-bottom: 0;
  }

  .ant-menu-item-active,
  .ant-menu-item-active.ant-menu-item-selected {
    background: rgba(77, 255, 165, 0.1);
    border-radius: 5px 5px 0px 0px;
    color: #4dffa5 !important;
  }

  .ant-menu-item-selected {
    background: none;
    color: #4dffa5 !important;
  }
  */

  // btn primary
  .ant-btn-primary {
    color: #2d6796;
    background-color: $green01;
    border-color: $green01;
    border-radius: 50px;
    &:hover {
      border-color: $yellow-highlight;
      color: #fff;
      background: $yellow-highlight;
    }
    &.black {
      color: #fff;
      border-color: $black;
      background: $black;
      &:hover {
        border-color: $black;
        color: $black;
        background: #fff;
      }
    }
  }

  // btn ghost
  .ant-btn-ghost {
    color: $green01;
    border-color: $green01;
    background: transparent;
    border-radius: 50px;
    &.left {
      margin-left: 8px;
    }
    &.white {
      color: #fff;
      border-color: #fff;
    }
    &:hover {
      border-color: #fff;
      color: #fff;
      background: $yellow-highlight;
    }
    &.black {
      color: $black;
      border-color: $black;
      &:hover {
        border-color: #fff;
        color: #fff;
        background: $yellow-highlight;
      }
    }
  }

  // btn link
  .ant-btn-link {
    color: #1890ff;
    &.black {
      color: $black;
    }
    &:hover {
      color: #000000;
    }
  }

  // btn default
  .ant-btn-default {
    border-radius: 50px;
    background: #bab9c1;
    color: #8b8a97;
    border: 1px solid #8b8a97;
  }

  // antd btn disabled
  .ant-btn-primary,
  .ant-btn-ghost,
  .ant-btn-default {
    &:disabled {
      pointer-events: none;
      background: #bab9c1;
      color: #8b8a97;
      border: 1px solid #8b8a97;
    }
  }
  .ant-btn-ghost {
    &:disabled {
      pointer-events: none;
      color: #8b8a97;
      border: 1px solid #8b8a97;
    }
  }
  .ant-btn-link {
    &:disabled {
      pointer-events: none;
      color: #8b8a97;
    }
  }
  // end of antd part

  & > .topbar {
    background-color: #036799;
    color: #fff;
    line-height: 36px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .ui.container {
      display: flex;

      .rightside {
        margin-left: auto;
        .ant-btn-link {
          color: #fff !important;
        }
      }
    }
  }

  header.ant-layout-header.nav-header-container {
    width: 100%;
    position: static;
    top: 0;
    z-index: 3;
    padding: 0;
    // line-height: 75px;
    .main-menu-items {
      margin-top: 15px;
      display: flex;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    ul {
      display: flex;
      li {
        position: relative;
        margin-right: 2px;
        a.selected {
        }
        &:before,
        &:after {
          content: " ";
          height: 40px;
          width: 1px;
          position: absolute;
          top: 11px;
        }
        &:not(:last-child) {
          &:after {
            background-color: #255b87;
            right: -1px;
          }
        }
        &:not(:first-child) {
          &:before {
            background-color: #3176ae;
            left: -1px;
          }
        }
      }
    }
  }

  .menu-btn {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 16px;
    padding: 4px 15px;
    white-space: nowrap;
    border-radius: 5px;

    @media screen and (max-width: 1366px) {
      font-size: 14px;
    }
    span.anticon.anticon-down {
      margin-top: 5px;
    }
    &:hover {
      background-color: rgba(24, 22, 47, 0.2);
      color: rgba(255, 184, 0, 1);
    }

    &.selected {
      color: rgba(255, 184, 0, 1);
    }
  }
  .menu-btn.btn-workspace {
    display: flex;
    align-items: center;
    color: rgba(0, 255, 127, 1);
    background-color: rgba(0, 255, 127, 0.1);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    svg {
      font-size: 22px;
      margin-right: 10px;
    }
    @media screen and (max-width: 1366px) {
      span.text {
        display: none;
      }
      svg {
        margin-right: 0;
      }
    }
    &:hover {
      background-color: rgba(24, 22, 47, 0.2);
      color: rgba(255, 184, 0, 1);
    }
    &.selected {
      background-color: rgba(255, 184, 0, 0.1);
      color: rgba(255, 184, 0, 1);
    }
  }

  & > header {
    display: flex;
    align-items: center;
    min-height: 89px;
    box-sizing: border-box;
    background: rgba(9, 104, 154, 1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

    .ui.container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      margin: 0 20px;
      .rightside {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .logo-wrapper {
      float: left;
      margin-right: 50px;
      display: flex;
      align-items: center;
      transform: translateY(-2px);
    }

    .ant-row-rtl .logo {
      float: right;
    }
    .rightside {
      .ant-btn {
        background: transparent;
        color: rgba(0, 255, 127, 1);
        border: 2px solid rgba(0, 255, 127, 1);
        font-size: 16px;
        font-weight: 700;
        height: 42px;
        padding: 0 13px;
        line-height: 39px;
        &:hover {
          background: $yellow-highlight;
          border-color: #fff;
          color: #fff;
        }
      }
    }

    .src {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      .input-src {
        border-radius: 30px;
        padding-right: 4px;
        max-width: 170px;
        height: 38px;
        // margin-top: -2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        &.ant-input-affix-wrapper-focused {
          background-color: rgba(255, 255, 255, 1);
          outline: none;
          box-shadow: none;
          // max-width: 190px;
        }
        .ant-input-suffix {
          svg {
            height: 20px;
            width: 20px;
            margin-right: 4px;
          }
        }
        input.ant-input {
          font-size: 14px;
          color: rgba(24, 22, 47, 1);
          background-color: transparent;
          &::placeholder {
            color: rgba(24, 22, 47, 1);
          }
        }
      }
    }
    .ant-btn-ghost.ant-btn-circle {
      border-width: 2px;
      height: 32px;
      line-height: 21px;
      padding: 0;
    }
    nav {
      margin-left: auto;
      margin-top: 26px;

      a {
        color: #666;
        font-weight: 500;
        font-size: 1.13rem;
        text-decoration: none;
        margin: 0 13px;
      }

      .ant-btn-primary {
        margin-left: 12px;
        font-weight: bold;
      }
    }
  }

  .panel-disclaimer {
    background-color: #27ae60;
    color: white;
    font-size: 0.8rem;
    .ui.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      color: #fff;
      &:hover {
        color: #fff;
        opacity: 0.5;
      }
    }
  }

  #landing {
    .map-container {
      border-bottom: 1px solid #81b2cc;
    }
  }
}

// Menu Dropdown
button.ant-btn.ant-btn-link.ant-dropdown-trigger.menu-btn.nav-link {
  line-height: 0;
  height: 50px;
}
.menu-dropdown .ant-btn-link {
}

.add-dropdown-wrapper,
.user-btn-dropdown-wrapper,
.menu-dropdown-wrapper {
  .add-dropdown,
  .user-btn-dropdown,
  .menu-dropdown {
    min-width: 200px;
    text-align: left;
    padding: 0px;

    .indent-right {
      padding-left: 25px;
    }

    .badge-count {
      border: 1px solid $blue06;
      color: #2d6796;
      font-size: 0.7rem;
      display: inline-block;
      padding: 2px;
      text-align: center;
      line-height: 1;
      box-sizing: content-box;
      white-space: nowrap;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        padding-top: 100%;
        height: 0;
      }
      &:nth-child(1) {
        display: inline-block;
        vertical-align: middle;
      }
    }

    :not(:last-child) {
      border-bottom: 1px solid $primaryColor;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 0.88rem;
      color: #2d6796;
      height: 40px;

      // :last-child {
      //   margin-left: 15px;
      // }
    }
  }
}

.ant-form-item-label {
  i {
    padding-left: 6px;
    opacity: 0.5;
    font-style: italic;
  }
}

.photo-upload {
  img {
    width: 100px;
    border-radius: 1.3rem;
    margin-top: 10px;
  }
}

footer {
  background-color: #2d6796;
  color: #fff;
  padding: 50px 0 0 0;

  a {
    color: #fff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  h4 {
    color: #fff;
    font-size: 1.2rem;
  }

  .ui.container {
    &:first-child {
      display: flex;
      .col {
        width: 33%;
        flex: 1;

        nav {
          margin-bottom: 2rem;

          ul {
            a,
            span {
              display: block;
              padding-left: 0 !important;
            }
            &.list-inside-list {
              list-style-type: circle;
              list-style-position: inside;
              padding-left: 15px;
              a,
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &.unep {
      padding: 1rem 0;
      display: flex;
      align-items: center;

      img.uneplogo {
        width: 10%;
        margin: 0;
        margin-right: 2rem;
      }
      .unepInfo {
        width: 89%;
        h2 {
          color: white;
          font-size: 0.95rem;
          font-weight: 400;
        }
      }
      @media (max-width: 540px) {
        display: block;
        padding-bottom: calc(25px - 24px);
        .unepInfo {
          margin-top: 24px;
        }
      }
    }
  }

  .second-footer {
    background-color: $primaryColor;
  }

  .footBottom {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 20px 0;
    display: flex;

    .col {
      width: 50%;

      &:last-child {
        text-align: right;
      }
    }

    ul {
      &.horizonList {
        > li {
          display: inline-block;

          a {
            margin-left: 10px;
          }
        }

        &.socialLink {
          margin-right: 0;

          li {
            margin-left: 5px;

            a {
              font-size: 1.5rem;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

/* User Warning Modal */

.warning-modal-user {
  b {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* End User Warning Modal */

/* Loading */

h2.loading {
  font-weight: normal;
  text-shadow: 0 0 0.25px #096dd9;
  font-size: 0.88rem;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 1500px;

  span {
    margin-right: 5px;
  }
  @media (max-width: 950px) {
    padding-bottom: 400px;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.08s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* End Loading */

/* Remove on focus on Map Path */
path {
  &:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
}

/* Remove on tooltip transparency */
.opaque {
  opacity: 1 !important;
}

/* Responsive menu style */
.responsive-menu-trigger {
  margin-left: 8px;
  display: none;
  align-items: center;
  .menu-icon {
    background-color: transparent;
    border: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.responsive-menu-wrapper {
  .anticon.anticon-loading.anticon-spin {
    margin-right: 0 !important;
  }

  .ant-drawer-body {
    padding: 0;
    padding-right: 0.35rem;
  }

  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: none;
  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item,
  .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .badge-count {
    border: 1px solid $black;
    color: $black;
    font-size: 0.75rem;
    display: inline-block;
    padding: 2px;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
      height: 0;
    }
    &:nth-child(1) {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .auth-menu {
    display: none;
  }
  .small-screen-menu {
    display: none;
  }

  @media (max-width: 540px) {
    .small-screen-menu {
      display: block;
    }

    .ant-drawer-title {
      display: none;
    }

    .search-button {
      border-radius: 50%;
      background-color: $green01;
      border-color: $green01;
      color: #fff;
      width: 32px;
      height: 32px;
      display: block;

      &:hover {
        background-color: $yellow-highlight;
        border-color: $yellow-highlight;
      }
    }

    span.ant-input-affix-wrapper.input-src {
      border-radius: 30px;
      padding-right: 4px;
      button {
        background-color: $green02;
        &:hover {
          background-color: $yellow-highlight;
          border-color: $yellow-highlight;
        }
      }
    }

    .ant-drawer-content,
    .ant-drawer-header,
    .ant-drawer-body > ul {
      background-color: $blue02;
    }
    .ant-drawer-body {
      ul {
        padding: 80px 28px;
        text-align: center;
        .menu-add-content,
        .menu-profile {
          display: none;
        }

        li {
          display: flex !important;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-bottom: 1px solid #ffffff;
          font-weight: 700;
          height: 50px;

          &,
          div {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-top: 0;
            margin-bottom: 0 !important;
          }
          div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .ant-menu-submenu-arrow {
              top: 55%;
              color: #fff;
              margin-left: 8px;
            }
          }
          div[title="Knowledge Exchange"] {
            .ant-menu-submenu-arrow {
              right: 100px;
            }
          }
          div[title="Explore"] {
            display: block;
            position: relative;
            & + div {
              display: none;
            }
            .ant-menu-submenu-arrow {
              right: unset;
              width: 0;
            }
            &:hover {
              color: #fff;
              .ant-menu-submenu-arrow {
                color: #fff;
              }
            }
          }

          a {
            color: #fff;
          }
        }

        .big-screen-menu {
          display: none !important;
        }

        .menu-explore {
          display: block;

          ul[role="menu"] {
            position: absolute;
            top: 260px;
            z-index: 9999;
            padding: 0;
            max-width: 200px;
            margin: auto;
            li[role="menuitem"]:not(:last-child) {
              border-bottom: 1px solid #00aaf1 !important;
            }
            li[role="menuitem"] {
              padding: 5px 12px !important;
              color: #2d6796 !important;
            }
          }
        }
      }
    }

    .ant-drawer-header {
      border-bottom: unset;
      button {
        color: #fff;
      }
    }

    .green-border {
      height: unset !important;
      max-width: 80px;
      margin: auto;
      border-right: unset;
      margin-top: 36px !important;
      border: 1px solid $green01 !important;
      color: $green01 !important;
      background-color: transparent !important;
      border-radius: 30px;
      font-weight: 700;
      &:hover {
        background-color: $yellow-highlight !important;
        color: #fff !important;
        border: 1px solid $yellow-highlight !important;
      }
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: rgba(77, 255, 165, 0.1);
    }
  }
}
/* End of Responsive menu style */

@import "./container.scss";
