$primaryColor: #00aaf1;
$black: #18162f;
$yellow: #ffb800;

$green01: #05f081;
$green02: #039b78;
$green03: #00585f;
$green04: #135c72;
$green05: #1ca585;

$blue01: #00aeef;
$blue02: #09689a;
$blue03: #384e85;
$blue04: #34a6ff;
$blue05: #327b8c;
$blue06: #255b87;
