$primaryColor: #00aaf1;
$black: #18162f;
$yellow: #ffb800;
$yellow-highlight: rgba(255, 184, 0, 0.65);
$green01: #05f081;
$green02: #039b78;
$green03: #00585f;
$green04: #135c72;
$green05: #1ca585;
$green06: #10f9b7;

$blue01: #00aeef;
$blue02: #09689a;
$blue03: #384e85;
$blue04: #34a6ff;
$blue05: #327b8c;
$blue06: #255b87;
$blue07: #036799;
$blue08: #1890ff;
$blue09: #5991be;
$blue10: #2d6796;
$blue11: #374a59;
$blue12: #18162f;

$grey01: #d3dee7;
$grey02: #e9eff3;
$grey03: #bbbbbb;
$grey04: #a5b0c9;
$grey05: #edf2f7;

$bg-dark-primary: #005b70;
$bg-course-n-training: #1f213d;
$bg-tools-n-resources: #6d3c3c;
$bg-education-n-outreach: #2b4937;
$bg-case-studies: #89662c;
$bg-events: #5f4373;
