.helpCenter {
  padding: 30px 0px;
  :global {
    .help-center-tab-pane {
      &.faq {
        ul {
          list-style-type: disc;
          padding-left: 20px;
        }
      }
      .how-to-guide {
        li {
          margin-bottom: 40px;
        }
      }
      iframe {
        border: none;
      }
    }
  }
}
