@import "../../vars.scss";

#onboarding {
  padding: 60px 0px;
  background: url("../../images/auth/auth-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .waveboard {
    background-color: #fff;
    height: calc(100vh - 200px);
    min-height: 600px;
    transition: min-height 0.3s ease-out;
    margin: 0 170px;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 7px;
    .slide {
      width: 100%;
      min-width: 100%;
      padding: 0 60px;
      @media screen and (min-width: 1024px) {
        padding: 0 100px;
      }
      position: relative;
      z-index: 1;
    }
  }
  .wave {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 10000px;
    transition: left 0.45s ease-in-out;
    img {
      transform: translateX(-100px);
    }
  }
  .slide {
    display: flex;
    align-items: center;
    &:not(.getting-started) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .getting-started.slide {
    position: relative;
    transition: margin 0.47s ease-in-out;
    .text-wrapper {
      flex: 1;
      display: flex;
      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 52px;
        color: #18162f;
      }
    }
    .image-wrapper {
      flex: 1;
      padding: 0px 0px 0px 0px;
      margin: 0 auto;
      img {
        width: 100%;
        display: block;
      }
    }
    .button-bottom-panel {
      padding: 40px 0px;
      .step-button {
        border: 2px solid #18162f;
        border-radius: 23.5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #18162f;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 45px;
        background: transparent;
        &:hover {
          border-color: $blue12;
          color: #fff;
          background: $blue12;
        }
      }
    }
    .button-bottom-panel {
      position: absolute;
      bottom: 0;
      z-index: 3;
      justify-content: center;
      left: 0;
    }
    @media screen and (max-width: 840px) {
      flex-direction: column;
      position: relative;
      z-index: 2;
      padding-bottom: 100px !important;
      .text-wrapper {
        justify-content: center;
        display: flex;
        align-items: center;
        h2 {
          font-size: 28px;
          line-height: 38px;
        }
      }
      .image-wrapper {
        img {
          max-height: 270px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 30px 0;
    .waveboard {
      margin: 0 20px;
      &.s5 {
        min-height: 840px;
      }
    }
    .waveboard .slide {
      padding: 0 30px 60px;
    }
    .getting-started.slide {
    }
  }

  .button-bottom-panel {
    width: 100%;
    padding: 0px 40px 40px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .step-button-back {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #18162f;
    background: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    bottom: 0;
    left: 25px;
    bottom: 30px;
    z-index: 3;
  }
  .step-button-next {
    border: 2px solid #18162f;
    border-radius: 23.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #18162f;
    padding: 20px 45px;
    background: transparent;
    &.abs {
      position: absolute;
      right: 30px;
      bottom: 26px;
      z-index: 3;
    }
    &:hover {
      border-color: $blue12;
      color: #fff;
      background: $blue12;
    }
  }

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    p {
      margin-bottom: 0px;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: rgba(56, 78, 133, 0.6);
        padding-left: 10px;
      }
    }
  }
  .ant-input,
  .ant-input-number-input,
  .ant-picker,
  .ant-select,
  .ant-select-selector,
  .ant-input-affix-wrapper {
    background-color: #edf2f6;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    // padding: 0px 11px;
    // height: 42px;
    line-height: 38px;
    color: #6e6e6e;
    width: 100%;
    &::placeholder {
      color: #a5b0c9;
      font-size: 16px;
      font-weight: 500;
    }
    input {
      // height: 100%;
    }
    .ant-select,
    .ant-select-selector {
      height: 100%;
      .ant-select-selection-overflow {
        height: 100%;
        .ant-select-selection-overflow-item {
          height: 100%;
          .ant-select-selection-search {
            height: 100%;
          }
          .ant-select-selection-item {
            height: 100%;
            margin: 0px 5px;
            background: #3176ae;
            color: #fff;
            border-radius: 3px;
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
    .ant-select-selection-placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 42px;
      color: #a5b0c9;
    }
    .ant-select-selection-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 42px;
      color: #a5b0c9;
    }
    &.ant-input-status-error {
      border: 1px solid #ff4d4f;
    }
  }

  textarea {
    line-height: 20px !important;
    font-size: 16px;
    padding: 10px;
  }
  .ant-select-selection-item {
    background-color: #3176ae;
    color: #fff !important;
    border-radius: 4px;
    line-height: 34px !important;
    margin: 3px 2px !important;
    padding: 0 10px;
    .ant-select-selection-item-remove {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .ant-input-status-error {
    .ant-checkbox-inner {
      border: 1px solid #ff4d4f;
    }
  }
  .step-form {
    .ant-upload {
      background: transparent;
      padding: 15px 0px;
      .ant-upload-text {
        font-weight: 500;
        font-size: 18px !important;
        line-height: 26px;
        color: #384e85 !important;
      }
      .ant-upload-drag-icon {
        path {
          fill: #18162f;
        }
      }
      .ant-upload-hint {
        span {
          color: #384e85 !important;
        }
        font-weight: 500;
        font-size: 18px !important;
        line-height: 26px;
        color: #34a6ff !important;
      }
    }
    .ant-row-center {
      width: 100%;
    }
    .ant-form {
      width: 100%;
      @media screen and (min-width: 840px) {
        width: 80%;
      }
      margin: 0 auto;
      .error {
        color: red;
        margin-bottom: 0;
      }
      .field-wrapper {
        margin-bottom: 30px;
        &.public-database {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          p {
            padding-left: 25px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-top: -20px;
            color: #384e85;
          }
        }
      }
    }
    .ant-row {
      &:first-child {
        flex: 1;
      }
    }
    .input-field {
      background-color: #edf2f6;
      border: none !important;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      padding: 0px 11px;
      height: 42px;
      color: #a5b0c9;
      width: 100%;
      margin-bottom: 40px;
      &::placeholder {
        color: #a5b0c9;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .tag-list {
      width: 100%;
      @media screen and (min-width: 1024px) {
        width: 80%;
      }
      margin: 0 auto;
      h5 {
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        color: #3176ae;
        margin-bottom: 0px;
      }
      .tags-container {
        @media screen and (max-width: 1024px) {
          overflow-x: scroll;
          overflow-y: hidden;
          width: calc(100% + 60px);
          margin-left: -30px;
          padding-left: 30px;
          ul {
            min-width: 800px;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        li {
          background: transparent;
          border-radius: 23px 5px 5px 23px;
          border: 2px solid #3176ae;
          color: #255b87;
          display: inline-block;
          padding: 5px 20px 5px 30px;
          position: relative;
          margin: 0 10px 10px 0;
          text-decoration: none;
          cursor: pointer;
          &:before {
            background: #3176ae;
            border-radius: 10px;
            box-shadow: inset 0 1px rgb(0 0 0 / 25%);
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .buttons-wrapper {
      display: flex;
      justify-content: center;

      button {
        border: 2px solid #18162f;
        border-radius: 23.5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #18162f;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 45px;
        background: transparent;
        width: 150px;
        &:hover {
          border-color: $blue12;
          color: #fff;
          background: $blue12;
        }
      }
      div {
        text-align: center;
        h5 {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          margin-top: 5px;
        }
        &:first-child {
          margin-right: 30px;
        }
      }
      @media screen and (max-width: 840px) {
        flex-direction: column;
        width: 100%;
        button {
          width: 100%;
          margin-top: 15px;
        }
        div:first-child {
          margin: 0;
        }
      }
    }
  }
  .step-form-final {
    padding: 100px 0px 0px 0px;
    .ant-form {
      padding-bottom: 60px;
      .ant-checkbox-wrapper {
        span {
          &:nth-child(2) {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #384e85;
          }
        }
      }
      .ant-input-prefix {
        svg {
          width: 20px;
          height: 20px;
          path {
            fill: #384e85;
          }
        }
      }
    }
  }
  .slider-container {
    height: 100%;
    padding: 30px;
    .ant-carousel {
      .slick-slider {
        .slick-dots {
          li {
            width: 33px;
          }
          button {
            background: #00585f;
            height: 5px;
          }
        }
      }
    }
    .slider-wrapper {
      width: 300px;
      margin: 0 auto 120px auto;
      padding-top: 100px;
      h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        color: #09689a;
      }
    }
    .slider-bottom-panel {
      text-align: center;
      background: rgb(255 255 255 / 16%);
      padding: 25px 60px;
      border-radius: 20px;
      margin-top: 40px;
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #18162f;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #09689a;
      }
    }
  }
  .auth-container {
    opacity: 1;
    padding: 20px 6px 6px 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .signup-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      .signin-button {
        button {
          color: #09689a;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
      }
      .auth-buttons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0px;
        button {
          font-weight: 500;
          font-size: 18px;
          line-height: 36px;
          height: 46px;
          width: 315px;
          background-color: transparent;
          margin-bottom: 20px;
          border: 3px solid #18162f;
          color: #18162f;
          display: flex;
          align-items: center;
          &:hover {
            border-color: $blue12;
            color: #fff;
            background: $blue12;
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
          span {
            padding-left: 20px;
          }
        }
        .separator {
          margin-bottom: 10px;
          h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #09689a;
          }
        }
      }
    }
    .login-wrapper {
      .connect-button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
          color: #09689a;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
        .connect-back-button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }
      .login-form {
        padding: 30px 20px;
        .ant-form-item-label {
          padding-bottom: 5px;
          // label {
          //   font-weight: 500;
          //   font-size: 14px;
          //   line-height: 20px;
          //   color: #000000;
          // }
        }
        .ant-input-password {
          border: none !important;
          padding: 0px 11px;
          background: #edf2f7;
          border-radius: 5px;
          .ant-form-item-has-success {
            border: none;
          }
        }
        .login-button {
          font-weight: 500;
          font-size: 18px;
          line-height: 36px;
          height: 46px;
          width: 230px;
          background-color: transparent;
          margin: 0 auto;
          border: 3px solid #18162f;
          color: #18162f;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            border-color: $blue12;
            color: #fff;
            background: $blue12;
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
        .forgot-password {
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #18162f;
          display: block;
          margin: 0 auto;
        }
        .ant-divider-horizontal {
          border-top: 0.4px solid #000000;
          margin: 40px 0px 60px 0px;
        }
        .join-wrapper {
          text-align: center;
          h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: #18162f;
          }
        }
      }
    }
    .terms {
      background: rgb(109 181 176 / 31%);
      padding: 6px 0px;
      h4 {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #18162f;
        text-align: center;
      }
    }
  }
}
