@import '../../styles/vars.scss';

.partnership {
  :global {
    .hero {
      padding: 40px 60px;
      background-color: $primaryPurple7;
      @media screen and (max-width: $bpMobile) {
        padding: 40px 20px;
      }
      h1 {
        color: white;
        font-size: 48px;
        line-height: 56px;
        font-weight: 400;
        span {
          font-weight: 700;
        }
        @media screen and (max-width: $bpMobile) {
          font-size: 35px;
          line-height: 46px;
        }
      }
      .ant-image {
        width: 100%;
      }
      .steps-header {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: white;
        font-weight: 700;
        margin-bottom: 40px;
        font-family: var(--font-archia), sans-serif;
        @media screen and (max-width: $bpMobile) {
          margin-top: 20px;
        }
      }
      .steps {
        display: flex;
        gap: 20px;
        @media screen and (max-width: $bpMobile) {
          flex-direction: column;
        }
        .step {
          display: flex;
          gap: 20px;
          h2 {
            width: 68px;
            height: 68px;
            color: $primaryPurple7;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
          p {
            color: white;
            font-size: 18px;
            flex: 1;
            padding-top: 20px;
          }
        }
      }
    }
    .activity-box {
      padding: 40px 60px;
      background-color: $primaryGrey;
      @media screen and (max-width: $bpMobile) {
        padding: 40px 20px;
      }
      h2 {
        font-family: var(--font-archia), sans-serif;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;
        @media screen and (max-width: $bpMobile) {
          font-size: 32px;
          line-height: 40px;
        }
      }
      .activity-box-wrapper {
        ul {
          padding: 0;
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          column-gap: 40px;
          row-gap: 20px;
          @media screen and (max-width: $bpMobile) {
            flex-direction: row;
            overflow-x: scroll;
          }
          li {
            text-align: center;
            align-content: flex-start;
            @media screen and (max-width: $bpMobile) {
              width: calc(50vw - 40px);
              margin-bottom: 10px;
            }
            &:nth-child(1) {
              .icon {
                background-color: $primaryBlue;
              }
            }
            &:nth-child(2),
            &:nth-child(4) {
              .icon {
                background-color: $primaryPurple;
              }
            }
            &:nth-child(3) {
              .icon {
                background-color: $primaryGreen;
              }
            }
            &:nth-child(5) {
              .icon {
                background-color: $primaryPurple4;
              }
            }
            .icon {
              width: 126px;
              height: 126px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 16px;
              margin-bottom: 24px;
            }
            .h-m {
              font-weight: 600;
              text-align: center;
              display: block;
            }
            @media screen and (max-width: $bpMobile) {
              .h-m {
                font-size: 18px;
                line-height: 24px;
              }
              .icon {
                width: calc(50vw - 40px);
                height: calc(50vw - 40px);
              }
            }
          }
        }
      }
    }
    .form-container {
      padding: 40px 60px;
      @media screen and (max-width: $bpMobile) {
        padding: 40px 20px;
      }
      .ant-form-item {
        flex-direction: column;
        .ant-form-item-label {
          label {
            &::after {
              content: none;
            }
          }
        }
      }
      .ant-upload-drag-icon {
        margin-bottom: 10px !important;
      }
      .ant-upload-text {
        color: $primaryDarkBlue3 !important;
      }
      .add-btn {
        padding: 10px;
        border-radius: 12px;
        background-color: $primaryPurple2;
        color: $primaryPurple7;
        display: inline-block;
        margin: 0px;
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
      }
      .ant-upload-drag {
        background-color: white;
        border-width: 2px;
        border-radius: 12px;
        border-color: $primaryDarkBlue2;
        padding: 10px;
      }
      .geo {
        h2 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: $primaryDarkBlue;
          margin: 20px 0px;
        }
      }
      .ant-input-status-error {
        border: 2px solid #e00909;
        background: #fff;
        input {
          background: #fff;
        }
      }
    }
    .auth-container {
      width: 100%;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
        }
      }
      .login-btn {
        display: flex;
        gap: 10px;
        .ant-btn {
          align-items: flex-start;
        }
      }
    }
  }
}
