@import '../../vars.scss';
@import '../../styles/vars.scss';

.inviteExpertModal {
  width: 100% !important;
  color: $primaryDarkBlue;
  @media screen and (min-width: 840px) {
    max-width: 823px;
  }
  :global {
    .paragraph {
      font-size: $fzXXS;
      line-height: $lhXXS;
      margin-bottom: 31px;
    }
    .invite-expert-form {
      & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .invite-expert-input {
        .invite-label-wrapper {
          margin-bottom: 8px;
        }
      }
    }
    .ant-form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
  }
}
