@import '../../vars.scss';
.inviteExpertModal {
  width: 100% !important;

  @media screen and (min-width: 840px) {
    max-width: 823px;
  }
  :global {
    .ant-modal-header {
      .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #a5b0c9;
        text-transform: uppercase;
      }
    }
    .ant-modal-body {
      padding: 17px 40px 50px 40px;
    }
    .paragraph {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 31px;
    }

    .invite-expert-form {
      .invite-expert-input {
        .invite-label-wrapper {
          label {
            font-size: 16px;
            line-height: 23px;
            color: #18162f;
          }
        }
        .ant-input::placeholder,
        .ant-select-selection-placeholder {
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #a5b0c9;
        }
        .ant-input,
        .ant-select,
        .ant-select-selector {
          width: 100%;
          height: 40px;
          border: unset;
        }
        .ant-input.ant-input-status-error,
        .ant-input-status-error .ant-select-selector {
          border: 1px solid #ff4d4f;
          background-color: #fff !important;
        }

        &:not(:last-of-type) {
          margin-bottom: 23px;
        }

        .cat-tag-select .ant-select-selector {
          .ant-select-selection-search {
            margin-left: 0;
          }
        }

        .modal-suggest-category {
          .ant-select-selector {
            background-image: url('/knowledge-library/chevron-down-grey.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 17px) center;
          }
        }
      }
    }

    .invite-expert-buttons {
      display: flex;
      justify-content: center;
      margin-top: 65px;
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        transition: all 0.15s ease-out;
      }
      .invite-submit-button {
        margin-right: 16px;
      }
    }
    .ant-modal-footer {
      display: none;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        background-color: #3276ae;
        color: white;
        border-radius: 3px;
        font-weight: 500;
      }
      .ant-select-selection-item-remove svg {
        fill: white;
        opacity: 0.5;
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .ant-modal-body {
        padding: 17px 20px 30px 20px;
      }

      .invite-expert-buttons {
        margin-top: 30px;
      }
      .ant-modal-header {
        padding: 10px 20px;
      }
    }
  }
}
