@import "../../vars.scss";
.invite-expert-card {
  padding: 8px;
  height: 153px;
  .ant-card-body {
    height: calc(153px - calc(8px * 2));
    flex-direction: row !important;
    padding: 0 !important;
    justify-content: unset !important;
    align-items: center;
  }
  .invite-expert-image-wrapper {
    display: flex;
    background-color: #fafbfd;
    width: 210px;
    margin-right: 15px;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    img {
      width: 90px;
      margin-left: 30px;
    }
  }
  .invite-expert-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #a5b0c9;
    margin-bottom: 0;
  }
  .invite-expert-button {
    display: flex;
    justify-content: center;
    place-items: center;
    border: 2px solid #67bea1;
    font-weight: 600;
    font-size: 14px;
    color: #67bea1;
    margin-top: 24px;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #67bea1;
      color: white;
    }
  }
}
