@import '../../vars.scss';
@import '../../styles/vars.scss';

.inviteExpertCard {
  padding: 8px;
  max-width: 370px;
  height: 153px;
  :global(.ant-card-body) {
    display: flex;
    height: calc(153px - calc(8px * 2));
    flex-direction: row;
    padding: 0;
    justify-content: unset;
    align-items: center;
    :global {
      .invite-expert-image-wrapper {
        display: flex;
        background-color: $primaryGrey;
        width: 210px;
        margin-right: 15px;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        img {
          width: 90px;
          margin-left: 30px;
        }
      }
      .invite-expert-button-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 8px;
        .invite-expert-text {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: $primaryDarkBlue4;
        }
        .ant-btn.ant-btn-sm {
          font-size: $fzXXS !important;
          padding: 8px 16px !important;
        }
      }
    }
  }
}
