@import "../../vars.scss";

#experts {
  .expert-list-section {
    background: rgba(211, 222, 231, 0.15);
    padding: 15px 25px;
    #expert-loading {
      padding-top: 0;
      padding-bottom: 0;
    }
    .expert-top-tools {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .page-label {
        background-color: rgba(211, 222, 231, 0.5);
        border-radius: 10px;
        color: #18162f;
        font-size: 12px;
        padding: 9px;
      }
      .view-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 30px;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: $blue06;
        max-width: 98px;
        background-color: unset;
        border: 1px solid $blue06;
        min-height: 32px;
        cursor: pointer;
        transition: all 0.15s ease-out;
        &:hover {
          transition: all 0.15s ease-out;
          background-color: $yellow-highlight;
          color: #fff;
          border: 1px solid #fff;
          .transnational-icon path {
            stroke: #fff;
          }
        }
        .view-button-text {
          margin-right: 7.11px;
          text-transform: uppercase;
          word-wrap: break-word;
        }
        svg {
          width: 22px;
          height: 22px;
        }
        .transnational-icon {
          width: 100%;
          max-width: 22px;
          path {
            stroke-width: 3px;
          }
        }
      }
      .sort-by-button {
        display: flex;
        align-items: center;
        color: $blue06;
        font-weight: 400;
        font-size: 12px;
        border: unset;
        background-color: unset;
        cursor: pointer;
        svg {
          width: 32px;
          height: 32px;
          margin-right: 7px;
          transition: all 0.15s ease-out;
        }
        .sort-button-text {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
        }
      }
    }

    .expert-carousel {
      .react-multi-carousel-item:not(:last-of-type) {
        margin-right: 10px;
      }
      .react-multi-carousel-item {
        width: 180px !important;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        .ant-card {
          border-radius: 5px;
          border: unset;
          .ant-card-body {
            height: 330px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .expert-detail-list {
            .expert-image-wrapper {
              position: relative;
              img {
                width: 100%;
              }
              .expert-image {
                width: 100%;
                height: 100%;
                display: flex;
                place-items: center;
                border-radius: 5px;

                .ant-avatar-string {
                  display: flex;
                  flex-direction: column;
                  place-items: center;
                  svg {
                    width: 28px;
                    height: 28px;
                  }
                  span {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 30px;
                  }
                }
              }
              .no-image {
                height: 128px;
              }
              .entity-logo {
                position: absolute;
                z-index: 1;
                top: -5px;
                left: -5px;
                border-radius: 50%;
                width: 31px;
                height: 31px;
                border: 1px solid #edf2f7;
              }
            }

            .expert-location {
              display: flex;
              align-items: center;
              svg {
                width: 13px;
                margin-right: 6px;
                path,
                line {
                  stroke: #d3dee7;
                }
              }
            }

            .expert-name {
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: $blue06;
            }
          }

          .badge-list {
            height: 100%;
            display: flex;
            align-items: flex-end;
            li {
              height: 28px;
            }
            li:not(:last-of-type) {
              margin-right: 21px;
            }
          }
        }
      }
    }

    .expert-carousel-arrow {
      top: calc(calc(330px - calc(42px / 2)) / 2);
      background: unset !important;
      z-index: 1;
      svg {
        width: 24px;
        height: 38px;
      }
      &:hover {
        svg path {
          fill: $yellow-highlight;
          fill-opacity: 1;
        }
      }
    }

    .custom-left-arrow.expert-carousel-arrow {
      left: -8px;
    }

    .custom-right-arrow.expert-carousel-arrow {
      right: -8px;
    }

    .expert-carousel-dots {
      position: unset;
      margin-top: 20px;
      button {
        height: 2px;
      }
    }
  }
  .map-container svg {
    outline: unset;
  }
  #map-landing {
    height: 550px;
  }
  .filter-bar {
    background-color: #06496c;
    height: 95px;
    padding-left: 5px;
    .level-0 {
      display: flex;
      flex-direction: column;
      small {
        // background-color: #005376;
        display: inline-block;
        color: #d3dee7;
        padding: 0px 10px 0;
        margin-top: 4px;
      }
      ul {
        display: flex;
        // background-color: #005376;
        padding: 5px 0px 4px 5px;
        float: left;
        margin-top: -4px;
        li {
          height: 63px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 14px;
          color: #67bea1;
          background-color: #004063;
          border: 1px solid #00757d;
          margin-right: 5px;
          padding: 0 10px;
          cursor: pointer;
          img {
            margin-right: 7px;
          }
          span {
            width: min-content;
            line-height: 16px;
          }
          &:hover {
            background-color: #053553;
          }
          &:nth-child(3) span {
            min-width: 99px;
          }
          &:nth-child(5) span {
            min-width: 85px;
          }
        }
      }
    }
    .level-1 {
      display: flex;
      transform: translateY(7px);
      .selected-btn {
        // background-color: #053553;
        height: 70px;
        padding-top: 20px;
        display: flex;
        color: #67bea1;
        margin-top: 2px;
        margin-left: 7px;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        small {
          color: white;
        }
        & > small {
          position: absolute;
          top: 0;
        }
        img {
          height: 27px;
          margin-right: 7px;
          margin-top: 2px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          line-height: 16px;
          strong {
            // max-height: 36px;
            width: min-content;
          }
          small {
            font-weight: 600;
          }
        }
        &.s2 strong {
          min-width: 102px;
        }
        &.s4 strong {
          min-width: 83px;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2px;
        li {
          width: 70px;
          height: 70px;
          border-radius: 6px;
          border: 1.5px solid #d3dee7;
          margin: 4px;
          margin-right: 7px;
          font-size: 10px;
          font-weight: 550;
          display: flex;
          flex-direction: column;
          color: #d3dee7;
          cursor: pointer;
          transition: all 0.2s ease-out;
          .img-container {
            margin-top: 3px;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
          }
          img {
            max-height: 38px;
            max-width: 44px;
          }
          .label-container {
            margin-top: auto;
            line-height: 9px;
            min-height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-bottom: 3px;
          }
          &.selected {
            background-color: #3fc19f;
            border: 3px solid #adefd9;
            color: #fff;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
