@import '../../styles/vars.scss';

.experts {
  :global {
    .expert-list-section {
      background: rgba(211, 222, 231, 0.15);
      padding: 15px 0px;
      display: flex;
      flex-direction: column;
      position: relative;
      .list-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 25px;
        .page-label {
          background-color: rgba(211, 222, 231, 0.5);
          border-radius: 10px;
          color: $primaryDarkBlue;
          font-size: 12px;
          padding: 9px;
        }
        .view-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 30px;
          font-weight: 500;
          font-size: 10px;
          line-height: 10px;
          text-align: center;
          color: $primaryDarkBlue;
          max-width: 98px;
          background-color: unset;
          border: 1px solid $primaryDarkBlue;
          min-height: 32px;
          cursor: pointer;
          transition: all 0.15s ease-out;
          &:hover {
            background-color: $primaryDarkBlue;
            border: 1px solid white;
            color: white;
          }
          .anticon {
            width: 35px;
            height: 35px;
            svg {
              width: 100%;
              height: 100%;
              path {
                stroke: white;
              }
            }
          }
          svg {
            path {
              stroke: white;
            }
          }
        }
        .sort-by-button {
          display: flex;
          align-items: center;
          // color: $blue06;
          font-weight: 400;
          font-size: 12px;
          border: unset;
          background-color: unset;
          cursor: pointer;
          svg {
            margin-right: 7px;
            transition: all 0.15s ease-out;
          }
          .sort-button-text {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
          }
          .sort-icon {
            width: 32px;
            height: 32px;
            border: 1px solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            svg {
              width: 20px;
              height: 20px;
              margin: 0;
            }
          }
        }
      }
      .loading {
        padding: 0;
        font-size: 36px;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 200px;
        top: 55px;
        position: absolute;
        width: 100%;
        background-color: rgba(249, 250, 251, 0.5);
        z-index: 2;
        color: #027975;
      }
      .noresults {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
      }

      .swiper {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        .swiper-pagination {
          bottom: -5px !important;
        }
      }
      .swiper-slide {
        width: 320px;
        height: 153px;
        &:last-child {
          width: 370px;
        }
      }
      .expert-carousel {
        padding-left: 25px;
      }
    }
    .map-container svg {
      outline: unset;
    }
    .map-landing {
      height: 550px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .filter-bar {
      background-color: $primaryDarkBlue5;
      height: 95px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .level-0 {
        display: flex;
        flex-direction: column;
        small {
          // background-color: #005376;
          display: inline-block;
          color: #d3dee7;
          padding: 0px 10px 0;
          margin-top: 12px;
        }
        ul {
          display: flex;
          padding: 5px 0px 4px 5px;
          float: left;
          margin-top: -4px;
          margin-bottom: 1em;
          li {
            height: 63px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            color: white;
            background-color: transparent;
            border: 1px solid white;
            margin-right: 10px;
            padding: 0 10px;
            cursor: pointer;
            img {
              margin-right: 7px;
            }
            span {
              width: min-content;
              line-height: 16px;
              padding-left: 10px;
            }
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }
            &:nth-child(3) span {
              min-width: 107px;
            }
            &:nth-child(5) span {
              min-width: 91px;
            }
            svg {
              path {
                fill: white;
              }
            }
          }
        }
      }
      .level-1 {
        display: flex;
        transform: translateY(7px);
        .selected-btn {
          height: 70px;
          padding-top: 20px;
          display: flex;
          color: $primaryGreen4;
          margin-top: 2px;
          margin-left: 7px;
          margin-right: 10px;
          position: relative;
          cursor: pointer;
          small {
            color: white;
          }
          & > small {
            position: absolute;
            top: 0;
          }
          svg {
            height: 27px;
            margin-right: 7px;
            margin-top: 2px;
            path {
              fill: $primaryGreen4;
            }
          }
          & > div {
            display: flex;
            flex-direction: column;
            line-height: 16px;
            strong {
              // max-height: 36px;
              width: min-content;
            }
            small {
              font-weight: 600;
            }
          }
          &.s2 strong {
            min-width: 102px;
          }
          &.s4 strong {
            min-width: 83px;
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          margin-top: 2px;
          margin-bottom: 1em;
          li {
            width: 70px;
            height: 70px;
            border-radius: 6px;
            border: 1.5px solid #d3dee7;
            margin: 4px;
            margin-right: 7px;
            font-size: 10px;
            font-weight: 550;
            display: flex;
            flex-direction: column;
            color: #d3dee7;
            cursor: pointer;
            transition: all 0.2s ease-out;
            .img-container {
              margin-top: 3px;
              display: flex;
              flex: 1;
              align-items: center;
              justify-content: center;
              svg {
                path {
                  fill: #d3dee7;
                }
              }
            }
            img {
              max-height: 38px;
              max-width: 44px;
            }
            .label-container {
              margin-top: auto;
              line-height: 9px;
              min-height: 16px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              margin-bottom: 3px;
            }
            &.selected {
              background-color: white;
              border-color: white;
              color: $primaryDarkBlue;
              transform: scale(1.1);
              svg {
                path {
                  fill: $primaryDarkBlue;
                }
              }
            }
          }
        }
      }

      .location-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 73px;
        height: 73px;
        background-color: $primaryDarkBlue;
        border: unset;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 20px;
        svg {
          width: 21px;
          height: 21px;
          padding-left: 0px !important;
          margin-bottom: 8px;
          path {
            stroke: #fff;
          }
        }
        &:hover {
          svg {
            path {
              stroke: white;
            }
          }
        }
        span {
          font-weight: 400;
          font-size: 10px;
          line-height: 11px;
          text-align: center;
          text-transform: capitalize;
          color: #ffffff;
        }
        &.selected {
          svg {
            path {
              stroke: white;
            }
          }
          span {
            color: white;
          }
        }
        &.ant-dropdown-open {
          background: rgba(24, 22, 47, 0.65);
          span {
            color: white;
          }
          svg {
            path {
              stroke: white;
            }
          }
        }
      }
      @media screen and (max-width: 960px) {
        overflow-x: scroll;
        .level-1 ul {
          flex-wrap: nowrap;
          margin-right: 15px;
        }
      }
    }
    .expert-card {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      border: unset;
      height: 100%;
      .ant-card-body {
        display: flex;
        padding: 12px 15px;
        flex-direction: column;
        height: 100%;
      }
      .expert-detail-list {
        display: flex;
        height: 100%;
        .expert-image-wrapper {
          position: relative;
          img {
            width: 100%;
          }
          .expert-image {
            width: 128px;
            height: 100%;
            max-width: 128px;
            display: flex;
            place-items: center;
            border-radius: 5px;
            margin-right: 22px;

            .ant-avatar-string {
              display: flex;
              flex-direction: column;
              place-items: center;
              svg {
                width: 28px;
                height: 28px;
              }
              span {
                font-size: 30px;
                font-weight: 700;
                line-height: 30px;
              }
            }
          }
          .no-image {
            height: 128px;
          }
          .entity-logo,
          .expert-badge {
            position: absolute;
            bottom: -12px;
            z-index: 1;
          }
          .entity-logo {
            left: -10px;
            bottom: -4px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            border: 1px solid #edf2f7;
          }
          .expert-badge {
            right: 15px;
          }
        }

        .expert-location {
          display: flex;
          align-items: center;
          svg {
            width: 13px;
            margin-right: 5px;
            path,
            line {
              stroke: #d3dee7;
            }
          }
        }
        .expert-name,
        .expert-location svg {
          margin-left: 2px;
        }
        .expert-name {
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: $primaryDarkBlue;
        }

        .expert-activity {
          display: flex;
          align-items: center;
          padding-left: 20px;
          position: relative;
          line-height: 18px;
          padding-top: 2px;
          &:before {
            position: absolute;
            content: ' ';
            background: url(../../images/stakeholder-overview/star-outlined.svg);
            width: 17px;
            height: 16px;
            left: 0;
            top: 3px;
          }
          svg {
            margin-right: 5px;
          }
        }
      }

      .badge-list {
        height: 100%;
        display: flex;
        align-items: flex-end;
        li {
          height: 28px;
        }
        li:not(:last-of-type) {
          margin-right: 21px;
        }
      }
    }
    .grid {
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        margin-bottom: 20px;
        width: 100%;
        @media screen and (min-width: 780px) and (max-width: 1080px) {
          width: calc(50% - 10px);
        }
        @media screen and (min-width: 1080px) and (max-width: 1360px) {
          width: calc(33% - 10px);
        }
        @media screen and (min-width: 1360px) and (max-width: 1800px) {
          width: calc(25% - 10px);
        }
      }
      .expert-card {
        margin: 5px;
        width: 100%;
      }
    }
  }
}
