@import "../../vars.scss";

#landing {
  position: relative;

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  hr {
    border: 1px solid rgba(37, 91, 135, 0.13);
  }

  .landing-container {
    background-color: #036799;
    color: #ffffff;
  }

  .landing-banner {
    padding: 3rem 0px;
    background: url("../../images/landing-banner.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 70%;

    @media (max-width: 650px) {
      background-size: cover !important;
      background-position-x: 70% !important;
      h1 {
        line-height: 40px !important;
      }
      div.body-text {
        line-height: 32px !important;
      }
      h1,
      div.body-text {
        max-width: 100% !important;
      }
    }

    @media only screen and (max-width: 800px) {
      background-size: 120%;
    }
    .ui.container {
      h2 {
        color: white !important;
      }
    }
    h1 {
      color: white;
      max-width: 70%;
    }

    @media only screen and (max-width: 800px) {
      h1 {
        font-size: 2.5rem !important;
        line-height: 2.6rem;
      }
      h2 {
        font-size: 1.8rem;
      }
    }
    div.body-text {
      max-width: 70%;
      margin-bottom: 20px;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    a {
      color: white;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  @keyframes grow {
    0% {
      transform: scale(1);
      color: $blue01;
    }
    100% {
      transform: scale(1.2);
      color: $blue02;
    }
  }

  .topic-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    .topic-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      border: none;
      font-weight: 700;
      padding: 8px;
      margin: 0 10px 10px 0;
      cursor: pointer;
      .bar-count {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 600px) {
    .content {
      .content-body {
        padding: 0 0 !important;
        .item-body {
          &:hover {
            border-color: #fff !important;
          }
          .ant-card-body {
            padding: 14px 0 14px 0 !important;
          }
        }
      }
    }
    .popular-topics {
      .chart-wrapper {
        display: none !important;
      }
    }

    .our-community .react-multi-carousel-dot-list {
      justify-content: start;
    }
    .event .item-meta {
      align-items: center !important;
    }
    .item-meta .mark {
      display: flex !important;
      place-self: center !important;
      margin-left: 10px !important;
    }
    .event .body {
      flex-direction: column-reverse;
    }
    .ant-picker-panel {
      display: none;
    }
  }

  .popular-topics {
    .body {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(255, 255, 255);

      .topic-bar .chart-wrapper {
        width: 50%;
      }
      .content {
        width: 50%;
        .content-header {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-size: 1.6rem;
            font-weight: 900;
            margin-bottom: 10px;
            color: $blue03;
          }
          span {
            text-transform: uppercase;
            font-size: 0.8rem;
          }
          .item {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: rgba($yellow, 0.2);
            padding: 8px 10px;
            border-right: 2px solid white;
            text-align: center;
            line-height: 1em;
            color: $blue03;
            h4 {
              &:hover {
                animation: grow 0.1s ease-in;
                animation-fill-mode: forwards;
              }
            }
            span {
              display: inline-block;
            }
            &:first-child {
              border-left: 1px solid white;
            }
            &:last-child {
              width: 77px;
              font-weight: 600;
              font-size: 0.8rem;
            }
          }
        }
        .content-body {
          padding: 10px 20px;
          background-color: rgba($yellow, 0);
          .item-body {
            margin-bottom: 12px;
            border-radius: 10px;
            border-color: transparent;
            cursor: pointer;
            &:hover {
              border-color: #f0f0f0;
            }
            .ant-card-body {
              padding: 14px;
            }
          }
        }
      }
    }
  }

  .featured-content {
    .body {
      display: flex;
      justify-content: space-between;
      .ant-avatar-group {
        display: none;
      }
      .item {
        cursor: pointer;
        border-radius: 10px;
        .item-img {
          height: 18rem;
          object-fit: contain;
          @media only screen and (max-width: 800px) {
            height: 8rem;
          }
        }
        .item-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          .resource-label {
            width: 58%;
          }
        }
        .item-body {
          height: 14.5rem;
        }
        .item-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          position: absolute;
          bottom: 0;
          margin-bottom: 24px;
        }
      }
      .content-left {
        width: 53%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          width: 49%;
          margin-bottom: 2%;
          min-height: 40%;
        }
      }
      .content-right {
        width: 46%;
        .item {
          width: 100%;
          min-height: calc(96% + 2%);
        }
      }
    }
  }

  .our-community {
    background: linear-gradient(
        0deg,
        rgba(9, 104, 154, 0.8),
        rgba(9, 104, 154, 0.8)
      ),
      url("../../images/our-community.png"), #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    .see-more-link {
      color: $green01 !important;
      svg {
        color: $green01;
      }
    }
    .body {
      .carousel-container {
        display: flex;
        // justify-content: center; // use this if our-community content less than 5 items
        align-items: center;
        .carousel-item {
          background-color: #fff;
          margin-right: 0.85rem;
          border-radius: 10px;
          min-height: 23rem;
          .type-wrapper {
            padding: 20px 20px 0px 20px;
            display: flex;
            justify-content: flex-end;
          }
          .about {
            min-height: 20rem;
            padding: 20px;
            margin-bottom: 2.5rem;
            div::before {
              content: open-quote;
            }
            div::after {
              content: close-quote;
            }
          }
          .wave {
            position: absolute;
            bottom: 0;
          }
          .detail {
            padding: 20px;
            position: absolute;
            bottom: 2.5%;
            left: 1%;
            color: #fff;
            .photo {
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
              border: 3px solid #fff;
              background-color: #fff;
            }
            h4 {
              margin-top: 10px;
              margin-bottom: 0;
              color: #fff;
              font-size: 1rem;
              font-weight: 600;
            }
            p.role {
              font-size: 0.8rem;
              height: 25px;
              margin-bottom: 0;
            }
          }
        }
      }
      .carousel-dot-list {
        position: relative;
        margin-top: 15px;
        .react-multi-carousel-dot button {
          border-color: #fff;
          background: transparent;
        }
        .react-multi-carousel-dot--active button {
          background: #fff;
        }
      }
      .react-multiple-carousel__arrow--right {
        right: calc(1% + 1px);
        z-index: 1;
      }
      .react-multiple-carousel__arrow--left {
        left: calc(1% + 1px);
        z-index: 1;
      }
    }
  }

  .benefit {
    background: #2d6796;
    .body {
      display: flex;
      justify-content: space-between;
      .item {
        width: 49%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 20px;
        color: #fff;
        .asset-title {
          color: #fff;
          margin-bottom: 5px;
        }
        ul {
          list-style-type: circle;
          list-style-position: outside;
          margin-left: 1.5rem;
        }
      }
    }
    .btn-wrapper {
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
  }

  // global style
  .section-container {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  // section title style
  .section-title {
    margin-bottom: 35px;
    h2 {
      color: #2d6796;
    }
    &.green {
      h2 {
        color: #4dffa5;
        span {
          color: #fff;
        }
      }
    }
    .body-text {
      color: #fff;
    }
  }

  // style for card body
  img.item-img {
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .item-body {
    .asset-title {
      margin: 5px 0;
    }
    .body-text {
      margin-bottom: 5px;
    }
  }
  // eol style for card body

  // event, data hub text style
  span.resource-label,
  div.resource-label {
    color: #4da687;
    &.margin {
      margin: 20px 0;
    }
  }

  // mark style, text with rounded outline
  span.mark,
  div.mark {
    padding: 2px 7px;
    color: #2d6796;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    border: 1px solid #2d6796;
    box-sizing: border-box;
    border-radius: 50px;
    .anticon {
      margin-right: 5px;
    }
  }

  // see more text
  span.see-more-link {
    cursor: pointer;
    margin-left: 20px;
    color: #34a6ff;
    vertical-align: middle;
    &.ant-btn,
    &.ant-btn-ghost {
      line-height: 1.5rem;
    }
  }

  // read more text
  span.read-more {
    cursor: pointer;
    color: #34a6ff;
    font-size: 0.88rem;
    vertical-align: middle;
  }

  // antd carousel dots
  .custom-dots {
    height: 3rem;
    top: -30px;
    z-index: 0;
    li {
      width: 12px;
      button {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        border: 3px solid #fff;
        box-sizing: border-box;
        background: transparent;
        opacity: 0.6;
      }
    }
    li.slick-active {
      button {
        background: #fff;
        opacity: 1;
      }
    }
  }
  // eol global style
}
