@import '../../vars.scss';

#landing{
  .landing-container{
    background-color:#84b4cc;
    color: #FFFFFF;
    .landing-banner{
        padding: 10px 60px;
        max-width: 1320px;
        margin: 0 auto;
        p {
            margin-bottom: 0px;
        }
    }
  }
  .map-overlay{
    position: absolute;
    z-index: 10;
    left: 60px;
    top: 264px;
    .ant-select{
      width: 100%;
      margin-bottom: 10px;
    }
    .summary{
      border-radius: 3px;
      overflow: hidden;
      min-width: 220px;
      header{
        background-color: #DAE9F1;
        color: #036799;
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        padding: 0 10px 2px;
      }
      background-color: #fff;
      border: 2px solid #DAE9F1;
      ul{
        padding: 0px;
        margin-bottom: 0px;
        li:hover{
          background-color: #EAEAEA;
        }
        .summary-list-selected {
            background-color: #D9F2FD !important;
        }
        .summary-list {
            opacity: .5;
        }
        li{
          cursor:pointer;
          position: relative;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          .text{
            display: flex;
            flex-direction: column;
          }
          &:not(:last-child){
            border-bottom: 1px solid #DFECF3;
          }
          .ant-switch{
            margin-right: 10px;
          }
          b{
            margin-left: auto;
            padding-left: 10px;
            display: inline-block;
            margin-right: 10px;
            text-align: right;
            font-weight: bold;
            font-size: 20px;
            color: $primaryColor;
          }
          font-size: 12px;
          line-height: 16px;
          .label{
            color: $primaryColor;
            font-weight: 700;
            text-transform: capitalize;
          }
          span{
            color: #036799;
          }
          &.for-country{
            .label{
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1600px){
      left: calc((100% - 1560px) / 2);
    }
  }
  .topics{
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../../images/landing-gpml.jpg) no-repeat center;
    background-size: cover;
    .ui.container{
      display: flex;
      flex-wrap: wrap;
    }
    .topic-item{
      width: 33%;
      padding: 10px;
      .inner{
        border-top: 3px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        padding: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .type{
          color: #81B2CC;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 600;
        }
        h2{
          color: #036799;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 5px;
          line-height: 28px;
        }
        ul{
          margin-top: 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #036799;
        }
        p{
          font-size: 12px;
        }
        .bottom{
          margin-top: auto;
        }
        .ant-btn{
          color: $primaryColor;
          padding-left: 0;padding-right: 0;
          margin-bottom: 0;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}

.map-tooltip{
  padding: 0 10px;
  h3{
    font-size: 18px;
    font-weight: 600;
    color: #005C93;
    text-transform: uppercase;
  }
  li{
    display: flex;
    max-width: 170px;
    &:not(:last-child){
      border-bottom: 1px solid #e7f1f7;
      padding-bottom: 3px;
      margin-bottom: 3px;
    }

    &>div{
      display: flex;
    }
    span{
      margin-right: 10px;
      color: #7DB0CB;
    }
    b{
      margin-left: auto;
      color: #005C93;
    }
  }
}
