@import "../../vars.scss";
#landingb {
  & > header {
    // background-color: #006a9e;
    background: transparent;
    padding: 7px 0 !important;
    height: auto;
    display: flex;
    position: fixed !important;
    transition: background 0.3s ease-out;
    &.scrolled {
      background-color: #006a9e;
    }
    // z-index: 1 !important;
    .ui.container {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
    }
    .all-tools-btn {
      height: 52px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 11px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.19s ease-out;
      svg {
        margin-right: 10px;
        rect {
          transition: all 0.19s ease-out;
        }
      }
      &:hover {
        color: #ffb800;
        background-color: rgba(22, 24, 47, 0.2);
        svg {
          rect {
            fill: #ffb800;
            stroke: #ffb800;
          }
        }
      }
    }
    .rightside {
      margin-left: auto;
      display: flex;
    }
    .rightside {
      .ant-btn {
        background: transparent;
        color: rgba(0, 255, 127, 1);
        border: 2px solid rgba(0, 255, 127, 1);
        font-size: 16px;
        font-weight: 700;
        height: 38px;
        padding: 0 13px;
        line-height: 35px;
        transition: all 0.19s ease-out !important;
        &:hover {
          border-color: rgba(0, 255, 127, 1) !important;
          background-color: rgba(0, 255, 127, 1) !important;
          color: #01699f !important;
        }
      }
    }

    .src {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      .input-src {
        border-radius: 30px;
        padding-right: 4px;
        max-width: 170px;
        height: 38px;
        // margin-top: -2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        &.ant-input-affix-wrapper-focused {
          background-color: rgba(255, 255, 255, 1);
          outline: none;
          box-shadow: none;
          // max-width: 190px;
        }
        .ant-input-suffix {
          svg {
            height: 20px;
            width: 20px;
            margin-right: 4px;
          }
        }
        input.ant-input {
          font-size: 14px;
          color: rgba(24, 22, 47, 1);
          background-color: transparent;
          &::placeholder {
            color: rgba(24, 22, 47, 1);
          }
        }
      }
    }
  }
  .hero {
    height: 100vh;
    background-color: #006a9e;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .content {
      max-width: 760px;
      padding: 0 0px;
      position: relative;
      z-index: 2;
      h4 {
        padding: 0 70px;
      }
    }
    h1 {
      text-shadow: 3px 3px 0 #67bea1;
      font-size: 52px;
    }
    h1,
    h4 {
      color: white;
    }
    .ant-btn-primary {
      margin-top: 30px;
    }
    .litter {
      position: absolute;
      z-index: 1;
      margin-left: calc(970px - 50vw);
      margin-top: calc(550px - 50vh);
      svg {
        animation: Floating 5.5s ease-in-out infinite;
      }
    }
  }
  .next-btn {
    position: absolute;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(109, 181, 176, 0.1);
    border-radius: 100%;
    bottom: 25px;
    left: 50%;
    margin-left: -32px;
    cursor: pointer;
    z-index: 2;
    svg {
      transform: translateY(2px);
      path {
        transition: stroke 0.19s ease-out;
      }
    }
    animation: MoveUpDown 1.7s ease-in-out infinite;
    &:hover {
      svg path {
        stroke: #ffb400;
      }
    }
  }
  .workspace {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    background-color: #fff;
    h3 {
      margin-bottom: 35px;
      margin-top: 20px;
      color: #8691b0;
      font-size: 22px;
    }
    img {
      max-width: 100%;
    }
  }
  .ant-btn-primary {
    background-color: #00ff7f;
    border-color: #00ff7f;
    font-weight: 500;
    font-size: 22px;
    color: #0055a5;
    height: auto;
    line-height: 60px;
    padding: 0 50px;
    transition: all 0.19s ease-out;
    &:hover {
      background-color: #ffb400;
      border-color: #ffb400;
      color: #0055a5;
    }
    &.ant-btn-lg {
      font-size: 22px;
      line-height: 60px;
      padding: 0 50px;
    }
  }
  .journey {
    // height: calc(100vh);
    height: calc(600vh);
    // overflow: hidden;
    position: relative;
    img {
      // min-height: 100%;
      position: sticky;
      top: 0;
      transform-origin: 0 0;
      z-index: -1;
    }
    .contents {
      position: absolute;
      z-index: 2;
      top: 0;
      margin: 0 50px;
      .screen-view {
        height: calc(100vh);
        h1 {
          padding-top: 50px;
        }
      }
      .pane {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        max-width: 560px;
        box-shadow: 0 11px 11px rgba(0, 0, 0, 0.25);
      }
      h3,
      h4 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 34px;
      }
      h4 {
        color: #8691b0;
      }
      p {
        font-size: 21px;
        line-height: 30px;
        font-weight: 450;
      }
    }
  }
  .ant-btn {
    font-weight: 500;
    &.ant-btn-ghost {
      border: 2px solid #18162f;
      color: #18162f;
      height: auto;
      &:hover {
        background-color: #18162f;
        color: white;
      }
    }
    &.ant-btn-lg {
      border-width: 3px;
      font-size: 22px;
      line-height: 50px;
      padding: 0 30px;
    }
  }
  .connect {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 50px 0 0 40px;
    h2 {
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .swiper {
      overflow: visible;
    }
    .card {
      box-shadow: 0px 4px 44px rgba(24, 22, 47, 0.1);
      border-radius: 10px;
      overflow: hidden;
      padding: 20px;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      &.casestudy {
        width: 600px;
      }
      &.spotlight {
        width: 474px;
        @media screen and (min-width: 1024px) {
          margin-top: 120px;
        }
      }
      h4 {
        font-weight: bold;
      }
      .label {
        font-weight: 540;
        color: #ffb800;
        text-transform: uppercase;
        transform: translateY(-5px);
        margin-bottom: 5px;
      }
      p {
        b {
          text-transform: uppercase;
          opacity: 0.6;
        }
      }
    }
  }
  .partners {
    background-color: #edf2f7;
    padding: 50px 0 0 0;
    img {
      height: 310px;
    }
    h3 {
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #255b87;
    }
    .img-container {
      padding-left: 40px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        all: unset;
      }
      &::-webkit-scrollbar-track {
        background: initial;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: initial;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: initial;
      }
    }
  }
  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 160px;
      background: #255b87;
      box-shadow: 0px 4px 4px rgba(24, 22, 47, 0.3);
      border-radius: 20px;
      margin: 40px 80px 30px;
      padding: 0 20px;
      b {
        font-weight: 600;
        font-size: 52px;
        line-height: 20px;
        margin-bottom: 23px;
        color: #ffffff;
        text-shadow: 3px 3px 0px #6db5b0;
        margin-top: 30px;
      }
      i {
        font-size: 28px;
        line-height: 25px;
        color: #6db5b0;
        font-style: normal;
        text-align: center;
        height: 50px;
      }
    }
    .row {
      display: flex;
    }
  }
}
body {
  overflow-x: hidden;
}
.full-menu {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #2f2d46;
  color: #e2e0f2;
  padding: 50px 0 50px 50px;
  overflow: auto;

  h2 {
    font-size: 22px;
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    &:last-of-type {
      @media (max-width: 550px) {
        margin-top: 56px;
      }
    }
  }
  .close-btn {
    position: absolute;
    right: 45px;
    top: 45px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    cursor: pointer;
  }
  .row {
    display: flex;
    margin-bottom: calc(50px - 30px);
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
    &:last-of-type {
      .item {
        z-index: 1;
      }
      &::after {
        content: " ";
        width: calc(100% + 40px);
        position: absolute;
        bottom: -50px;
        left: -20px;
        background-color: #211f39;
        z-index: -1;
        height: calc(100% + 68px + 50px);
        @media (min-width: 551px) {
          content: " ";
          width: calc(100% + 50px);
          position: absolute;
          bottom: -70px;
          left: -50px;
          background-color: #211f39;
          z-index: -1;
          height: calc(100% + 68px + 70px);
        }
      }
    }

    .item {
      display: flex;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;
      width: 100%;
      @media (max-width: 550px) {
        flex-basis: 100%;
        margin-right: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      @media (min-width: 551px) and (max-width: 850px) {
        flex-basis: calc(50% - 30px);
      }
      @media (min-width: 851px) and (max-width: 1025px) {
        flex-basis: calc(100% / 3);
      }
      @media (min-width: 1026px) {
        width: unset;
      }
      .icon {
        width: 82px;
        height: 82px;
        min-width: 82px;
        background-color: #3d3e54;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.12s ease-in;
        svg {
          max-height: 55px;
          path {
            fill: #3fc19f;
            transition: fill 0.12s ease-in;
          }
        }
        &.learning {
          svg {
            height: 90px;
            max-height: 90px;
          }
        }
        &.casestudies svg {
          max-height: 70px;
          transform: translateX(-2px);
        }
        &.tools-community-icon svg {
          max-height: 70px;
          rect {
            fill: #3fc19f;
            transition: fill 0.12s ease-in;
          }
        }

        &.tools-partners-icon svg,
        &.tools-experts-icon svg,
        &.tools-events-icon svg {
          height: 100%;
          width: 100%;
        }

        &.tools-partners-icon svg {
          max-height: 70px;
        }

        &.tools-partners-icon svg {
          max-height: 44px;
        }
        @media (max-width: 550px) {
          width: 64px;
          height: 64px;
          min-width: 64px;
          svg {
            max-height: 42px;
          }
          &.tools-experts-icon svg,
          &.tools-partners-icon svg {
            max-height: 35px;
          }
        }
      }

      div:nth-child(2) {
        max-width: 165px;
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        justify-content: center;
        b {
          color: #3fc19f;
          text-transform: uppercase;
          transition: fill 0.12s ease-in;
        }
        span {
          color: #a5b0c9;
          line-height: 20px;
        }
      }
      &:before {
        content: " ";
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        padding: 10px;
        background-color: #59576b;
        position: absolute;
        left: -10px;
        top: -10px;
        opacity: 0;
        transform: scale(0.75);
        z-index: -1;
        border-radius: 16px;
        transition: all 0.13s ease-in-out;
      }
      &:hover {
        .icon {
          background-color: #52b7b1;
          svg {
            path {
              fill: #fff;
            }
          }
          &.tools-community-icon svg {
            rect {
              fill: #fff;
            }
          }
        }
        &:before {
          opacity: 1;
          transform: scale(1);
        }
        div:nth-child(2) {
          b {
            color: #fff;
          }
        }
      }
    }
  }
  &:after {
    content: " ";
    width: 100%;
    height: calc(100vh - 640px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #211f39;
    z-index: 0;
    @media (max-width: 1022px) {
      display: none;
    }
    @media (min-width: 1023px) and (max-width: 1070px) {
      display: block;
      height: calc(100vh - 1090px);
    }
    @media (min-width: 1071px) and (max-width: 1200px) {
      display: none;
    }
  }
  &.full-menu-enter {
    opacity: 0;
    .row {
      .item {
        opacity: 0;
        transform: translateX(-20px);
      }
    }
  }
  &.full-menu-enter-active {
    opacity: 1;
    .row {
      .item {
        opacity: 1;
        transition: all 170ms;
        transform: translateX(0);
        &:nth-child(1) {
          transition-delay: 0.05s;
        }
        &:nth-child(2) {
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          transition-delay: 0.2s;
        }
        &:nth-child(4) {
          transition-delay: 0.3s;
        }
        &:nth-child(5) {
          transition-delay: 0.4s;
        }
      }
    }
    transition: all 600ms;
  }
  &.full-menu-exit {
    opacity: 1;
    transform: scale(1);
  }
  &.full-menu-exit-active {
    opacity: 0;
    transition: all 200ms;
  }
  @media (max-width: 550px) {
    padding: 20px;
    .close-btn {
      top: 8px;
      right: 0;
    }
  }
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes Floating {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

.scroll-disabled {
  overflow: hidden;
}
