@import '../../../../styles/vars.scss';

.initiativesView {
  :global {
    .filter-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 34px;
      .ant-select {
        flex: 1;
        max-width: 25%;
        border: 1px solid $primaryDarkBlue2;
        border-radius: 5px;
        &:not(.ant-select-customize-input) {
          .ant-select-selector {
            background-color: #fff;
            // height: 50px;
          }
        }
        font-size: 14px;
        input {
          // height: 60px;
        }
        .ant-select-selection-placeholder {
          color: $primaryDarkBlue;
        }
      }
    }
  }
}
