@import '../../../../styles/vars.scss';

.initiativesView {
  :global {
    .filter-container {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 34px;
      .ant-select {
        width: 100%;
        input {
          height: 40px;
        }
        .ant-select-selection-placeholder {
          color: $primaryDarkBlue;
        }
      }
    }
  }
}
